Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Exempt issues with assignees from stalebot. (#2614)
  .github/stale.yml
Due: none

Ignore more files so we do not deploy them. (#2613)
  .gcloudignore
Due: none

fix: haha, no, but ok really this time
  src/site/_includes/partials/subscribe.njk
  src/styles/overrides/_display.scss
Due: sass-lint -v -q"

fix: no really, I promise @robdodson, I think I've done it!
  src/site/_includes/partials/subscribe.njk
  src/styles/overrides/_display.scss
Due: sass-lint -v -q"

Remove exempt assignees. Add accepted label.
  .github/stale.yml
Due: none

fix(newsletter): update copy (#2612)
  src/site/_includes/partials/subscribe.njk
  src/styles/components/_subscribe.scss
  src/styles/overrides/_display.scss
Due: sass-lint -v -q"

Add accepted label. Remove assignee exemption.
  .github/stale.yml
Due: none

Add accepted label. Remove assignee exemption. (#2615)
  .github/stale.yml
Due: none

Exempt epics from stalebot.
  .github/stale.yml
Due: none

Exempt epics from stalebot. (#2616)
  .github/stale.yml
Due: none

Change `update` to `updated`
  src/site/content/en/blog/vr-comes-to-the-web/index.md
  src/site/content/en/blog/web-otp/index.md
Due: remark -q

Change `update` to `updated` (#2617)
  src/site/content/en/blog/vr-comes-to-the-web/index.md
  src/site/content/en/blog/web-otp/index.md
Due: remark -q

refactor(collections): create collections for `tags` and `authors` that derivative collections reference (#2608)
  .eleventy.js
  src/site/_collections/authors.js
  src/site/_collections/paginated-authors.js
  src/site/_collections/paginated-posts-by-author.js
  src/site/_collections/paginated-posts-by-tag.js
  src/site/_collections/paginated-tags.js
  src/site/_collections/tags.js
Due: eslint

use `.matches` to detect dark mode support
  src/site/content/en/blog/prefers-color-scheme/index.md
Due: remark -q

Update fallback script to use `.matches` property
  src/site/content/en/blog/prefers-color-scheme/index.md
Due: remark -q

Fix eventListener example
  src/site/content/en/blog/prefers-color-scheme/index.md
Due: remark -q

Update article's updated date
  src/site/content/en/blog/prefers-color-scheme/index.md
Due: remark -q

Feature detectability
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Some security
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Add angle brackets
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Remove angle brackets
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Make percy record new snapshots for master.
  .github/workflows/percy-workflow.yml
Due: none

Make percy record new snapshots for master. (#2619)
  .github/workflows/percy-workflow.yml
Due: none

refactor(collections): update based on @samthor's feedback in #2608
  src/site/_collections/authors.js
  src/site/_collections/tags.js
Due: eslint

Wrap code in headings.
  src/styles/generic/_code.scss
Due: sass-lint -v -q"

chore(subscribe): update copy
  src/site/_includes/partials/subscribe.njk
Due: none

Update the HTTP Caching guide
  src/site/_data/contributors.js
  src/site/content/en/reliable/http-cache/flowchart.png
  src/site/content/en/reliable/http-cache/index.md
Due: eslint, remark -q

Fix linter errors
  src/site/content/en/reliable/http-cache/index.md
Due: remark -q

Fix smartquotes
  src/site/content/en/reliable/http-cache/index.md
Due: remark -q

refactor(collections): update based on @samthor's feedback in #2608 (#2621)
  src/site/_collections/authors.js
  src/site/_collections/tags.js
Due: eslint

mastheads mobile margin fix
  src/styles/settings/_type.scss
Due: sass-lint -v -q"

Tweaks and updates, first shared version
  src/site/content/en/blog/signin-form-best-practice/hero.jpg
  src/site/content/en/blog/signin-form-best-practice/index.md
  src/site/content/en/blog/signin-form-best-practice/thumbnail.jpg
Due: remark -q

Updated to fix apostrophes, etc.
  src/site/content/en/blog/signin-form-best-practice/index.md
Due: remark -q

Added updated field
  src/site/content/en/blog/signin-form-best-practice/index.md
Due: remark -q

More security, extension, and conclusion
  src/site/content/en/blog/text-fragments/extension.png
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

More acks
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Add multiple
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Polyfill
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Tweaks following review
  src/site/content/en/blog/signin-form-best-practice/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
