Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

fix(Snackbar): use new button classes for snackbar, fixes #6705 (#6731)
  src/component-library/button/button.json
  src/lib/components/Snackbar/_styles.scss
  src/lib/components/Snackbar/index.js
  src/scss/mixins/_button-base-styles.scss
  src/styles/components/_buttons.scss
Due: eslint, sass-lint -v -q"

Create typography.assess.yml
  src/site/content/en/learn/css/typography/typography.assess.yml
Due: none

Add assessment to index.md
  src/site/content/en/learn/css/typography/index.md
Due: remark -q

Add link to MDN text styling doc
  src/site/content/en/learn/css/typography/index.md
Due: remark -q

Update typography.assess.yml
  src/site/content/en/learn/css/typography/typography.assess.yml
Due: none

Change to 0-index
  src/site/content/en/learn/css/typography/typography.assess.yml
Due: none

Remove /en-us/ from MDN link
  src/site/content/en/learn/css/typography/index.md
Due: remark -q

Added redirects
  redirects.yaml
  src/site/_data/paths/secure.json
Due: none

Update _card-base-styles.scss
  src/scss/mixins/_card-base-styles.scss
Due: sass-lint -v -q"

Apply suggestions from code review
  src/site/content/en/blog/svgcode/index.md
Due: remark -q

Add figures
  src/site/content/en/blog/svgcode/index.md
Due: remark -q

ACK Joe
  src/site/content/en/blog/svgcode/index.md
Due: remark -q

Add figure
  src/site/content/en/blog/svgcode/index.md
Due: remark -q

Fix factual error
  src/site/content/en/learn/design/internationalization/index.md
Due: remark -q

Correct link
  src/site/content/en/blog/svgcode/index.md
Due: remark -q

Add video link
  src/site/content/en/blog/svgcode/index.md
Due: remark -q

Remove value judgement from the recommendation
  src/site/content/en/lighthouse-accessibility/heading-order/index.md
Due: remark -q

Allow components to break out of prose sizing rules
  src/scss/pages/_design-system.scss
  src/site/_includes/design-system.njk
  src/site/_includes/macros/design-system-component.njk
  src/site/content/en/design-system/components.njk
  src/site/content/en/design-system/css-compositions.njk
Due: sass-lint -v -q"

Tweak branding layout
  src/site/_includes/design-system.njk
Due: none

refactor: clamp expressions can take math functions
  src/site/content/en/learn/css/the-cascade/index.md
Due: remark -q

Prose unordered list tweaks
  src/scss/blocks/_prose.scss
Due: sass-lint -v -q"

Fix heading anchors
  src/scss/blocks/_prose.scss
Due: sass-lint -v -q"

Design System: type and spacing references (#6736)
  src/site/content/en/design-system/spacing.njk
  src/site/content/en/design-system/typography.njk
Due: none

Update links in the footer
  src/site/_data/i18n/footer.yml
  src/site/_includes/partials/footer.njk
  src/site/_includes/partials/site-footer.njk
Due: none

Add SVGcode article (#6829)
  src/site/content/en/blog/svgcode/index.md
Due: remark -q

Update src/site/content/en/blog/serial/index.md
  src/site/content/en/blog/serial/index.md
Due: remark -q

add Cam Bickel to authors in conclusion
  src/site/content/en/learn/css/conclusion/index.md
Due: remark -q

add Cam Bickel to authors in conclusion (#6858)
  src/site/content/en/learn/css/conclusion/index.md
Due: remark -q

Add user gesture requirement (#6825)
  src/site/content/en/blog/serial/index.md
Due: remark -q

fix(titles): urls in titles are not linkified, fixes #6474
  src/site/_includes/partials/item.njk
  src/site/_includes/partials/post.njk
Due: none

fix(titles): urls in titles are not linkified, see #6860
  src/site/_includes/partials/post-next.njk
Due: none

Remove JS Self Profiling from translations
  src/site/content/es/secure/cross-origin-isolation-guide/index.md
  src/site/content/ja/secure/cross-origin-isolation-guide/index.md
  src/site/content/ko/secure/cross-origin-isolation-guide/index.md
  src/site/content/pt/secure/cross-origin-isolation-guide/index.md
  src/site/content/ru/secure/cross-origin-isolation-guide/index.md
  src/site/content/zh/secure/cross-origin-isolation-guide/index.md
Due: remark -q

Defer Reporting API content to the new article
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Update links in the footer (#6857)
  src/site/_data/i18n/footer.yml
  src/site/_includes/partials/footer.njk
  src/site/_includes/partials/site-footer.njk
Due: none

Remove OT info
  src/site/content/en/blog/declarative-link-capturing/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/declarative-link-capturing/index.md
Due: remark -q

[Declarative Link Capturing article] Remove OT info (#6863)
  src/site/content/en/blog/declarative-link-capturing/index.md
Due: remark -q

Replace logo with text for smaller viewports (#6745)
  src/site/_includes/partials/header-course.njk
Due: none

Design system components clean-up (#6853)
  src/scss/pages/_design-system.scss
  src/site/_includes/design-system.njk
  src/site/_includes/macros/design-system-component.njk
  src/site/content/en/design-system/components.njk
  src/site/content/en/design-system/css-compositions.njk
Due: sass-lint -v -q"

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
