Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

eslint
  src/lib/loader.js
Due: eslint

V2+replace navaid (#1725)
  package-lock.json
  package.json
  src/lib/bootstrap.js
  src/lib/components/Search/index.js
  src/lib/loader.js
  src/lib/utils/router.js
Due: eslint

fix typo
  src/lib/utils/router.js
Due: eslint

fix typo (#1740)
  src/lib/utils/router.js
Due: eslint

terser for prod (#1739)
  build.js
  package-lock.json
  package.json
Due: eslint

Add imgix to hero and post cards
  src/site/_includes/components/Hero.js
  src/site/_includes/components/PostCard.js
  src/site/_includes/components/tags/Image.js
  src/site/_utils/get-image-path.js
  src/site/_utils/get-srcset-range.js
Due: eslint

Update Wake Lock article Follow-up action now that https://github.com/w3c/wake-lock/issues/226 is closed.
  src/site/content/en/blog/wakelock/index.md
Due: remark -q

Fix missing space in title
  src/site/content/en/blog/wakelock/index.md
Due: remark -q

Initial commit of the Notification Triggers article Fixes #1615
  src/site/content/en/blog/notification-triggers/demo.png
  src/site/content/en/blog/notification-triggers/devtools-displayed.png
  src/site/content/en/blog/notification-triggers/devtools-scheduled.png
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

address eng feedback
  src/site/content/en/blog/badging-api/index.md
Due: remark -q

[prefers-color-scheme article] Improve compatibility of fallback script (#1558)
  src/site/content/en/blog/prefers-color-scheme/index.md
Due: remark -q

bad variable name in webshare
  src/lib/components/Actions/index.js
Due: eslint

Reduce srcset range.
  src/site/_utils/get-srcset-range.js
Due: eslint

Initial commit for Blog: 5 ways AirSHIFT made their React app responsive
  src/site/_data/contributors.json
  src/site/content/en/blog/airshift-performance-optimization/airshift_visual.png
  src/site/content/en/blog/airshift-performance-optimization/compare_speed.gif
  src/site/content/en/blog/airshift-performance-optimization/endless_spinner.gif
  src/site/content/en/blog/airshift-performance-optimization/hackathon.png
  src/site/content/en/blog/airshift-performance-optimization/hero.png
  src/site/content/en/blog/airshift-performance-optimization/index.md
  src/site/content/en/blog/airshift-performance-optimization/kibana.png
  src/site/content/en/blog/airshift-performance-optimization/main-thread-break-down.png
  src/site/content/en/blog/airshift-performance-optimization/user_timing.png
  src/site/content/en/blog/airshift-performance-optimization/virtualize_after.png
  src/site/content/en/blog/airshift-performance-optimization/virtualize_before.png
  src/site/content/en/blog/airshift-performance-optimization/virtualize_results_after.png
  src/site/content/en/blog/airshift-performance-optimization/virtualize_results_before.png
  src/site/content/en/blog/airshift-performance-optimization/worker.png
  src/site/content/en/images/authors/kento_tsuji.jpg
  src/site/content/en/images/authors/kento_tsuji@2x.jpg
  src/site/content/en/images/authors/satoshi_arai.jpg
  src/site/content/en/images/authors/satoshi_arai@2x.jpg
  src/site/content/en/images/authors/yosuke_furukawa.jpg
  src/site/content/en/images/authors/yosuke_furukawa@2x.jpg
Due: remark -q

Fixing lint results
  src/site/content/en/blog/airshift-performance-optimization/index.md
Due: remark -q

Changing twitter account for Kento Tsuji
  src/site/_data/contributors.json
Due: none

Updates to the views section.
  src/site/content/en/blog/webxr-pt1/index.md
Due: remark -q

Correct some formatting issues.
  src/site/content/en/blog/webxr-pt1/index.md
Due: remark -q

Fix formatting, pt II.
  src/site/content/en/blog/webxr-pt1/index.md
Due: remark -q

Fix list nesting.
  src/site/content/en/blog/webxr-pt1/index.md
Due: remark -q

Change numbering system of nested list.
  src/site/content/en/blog/webxr-pt1/index.md
Due: remark -q

Another attempt at nested list.
  src/site/content/en/blog/webxr-pt1/index.md
Due: remark -q

Proposed edits
  src/site/content/en/notifications/codelab-notifications-get-started/index.md
Due: remark -q

Update livestream link.
  src/site/content/en/index.njk
Due: none

Fix a variable name.
  src/site/content/en/blog/webxr-pt1/index.md
Due: remark -q

Rewrite first two paragraphs.
  src/site/content/en/blog/webxr-pt1/index.md
Due: remark -q

Make assess callout collapsible
  src/site/_includes/components/SelfAssessment.js
  src/styles/components/_callouts.scss
  src/styles/components/_details.scss
Due: eslint, sass-lint -v -q"

Add shortcode for page meta tags and hide 404 and offline pages from search.
  .eleventy.js
  src/site/_data/site.js
  src/site/_includes/components/Meta.js
  src/site/_includes/layout.njk
  src/site/content/en/404.njk
  src/site/content/en/blog/index.njk
  src/site/content/en/offline.njk
Due: eslint

Use `err` instead of `e` in `catch`
  src/site/content/en/blog/wakelock/index.md
Due: remark -q

Fix ambiguous formulation
  src/site/content/en/blog/wakelock/index.md
Due: remark -q

Reformulation of delivery phrase
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

Address @kyarik's review remarks
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

Add tooltip widget
  .eleventy.js
  src/site/_includes/components/SelfAssessment.js
  src/site/_includes/components/Tooltip.js
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_all.scss
  src/styles/components/_buttons.scss
  src/styles/components/_callouts.scss
  src/styles/components/_tooltips.scss
Due: eslint, sass-lint -v -q", remark -q

Migrate Periodic Background Sync article Add Kenji Baheux as contributor
  src/site/_data/contributors.json
  src/site/content/en/blog/periodic-background-sync/1-record.png
  src/site/content/en/blog/periodic-background-sync/2-record-result.png
  src/site/content/en/blog/periodic-background-sync/3-sw-panel.png
  src/site/content/en/blog/periodic-background-sync/4-experiments.png
  src/site/content/en/blog/periodic-background-sync/5-settings.png
  src/site/content/en/blog/periodic-background-sync/6-checkbox.png
  src/site/content/en/blog/periodic-background-sync/7-panel.png
  src/site/content/en/blog/periodic-background-sync/index.md
  src/site/content/en/images/authors/kenjibaheux.jpg
  src/site/content/en/images/authors/kenjibaheux@2x.jpg
Due: remark -q

Make linter happier
  src/site/content/en/blog/periodic-background-sync/index.md
Due: remark -q

Correct figure markup
  src/site/content/en/blog/periodic-background-sync/index.md
Due: remark -q

Add example docs and update based on feedback.
  src/site/_drafts/_template-codelab/index.md
  src/site/_drafts/_template-post/index.md
  src/site/_includes/components/Meta.js
Due: eslint, remark -q

Remove devsite from layouts.
  package-lock.json
  package.json
  src/site/_includes/codelab.njk
  src/site/_includes/layout.njk
  src/site/_includes/partials/post.njk
  src/site/_includes/path.njk
Due: none

Rev package-lock
  package-lock.json
Due: none

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
