Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Make cross-origin links safe (#2019)
  src/site/content/en/blog/backdrop-filter/index.md
Due: remark -q

Describe differences between alt and figcaption
  src/site/content/en/handbook/markup-media/index.md
Due: remark -q

Update periodic bckground article for Chrome 80. (#1980)
  src/site/content/en/blog/periodic-background-sync/index.md
Due: remark -q

Update Web Share and Web Share Target hero images
  src/site/content/en/blog/web-share-target/hero.jpg
  src/site/content/en/blog/web-share-target/hero.png
  src/site/content/en/blog/web-share-target/index.md
  src/site/content/en/blog/web-share/hero.jpg
  src/site/content/en/blog/web-share/hero.png
  src/site/content/en/blog/web-share/index.md
Due: remark -q

Update Web Share and Web Share Target hero images (#2020)
  src/site/content/en/blog/web-share-target/hero.jpg
  src/site/content/en/blog/web-share-target/hero.png
  src/site/content/en/blog/web-share-target/index.md
  src/site/content/en/blog/web-share/hero.jpg
  src/site/content/en/blog/web-share/hero.png
  src/site/content/en/blog/web-share/index.md
Due: remark -q

fix(CopyCode): set `min-height` of `pre` element for one line of code, fixes #2011
  src/lib/components/CopyCode/styles.scss
Due: sass-lint -v -q"

fix(CopyCode): fix offset of copy button and ensure appropriate style is applying to pre tag, fixes #2010
  src/lib/components/CopyCode/styles.scss
  src/styles/components/_compare.scss
  src/styles/devsite/_app.scss
Due: sass-lint -v -q"

Link to other PROXX article on web.dev
  src/site/content/en/blog/off-main-thread/index.md
Due: remark -q

Content: Main thread is overworked companion post (#1955)
  src/site/content/en/blog/off-main-thread/index.md
Due: remark -q

Reduce and optimize image
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/web-almanac-at-cds-2019.png
Due: none

Optimize all the new images
  src/site/content/en/blog/lighthouse-evolution-cds-2019/hero.jpg
  src/site/content/en/blog/lighthouse-evolution-cds-2019/lighthouse-ci.png
  src/site/content/en/blog/lighthouse-evolution-cds-2019/lighthouse-performance-score.png
  src/site/content/en/blog/lighthouse-evolution-cds-2019/lighthouse-plugin-devtools.png
  src/site/content/en/blog/lighthouse-evolution-cds-2019/lighthouse-plugin-icon.png
  src/site/content/en/blog/lighthouse-evolution-cds-2019/lighthouse-stack-packs.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/crux-data.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/hero.jpg
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/performance-metrics.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/psi-reanalyze.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/search-console-speed-report.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/tbt.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/tbt2.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/thumbnail.jpg
Due: none

Add CDS playlist to front page of site and deeplink id.
  src/site/content/en/index.njk
Due: none

Fix thumbnail resolution
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/thumbnail.png
Due: none

Update markdown to use new thumbnail and delete old one
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/index.md
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/thumbnail.jpg
Due: remark -q

Add CDS playlist to front page of site and deeplink id. (#2022)
  src/site/content/en/index.njk
Due: none

refactor(CopyCode): set element to `block` element and remove wrapper div for button
  src/lib/components/CopyCode/index.js
  src/lib/components/CopyCode/styles.scss
Due: eslint, sass-lint -v -q"

fix: ensure margin is applied to `pre` tag
  src/styles/components/_compare.scss
Due: sass-lint -v -q"

Minor edits
  src/site/content/en/blog/lighthouse-evolution-cds-2019/index.md
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/index.md
Due: remark -q

Speed tooling blog posts from CDS 2019 (#1962)
  src/site/content/en/blog/lighthouse-evolution-cds-2019/hero.jpg
  src/site/content/en/blog/lighthouse-evolution-cds-2019/index.md
  src/site/content/en/blog/lighthouse-evolution-cds-2019/lighthouse-ci.png
  src/site/content/en/blog/lighthouse-evolution-cds-2019/lighthouse-performance-score.png
  src/site/content/en/blog/lighthouse-evolution-cds-2019/lighthouse-plugin-devtools.png
  src/site/content/en/blog/lighthouse-evolution-cds-2019/lighthouse-plugin-icon.png
  src/site/content/en/blog/lighthouse-evolution-cds-2019/lighthouse-stack-packs.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/crux-data.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/hero.jpg
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/index.md
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/performance-metrics.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/psi-reanalyze.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/search-console-speed-report.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/tbt.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/tbt2.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/thumbnail.png
  src/site/content/en/blog/speed-tooling-evolutions-cds-2019/web-almanac-at-cds-2019.png
Due: remark -q

refactor(CopyCode): only add button to DOM if it doesn't exist
  src/lib/components/CopyCode/index.js
Due: eslint

fix(CopyCode): fix style issues, fixes #2010 & fixes #2011 (#2021)
  src/lib/components/CopyCode/index.js
  src/lib/components/CopyCode/styles.scss
  src/styles/components/_compare.scss
  src/styles/devsite/_app.scss
Due: eslint, sass-lint -v -q"

quick fix missing highlight in xhr article.
  src/site/content/en/blog/disallow-synchronous-xhr/index.md
Due: remark -q

Content: Add Next-gen web styling companion post (#1963)
  src/site/_data/contributors.json
  src/site/content/en/blog/next-gen-css-2019/gap.png
  src/site/content/en/blog/next-gen-css-2019/hero.png
  src/site/content/en/blog/next-gen-css-2019/houdini.png
  src/site/content/en/blog/next-gen-css-2019/index.md
  src/site/content/en/blog/next-gen-css-2019/legacy-layout.png
  src/site/content/en/blog/next-gen-css-2019/logical-layout.png
  src/site/content/en/blog/next-gen-css-2019/menu-focus.png
  src/site/content/en/blog/next-gen-css-2019/prefers-media-queries.png
  src/site/content/en/images/authors/una.jpg
  src/site/content/en/images/authors/una@2x.jpg
Due: remark -q

Fix hero dimensions and optimize images
  src/site/content/en/blog/adaptive-loading-cds-2019/adaptive-code-splitting.png
  src/site/content/en/blog/adaptive-loading-cds-2019/hero.png
  src/site/content/en/blog/adaptive-loading-cds-2019/index.md
  src/site/content/en/blog/adaptive-loading-cds-2019/tinder.png
  src/site/content/en/blog/adaptive-loading-cds-2019/twitter-save-data.mp4
Due: remark -q

Minor edits
  src/site/content/en/blog/adaptive-loading-cds-2019/index.md
  src/site/content/en/blog/adaptive-loading-cds-2019/thumbnail.png
Due: remark -q

Add Adaptive loading blog post (#2000)
  src/site/content/en/blog/adaptive-loading-cds-2019/adaptive-code-splitting.png
  src/site/content/en/blog/adaptive-loading-cds-2019/hero.png
  src/site/content/en/blog/adaptive-loading-cds-2019/index.md
  src/site/content/en/blog/adaptive-loading-cds-2019/thumbnail.png
  src/site/content/en/blog/adaptive-loading-cds-2019/tinder.png
Due: remark -q

Add alt tags and center screenshots
  src/site/content/en/blog/maskable-icon/index.md
Due: remark -q

Optimize images
  src/site/content/en/blog/maskable-icon/devtools.png
  src/site/content/en/blog/maskable-icon/hero.png
  src/site/content/en/blog/maskable-icon/homescreen-any.png
  src/site/content/en/blog/maskable-icon/homescreen-maskable.png
  src/site/content/en/blog/maskable-icon/index.md
  src/site/content/en/blog/maskable-icon/maskable-app-editor.png
Due: remark -q

Content: Add maskable icon post (#1975)
  src/site/_data/contributors.json
  src/site/content/en/blog/maskable-icon/devtools.png
  src/site/content/en/blog/maskable-icon/fugu-mask.mp4
  src/site/content/en/blog/maskable-icon/fugu-mask.webm
  src/site/content/en/blog/maskable-icon/hero.png
  src/site/content/en/blog/maskable-icon/homescreen-any.png
  src/site/content/en/blog/maskable-icon/index.md
  src/site/content/en/blog/maskable-icon/maskable-app-editor.png
  src/site/content/en/images/authors/tigeroakes.jpg
  src/site/content/en/images/authors/tigeroakes@2x.jpg
Due: remark -q

Feedback from @kayce.
  src/site/content/en/blog/multi-origin-pwas/index.md
Due: remark -q

Correct spelling. (#2018)
  src/site/content/en/blog/disallow-synchronous-xhr/index.md
Due: remark -q

Create the policies guide
  src/site/content/en/handbook/policies/index.md
Due: remark -q

Make deep links scroll properly.
  src/styles/generic/_shared.scss
Due: sass-lint -v -q"

Give the explanations section an explicit ID
  src/site/content/en/handbook/quality/index.md
Due: remark -q

Minor edits
  src/site/content/en/blog/workbox-share-targets/index.md
Due: remark -q

Add Assessment Self-check component (#1595)
  .eleventy.js
  src/lib/app.js
  src/lib/components/Tabs/_styles.scss
  src/lib/components/Tabs/index.js
  src/lib/components/_all.scss
  src/site/_includes/components/AssessmentCallout.js
  src/site/_includes/components/AssessmentHint.js
  src/site/_includes/components/CodelabsCallout.js
  src/site/_includes/components/Tab.js
  src/site/_includes/components/Tabs.js
  src/site/_includes/components/Tooltip.js
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_all.scss
  src/styles/components/_asides.scss
  src/styles/components/_buttons.scss
  src/styles/components/_callouts.scss
  src/styles/components/_details.scss
  src/styles/components/_self-assessment-hint.scss
  src/styles/components/_tooltips.scss
  src/styles/settings/_colors.scss
  src/styles/tools/_mixins.scss
Due: eslint, sass-lint -v -q", remark -q

Draft mode
  src/site/content/en/notifications/codelab-notifications-push-server/index.md
Due: remark -q

Add styling for external links
  src/site/content/en/handbook/content-checklist/index.md
  src/site/content/en/handbook/markup-post-codelab/index.md
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/generic/_links.scss
Due: sass-lint -v -q", remark -q

Address feedback
  src/styles/generic/_links.scss
Due: sass-lint -v -q"

Do suggestions.
  src/styles/generic/_shared.scss
Due: sass-lint -v -q"
