Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

feat(subscribe): add element to subscribe to newsletter to the bottom of posts, fixes #2109 (#2237)
  src/images/icons/check_box.svg
  src/images/icons/check_box_outline_blank.svg
  src/lib/components/Subscribe/_styles.scss
  src/lib/components/Subscribe/index.js
  src/lib/loader.js
  src/lib/pages/newsletter.js
  src/site/_data/countries.js
  src/site/_data/site.js
  src/site/_includes/partials/subscribe.njk
  src/site/content/en/handbook/web-dev-components/index.md
  src/site/content/en/newsletter/index.njk
  src/styles/all.scss
  src/styles/components/_all.scss
  src/styles/components/_checkbox.scss
  src/styles/components/_subscribe.scss
  src/styles/generic/_all.scss
  src/styles/generic/_input.scss
  src/styles/overrides/_all.scss
  src/styles/overrides/_display.scss
  src/styles/tools/_helpers.scss
  tools/percy/snapshots.js
Due: eslint, sass-lint -v -q", remark -q

fix(description): allow for character escaping in descriptions
  src/site/content/en/authors/index.njk
  src/site/content/en/authors/individual.njk
  src/site/content/en/tags/index.njk
  src/site/content/en/tags/individual.njk
Due: none

Add scroll to bottom back.
  package-lock.json
  package.json
  tools/percy/snapshots.js
Due: eslint

Set sleep to 5s
  tools/percy/snapshots.js
Due: eslint

Fix typo.
  tools/percy/snapshots.js
Due: eslint

disable iframing (#2594)
  server.js
Due: eslint

fix(description): allow for character escaping in descriptions (#2603)
  src/site/content/en/authors/index.njk
  src/site/content/en/authors/individual.njk
  src/site/content/en/tags/index.njk
  src/site/content/en/tags/individual.njk
Due: none

updates per review comments
  src/site/content/en/blog/granular-chunking-nextjs/index.md
Due: remark -q

Make percy wait for network idle. (#2602)
  package-lock.json
  package.json
  tools/percy/snapshots.js
Due: eslint

disallow default / add notice
  src/build/virtual-json.js
Due: eslint

build comments
  build.js
Due: eslint

merge
  build.js
Due: eslint

use exported const directly
  src/lib/bootstrap.js
  src/lib/components/Codelab/index.js
  src/lib/fb.js
  src/lib/store.js
Due: eslint

eslint
  build.js
  src/build/virtual-json.js
Due: eslint

include virutal imports to all targets
  build.js
  src/build/virtual-json.js
Due: eslint

remove dup external
  build.js
Due: eslint

review feedback
  build.js
  src/lib/bootstrap.js
  src/lib/store.js
Due: eslint

Initial commit for COOP+COEP article
  src/site/content/en/blog/coop-coep/browsing-context-group.png
  src/site/content/en/blog/coop-coep/devtools1.png
  src/site/content/en/blog/coop-coep/devtools2.png
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Remove hero
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Update
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Reflect feedback
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Remove English hardcoding
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Fix image formatting and expand alt descriptions
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Optimize images
  src/site/content/en/blog/coop-coep/browsing-context-group.png
  src/site/content/en/blog/coop-coep/devtools1.jpg
  src/site/content/en/blog/coop-coep/devtools1.png
  src/site/content/en/blog/coop-coep/devtools2.jpg
  src/site/content/en/blog/coop-coep/devtools2.png
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Provide a stable link to the section
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Link to section
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Add hero image
  src/site/content/en/blog/coop-coep/hero.png
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Understanding "same-site" and "same-origin" (#2579)
  src/site/content/en/secure/same-site-same-origin/eTLD+1.png
  src/site/content/en/secure/same-site-same-origin/index.md
  src/site/content/en/secure/same-site-same-origin/same-origin.png
  src/site/content/en/secure/same-site-same-origin/same-site.png
  src/site/content/en/secure/same-site-same-origin/schemeful-same-site.png
  src/site/content/en/secure/secure.11tydata.js
Due: eslint, remark -q

build script cleanup + virtual imports (#2537)
  build.js
  src/build/virtual-json.js
  src/lib/bootstrap.js
  src/lib/components/Codelab/index.js
  src/lib/fb.js
  src/lib/store.js
Due: eslint

Bump to 30 days.
  .github/stale.yml
Due: none

Add stale bot config.
  .github/stale.yml
Due: none

Only exempt pinned issues.
  .github/stale.yml
Due: none

Add readme and npm script
  package.json
  src/site/_transforms/responsive-images/helpers.js
  src/site/_transforms/responsive-images/index.js
  test/README.md
  test/integration/index.js
  test/site/_transforms/index.js
  test/site/_transforms/responsive-images/helpers.js
  test/site/_transforms/responsive-images/index.js
  test/site/index.js
Due: eslint, remark -q

Fix percy url in readme.
  test/README.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
