Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Add first article for WebXR.
  src/site/content/en/blog/webxr-pt1/hero.jpg
  src/site/content/en/blog/webxr-pt1/immersive-spectrum.png
  src/site/content/en/blog/webxr-pt1/index.md
  src/site/content/en/tags.yml
Due: remark -q

Fix markdown issues.
  src/site/content/en/blog/webxr-pt1/index.md
Due: remark -q

More edits.
  src/site/content/en/blog/webxr-pt1/index.md
Due: remark -q

Remove 'draft' from Fugu articles
  src/site/content/en/blog/badging-api/index.md
  src/site/content/en/blog/contact-picker/index.md
  src/site/content/en/blog/get-installed-related-apps/index.md
  src/site/content/en/blog/image-support-for-async-clipboard/index.md
  src/site/content/en/blog/native-file-system/index.md
  src/site/content/en/blog/shape-detection/index.md
  src/site/content/en/blog/wakelock/index.md
Due: remark -q

Add CDS promo module.
  src/site/content/en/images/modules/cds19-lockup-stack.svg
  src/site/content/en/index.njk
  src/styles/pages/_all.scss
  src/styles/pages/_home.scss
Due: sass-lint -v -q"

svgomg
  src/site/content/en/images/modules/cds19-lockup-stack.svg
Due: none

Add CDS promo module. (#1729)
  src/site/content/en/images/modules/cds19-lockup-stack.svg
  src/site/content/en/index.njk
  src/styles/pages/_all.scss
  src/styles/pages/_home.scss
Due: sass-lint -v -q"

Sneak in cds styles for devsite.
  src/site/content/en/index.njk
Due: none

Add article Use push notifications to engage users
  src/site/content/en/notifications/use-push-notifications-to-engage-users/index.md
Due: remark -q

wip
  src/lib/lighthouse-service.js
Due: eslint

Draft notifications collection with nav
  src/site/content/en/en.11tydata.js
  src/site/content/en/notifications/codelab-notifications-get-started/console-output.png
  src/site/content/en/notifications/codelab-notifications-get-started/copy-live-app-url.png
  src/site/content/en/notifications/codelab-notifications-get-started/index.md
  src/site/content/en/notifications/codelab-notifications-get-started/live-app-new-tab.png
  src/site/content/en/notifications/codelab-notifications-get-started/remix-to-edit.png
  src/site/content/en/notifications/codelab-notifications-push-server/index.md
  src/site/content/en/notifications/codelab-notifications-service-worker/index.md
  src/site/content/en/notifications/index.njk
  src/site/content/en/notifications/notifications.11tydata.js
  src/site/content/en/notifications/use-push-notifications-to-engage-users/index.md
Due: eslint, remark -q

Let signed out users get historic data.
  src/lib/actions.js
  src/lib/lighthouse-service.js
Due: eslint

Update src/lib/components/Actions/index.js
  src/lib/components/Actions/index.js
Due: eslint

Add `web-actions` Web Component (#1716)
  .eleventy.js
  src/lib/components/Actions/index.js
  src/lib/pages/default.js
  src/lib/utils/web-share.js
  src/site/_data/site.js
  src/site/_filters/expand-contributors.js
  src/site/_includes/components/Actions.js
  src/site/_includes/partials/post.njk
  src/site/content/en/blog/index.njk
  src/site/content/en/handbook/sandbox/actions/index.njk
Due: eslint

V2+historic data (#1733)
  src/lib/actions.js
  src/lib/lighthouse-service.js
Due: eslint

Writing style improvements
  src/site/content/en/blog/samesite-cookie-recipes/index.md
  src/site/content/en/blog/samesite-cookie-recipes/samesite-devtools.png
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Update article date
  src/site/content/en/blog/samesite-cookie-recipes/index.md
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Remove 'draft' from Fugu articles (#1728)
  src/site/content/en/blog/badging-api/index.md
  src/site/content/en/blog/contact-picker/index.md
  src/site/content/en/blog/get-installed-related-apps/index.md
  src/site/content/en/blog/image-support-for-async-clipboard/index.md
  src/site/content/en/blog/native-file-system/index.md
  src/site/content/en/blog/shape-detection/index.md
  src/site/content/en/blog/wakelock/index.md
Due: remark -q

Add missing links to cds module.
  src/site/content/en/index.njk
Due: none

Line length and Learn datat
  src/site/content/en/en.11tydata.js
  src/site/content/en/images/collections/notifications.svg
  src/site/content/en/learn/learn.11tydata.js
  src/site/content/en/notifications/notifications.11tydata.js
Due: eslint

updated badging api
  src/site/content/en/blog/badging-api/index.md
Due: remark -q

Update templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/collection_proposal.md
  .github/ISSUE_TEMPLATE/content_proposal.md
  .github/ISSUE_TEMPLATE/content_update.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: remark -q

Remove devsite from layouts.
  package-lock.json
  package.json
  src/site/_includes/codelab.njk
  src/site/_includes/layout.njk
  src/site/_includes/partials/post.njk
  src/site/_includes/path.njk
Due: none

Rev package-lock
  package-lock.json
Due: none

Language improvements
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Add rollup.
  package-lock.json
  package.json
  rollup.config.js
  src/lib/app.mjs
  src/lib/router.mjs
  src/site/_includes/layout.njk
Due: eslint

Add js hashing to rollup.
  rollup.config.js
Due: eslint

Add hash manifest.
  entrypoint.hashmanifest.json
  package-lock.json
  package.json
  rollup.config.js
  src/site/_data/site.js
  src/site/_includes/layout.njk
Due: eslint

add sass-lint
  .gitignore
  .sasslintrc
  entrypoint.hashmanifest.json
  gulpfile.js
  package-lock.json
  package.json
  rollup.config.js
  src/lib/app.js
  src/lib/router.js
Due: eslint

Add eslint.
  .eleventy.js
  .eslintrc
  gulpfile.js
  package.json
Due: eslint

wip
  gulpfile.js
  package.json
  src/site/_data/site.js
  src/site/_includes/layout.njk
Due: eslint

dev and build modes.
  entrypoint.hashmanifest.json
  gulpfile.js
  package.json
  rollup.config.js
  src/site/_includes/layout.njk
Due: eslint

wip add preact
  .eslintrc
  package-lock.json
  package.json
  src/lib/app.js
  src/lib/components/Clock.js
  src/lib/fb.js
  src/lib/router.js
Due: eslint

wip
  src/lib/app.js
  src/lib/components/BaseElement.js
  src/lib/components/UserProfile/ProfileSwitcher.js
  src/lib/components/UserProfileContainer/ProfileSwitcher.js
  src/lib/components/UserProfileContainer/SignIn.js
  src/lib/components/UserProfileContainer/index.js
  src/lib/fb.js
  src/lib/store.js
Due: eslint

Get simple fb sign-in with unistore going.
  package-lock.json
  package.json
  src/lib/app.js
  src/lib/components/Clock.js
  src/lib/components/UserProfile/ProfileSwitcher.js
  src/lib/components/UserProfile/SignIn.js
  src/lib/components/UserProfile/index.js
  src/lib/fb.js
  src/lib/store.js
  src/site/_includes/devsite/devsite-header.njk
  src/site/_includes/partials/post.njk
  src/site/_includes/sandbox/layout.njk
Due: eslint

240px version of profile switcher
  src/lib/components/UserProfileContainer/ProfileSwitcher.js
  src/styles/components/_all.scss
  src/styles/components/_profile-switcher.scss
Due: eslint, sass-lint -v -q"

Todos are almost as good as real code.
  src/styles/components/_profile-switcher.scss
Due: sass-lint -v -q"

Profile switcher complete.
  rollup.config.js
  src/lib/app.js
  src/lib/components/ProfileSwitcher.js
  src/lib/components/ProfileSwitcherContainer.js
  src/lib/components/UserProfileContainer/SignIn.js
  src/site/_includes/devsite/devsite-header.njk
  src/styles/components/_profile-switcher.scss
Due: eslint, sass-lint -v -q"
