Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Snap after layout blog post
  src/site/content/en/blog/snap-after-layout/index.md
Due: remark -q

Improve tab reusability
  src/lib/components/Assessment/index.js
  src/lib/components/Tabs/_styles.scss
  src/lib/components/Tabs/index.js
  src/site/_includes/components/Assessment.js
Due: eslint, sass-lint -v -q"

Remove Assessment FOUC
  src/lib/components/Assessment/_styles.scss
  src/lib/components/Assessment/index.js
  src/site/_includes/components/Assessment.js
Due: eslint, sass-lint -v -q"

Fix Assessment rendering bug
  src/site/_includes/components/Assessment.js
Due: eslint

Start response validation
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/BaseResponseElement/index.js
  src/lib/components/ResponseThinkAndCheck/index.js
  src/lib/components/Tabs/index.js
Due: eslint

Finish general question logic
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/BaseResponseElement/_styles.scss
  src/lib/components/BaseResponseElement/index.js
  src/lib/components/ResponseMultipleChoice/_styles.scss
  src/lib/components/ResponseThinkAndCheck/_styles.scss
  src/lib/components/ResponseThinkAndCheck/index.js
  src/lib/components/_all.scss
  src/site/_includes/components/Assessment.js
Due: eslint, sass-lint -v -q"

disable scroll restoration for async loader
  src/lib/utils/router.js
Due: eslint

don't include SW on bad hostnames
  server.js
  src/lib/bootstrap.js
Due: eslint

strip utm_ from Workbox
  src/lib/sw.js
Due: eslint

use imperative routing match
  src/lib/sw.js
Due: eslint

remove draft (#2201)
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Add "Web NFC" to "New capabilities status" page
  src/site/content/en/blog/fugu-status/index.md
  src/site/content/en/blog/nfc/index.md
Due: remark -q

Address feedback
  src/site/content/en/blog/fugu-status/index.md
  src/site/content/en/blog/nfc/index.md
Due: remark -q

Add 'fugu' to tags file.
  src/site/_data/postTags.js
Due: eslint

Add a console dump filter.
  .eleventy.js
  src/site/_filters/console-dump.js
Due: eslint

Make Tab overflow a prop
  src/lib/components/Tabs/_styles.scss
  src/lib/components/Tabs/index.js
  src/lib/utils/handle-overflow.js
Due: eslint, sass-lint -v -q"

Fix FF tab sizing bug
  src/lib/components/Tabs/_styles.scss
Due: sass-lint -v -q"

Fix option state in Assessment.js
  src/site/_includes/components/Assessment.js
Due: eslint

Force percy to scroll page to load lazy images.
  package-lock.json
  package.json
  tools/percy/snapshots.js
Due: eslint

Force percy to scroll page to load lazy images. (#2223)
  package-lock.json
  package.json
  tools/percy/snapshots.js
Due: eslint

Remove Details animation
  src/styles/components/_details.scss
Due: sass-lint -v -q"

whitespace change
  src/styles/components/_details.scss
Due: sass-lint -v -q"

Update src/styles/components/_details.scss
  src/styles/components/_details.scss
Due: sass-lint -v -q"

Update bio for petele
  src/site/_data/contributors.js
Due: eslint

Update bio for petele (#2224)
  src/site/_data/contributors.js
Due: eslint

Add 'fugu' to tags file. (#2212)
  src/site/_data/postTags.js
Due: eslint

Add round buttons
  src/images/icons/file_copy.svg
  src/lib/components/CopyCode/index.js
  src/lib/components/CopyCode/styles.scss
  src/lib/components/SideNav/index.js
  src/lib/components/Tabs/_styles.scss
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_buttons.scss
  src/styles/components/_tooltips.scss
  src/styles/tools/_mixins.scss
Due: eslint, sass-lint -v -q", remark -q

Publish brand new Progressive Web App section (#2200)
  src/site/content/en/_redirects.yaml
  src/site/content/en/en.11tydata.js
  src/site/content/en/installable/discover-installable/hero.png
  src/site/content/en/installable/discover-installable/index.md
  src/site/content/en/installable/discover-installable/lighthouse.png
  src/site/content/en/installable/index.njk
  src/site/content/en/installable/installable.11tydata.js
  src/site/content/en/learn/learn.11tydata.js
  src/site/content/en/progressive-web-apps/add-manifest/index.md
  src/site/content/en/progressive-web-apps/codelab-make-installable/index.md
  src/site/content/en/progressive-web-apps/customize-install/index.md
  src/site/content/en/progressive-web-apps/index.njk
  src/site/content/en/progressive-web-apps/install-criteria/index.md
  src/site/content/en/progressive-web-apps/progressive-web-apps.11tydata.js
  src/site/content/en/progressive-web-apps/promote-install/index.md
  src/site/content/en/progressive-web-apps/pwa-checklist/index.md
  src/site/content/en/progressive-web-apps/what-are-pwas/index.md
Due: eslint, remark -q

Fix a few items. (#2199)
  src/site/content/en/blog/ar-hit-test/index.md
Due: remark -q

Normalize border-radii
  src/lib/components/LighthouseScoresAudits/_styles.scss
  src/lib/components/UrlChooser/_styles.scss
  src/styles/components/_author.scss
  src/styles/components/_card.scss
  src/styles/components/_chips.scss
  src/styles/components/_cross-links.scss
  src/styles/components/_numbered-header.scss
  src/styles/settings/_global.scss
Due: sass-lint -v -q"

Update Tabs component
  src/lib/components/Tabs/_styles.scss
  src/lib/components/Tabs/index.js
  src/lib/utils/handle-overflow.js
  src/styles/generic/_code.scss
  src/styles/tools/_mixins.scss
Due: eslint, sass-lint -v -q"

Update callout border-radius
  src/styles/components/_callouts.scss
Due: sass-lint -v -q"

Add self-assessment colors
  src/styles/settings/_colors.scss
Due: sass-lint -v -q"

Interim tweaks until Assessment arrives
  src/lib/components/Tabs/_styles.scss
  src/site/_includes/components/Tab.js
Due: eslint, sass-lint -v -q"

Fix overflow bug on load
  src/lib/components/Tabs/index.js
Due: eslint

Tidy comments
  src/lib/components/Tabs/index.js
  src/lib/utils/handle-overflow.js
  src/styles/tools/_mixins.scss
Due: eslint, sass-lint -v -q"

Update case study template
  src/site/_drafts/_template-case-study/index.md
Due: remark -q

Disabled indented code blocks
  .eleventy.js
Due: eslint

Add warning
  src/site/content/en/handbook/markup-code/index.md
Due: remark -q

Add MDN banner. (#2206)
  src/site/_data/site.js
  src/site/_includes/codelab.njk
  src/site/_includes/partials/banner.njk
  src/site/_includes/partials/post.njk
  src/site/_includes/path.njk
  src/site/content/en/about/index.njk
  src/site/content/en/authors/index.njk
  src/site/content/en/blog/index.njk
  src/site/content/en/learn/index.njk
  src/site/content/en/measure/index.njk
  src/site/content/en/tags/index.njk
Due: eslint

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
