Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Convert WebUSB article from WebFu (#4095)
  src/site/content/en/blog/usb/hero.jpg
  src/site/content/en/blog/usb/index.md
  src/site/content/en/blog/usb/thumbnail.jpg
  src/site/content/en/blog/usb/usb-device-chooser.png
  src/site/content/en/blog/usb/web-usb-device-log-page.png
  src/site/content/en/blog/usb/web-usb-internals-page.png
  src/site/content/en/blog/usb/web-usb-notification.png
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/async-clipboard/index.md
Due: remark -q

[Async Clipboard article] Fix iframe permissions policy attributes, add explanation (#4101)
  src/site/content/en/blog/async-clipboard/index.md
Due: remark -q

Note on WCAG risk for fluid type (#4080)
  src/site/content/en/blog/min-max-clamp/index.md
Due: remark -q

Address @jpmedley feedback
  src/site/content/en/blog/mouse-acceleration/index.md
Due: remark -q

Add PointerLock unadjustedMovement article (#4098)
  src/site/content/en/blog/mouse-acceleration/hero.jpg
  src/site/content/en/blog/mouse-acceleration/index.md
  src/site/content/en/blog/mouse-acceleration/mouse-properties-dialog.png
  src/site/content/en/blog/mouse-acceleration/thumbnail.jpg
Due: remark -q

Revert "Add PointerLock unadjustedMovement article (#4098)"
  src/site/content/en/blog/mouse-acceleration/hero.jpg
  src/site/content/en/blog/mouse-acceleration/index.md
  src/site/content/en/blog/mouse-acceleration/mouse-properties-dialog.png
  src/site/content/en/blog/mouse-acceleration/thumbnail.jpg
Due: remark -q

Revert "Add PointerLock unadjustedMovement article (#4098)" (#4106)
  src/site/content/en/blog/mouse-acceleration/hero.jpg
  src/site/content/en/blog/mouse-acceleration/index.md
  src/site/content/en/blog/mouse-acceleration/mouse-properties-dialog.png
  src/site/content/en/blog/mouse-acceleration/thumbnail.jpg
Due: remark -q

change words.
  README.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/progressive-web-apps/offline-ux-considerations/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/fast-playback-with-preload/index.md
Due: remark -q

Add Cache API guide to Network Reliability landing page
  src/site/_data/paths/reliable.json
Due: none

Fix reference
  src/site/_data/paths/reliable.json
Due: none

Disambiguate preload codelab title from the preload guide
  src/site/content/en/fast/codelab-preload-critical-assets/index.md
Due: remark -q

Add parens to method name (#4091)
  src/site/content/en/blog/coop-coep/index.md
  src/site/content/en/blog/monitor-total-page-memory-usage/index.md
  src/site/content/en/blog/why-coop-coep/index.md
Due: remark -q

Clarify that the tool is for Chromium
  src/site/content/en/blog/how-to-file-a-good-bug/index.md
Due: remark -q

[file a good bug article] add pointer to bisect-builds.py (#4103)
  src/site/content/en/blog/how-to-file-a-good-bug/index.md
Due: remark -q

Move to Additional Resources
  src/site/content/en/metrics/cls/index.md
Due: remark -q

Replace margin-inline with margin (#4081)
  src/site/content/en/blog/logical-property-shorthands/index.md
Due: remark -q

Convert Web Bluetooth article from WebFu (#4090)
  src/site/content/en/blog/bluetooth/hero.jpg
  src/site/content/en/blog/bluetooth/index.md
  src/site/content/en/blog/bluetooth/thumbnail.jpg
Due: remark -q

Link to Cache API guide from web.dev/reliable (#4109)
  src/site/_data/paths/reliable.json
Due: none

Add devices illustration and update date
  src/images/collections/devices.svg
  src/site/_data/paths/devices.json
  src/site/_data/paths/index.js
  src/site/content/en/devices/index.njk
Due: eslint

Apply suggestions from code review
  src/site/_data/paths/devices.json
  src/site/content/_redirects.yaml
Due: none

Add devices learning area
  src/site/_data/paths/devices.json
  src/site/_data/paths/index.js
  src/site/content/_redirects.yaml
  src/site/content/en/devices/index.njk
  src/site/content/en/learn/learn.11tydata.js
Due: eslint

Change order
  src/site/_data/paths/devices.json
Due: none

Use sentence case
  src/site/_data/paths/devices.json
Due: none

Update src/site/_data/paths/progressive-web-apps.json
  src/site/_data/paths/progressive-web-apps.json
Due: none

Rename src/site/content/en/progressive-web-apps/offline-ux-considerations/index.md to src/site/content/en/progressive-web-apps/offline-ux-design-guidelines/index.md
  src/site/content/en/progressive-web-apps/offline-ux-design-guidelines/index.md
Due: remark -q

Move to new location
  src/site/_data/paths/progressive-web-apps.json
  src/site/_data/paths/reliable.json
  src/site/content/en/reliable/offline-ux-design-guidelines/accessibility_color7_do.png
  src/site/content/en/reliable/offline-ux-design-guidelines/accessibility_color8_dont.png
  src/site/content/en/reliable/offline-ux-design-guidelines/chome-offline.png
  src/site/content/en/reliable/offline-ux-design-guidelines/chrome-status-app-updated.png
  src/site/content/en/reliable/offline-ux-design-guidelines/download-icons-examples.png
  src/site/content/en/reliable/offline-ux-design-guidelines/download.png
  src/site/content/en/reliable/offline-ux-design-guidelines/emojoy-toast-message.png
  src/site/content/en/reliable/offline-ux-design-guidelines/index.md
  src/site/content/en/reliable/offline-ux-design-guidelines/io-offline-ready.png
  src/site/content/en/reliable/offline-ux-design-guidelines/io-toast-message.png
  src/site/content/en/reliable/offline-ux-design-guidelines/material-money-rates-out-of-date.png
  src/site/content/en/reliable/offline-ux-design-guidelines/material-money-rates-updated.png
  src/site/content/en/reliable/offline-ux-design-guidelines/service-worker-ready.png
  src/site/content/en/reliable/offline-ux-design-guidelines/tailpiece-normal.png
  src/site/content/en/reliable/offline-ux-design-guidelines/tailpiece-offline-sidebar.png
  src/site/content/en/reliable/offline-ux-design-guidelines/tailpiece-offline.png
  src/site/content/en/reliable/offline-ux-design-guidelines/tailpiece-skel-article.png
  src/site/content/en/reliable/offline-ux-design-guidelines/tailpiece-tap-to-update.png
  src/site/content/en/reliable/offline-ux-design-guidelines/weather-app.png
Due: remark -q

Address review comments
  src/site/content/en/reliable/offline-ux-design-guidelines/index.md
Due: remark -q

Remove OT bits
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

Update src/site/content/en/blog/fast-playback-with-preload/index.md
  src/site/content/en/blog/fast-playback-with-preload/index.md
Due: remark -q

Add File Handling article (#3937)
  src/site/content/en/blog/file-handling/context-menu.png
  src/site/content/en/blog/file-handling/finder.png
  src/site/content/en/blog/file-handling/hero.jpg
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

Update min-max-clamp for real.
  src/site/content/en/blog/min-max-clamp/index.md
Due: remark -q

Update src/site/content/en/animations/animations-examples/index.md
  src/site/content/en/animations/animations-examples/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
