Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Load per-page entrypoints. Add hashing from d.c.c.
  src/lib/app.js
  src/lib/loader.js
  src/lib/pages/content.js
  src/lib/pages/default.js
  src/lib/pages/newsletter.js
  src/site/_data/helpers.js
  src/site/_data/lib/hash.js
  src/site/_includes/codelab.njk
  src/site/_includes/handbook.njk
  src/site/_includes/layout.njk
  src/site/_includes/newsletter.njk
  src/site/_includes/post.njk
  src/site/content/en/live/index.njk
  src/site/content/en/measure/index.njk
Due: eslint

Kinda sorta get tests working.
  rollup.config.js
  src/lib/app.js
  test/unit/src/lib/index.js
Due: eslint

wip test bundle
  package-lock.json
  package.json
  rollup.config.js
Due: eslint

rev version number
  package.json
Due: none

remove unused files
  build.js
  src/build/common.js
  src/build/minify-js.js
  src/build/resource-path.js
  src/lib/components/Search/index.js
  src/lib/sw.js
  src/lib/utils/sw-match.js
  src/lib/webcomponents-config.js
  sw-manifest.js
Due: eslint

remove old hash.js
  .eleventy.js
  gulp-tasks/sass.js
  package-lock.json
  package.json
  rollup.config.js
  src/build/hash.js
  src/site/_data/lib/hash.js
  src/site/_includes/layout.njk
  src/site/_transforms/minify-html.js
Due: eslint

fix material icon fonts
  .eleventy.js
  src/site/_includes/layout.njk
  src/site/_transforms/purify-css.js
  src/styles/fonts/_material-icons.scss
Due: eslint, sass-lint -v -q"

fixup isprod flags
  .eleventy.js
  gulpfile.js
  package-lock.json
  package.json
  rollup.config.js
  src/lib/loader.js
  src/styles/fonts/_material-icons.scss
  test/integration/build-test.js
Due: eslint, sass-lint -v -q"

clean up package.json
  package-lock.json
  package.json
Due: none

clarify support matrix for getinstalledrelatedapps
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

remove broken race flag
  package.json
  test/integration/build-test.js
Due: eslint

feat(redirects): send all requests to `en/*` to `*`
  redirects.yaml
Due: none

doc(redirects): explain redirect
  redirects.yaml
Due: none

feat(redirects): send all requests to `en/*` to `*` (#4627)
  redirects.yaml
Due: none

Escape HTML titles/descriptions when displaying them as search results
  src/lib/components/Search/index.js
  src/lib/utils/escape-html.js
Due: eslint

Escape HTML titles/descriptions when displaying them as search results (#4628)
  src/lib/components/Search/index.js
  src/lib/utils/escape-html.js
Due: eslint

Clean up and fix failing test.
  src/lib/fb.js
  src/lib/utils/firebase-loader.js
  src/site/_includes/layout.njk
  test/unit/src/lib/index.js
  test/unit/src/lib/utils/firebase-loader.js
Due: eslint

collect common rollup plugins
  rollup.config.js
Due: eslint

Updated OT end and date
  src/site/content/en/blog/using-conversion-measurement/index.md
Due: remark -q

Only run once
  src/lib/urls.js
Due: eslint

Update src/lib/urls.js
  src/lib/urls.js
Due: eslint

Updated encoding and conversiondestination definition
  src/site/content/en/blog/conversion-measurement/index.md
Due: remark -q

Fixed data encoding
  src/site/content/en/blog/conversion-measurement/index.md
Due: remark -q

updated date
  src/site/content/en/blog/conversion-measurement/index.md
Due: remark -q

Fix table formatting
  src/site/content/en/blog/conversion-measurement/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/generic-sensor/index.md
Due: remark -q

Lint fix
  src/site/_data/paths/index.js
Due: eslint

Add layout prop to posts moved from the blog
  src/site/content/en/identity/change-password-url/index.md
  src/site/content/en/identity/sign-in-form-best-practices/index.md
  src/site/content/en/identity/sign-up-form-best-practices/index.md
  src/site/content/en/identity/sms-otp-form/index.md
  src/site/content/en/identity/web-otp/index.md
Due: remark -q

Apply suggestions from code review
  src/site/_data/paths/progressive-web-apps.json
  src/site/content/en/progressive-web-apps/customize-install/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/storage-for-the-web/index.md
Due: remark -q

Restructure IA
  src/site/_data/paths/identity.json
Due: none

Optimize the SVG
  src/images/collections/identity.svg
Due: none

feedback from joe
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

feedback from joe
  src/site/content/en/progressive-web-apps/customize-install/index.md
Due: remark -q

integrate feeback from joe
  src/site/content/en/blog/storage-for-the-web/index.md
Due: remark -q

Minor updates to PWA IA & code cleanup (#4622)
  src/site/_data/paths/progressive-web-apps.json
  src/site/content/en/progressive-web-apps/customize-install/index.md
  src/site/content/en/progressive-web-apps/install-criteria/index.md
Due: remark -q

feat(imigix): add `Img` and `Video` shortcodes
  .eleventy.js
  .eslintrc.js
  package-lock.json
  package.json
  src/site/_data/site.js
  src/site/_includes/components/Img.js
  src/site/_includes/components/Video.js
  src/site/content/en/handbook/markup-media/index.md
  types/site/_includes/components/Img.d.ts
  types/site/_includes/components/Video.d.ts
Due: eslint, remark -q

chore(Img): correct max width
  src/site/_includes/components/Img.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
