Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Update src/site/content/en/blog/script-component/index.md
  src/site/content/en/blog/script-component/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/script-component/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/script-component/index.md
Due: remark -q

New post for Next.js Script component (#7397)
  src/site/_data/authorsData.json
  src/site/content/en/blog/script-component/index.md
Due: remark -q

Add USBDevice forget() method
  src/site/content/en/blog/usb/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/interop-2022/index.md
Due: remark -q

Copyc
  .eleventy.js
  firebase-config.js
  src/site/_filters/csp-hash.js
  src/site/_includes/demo.njk
  src/site/_includes/partials/head.njk
  src/site/content/en/patterns/example-set/graph/assets/body.html
  src/site/content/en/patterns/example-set/graph/assets/script.js
  src/site/content/en/patterns/example-set/graph/demo.njk
Due: eslint

add draft csp scripts - dirty
  src/site/_includes/partials/head.njk
  src/site/content/en/patterns/example-set/graph/index.md
Due: remark -q

cleanup
  src/site/_includes/demo.njk
  src/site/_includes/partials/head.njk
  src/site/_includes/partials/script-loader.njk
  src/site/content/en/patterns/example-set/graph/assets/body.html
  src/site/content/en/patterns/example-set/graph/assets/script.js
  src/site/content/en/patterns/example-set/graph/demo.md
Due: eslint, remark -q

lint
  .eleventy.js
  src/site/_filters/csp-hash.js
Due: eslint

Add widget component
  .eleventy.js
  src/site/content/en/blog/test-post/index.md
Due: eslint, remark -q

Add widget component
  src/site/_includes/components/Widget.js
  src/site/content/en/patterns/example-set/graph/demo.md
Due: eslint, remark -q

Update to node v16 (#7399)
  .cloudbuild/deploy.yaml
  .cloudbuild/version-check.yaml
  .github/actions/lint-tags/action.yml
  .github/actions/presubmit/action.yml
  .nvmrc
  functions/package.json
  package.json
Due: none

Add a catch() to algolia
  run-algolia.js
Due: eslint

Set an exit code
  run-algolia.js
Due: eslint

Fix some typos. (#7400)
  src/site/content/en/learn/pwa/assets-and-data/index.md
  src/site/content/en/learn/pwa/index.md
  src/site/content/en/learn/pwa/installation/index.md
  src/site/content/en/learn/pwa/service-workers/index.md
  src/site/content/en/learn/pwa/workbox/index.md
Due: remark -q

Log the exception when Algolia fails to run (#7403)
  run-algolia.js
Due: eslint

Add draft of AEM+Workbox article.
  src/site/content/en/blog/aem-with-workbox/index.md
Due: remark -q

Fix logic that trims Algolia records
  algolia.js
  shared/sizeOfJSONInBytes.js
  test/unit/algolia/index.js
Due: eslint

Fix typos and meta data.
  src/site/content/en/blog/aem-with-workbox/index.md
Due: remark -q

Fix more typos.
  src/site/content/en/blog/aem-with-workbox/index.md
Due: remark -q

Add hero image.
  src/site/content/en/blog/aem-with-workbox/index.md
Due: remark -q

Switch to truncate-utf8-bytes
  algolia.js
  package-lock.json
  package.json
  test/unit/algolia/index.js
Due: eslint

Address feedback
  src/site/content/en/blog/usb/index.md
Due: remark -q

Fix layout shift by setting a max width on sidebar
  src/scss/pages/_course.scss
Due: sass-lint -v -q"

Fix captcha alignment
  src/scss/web-components/_web-subscribe.scss
Due: sass-lint -v -q"

Edit testpost (#7256)
  src/site/content/en/blog/test-post/index.md
Due: remark -q

Cleanup
  algolia.js
  package.json
Due: eslint

Fix Algolia multi-byte content indexing (#7406)
  algolia.js
  package-lock.json
  package.json
  shared/sizeOfJSONInBytes.js
  test/unit/algolia/index.js
Due: eslint

Apply all-center to simplify things
  src/scss/web-components/_web-subscribe.scss
  src/site/_includes/partials/subscribe.njk
Due: sass-lint -v -q"

Fix layout shift by setting a max width on sidebar (#7407)
  src/scss/pages/_course.scss
Due: sass-lint -v -q"

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
