Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Add comments to Assessment.js
  src/site/_includes/components/Assessment.js
Due: eslint

Fix code block rendering
  src/site/_filters/md-block.js
Due: eslint

Add curly braces to if statements
  src/site/_includes/components/Assessment.js
Due: eslint

Improve question error handling
  src/lib/utils/handle-overflow.js
  src/site/_includes/components/Assessment.js
Due: eslint

Add analytics
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/ResponseMultipleChoice/index.js
  src/lib/components/Tabs/index.js
Due: eslint

Start form validation
  src/lib/components/AssessmentFeedbackForm/_styles.scss
  src/lib/components/AssessmentFeedbackForm/index.js
  src/lib/components/SelectGroup/index.js
Due: eslint, sass-lint -v -q"

Fix Webby
  src/site/content/en/handbook/self-assessment-components/webby.png
Due: none

Shrink images
  src/site/content/en/handbook/self-assessment-components/bigbird.jpg
  src/site/content/en/handbook/self-assessment-components/cookiemonster.jpg
  src/site/content/en/handbook/self-assessment-components/elmo.jpg
  src/site/content/en/handbook/self-assessment-components/ernie.jpg
  src/site/content/en/handbook/self-assessment-components/grover.jpg
Due: none

Updated screencast
  src/site/content/en/blog/media-session/index.md
Due: remark -q

Fix validation bug
  src/site/_includes/components/Assessment.js
Due: eslint

Phrasing tweak
  src/site/content/en/accessible/control-focus-with-tabindex/self-assessment.assess.yml
Due: none

Fix code sample indentation
  src/site/content/en/accessible/control-focus-with-tabindex/self-assessment.assess.yml
  src/site/content/en/accessible/labels-and-text-alternatives/self-assessment.assess.yml
  src/site/content/en/accessible/use-semantic-html/self-assessment.assess.yml
  src/site/content/en/secure/same-origin-policy/self-assessment.assess.yml
Due: none

Rebuild 11ty on yml updates
  .eleventy.js
Due: eslint

Reuse top-level banner and add styling
  src/site/_includes/partials/post.njk
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_banner.scss
Due: sass-lint -v -q", remark -q

do lazy partial fetch
  src/lib/bootstrap.js
  src/lib/loader.js
Due: eslint

use controllerchange
  src/lib/bootstrap.js
  src/lib/sw.js
Due: eslint

remove unused var
  src/lib/sw.js
Due: eslint

Update .gitlocalize
  .gitlocalize.yml
Due: none

update gitlocalize
  .gitlocalize.yml
Due: none

Update .gitlocalize.yml
  .gitlocalize.yml
Due: none

Add forward slash
  .gitlocalize.yml
Due: none

Change names of fucntions.
  src/site/content/en/blog/badging-api/index.md
Due: remark -q

s/speed/performance/
  src/site/content/en/fast/fixing-website-speed-cross-functionally/index.md
Due: remark -q

New content: Fixing website speed cross-functionally (#2259)
  src/site/_data/contributors.js
  src/site/content/en/fast/fast.11tydata.js
  src/site/content/en/fast/fixing-website-speed-cross-functionally/index.md
  src/site/content/en/images/authors/lchansson.jpg
  src/site/content/en/images/authors/lchansson@2x.jpg
Due: eslint, remark -q

Add dates to status page (#2284)
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Don't force users to go to English version of page
  src/site/content/en/blog/module-workers/index.md
Due: remark -q

Update outdated link URL (#2318)
  src/site/content/en/lighthouse-pwa/apple-touch-icon/index.md
Due: remark -q

Update Module Workers article with Shared Workers section (#2315)
  src/site/content/en/blog/module-workers/index.md
Due: remark -q

Add segmention rec for mobile and desktop (#2325)
  src/site/content/en/metrics/cls/index.md
  src/site/content/en/metrics/fcp/index.md
  src/site/content/en/metrics/fid/index.md
  src/site/content/en/metrics/lcp/index.md
Due: remark -q

feedback & refine scope messaging
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

update
  .gitlocalize.yml
Due: none

add redirect
  src/site/content/en/_redirects.yaml
Due: none

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
