Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

lint: fix lint error
  src/lib/components/CopyCode/index.js
Due: eslint

fix: remove unused components (referenced to w-button)
  src/site/_includes/default.njk
  src/site/_includes/partials/header-default.njk
Due: none

docs: remove documentation for old design system component
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

fix learn dates
  src/site/content/en/learn/html/apis/index.md
  src/site/content/en/learn/html/audio-video/index.md
  src/site/content/en/learn/html/conclusion/index.md
  src/site/content/en/learn/html/details/index.md
  src/site/content/en/learn/html/dialog/index.md
  src/site/content/en/learn/html/focus/index.md
  src/site/content/en/learn/html/forms/index.md
  src/site/content/en/learn/html/images/index.md
  src/site/content/en/learn/html/inline-text/index.md
  src/site/content/en/learn/html/template/index.md
Due: remark -q

fixes #9751
  src/site/content/en/learn/html/navigation/index.md
Due: remark -q

Update article (#9740)
  src/site/content/en/blog/rendering-on-the-web/index.md
Due: remark -q

Fix Learn HTML dates (#9752)
  src/site/content/en/learn/html/apis/index.md
  src/site/content/en/learn/html/audio-video/index.md
  src/site/content/en/learn/html/conclusion/index.md
  src/site/content/en/learn/html/details/index.md
  src/site/content/en/learn/html/dialog/index.md
  src/site/content/en/learn/html/focus/index.md
  src/site/content/en/learn/html/forms/index.md
  src/site/content/en/learn/html/images/index.md
  src/site/content/en/learn/html/inline-text/index.md
  src/site/content/en/learn/html/navigation/index.md
  src/site/content/en/learn/html/template/index.md
Due: remark -q

Add a pair of backtick to remove the css style
  src/site/content/en/learn/html/navigation/index.md
Due: remark -q

add flex-basis link #6297
  src/site/content/en/learn/css/flexbox/index.md
Due: remark -q

fix: remove old design button section and unused w-text
  src/site/_drafts/_template-post/index.md
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/overrides/_alignment.scss
Due: sass-lint -v -q", remark -q

fix: change old design w-button to new design system
  src/lib/components/UrlChooser/_styles.scss
  src/site/_includes/partials/navigation-drawer-default.njk
Due: sass-lint -v -q"

Fix dead link to PWA installation pattern
  src/site/content/en/learn/pwa/installation/index.md
Due: remark -q

add flex-basis link #6297 (#9754)
  src/site/content/en/learn/css/flexbox/index.md
Due: remark -q

refactor: bring back unrelated tasks
  src/lib/components/SigninButton/_styles.scss
  src/lib/components/SigninButton/index.js
  src/site/_includes/default.njk
  src/site/_includes/partials/header-default.njk
  src/styles/overrides/_all.scss
Due: eslint, sass-lint -v -q"

refactor: revert code comment
  src/lib/components/SigninButton/_styles.scss
  src/site/_includes/default.njk
  src/site/_includes/partials/header-default.njk
Due: sass-lint -v -q"

Fix dead link to PWA installation pattern (#9755)
  src/site/content/en/learn/pwa/installation/index.md
Due: remark -q

Add support of `width` & `height` in `<source`> on firefox (#9672)
  src/site/content/en/blog/optimize-cls/index.md
Due: remark -q

Fix minor typo
  src/site/content/en/learn/forms/validation/index.md
Due: remark -q

Create SECURITY.md
  SECURITY.md
Due: remark -q

Swap video's and update figcaption
  src/site/content/en/blog/min-max-clamp/index.md
Due: remark -q

feat: clean up old design system w-label
  src/site/_includes/components/Label.js
  src/styles/components/_all.scss
  src/styles/components/_label.scss
Due: eslint, sass-lint -v -q"

feat: clean up old design system w-tooltip
  src/lib/components/CopyCode/index.js
  src/site/_includes/components/Tooltip.js
  src/site/_includes/partials/header-default.njk
  src/site/_includes/partials/navigation-drawer-default.njk
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_all.scss
  src/styles/components/_tooltips.scss
Due: eslint, sass-lint -v -q", remark -q

feat: clean up old design system w-layout
  src/site/_includes/components/LanguageList.js
  src/site/_includes/components/SignPosts.js
  src/site/_includes/sandbox/article.njk
  src/site/_includes/sandbox/container.njk
  src/site/_includes/sandbox/layout.njk
  src/styles/components/_all.scss
  src/styles/components/_chips.scss
  src/styles/components/_grid.scss
  src/styles/components/_layouts.scss
  src/styles/generic/_links.scss
  src/styles/pages/_post.scss
Due: eslint, sass-lint -v -q"

Swap video's and update figcaption (#9760)
  src/site/content/en/blog/min-max-clamp/index.md
Due: remark -q

Make it installable codelab: Add aside to tell the reader to use a standalone tab (#9729)
  src/site/content/en/progressive-web-apps/codelab-make-installable/index.md
Due: remark -q

Clarify support is limited to A2HS
  src/site/content/en/blog/push-notifications-in-all-modern-browsers/index.md
Due: remark -q

Update src/site/content/en/blog/push-notifications-in-all-modern-browsers/index.md
  src/site/content/en/blog/push-notifications-in-all-modern-browsers/index.md
Due: remark -q

fix: remove unused stylesheets
  src/styles/components/_all.scss
  src/styles/components/_banner.scss
  src/styles/components/_columns.scss
  src/styles/components/_compare.scss
Due: sass-lint -v -q"

fix: rename w-post to post class name
  src/site/_includes/components/LanguageList.js
  src/site/_includes/components/SignPosts.js
  src/styles/components/_chips.scss
  src/styles/generic/_links.scss
  src/styles/pages/_post.scss
Due: eslint, sass-lint -v -q"

fix: remove old design system w-text
  src/site/_drafts/_template-post/index.md
  src/styles/overrides/_alignment.scss
  src/styles/overrides/_all.scss
Due: sass-lint -v -q", remark -q

fix: bring back w-post-
  src/site/_includes/components/LanguageList.js
  src/site/_includes/components/SignPosts.js
  src/site/content/en/blog/responsive-images/index.md
  src/site/content/en/blog/yeoman/index.md
  src/styles/components/_chips.scss
  src/styles/generic/_links.scss
  src/styles/pages/_post.scss
Due: eslint, sass-lint -v -q", remark -q

fix: bring back unnecessary changes
  src/site/_includes/components/SignPosts.js
  src/site/content/en/blog/responsive-images/index.md
  src/site/content/en/blog/yeoman/index.md
Due: eslint, remark -q

Make it installable codelab: Warn about installability criteria
  src/site/content/en/progressive-web-apps/codelab-make-installable/index.md
Due: remark -q

ported from docs
  src/site/content/en/blog/6-css-snippets-every-front-end-developer-should-know-in-2023/index.md
Due: remark -q

adds thumb so content isnt lost in crop
  src/site/content/en/blog/6-css-snippets-every-front-end-developer-should-know-in-2023/index.md
Due: remark -q

feat: rename all -next suffixed templates (#9744)
  src/site/_includes/about.njk
  src/site/_includes/blog.njk
  src/site/_includes/handbook.njk
  src/site/_includes/homepage.njk
  src/site/_includes/index-page.njk
  src/site/_includes/item-page.njk
  src/site/_includes/partials/paged.njk
  src/site/_includes/partials/pagination.njk
  src/site/_includes/partials/post.njk
  src/site/_includes/pattern-page.njk
  src/site/_includes/post.njk
  src/site/content/en/about/index.md
  src/site/content/en/handbook/content-types/example-landing-page/index.njk
  src/site/content/en/index.md
  src/site/content/en/newsletter/index.njk
  src/site/content/es/index.md
  src/site/content/ja/index.md
  src/site/content/ko/index.md
  src/site/content/pl/index.md
  src/site/content/pt/index.md
  src/site/content/ru/index.md
  src/site/content/zh/index.md
Due: remark -q

feat: clean up all `isDesignSystemContext` conditions (#9745)
  .eleventy.js
  src/lib/utils/is-design-system-context.js
  src/site/_includes/components/Banner.js
  src/site/_includes/components/Compare.js
  src/site/_includes/components/CompareCaption.js
  src/styles/components/_all.scss
  src/styles/components/_banner.scss
  src/styles/components/_columns.scss
  src/styles/components/_compare.scss
Due: eslint, sass-lint -v -q"

feat: rename existing w- prefixed class name (#9747)
  src/lib/components/LearnFilter/index.js
  src/lib/components/ProfileSwitcher/_styles.scss
  src/lib/components/ProfileSwitcher/index.js
  src/lib/components/ProfileSwitcherContainer/index.js
  src/site/_includes/macros/tag-chips.njk
  src/site/_includes/partials/footer.njk
  src/site/_includes/partials/site-footer.njk
  src/styles/components/_chips.scss
  src/styles/components/_footer.scss
Due: eslint, sass-lint -v -q"

feat: clean up old design system w-aside (#9748)
  src/component-library/prose/prose.njk
  src/site/_includes/components/StackOverflow.js
  src/styles/components/_all.scss
  src/styles/components/_asides.scss
Due: eslint, sass-lint -v -q"

feat: clean up all old design system `w-button` classes (#9749)
  src/lib/components/CopyCode/index.js
  src/lib/components/SigninButton/index.js
  src/lib/components/UrlChooser/_styles.scss
  src/lib/components/UrlChooser/index.js
  src/scss/blocks/_button.scss
  src/scss/blocks/_icon-button.scss
  src/site/_drafts/_template-post/index.md
  src/site/_includes/partials/header-default.njk
  src/site/_includes/partials/navigation-drawer-default.njk
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_all.scss
  src/styles/components/_buttons.scss
  src/styles/overrides/_alignment.scss
  src/styles/overrides/_all.scss
Due: eslint, sass-lint -v -q", remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
