Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Fix typo
  src/site/content/en/learn/design/responsive-images/index.md
Due: remark -q

Correct w descriptor note
  src/site/content/en/learn/design/responsive-images/index.md
Due: remark -q

Update priority hints browser compat info
  src/site/content/en/fast/priority-hints/index.md
Due: remark -q

Add Fetch standard link
  src/site/content/en/fast/priority-hints/index.md
Due: remark -q

Update Glitch console instructions
  src/site/_includes/components/Instruction.js
Due: eslint

Clarify svg and video support for LCP
  src/site/content/en/metrics/lcp/index.md
Due: remark -q

Fix form example
  src/site/content/en/learn/html/forms/index.md
Due: remark -q

Fix form example (#9734)
  src/site/content/en/learn/html/forms/index.md
Due: remark -q

Add note about image CDN file extensions
  src/site/content/en/fast/image-cdns/index.md
Due: remark -q

Clarify async CSS and CSP support
  src/site/content/en/fast/defer-non-critical-css/index.md
Due: remark -q

Add Private Aggregation API testing script (#9593)
  src/site/_includes/partials/head.njk
Due: none

Update Glitch console instructions (#9732)
  src/site/_includes/components/Instruction.js
Due: eslint

Clarify svg and video support for LCP (#9733)
  src/site/content/en/metrics/lcp/index.md
Due: remark -q

Add note about image CDN file extensions (#9735)
  src/site/content/en/fast/image-cdns/index.md
Due: remark -q

Clarify async CSS and CSP support (#9736)
  src/site/content/en/fast/defer-non-critical-css/index.md
Due: remark -q

Update priority hints browser compat info (#9731)
  src/site/content/en/fast/priority-hints/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/preload-responsive-images/index.md
  src/site/content/en/learn/design/responsive-images/index.md
Due: remark -q

Update responsive images guidance (#9730)
  src/site/content/en/blog/preload-responsive-images/index.md
  src/site/content/en/learn/design/responsive-images/index.md
Due: remark -q

Update publication date
  src/site/content/en/blog/css-trig-functions/index.md
Due: remark -q

replace pseudo-class with pseudo-element (#9727)
  src/site/content/en/learn/html/dialog/dialog.assess.yml
Due: none

Add css-trig-functions blog post (#9620)
  src/site/content/en/blog/css-trig-functions/index.md
Due: remark -q

lower case to upper case
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q

fixing code snippet in learn/PWA
  src/site/content/en/learn/pwa/serving/index.md
Due: remark -q

fixing code snippet in learn/PWA (#9738)
  src/site/content/en/learn/pwa/serving/index.md
Due: remark -q

lower case to upper case (#9737)
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q

Update article
  src/site/content/en/blog/rendering-on-the-web/index.md
Due: remark -q

Chrome 103+
  src/site/content/en/progressive-web-apps/install-criteria/index.md
Due: remark -q

feat: rename the about-next template
  src/site/_includes/about.njk
  src/site/content/en/about/index.md
Due: remark -q

feat: rename the pagination-next template
  src/site/_includes/index-page.njk
  src/site/_includes/partials/paged-next.njk
  src/site/_includes/partials/pagination.njk
Due: none

feat: rename the post-next template
  src/site/_includes/handbook.njk
  src/site/_includes/partials/post.njk
  src/site/_includes/pattern-page.njk
  src/site/_includes/post.njk
Due: none

feat: rename the paged-next template
  src/site/_includes/blog.njk
  src/site/_includes/item-page.njk
  src/site/_includes/partials/paged.njk
  src/site/content/en/handbook/content-types/example-landing-page/index.njk
  src/site/content/en/newsletter/index.njk
Due: none

feat: rename the homepage-next template
  src/site/_includes/homepage.njk
  src/site/content/en/index.md
  src/site/content/es/index.md
  src/site/content/ja/index.md
  src/site/content/ko/index.md
  src/site/content/pl/index.md
  src/site/content/pt/index.md
  src/site/content/ru/index.md
  src/site/content/zh/index.md
Due: remark -q

feat: clean up all isDesignSystemContext conditionals
  .eleventy.js
  src/lib/utils/is-design-system-context.js
  src/site/_includes/components/Banner.js
  src/site/_includes/components/Compare.js
  src/site/_includes/components/CompareCaption.js
Due: eslint

feat: clean up old design system w-chips
  src/lib/components/LearnFilter/index.js
  src/site/_includes/macros/tag-chips.njk
  src/styles/components/_chips.scss
Due: eslint, sass-lint -v -q"

feat: clean up old design system w-footer
  src/site/_includes/partials/footer.njk
  src/site/_includes/partials/site-footer.njk
  src/styles/components/_footer.scss
Due: sass-lint -v -q"

feat: clean up old design system w-profile
  src/lib/components/ProfileSwitcher/_styles.scss
  src/lib/components/ProfileSwitcher/index.js
  src/lib/components/ProfileSwitcherContainer/index.js
Due: eslint, sass-lint -v -q"

feat: clean up old design system w-aside
  src/component-library/prose/prose.njk
  src/site/_includes/components/StackOverflow.js
  src/styles/components/_all.scss
  src/styles/components/_asides.scss
Due: eslint, sass-lint -v -q"

[RU] Optimize FID: multiple typos (#9518)
  src/site/content/ru/blog/optimize-fid/index.md
Due: remark -q

feat: clean up old design system w-button
  src/lib/components/CopyCode/index.js
  src/lib/components/UrlChooser/index.js
  src/scss/blocks/_button.scss
  src/scss/blocks/_icon-button.scss
  src/site/_drafts/_template-post/index.md
  src/styles/components/_all.scss
  src/styles/components/_buttons.scss
Due: eslint, sass-lint -v -q", remark -q

fix: remove unsued SigninButton component
  src/lib/components/SigninButton/_styles.scss
  src/lib/components/SigninButton/index.js
Due: eslint, sass-lint -v -q"

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
