Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Fix title and code refinements
  src/site/content/en/blog/prefers-reduced-motion/index.md
Due: remark -q

Add una to contributors
  src/site/_data/contributors.json
  src/site/content/en/images/authors/una.jpg
  src/site/content/en/images/authors/una@2x.jpg
Due: none

Add next-gen-css post
  src/site/content/en/blog/next-gen-css-2019/gap.png
  src/site/content/en/blog/next-gen-css-2019/houdini.png
  src/site/content/en/blog/next-gen-css-2019/index.md
  src/site/content/en/blog/next-gen-css-2019/legacy-layout.png
  src/site/content/en/blog/next-gen-css-2019/logical-layout.png
  src/site/content/en/blog/next-gen-css-2019/menu-focus.png
  src/site/content/en/blog/next-gen-css-2019/prefers-media-queries.png
Due: remark -q

Add note about prefers-reduced-motion
  src/site/content/en/blog/next-gen-css-2019/index.md
Due: remark -q

Add is() code sample
  src/site/content/en/blog/next-gen-css-2019/index.md
Due: remark -q

Add proxx videos
  src/site/content/en/blog/off-main-thread/index.md
Due: remark -q

fix(footer): increase footer links' padding to 100% SEO on LH, fixes #1767
  src/styles/components/_footer.scss
Due: sass-lint -v -q"

fix(footer): increase footer links' padding to 100% SEO on LH, fixes #1767 (#1965)
  src/styles/components/_footer.scss
Due: sass-lint -v -q"

feat(SnackbarContainer): only allow PWA install prompt if cookies accepted, fixes #1771
  src/lib/components/SnackbarContainer/index.js
Due: eslint

refactor(SnackbarContainer): only add `beforeinstallprompt` listener if cookies not accepted and clean up after listener
  src/lib/components/SnackbarContainer/index.js
Due: eslint

Update Contact Picker article for Chrome 80.
  src/site/content/en/blog/contact-picker/index.md
Due: remark -q

Remove OT info for real.
  src/site/content/en/blog/contact-picker/index.md
Due: remark -q

feat(PostCard): display author(s) and date of post in a card, fixes #1330 (#1957)
  src/site/_includes/components/PostCard.js
  src/styles/components/_author.scss
  src/styles/components/_post-card.scss
Due: eslint, sass-lint -v -q"

Minor edit
  src/site/content/en/blog/next-gen-css-2019/index.md
Due: remark -q

Fix description
  src/site/content/en/blog/next-gen-css-2019/index.md
Due: remark -q

Add tags
  src/site/content/en/blog/next-gen-css-2019/index.md
Due: remark -q

Update Word list
  src/site/content/en/handbook/word-list/index.md
Due: remark -q

Remove broken hero
  src/site/content/en/blog/off-main-thread/index.md
Due: remark -q

fix(table): tables written in markdown are automatically wrapped by `<div class="w-table-wrapper">`, fixes #1917
  .eleventy.js
Due: eslint

fix(table): tables written in markdown are automatically wrapped by `<div class="w-table-wrapper">`, fixes #1917 (#1970)
  .eleventy.js
Due: eslint

Update Word list (#1969)
  src/site/content/en/handbook/word-list/index.md
Due: remark -q

Remove the `auto` value per spec changes
  src/site/content/en/blog/native-lazy-loading/index.md
Due: remark -q

Feedback from Pete.
  src/site/content/en/blog/contact-picker/index.md
Due: remark -q

Initial commit
  src/site/content/en/blog/a11y-tips-for-web-dev/a11y-tree-chrome.png
  src/site/content/en/blog/a11y-tips-for-web-dev/a11y-tree-ff.jpg
  src/site/content/en/blog/a11y-tips-for-web-dev/angular-a11y-testing.png
  src/site/content/en/blog/a11y-tips-for-web-dev/chromelens.jpg
  src/site/content/en/blog/a11y-tips-for-web-dev/dos-donts.jpg
  src/site/content/en/blog/a11y-tips-for-web-dev/hero.jpg
  src/site/content/en/blog/a11y-tips-for-web-dev/index.md
  src/site/content/en/blog/a11y-tips-for-web-dev/inspect-element.jpg
  src/site/content/en/blog/a11y-tips-for-web-dev/lh-a11y-audit.png
  src/site/content/en/blog/a11y-tips-for-web-dev/manage-focus.png
  src/site/content/en/blog/a11y-tips-for-web-dev/react-a11y-testing.png
  src/site/content/en/blog/a11y-tips-for-web-dev/screen-reader.jpg
  src/site/content/en/blog/a11y-tips-for-web-dev/slider.png
  src/site/content/en/blog/a11y-tips-for-web-dev/web-dev-a11y.jpg
Due: remark -q

Fix typo in what-is-speed graphic.
  src/site/content/en/fast/what-is-speed/speed-feedback.png
Due: none

Fix typo in what-is-speed graphic. (#1977)
  src/site/content/en/fast/what-is-speed/speed-feedback.png
Due: none

Update 'SameSite cookies explained' for Chrome 80.
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Update 'SameSite cookie recipies' for Chrome 80.
  src/site/content/en/blog/samesite-cookie-recipes/chrome-console-warning.png
  src/site/content/en/blog/samesite-cookie-recipes/index.md
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Fix formatting of current status table.
  src/site/content/en/blog/contact-picker/index.md
Due: remark -q

Update periodic bckgrnd article for Chrome 80.
  src/site/content/en/blog/periodic-background-sync/index.md
Due: remark -q

Content: Add maskable icon post
  src/site/_data/contributors.json
  src/site/content/en/blog/maskable-icon/devtools.png
  src/site/content/en/blog/maskable-icon/fugu-mask.mp4
  src/site/content/en/blog/maskable-icon/fugu-mask.webm
  src/site/content/en/blog/maskable-icon/index.md
  src/site/content/en/blog/maskable-icon/maskable-app-editor.png
  src/site/content/en/images/authors/tigeroakes.jpg
  src/site/content/en/images/authors/tigeroakes@2x.jpg
Due: remark -q

Add deprecate synch XHR on page loads article.
  src/site/content/en/blog/disallow-synchronous-xhr/hero.jpg
  src/site/content/en/blog/disallow-synchronous-xhr/index.md
Due: remark -q

Minor edits
  src/site/content/en/blog/prefers-reduced-motion/index.md
Due: remark -q

Add table
  src/site/content/en/blog/a11y-tips-for-web-dev/index.md
Due: remark -q

Point video to storage bucket
  src/site/content/en/blog/prefers-reduced-motion/index.md
Due: remark -q

Update lazysizes version to 5.1.2 (latest stable)
  src/site/content/en/blog/native-lazy-loading/index.md
Due: remark -q
