Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Get things working better by moving away from a collection and into JS data files
  .eleventy.js
  src/pattern-library/patterns/button/button.json
  src/pattern-library/patterns/button/button.md
  src/pattern-library/patterns/button/button.njk
  src/pattern-library/patterns/button/variants/button-secondary/button-secondary.json
  src/pattern-library/patterns/button/variants/button-secondary/button-secondary.njk
  src/pattern-library/patterns/toggle-switch/toggle-switch.json
  src/pattern-library/patterns/toggle-switch/toggle-switch.md
  src/pattern-library/patterns/toggle-switch/toggle-switch.njk
  src/site/_collections/patterns.js
  src/site/_data/patterns.js
  src/site/content/en/pattern-library.njk
  src/site/content/en/pattern-library/patterns/patterns.json
  src/site/content/en/patterns-preview.njk
  src/site/content/en/patterns.njk
Due: eslint, remark -q

lint
  src/lib/components/CourseSearchResults/index.js
  src/styles/components/_drawer-course.scss
Due: eslint, sass-lint -v -q"

The first 3 shortcuts are used on Android, not 4
  src/site/content/en/blog/app-shortcuts/index.md
Due: remark -q

Factor our ScrollSpy from Toc into separate component
  src/lib/components/TableOfContents/index.js
  src/lib/pages/content.js
  src/site/_includes/partials/toc-side.njk
  src/styles/components/_course-toc.scss
  src/styles/components/_toc.scss
Due: eslint, sass-lint -v -q"

Factor our ScrollSpy from Toc into separate component
  src/lib/components/ScrollSpy/index.js
Due: eslint

fix(sitemap): add paginated pages to sitemap, fixes #4504 (#5493)
  src/site/content/en/authors/index.njk
  src/site/content/en/authors/individual.njk
  src/site/content/en/blog/index.njk
  src/site/content/en/newsletter/index.njk
  src/site/content/en/tags/index.njk
  src/site/content/en/tags/individual.njk
Due: none

Apply suggestions from code review
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

Add d.c.c. redirects (#5518)
  redirects.yaml
Due: none

Update src/site/content/en/blog/web-on-android/index.md
  src/site/content/en/blog/web-on-android/index.md
Due: remark -q

Show only available languages in lang switcher
  src/lib/components/LanguageSelect/index.js
  src/site/_includes/partials/translation-disclaimer.njk
  src/site/content/es/es.11tydata.js
Due: eslint

lint
  src/lib/components/LanguageSelect/index.js
Due: eslint

Updates for OT
  src/site/content/en/blog/compute-pressure/index.md
Due: remark -q

chrome => about
  src/site/content/en/blog/compute-pressure/index.md
Due: remark -q

[File Handling article] Address @dway123's remarks (#5516)
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

Update hero image credit
  src/site/content/en/blog/compute-pressure/index.md
Due: remark -q

Fix \n appearing in path overview. (#5501)
  src/site/_data/i18n/paths/discoverable.yml
  src/site/_includes/path.njk
  src/styles/pages/_path.scss
Due: sass-lint -v -q"

Migrate ignore feature from d.c.c.
  .eleventyignore
  .huskyrc
  package-lock.json
  package.json
  tools/eleventyignore/index.js
  tools/isolate/index.js
Due: eslint

Compute Pressure API OT (#5421)
  src/site/content/en/blog/compute-pressure/index.md
Due: remark -q

migration from drive
  src/site/content/en/blog/css-size-adjust/index.md
Due: remark -q

Fix an issue with ignored codelabs.
  .eleventyignore
  src/site/_includes/components/CodelabsCallout.js
Due: eslint

Add better ignore script and readme update
  .eleventyignore
  README.md
  tools/eleventyignore/index.js
Due: eslint, remark -q

gitignore eleventyignore
  .eleventyignore
  .gitignore
  README.md
  package.json
  tools/eleventyignore/index.js
Due: eslint, remark -q

Acknowledge @mandymsft
  src/site/content/en/blog/pwa-url-handler/index.md
Due: remark -q

Add a better ignore script (#5524)
  .eleventyignore
  .gitignore
  .huskyrc
  README.md
  package-lock.json
  package.json
  src/site/_includes/components/CodelabsCallout.js
  tools/eleventyignore/index.js
  tools/isolate/index.js
Due: eslint, remark -q

Add fonts best practices
  src/site/content/en/fast/font-best-practices/index.md
Due: remark -q

Remove unsupported permission display scenario
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

Add fonts article to /learn-web-vitals
  src/site/_data/paths/learn-web-vitals.json
Due: none

Acknowledge @mandymsft (#5526)
  src/site/content/en/blog/pwa-url-handler/index.md
Due: remark -q

a little typo
  src/site/content/en/blog/web-otp/index.md
Due: remark -q

date
  src/site/content/en/blog/web-otp/index.md
Due: remark -q

fixing a typo
  src/site/content/en/fast/serve-responsive-images/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/app-shortcuts/index.md
Due: remark -q

Add translation date
  src/site/_includes/partials/translation-disclaimer.njk
  src/site/content/es/vitals/index.md
Due: remark -q

Remove unnecessary feedback
  src/site/content/es/vitals/index.md
Due: remark -q

Web on android update (#5517)
  src/site/content/en/blog/web-on-android/index.md
Due: remark -q

Add watcher for pattern lib
  package.json
Due: none

Linting
  src/site/_data/patterns.js
Due: eslint

adds AVIF post
  src/site/_data/authorsData.json
  src/site/content/en/blog/compress-images-avif/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
