Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Update Poki description
  src/site/content/en/blog/ready-player-web/index.md
Due: remark -q

flip livestream to day 2
  src/site/content/en/index.njk
Due: none

flip livestream to day 2 (#1892)
  src/site/content/en/index.njk
Due: none

Change "What is a good TTI" to "What is a good TBT"
  src/site/content/en/metrics/tbt/index.md
Due: remark -q

fix typo
  src/site/content/en/react/code-splitting-with-dynamic-imports-in-nextjs/index.md
Due: remark -q

fix go/bundle example for current usage (#1888)
  src/site/content/en/blog/web-bundles/index.md
Due: remark -q

fix typo (#1894)
  src/site/content/en/react/code-splitting-with-dynamic-imports-in-nextjs/index.md
Due: remark -q

Finish tabs web component
  src/lib/components/Tabs/_styles.scss
  src/lib/components/Tabs/index.js
  src/site/content/en/handbook/web-dev-components/index.md
Due: eslint, sass-lint -v -q", remark -q

Start tabset shortcodes
  .eleventy.js
  src/site/_includes/components/SelfAssessment.js
  src/site/_includes/components/Tab.js
  src/site/_includes/components/Tabset.js
  src/site/content/en/handbook/web-dev-components/index.md
Due: eslint, remark -q

Fix a few editorial issues
  src/site/content/en/metrics/cls/index.md
  src/site/content/en/metrics/user-centric-performance-metrics/index.md
Due: remark -q

Auto-size table if device is small
  src/styles/generic/_tables.scss
Due: sass-lint -v -q"

Autosize tables inline in posts
  src/styles/pages/_post.scss
Due: sass-lint -v -q"

fix: Remove dangling quote
  src/site/content/en/metrics/custom-metrics/index.md
Due: remark -q

Explain how to fix FOIT with Google fonts
  src/site/content/en/lighthouse-performance/font-display/index.md
Due: remark -q

Add info about DevTools debugging and Puppeteer testing
  src/site/content/en/blog/prefers-color-scheme/devtools-emulate.png
  src/site/content/en/blog/prefers-color-scheme/index.md
Due: remark -q

Update src/site/content/en/blog/prefers-color-scheme/index.md
  src/site/content/en/blog/prefers-color-scheme/index.md
Due: remark -q

Remove superfluous line
  src/site/content/en/blog/prefers-color-scheme/index.md
Due: remark -q

Update web-dev-components
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

Update markup-post-codelab
  src/site/content/en/handbook/markup-post-codelab/index.md
Due: remark -q

Fix typo in perception-toolkit
  src/site/content/en/blog/perception-toolkit/index.md
Due: remark -q

Don't use code character in titles and headings.
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

Fix typo in perception-toolkit (#1906)
  src/site/content/en/blog/perception-toolkit/index.md
Due: remark -q

Typo fix in blog/web-bundles
  src/site/content/en/blog/web-bundles/index.md
Due: remark -q

Fix a few editorial issues (#1897)
  src/site/content/en/metrics/cls/index.md
  src/site/content/en/metrics/user-centric-performance-metrics/index.md
Due: remark -q

Typo fix in blog/web-bundles (#1911)
  src/site/content/en/blog/web-bundles/index.md
Due: remark -q

Fix: update the Lighthouse CI url (#1890)
  src/site/content/en/fast/performance-budgets-101/index.md
Due: remark -q

Require tab labels
  src/lib/components/Tabs/index.js
  src/site/_includes/components/Tab.js
  src/site/content/en/handbook/web-dev-components/index.md
Due: eslint, remark -q

Add await-s (#1884)
  src/site/content/en/blog/periodic-background-sync/index.md
Due: remark -q

Add blockquote shortcode
  .eleventy.js
  src/site/_includes/components/Blockquote.js
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/generic/_code.scss
Due: eslint, sass-lint -v -q", remark -q

Add blockquote shortcode (#1912)
  .eleventy.js
  src/site/_includes/components/Blockquote.js
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/generic/_code.scss
Due: eslint, sass-lint -v -q", remark -q

Add wrap up text for CDS
  src/site/content/en/index.njk
Due: none

Add wrap up text for CDS (#1913)
  src/site/content/en/index.njk
Due: none

misc: update lhci to 0.3.x (#1887)
  tools/lhci/.lighthouserc
  tools/lhci/run-lighthouse-ci.sh
Due: none

Auto-overflow tables in blog-posts on small devices
  src/styles/pages/_post.scss
Due: sass-lint -v -q"

feat: add underline to links of codelab, learn and blog pages, fixes #1683
  .sasslintrc
  src/styles/generic/_links.scss
Due: sass-lint -v -q"

Fix tabs within self assessments.
  src/site/_includes/components/SelfAssessment.js
  src/site/_includes/components/Tab.js
Due: eslint

feat: toggle text-decoration state with hover
  src/styles/generic/_links.scss
Due: sass-lint -v -q"

feat: add underline to links of codelab, learn and blog pages, fixes #1683 (#1918)
  .sasslintrc
  src/styles/generic/_links.scss
Due: sass-lint -v -q"

chore: rev lighthouse-keeper version.
  src/lib/lighthouse-service.js
Due: eslint
