Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

feat(newsletters): add archived newsletters to `/newsletter`, fixes #2725 (#2740)
  .eleventy.js
  gulpfile.js
  src/lib/components/Newsletter/index.js
  src/lib/pages/newsletter.js
  src/site/_collections/newsletters.js
  src/site/_collections/paginated-newsletters.js
  src/site/_includes/components/AuthorCard.js
  src/site/_includes/components/BaseCard.js
  src/site/_includes/newsletter.njk
  src/site/_includes/partials/newsletter.njk
  src/site/_includes/partials/paged.njk
  src/site/_includes/partials/subscribe.njk
  src/site/_utils/add-pagination.js
  src/site/content/en/authors/index.njk
  src/site/content/en/index.njk
  src/site/content/en/newsletter/archive/2020/03/index.njk
  src/site/content/en/newsletter/archive/2020/03/thumbnail.jpg
  src/site/content/en/newsletter/index.njk
  src/site/content/en/newsletter/newsletter.11tydata.js
  src/site/content/pl/index.njk
  test/unit/src/site/_utils/add-pagination/index.js
  test/unit/src/site/_utils/index.js
  test/unit/src/site/index.js
Due: eslint

Add guide for Lighthouse charset audit (#2771)
  src/site/content/en/lighthouse-best-practices/charset/charset.png
  src/site/content/en/lighthouse-best-practices/charset/index.md
Due: remark -q

Fix link (#2808)
  src/site/content/en/blog/optimize-lcp/index.md
Due: remark -q

Remove use of sizes in cards. (#2801)
  src/site/_includes/components/BaseCard.js
Due: eslint

Add analytics events to measure tool. (#2794)
  src/lib/components/UrlChooser/index.js
Due: eslint

Rename hero images to purge the imgix cache. (#2797)
  src/site/content/en/blog/optimize-fid/hero2.jpg
  src/site/content/en/blog/optimize-fid/index.md
  src/site/content/en/blog/optimize-lcp/hero2.jpg
  src/site/content/en/blog/optimize-lcp/index.md
Due: remark -q

firebase loading fix (#2791)
  src/lib/fb.js
  src/lib/utils/firebase-loader.js
  test/unit/src/lib/utils/firebase-loader.js
Due: eslint

Add web audio profiling article (#2757)
  src/site/_data/contributors.js
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/1-hello-audio-worklet.jpg
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/2e-box2d.jpg
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/3e-hello-audio-worklet.png
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/4e-pulse-audio.png
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/5e-render-budget.png
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/6e-garbage-collection.png
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/7e-devtools.jpg
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/8e-devtools.png
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/hero.jpg
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/index.md
Due: eslint, remark -q

Adds optimize FID article (#2784)
  src/site/content/en/blog/optimize-fid/coverage-panel-js.png
  src/site/content/en/blog/optimize-fid/hero.png
  src/site/content/en/blog/optimize-fid/index.md
  src/site/content/en/blog/optimize-fid/lighthouse.jpg
  src/site/content/en/blog/optimize-fid/long-task.png
  src/site/content/en/blog/optimize-fid/tbt-before-after-first-party.png
Due: remark -q

load site code async, additional async firebase (#2767)
  build.js
  src/lib/analytics.js
  src/lib/bootstrap.js
  src/lib/components/Search/index.js
  src/lib/entrypoint.js
  src/lib/fb.js
  src/lib/firestore-loader.js
  src/lib/loader.js
  src/lib/pageview.js
  src/lib/utils/firebase-loader.js
  src/lib/utils/sw-remove.js
  src/site/_includes/layout.njk
  test/integration/build-test.js
  test/unit/src/lib/index.js
  test/unit/src/lib/utils/firebase-loader.js
Due: eslint

Fix publish date
  src/site/content/en/blog/optimize-lcp/index.md
Due: remark -q

Add dimensions to masthead images. (#2805)
  src/site/_includes/page.njk
Due: none

fix(web-newsletter): ensure iframe has loaded before modifying it (#2800)
  src/lib/components/Newsletter/index.js
Due: eslint

Bump date
  src/site/content/en/blog/optimize-lcp/index.md
Due: remark -q

some cleanup + revert unoptimized images (#2793)
  src/site/content/en/blog/optimize-cls/cls-graphic.svg
  src/site/content/en/blog/optimize-cls/index.md
  src/site/content/en/blog/optimize-fid/hero.jpg
  src/site/content/en/blog/optimize-fid/hero.png
  src/site/content/en/blog/optimize-fid/index.md
  src/site/content/en/blog/optimize-lcp/coverage-panel-js.png
  src/site/content/en/blog/optimize-lcp/hero.jpg
  src/site/content/en/blog/optimize-lcp/hero.png
  src/site/content/en/blog/optimize-lcp/index.md
  src/site/content/en/blog/optimize-lcp/lcp-changeify-css.png
  src/site/content/en/blog/optimize-lcp/lcp-code-splitting.png
  src/site/content/en/blog/optimize-lcp/lcp-distributions.png
  src/site/content/en/blog/optimize-lcp/lcp-minify-js.png
  src/site/content/en/blog/optimize-lcp/lcpify-js.png
  src/site/content/en/metrics/cls/index.md
Due: remark -q

Mention the SpecialAnnouncement structured data schema (#2760)
  src/site/content/en/blog/covid19/index.md
Due: remark -q

Typo fix. (#2804)
  src/site/content/en/metrics/custom-metrics/index.md
Due: remark -q

Feat/scheduled posts (#2463)
  package-lock.json
  package.json
  src/site/_collections/algolia-posts.js
  src/site/_collections/authors.js
  src/site/_collections/blog-posts-descending.js
  src/site/_collections/posts-with-lighthouse.js
  src/site/_collections/recent-blog-posts.js
  src/site/_collections/tags.js
  src/site/_drafts/_template-post/index.md
  src/site/_filters/live-posts.js
  src/site/_includes/components/BaseCard.js
  src/styles/components/_card.scss
  test/unit/src/site/_filters/capitalize.js
  test/unit/src/site/_filters/index.js
  test/unit/src/site/_filters/live-posts.js
  test/unit/src/site/index.js
Due: eslint, sass-lint -v -q", remark -q

Add explicit section IDs
  src/site/content/en/fast/fixing-website-speed-cross-functionally/index.md
Due: remark -q

chore(redirect): send users from `/subscribe` to `/newsletter`, fixes #2724 (#2796)
  src/lib/components/Actions/index.js
  src/site/_data/site.js
  src/site/content/en/_redirects.yaml
Due: eslint

Update title to match Lighthouse Report UI
  src/site/content/en/lighthouse-accessibility/heading-order/index.md
Due: remark -q

Correct links (#2819)
  src/site/content/en/blog/content-indexing-api/index.md
Due: remark -q

Merge pull request from GHSA-44p7-qmh6-3wfm
  src/site/content/en/blog/how-we-build-webdev-and-use-web-components/index.md
Due: remark -q

Fix date. (#2820)
  src/site/content/en/blog/flexbox-gap/index.md
Due: remark -q

Fix broken svg path in promises post. (#2813)
  src/site/content/en/blog/promises/index.md
Due: remark -q

New Post: Chromium Lands Flexbox Gap (#2759)
  src/site/content/en/blog/flexbox-gap/devtools-gap.png
  src/site/content/en/blog/flexbox-gap/hero.jpg
  src/site/content/en/blog/flexbox-gap/index.md
Due: remark -q

Add browser compatibility data
  src/site/content/en/lighthouse-best-practices/uses-passive-event-listeners/index.md
Due: remark -q

Fix broken posts. (#2812)
  src/site/_drafts/_template-self-assessment/index.md
  src/site/_drafts/digging-into-the-privacy-sandbox/index.md
  src/site/_drafts/intrinsic-layout-overview/index.md
  src/site/content/en/blog/cache-api-quick-guide/index.md
  src/site/content/en/blog/granular-chunking-nextjs/index.md
  src/site/content/en/blog/optimize-cls/index.md
  src/site/content/en/blog/optimize-fid/index.md
  src/site/content/en/blog/optimize-lcp/index.md
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/index.md
  src/site/content/en/blog/storage-for-the-web/index.md
  src/site/content/en/blog/test-post/index.md
  src/site/content/en/blog/why-coop-coep/index.md
  src/site/content/en/fast/extract-critical-css/index.md
  src/site/content/en/fast/how-can-performance-improve-conversion/index.md
  src/site/content/en/fast/how-to-report-metrics/index.md
  src/site/content/en/fast/third-party-javascript/index.md
  src/site/content/en/fast/use-lighthouse-for-performance-budgets/index.md
  src/site/content/en/fast/value-of-speed/index.md
  src/site/content/en/fast/what-should-you-measure-to-improve-performance/index.md
Due: remark -q

Add scheduled explainer to handbook. (#2824)
  src/site/content/en/handbook/markup-post-codelab/index.md
Due: remark -q

Fix formatting
  src/site/content/en/lighthouse-seo/meta-description/index.md
Due: remark -q

Set custom dimensions to strings. (#2834)
  src/lib/analytics.js
  src/lib/bootstrap.js
Due: eslint

Add guide for maskable icon audit (#2811)
  src/site/content/en/lighthouse-pwa/maskable-icon-audit/index.md
  src/site/content/en/lighthouse-pwa/maskable-icon-audit/maskable-icon.jpg
Due: remark -q

Flexbox gap patch (#2847)
  src/site/content/en/blog/flexbox-gap/index.md
Due: remark -q

redirect /foo => /foo/ (#2818)
  src/lib/sw.js
Due: eslint

refactor: move `site/en/images/rss-banner.png` to `src/images/rss-banner.png` (#2861)
  src/images/rss-banner.png
Due: none

Add prose why demo may fail (#2877)
  src/site/content/en/blog/image-support-for-async-clipboard/index.md
Due: remark -q

Add a post on why CommonJS modules are hard to optimize (#2822)
  src/site/content/en/blog/commonjs-larger-bundles/hero.jpg
  src/site/content/en/blog/commonjs-larger-bundles/index.md
Due: remark -q

Revisions to /read-files/ (#2832)
  src/site/content/en/blog/read-files/index.md
  src/site/content/en/blog/read-files/squoosh.png
Due: remark -q

"How to define your install strategy" guide (#2860)
  src/site/content/en/progressive-web-apps/define-install-strategy/a2hs-infobar.png
  src/site/content/en/progressive-web-apps/define-install-strategy/index.md
  src/site/content/en/progressive-web-apps/progressive-web-apps.11tydata.js
Due: eslint, remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
