Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Apply suggestions from code review
  src/site/content/en/blog/multi-screen-window-placement/index.md
Due: remark -q

Edit wording
  src/site/content/en/blog/embed-best-practices/index.md
Due: remark -q

Minor edit to Embed best practices (#6718)
  src/site/content/en/blog/embed-best-practices/index.md
Due: remark -q

[post] GUI Challenges - Building a 3D Game Menu (#6730)
  src/site/content/en/blog/building-a-3d-game-menu-component/index.md
Due: remark -q

Update article with new screenshots (#6754)
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

[Multi-screen Window Placement article] Update to reflect new API shape (#6752)
  src/site/content/en/blog/multi-screen-window-placement/index.md
Due: remark -q

Re-write the TOC to be consistent and able to support all contexts
  src/component-library/toc/toc.json
  src/component-library/toc/toc.md
  src/component-library/toc/toc.njk
  src/component-library/web-table-of-contents/web-table-of-contents.json
  src/component-library/web-table-of-contents/web-table-of-contents.md
  src/component-library/web-table-of-contents/web-table-of-contents.njk
  src/scss/blocks/_toc.scss
Due: sass-lint -v -q", remark -q

Prototype implementation on courses
  src/scss/pages/_course.scss
  src/site/_includes/partials/toc-side.njk
Due: sass-lint -v -q"

Remove extraneous closing parenthesis
  src/site/content/en/blog/whats-new-pagespeed-insights/index.md
Due: remark -q

Add DevTool support info
  src/site/content/en/blog/bfcache/index.md
Due: remark -q

adds a community remix
  src/site/content/en/blog/building-a-switch-component/index.md
Due: remark -q

update sizes for first half of doc
  src/site/content/en/learn/css/typography/index.md
Due: remark -q

Add more heights to codepens
  src/site/content/en/learn/css/typography/index.md
Due: remark -q

Remove the opt-out section
  src/site/content/en/blog/bfcache/index.md
Due: remark -q

Use consistent function signatures
  src/site/content/en/blog/bfcache/index.md
Due: remark -q

Ensure JS examples are consistent
  src/site/content/en/blog/bfcache/index.md
Due: remark -q

Replacing placeholder hero image and thumbnail + fixing some author naming.
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/mailru-cwv/index.md
Due: remark -q

add fime extension
  src/site/_includes/test-next.njk
Due: none

Update src/site/content/en/blog/mailru-cwv/index.md
  src/site/content/en/blog/mailru-cwv/index.md
Due: remark -q

Make over scroll a shared utility
  src/scss/next.scss
  src/scss/utilities/_over-scroll.scss
  src/site/_includes/course.njk
  src/site/_includes/partials/navigation-drawer-course.njk
  src/site/_includes/partials/toc-side.njk
  src/site/content/en/design-system/css-utilities.md
Due: sass-lint -v -q", remark -q

Update src/site/content/en/blog/building-a-switch-component/index.md
  src/site/content/en/blog/building-a-switch-component/index.md
Due: remark -q

Font weight tweaks
  src/scss/blocks/_toc.scss
Due: sass-lint -v -q"

Add preserved image component to replace w-screenshot
  src/component-library/preserved-img/preserved-img.json
  src/component-library/preserved-img/preserved-img.md
  src/component-library/preserved-img/preserved-img.njk
  src/component-library/preserved-img/variants/prose/prose.json
  src/component-library/preserved-img/variants/prose/prose.njk
  src/scss/_rollout.scss
  src/scss/blocks/_preserved-img.scss
  src/scss/next.scss
Due: sass-lint -v -q", remark -q

Add docs
  src/component-library/preserved-img/preserved-img.json
  src/component-library/preserved-img/preserved-img.md
  src/scss/blocks/_preserved-img.scss
Due: sass-lint -v -q", remark -q

[RU] Translations: lighthouse-performance/performance-scoring
  src/site/content/ru/lighthouse-performance/performance-scoring/index.md
Due: remark -q

Add hero image component
  src/component-library/hero-image/hero-image.json
  src/component-library/hero-image/hero-image.md
  src/component-library/hero-image/hero-image.njk
  src/scss/blocks/_hero-image.scss
  src/scss/next.scss
Due: sass-lint -v -q", remark -q

Add DevTool support info to the bfcache post (#6759)
  src/site/content/en/blog/bfcache/index.md
Due: remark -q

GUI Challenges "Switch": adds new remix (#6758)
  src/site/content/en/blog/building-a-switch-component/index.md
Due: remark -q

Update index.md
  src/site/content/en/learn/css/typography/index.md
Due: remark -q

Update font-size demo
  src/site/content/en/learn/css/typography/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
