Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Update src/site/content/en/angular/creating-pwa-with-angular-cli/index.md
  src/site/content/en/angular/creating-pwa-with-angular-cli/index.md
Due: remark -q

Add the PWA Angular post (#1339)
  src/site/content/en/angular/angular.11tydata.js
  src/site/content/en/angular/creating-pwa-with-angular-cli/home.png
  src/site/content/en/angular/creating-pwa-with-angular-cli/icon.png
  src/site/content/en/angular/creating-pwa-with-angular-cli/index.md
  src/site/content/en/angular/creating-pwa-with-angular-cli/installable.jpg
Due: eslint, remark -q

Fix stat alignment (#1336)
  src/styles/components/_stats.scss
Due: sass-lint -v -q"

Add Truebil Lite post (#1335)
  src/site/content/en/blog/truebil-lite/chunking.png
  src/site/content/en/blog/truebil-lite/contextual-prompts.png
  src/site/content/en/blog/truebil-lite/default-banners.png
  src/site/content/en/blog/truebil-lite/first-meaningful-paint.png
  src/site/content/en/blog/truebil-lite/grayscale.png
  src/site/content/en/blog/truebil-lite/hero.png
  src/site/content/en/blog/truebil-lite/index.md
  src/site/content/en/blog/truebil-lite/notification.png
  src/site/content/en/blog/truebil-lite/preconnect.png
  src/site/content/en/blog/truebil-lite/prefetch.png
Due: remark -q

New blog post: "Progressive Web Apps in multi-origin sites" (#1322)
  src/site/content/en/blog/multi-origin-pwas/hero.jpg
  src/site/content/en/blog/multi-origin-pwas/index.md
Due: remark -q

Add temp style override for w-stat changes.
  src/site/_includes/styles.njk
Due: none

Set mutli-origin pwa post to draft and update publish date.
  src/site/content/en/blog/multi-origin-pwas/index.md
Due: remark -q

Add thumbnail option and example.
  src/site/_drafts/_template-post/index.md
  src/site/_includes/components/PostCard.js
  src/site/content/en/blog/truebil-lite/index.md
  src/site/content/en/blog/truebil-lite/thumbnail.png
Due: eslint, remark -q

Add handbook notes about thumbnail.
  src/site/content/en/handbook/markup-media/index.md
  src/site/content/en/handbook/markup-post-codelab/index.md
Due: remark -q

Update src/site/content/en/handbook/markup-media/index.md
  src/site/content/en/handbook/markup-media/index.md
Due: remark -q

Add thumbnail option and example. (#1360)
  src/site/_drafts/_template-post/index.md
  src/site/_includes/components/PostCard.js
  src/site/content/en/blog/truebil-lite/index.md
  src/site/content/en/blog/truebil-lite/thumbnail.png
  src/site/content/en/handbook/markup-media/index.md
  src/site/content/en/handbook/markup-post-codelab/index.md
Due: eslint, remark -q

[b139150428]: Emerging markets illustration (#1334)
  src/site/content/en/images/collections/emerging-markets.svg
Due: none

Add collection proposal template.
  .github/ISSUE_TEMPLATE/collection_proposal.md
Due: remark -q

Declutter eleventy's console output.
  package.json
Due: none

Declutter eleventy's console output. (#1363)
  package.json
Due: none

Update index.md
  src/site/content/en/accessible/style-focus/index.md
Due: remark -q

Add thumbnail to Third party JS post
  src/site/content/en/fast/third-party-javascript/index.md
  src/site/content/en/fast/third-party-javascript/thumbnail.png
Due: remark -q

Update index.md (#1365)
  src/site/content/en/accessible/style-focus/index.md
Due: remark -q

Set updated date
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Publish multi-origin pwa post.
  src/site/content/en/blog/multi-origin-pwas/index.md
Due: remark -q

Normalize "code splitting" punctuation
  src/site/content/en/angular/get-started-optimize-angular/index.md
  src/site/content/en/angular/route-level-code-splitting-in-angular/index.md
  src/site/content/en/angular/route-preloading-in-angular/index.md
  src/site/content/en/blog/predictive-prefetching/index.md
  src/site/content/en/blog/truebil-lite/index.md
  src/site/content/en/fast/codelab-code-splitting/index.md
  src/site/content/en/fast/codelab-preload-critical-assets/index.md
  src/site/content/en/fast/incorporate-performance-budgets-into-your-build-tools/index.md
  src/site/content/en/fast/preload-critical-assets/index.md
  src/site/content/en/fast/reduce-javascript-payloads-with-code-splitting/index.md
  src/site/content/en/fast/using-bundlesize-with-travis-ci/index.md
  src/site/content/en/handbook/word-list/index.md
  src/site/content/en/lighthouse-performance/bootup-time/index.md
  src/site/content/en/lighthouse-performance/interactive/index.md
  src/site/content/en/lighthouse-performance/mainthread-work-breakdown/index.md
  src/site/content/en/lighthouse-performance/render-blocking-resources/index.md
  src/site/content/en/react/code-splitting-suspense/index.md
  src/site/content/en/react/prerender-with-react-snap/index.md
Due: remark -q

Add guidance about thumbnail images
  src/site/content/en/handbook/use-media/index.md
Due: remark -q

Fix copy-paste error
  src/site/content/en/fast/codelab-preload-critical-assets/index.md
Due: remark -q

Spell out i.e., correct URL character case
  src/site/content/en/blog/multi-origin-pwas/index.md
Due: remark -q

Fix contributing issues link
  CONTRIBUTING.md
Due: remark -q

Add by screenname to tweets
  .eleventy.js
  src/site/_filters/expand-contributors.js
  src/site/_includes/components/Actions.js
  src/site/_includes/partials/post.njk
Due: eslint

Add Intl.ListFormat polyfill
  package-lock.json
  package.json
  src/site/_includes/components/Actions.js
Due: eslint

Fix contributing issues link (#1381)
  CONTRIBUTING.md
Due: remark -q

Add "by screenname" to tweets (#1382)
  .eleventy.js
  package-lock.json
  package.json
  src/site/_filters/expand-contributors.js
  src/site/_includes/components/Actions.js
  src/site/_includes/partials/post.njk
Due: eslint

Migrate web-codelab element.
  src/lib/app.js
  src/lib/components/Codelab/_styles.scss
  src/lib/components/Codelab/index.js
  src/lib/components/_all.scss
  src/site/_includes/codelab.njk
  src/styles/pages/_codelab.scss
Due: eslint, sass-lint -v -q"

Nest styles.
  src/lib/components/Codelab/_styles.scss
Due: sass-lint -v -q"

Update src/site/content/en/blog/multi-origin-pwas/index.md
  src/site/content/en/blog/multi-origin-pwas/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
