Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Update src/site/content/en/blog/cls-web-tooling/index.md
  src/site/content/en/blog/cls-web-tooling/index.md
Due: remark -q

Apply PR feedback to translations
  src/site/content/es/blog/vitals-tools/index.md
  src/site/content/es/fast/chrome-ux-report-api/index.md
  src/site/content/es/fast/chrome-ux-report/index.md
  src/site/content/ja/blog/vitals-tools/index.md
  src/site/content/ko/blog/vitals-tools/index.md
  src/site/content/pt/blog/vitals-tools/index.md
  src/site/content/ru/blog/vitals-tools/index.md
  src/site/content/zh/blog/vitals-tools/index.md
Due: remark -q

Update with new additions to DCC CrUX docs
  src/site/content/en/fast/chrome-ux-report-api/index.md
  src/site/content/en/fast/chrome-ux-report-bigquery/index.md
  src/site/content/es/fast/chrome-ux-report-api/index.md
Due: remark -q

add initial spaces schedule, add carol to authors
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/spaces/2022-08-04-ui-ama/index.md
  src/site/content/en/spaces/2022-08-09-new-on-web/index.md
  src/site/content/en/spaces/2022-08-11-feature-fundamentals/index.md
  src/site/content/en/spaces/2022-08-16-devs-telling-us/index.md
  src/site/content/en/spaces/2022-08-18-web-perf-ama/index.md
  src/site/content/en/spaces/2022-08-23-modern-web/index.md
Due: remark -q

Fix link to obsolete document
  src/site/content/en/accessible/color-and-contrast-accessibility/index.md
Due: remark -q

Update label
  src/site/content/en/blog/multi-screen-window-placement/index.md
Due: remark -q

Add open directory pattern
  src/site/content/en/patterns/files/open-a-directory/assets/body.html
  src/site/content/en/patterns/files/open-a-directory/assets/script.js
  src/site/content/en/patterns/files/open-a-directory/assets/style.css
  src/site/content/en/patterns/files/open-a-directory/demo.md
  src/site/content/en/patterns/files/open-a-directory/index.md
Due: eslint, remark -q

Apply suggestions from code review
  src/site/content/en/blog/godaddy/index.md
Due: remark -q

Update src/site/content/en/blog/godaddy/index.md
  src/site/content/en/blog/godaddy/index.md
Due: remark -q

Adds the GoDaddy case study to the web.dev blog. (#8286)
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/godaddy/index.md
Due: remark -q

Add save a file pattern
  src/site/content/en/patterns/clipboard/copy-text/assets/body.html
  src/site/content/en/patterns/clipboard/copy-text/assets/script.js
  src/site/content/en/patterns/files/open-a-directory/index.md
  src/site/content/en/patterns/files/open-one-or-multiple-files/assets/script.js
  src/site/content/en/patterns/files/save-a-file/assets/body.html
  src/site/content/en/patterns/files/save-a-file/assets/script.js
  src/site/content/en/patterns/files/save-a-file/assets/style.css
  src/site/content/en/patterns/files/save-a-file/demo.md
  src/site/content/en/patterns/files/save-a-file/index.md
Due: eslint, remark -q

Fixes markdown formatting issue
  src/site/content/en/blog/webaudio-intro/index.md
Due: remark -q

adds identity, speakers for performance, swaps order
  src/site/content/en/spaces/2022-08-04-ui-ama/index.md
  src/site/content/en/spaces/2022-08-09-new-on-web/index.md
  src/site/content/en/spaces/2022-08-11-feature-fundamentals/index.md
  src/site/content/en/spaces/2022-08-16-devs-telling-us/index.md
  src/site/content/en/spaces/2022-08-18-web-perf-ama/index.md
  src/site/content/en/spaces/2022-08-25-/index.md
Due: remark -q

added times to spaces
  src/site/_includes/spaces.njk
  src/site/content/en/spaces/2022-08-04-ui-ama/index.md
  src/site/content/en/spaces/2022-08-09-new-on-web/index.md
  src/site/content/en/spaces/2022-08-11-feature-fundamentals/index.md
  src/site/content/en/spaces/2022-08-16-devs-telling-us/index.md
  src/site/content/en/spaces/2022-08-18-web-perf-ama/index.md
  src/site/content/en/spaces/2022-08-23-modern-web/index.md
  src/site/content/en/spaces/2022-08-25-identity/index.md
Due: remark -q

remove speaker from performance
  src/site/content/en/spaces/2022-08-18-web-perf-ama/index.md
Due: remark -q

remove jeremy from performance session
  src/site/content/en/spaces/2022-08-18-web-perf-ama/index.md
Due: remark -q

Small grammar fix (#8294)
  src/site/content/en/progressive-web-apps/what-are-pwas/index.md
Due: remark -q

fix `backdrop-image` typo (#8300)
  src/site/content/en/blog/backdrop-filter/index.md
  src/site/content/es/blog/backdrop-filter/index.md
Due: remark -q

adds custom calendar links
  src/site/_includes/spaces.njk
  src/site/content/en/spaces/2022-08-04-ui-ama/index.md
  src/site/content/en/spaces/2022-08-09-new-on-web/index.md
  src/site/content/en/spaces/2022-08-11-feature-fundamentals/index.md
  src/site/content/en/spaces/2022-08-16-devs-telling-us/index.md
  src/site/content/en/spaces/2022-08-18-web-perf-ama/index.md
  src/site/content/en/spaces/2022-08-23-modern-web/index.md
  src/site/content/en/spaces/2022-08-25-identity/index.md
Due: remark -q

new header copy
  src/site/content/en/spaces/index.md
Due: remark -q

fixes carol as host
  src/site/_data/authorsData.json
  src/site/content/en/spaces/2022-08-16-devs-telling-us/index.md
Due: remark -q

update to PT
  src/site/content/en/spaces/2022-08-04-ui-ama/index.md
  src/site/content/en/spaces/2022-08-09-new-on-web/index.md
  src/site/content/en/spaces/2022-08-11-feature-fundamentals/index.md
  src/site/content/en/spaces/2022-08-16-devs-telling-us/index.md
  src/site/content/en/spaces/2022-08-18-web-perf-ama/index.md
  src/site/content/en/spaces/2022-08-23-modern-web/index.md
  src/site/content/en/spaces/2022-08-25-identity/index.md
Due: remark -q

removed host until confirmation
  src/site/content/en/spaces/2022-08-09-new-on-web/index.md
Due: remark -q

update 2 timezones
  src/site/content/en/spaces/2022-08-11-feature-fundamentals/index.md
  src/site/content/en/spaces/2022-08-25-identity/index.md
Due: remark -q

Update demo URL for cross-origin isolation
  src/site/content/de/secure/cross-origin-isolation-guide/index.md
  src/site/content/en/secure/cross-origin-isolation-guide/index.md
  src/site/content/en/secure/security-headers/index.md
  src/site/content/es/secure/cross-origin-isolation-guide/index.md
  src/site/content/es/secure/security-headers/index.md
  src/site/content/fr/secure/cross-origin-isolation-guide/index.md
  src/site/content/ja/blog/coop-coep/index.md
  src/site/content/ja/secure/cross-origin-isolation-guide/index.md
  src/site/content/ko/blog/coop-coep/index.md
  src/site/content/ko/secure/cross-origin-isolation-guide/index.md
  src/site/content/pt/secure/cross-origin-isolation-guide/index.md
  src/site/content/pt/secure/security-headers/index.md
  src/site/content/ru/blog/coop-coep/index.md
  src/site/content/ru/secure/cross-origin-isolation-guide/index.md
  src/site/content/zh/blog/coop-coep/index.md
  src/site/content/zh/secure/cross-origin-isolation-guide/index.md
Due: remark -q

fix markup
  src/site/content/en/secure/same-site-same-origin/index.md
Due: remark -q

Just a test
  src/site/content/en/blog/gde-focus-helpdev/index.md
Due: remark -q

Is this breaking the build?
  .cloudbuild/deploy.yaml
Due: none

Is this breaking the build? (#8366)
  .cloudbuild/deploy.yaml
Due: none

Keep trying!
  .cloudbuild/deploy.yaml
Due: none

Keep trying! (#8367)
  .cloudbuild/deploy.yaml
Due: none

Update demo URL for cross-origin isolation (#8363)
  src/site/content/de/secure/cross-origin-isolation-guide/index.md
  src/site/content/en/secure/cross-origin-isolation-guide/index.md
  src/site/content/en/secure/security-headers/index.md
  src/site/content/es/secure/cross-origin-isolation-guide/index.md
  src/site/content/es/secure/security-headers/index.md
  src/site/content/fr/secure/cross-origin-isolation-guide/index.md
  src/site/content/ja/blog/coop-coep/index.md
  src/site/content/ja/secure/cross-origin-isolation-guide/index.md
  src/site/content/ko/blog/coop-coep/index.md
  src/site/content/ko/secure/cross-origin-isolation-guide/index.md
  src/site/content/pt/secure/cross-origin-isolation-guide/index.md
  src/site/content/pt/secure/security-headers/index.md
  src/site/content/ru/blog/coop-coep/index.md
  src/site/content/ru/secure/cross-origin-isolation-guide/index.md
  src/site/content/zh/blog/coop-coep/index.md
  src/site/content/zh/secure/cross-origin-isolation-guide/index.md
Due: remark -q

Another try
  .cloudbuild/deploy.yaml
Due: none

Another try (#8368)
  .cloudbuild/deploy.yaml
Due: none

Revert "Use authors data for Spaces hosts (#8353)"
  src/site/_includes/spaces.njk
  src/site/content/en/spaces/_example/index.md
  src/site/content/en/spaces/_example_ended/index.md
Due: remark -q

Go back to old max_old_space_size
  .cloudbuild/deploy.yaml
Due: none

Revert potentially breaking commits (#8369)
  .cloudbuild/deploy.yaml
  src/site/_includes/spaces.njk
  src/site/content/en/spaces/_example/index.md
  src/site/content/en/spaces/_example_ended/index.md
Due: remark -q

Add app shortcuts pattern
  src/site/content/en/patterns/advanced-apps/shortcuts/assets/body.html
  src/site/content/en/patterns/advanced-apps/shortcuts/assets/manifest.json
  src/site/content/en/patterns/advanced-apps/shortcuts/assets/script.js
  src/site/content/en/patterns/advanced-apps/shortcuts/blue.html
  src/site/content/en/patterns/advanced-apps/shortcuts/demo.njk
  src/site/content/en/patterns/advanced-apps/shortcuts/icons/blue.png
  src/site/content/en/patterns/advanced-apps/shortcuts/icons/favicon.png
  src/site/content/en/patterns/advanced-apps/shortcuts/icons/red.png
  src/site/content/en/patterns/advanced-apps/shortcuts/index.md
  src/site/content/en/patterns/advanced-apps/shortcuts/red.html
  src/site/content/en/patterns/advanced-apps/shortcuts/sw.js
Due: eslint, remark -q

Add css-individual-transform-properties blogpost
  src/site/content/en/blog/css-individual-transform-properties/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/godaddy/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
