Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Update src/site/content/en/blog/window-controls-overlay/index.md
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

Updated updated date
  src/site/content/en/blog/floc/index.md
Due: remark -q

Style changes
  src/site/content/en/blog/cors-rfc1918-feedback/index.md
Due: remark -q

Update Chrome + Edge release status for Declarative Shadow DOM (#5088)
  src/site/content/en/blog/declarative-shadow-dom/index.md
Due: remark -q

Update index.md (#5078)
  src/site/content/en/lighthouse-performance/font-display/index.md
Due: remark -q

Style changes
  src/site/content/en/fast/browser-level-image-lazy-loading/index.md
Due: remark -q

Add file
  src/site/content/en/blog/mediastreamtrack-insertable-media-processing/index.md
Due: remark -q

Add typings to macros
  src/site/_includes/macros/icon.njk
Due: none

Update comment
  src/site/_includes/partials/course-cards.njk
Due: none

fix(subscribe): import subscribe element, fixes #5015
  src/lib/pages/home.js
  src/site/_includes/homepage.njk
  src/site/content/en/newsletter/index.njk
Due: eslint

remove install crit change (#5069)
  src/site/content/en/progressive-web-apps/install-criteria/index.md
Due: remark -q

Added survey URL
  src/site/content/en/blog/2021-scroll-survey/index.md
Due: remark -q

localize course title in header and sidebar
  src/site/_includes/partials/header-course.njk
  src/site/_includes/partials/navigation-drawer-course.njk
Due: none

New Post: 2021 Scroll Survey (#4655)
  src/site/content/en/blog/2021-scroll-survey/index.md
Due: remark -q

Hide courses on learn page.
  src/site/_data/courses/css/meta.yml
  src/site/_data/site.js
  src/site/_includes/partials/course-cards.njk
  src/site/content/en/learn/index.njk
Due: eslint

clean up macro imports
  src/site/_includes/partials/header-course.njk
  src/site/_includes/partials/navigation-drawer-course.njk
Due: none

Clarified information about inclusion in FLoC calculation (#5091)
  src/site/content/en/blog/floc/index.md
Due: remark -q

fix(subscribe): import subscribe element, fixes #5015 (#5094)
  src/lib/pages/home.js
  src/site/_includes/homepage.njk
  src/site/content/en/newsletter/index.njk
Due: eslint

build(gulp): refactor gulpfile into tasks, fixes #3823
  gulp-tasks/copy-content-assets.js
  gulp-tasks/copy-default-locale.js
  gulp-tasks/copy-fonts.js
  gulp-tasks/copy-global-images.js
  gulp-tasks/copy-misc.js
  gulp-tasks/utils.js
  gulpfile.js
  package-lock.json
  package.json
Due: eslint

Add course card to /learn/ page (#5063)
  src/images/courses/css/background.svg
  src/images/courses/css/logo.svg
  src/images/courses/css/thumbnail.svg
  src/images/courses/learn-css.svg
  src/site/_data/courses/css/meta.yml
  src/site/_data/helpers.js
  src/site/_data/i18n/courses.yml
  src/site/_data/i18n/learn.yml
  src/site/_data/site.js
  src/site/_includes/macros/icon.njk
  src/site/_includes/partials/course-cards.njk
  src/site/_includes/partials/course-gradient-title.njk
  src/site/_includes/partials/header-course.njk
  src/site/_includes/partials/navigation-drawer-course.njk
  src/site/content/en/learn/index.njk
  src/styles/components/_all.scss
  src/styles/components/_card.scss
  src/styles/components/_course-card.scss
  src/styles/components/_drawer-course.scss
  src/styles/components/_gradient-text.scss
  src/styles/components/_header-course.scss
  src/styles/components/_layouts.scss
  src/styles/components/_learn-section.scss
Due: eslint, sass-lint -v -q"

Learn CSS Inheritance (#5020)
  src/site/content/en/learn/css/inheritance/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/bootup-time/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/critical-request-chains/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/dom-size/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/efficient-animated-content/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/estimated-input-latency/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/first-contentful-paint/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/first-cpu-idle/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/first-meaningful-paint/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/font-display/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/interactive/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/lighthouse-largest-contentful-paint/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/lighthouse-max-potential-fid/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/lighthouse-total-blocking-time/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/mainthread-work-breakdown/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/non-composited-animations/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/offscreen-images/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/performance-scoring/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/redirects/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
