Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

fix bundles path
  gulpfile.js
  src/lib/webcomponents-config.js
Due: eslint

don't discard dist/lib
  .gcloudignore
Due: none

Edge loading fixes
  src/lib/utils/router.js
  src/lib/utils/underscore-import-polyfill.js
Due: eslint

Add Next.js dynamic imports and update the prefetching post
  src/site/content/en/react/nextjs-dynamic-imports/index.md
  src/site/content/en/react/nextjs-dynamic-imports/loading.png
  src/site/content/en/react/nextjs-dynamic-imports/network1.png
  src/site/content/en/react/nextjs-dynamic-imports/network2.png
  src/site/content/en/react/nextjs-dynamic-imports/network3.png
  src/site/content/en/react/nextjs-dynamic-imports/network4.png
  src/site/content/en/react/nextjs-route-prefetching/index.md
  src/site/content/en/react/react.11tydata.js
Due: eslint, remark -q

Rewrap text.
  src/site/content/en/react/nextjs-dynamic-imports/index.md
Due: remark -q

Fix curly quotes
  src/site/content/en/react/nextjs-route-prefetching/index.md
Due: remark -q

Add ad speed blog post and its authors.
  src/site/_data/contributors.json
  src/site/content/en/blog/fast-ads-matter/ad-latency-injected-vs-impressions-change.svg
  src/site/content/en/blog/fast-ads-matter/ad-latency-injected-vs-viewability-rate-change.svg
  src/site/content/en/blog/fast-ads-matter/desktop-leaderboard.svg
  src/site/content/en/blog/fast-ads-matter/index.md
  src/site/content/en/blog/fast-ads-matter/mobile-banner.svg
  src/site/content/en/images/authors/gernberg.jpg
  src/site/content/en/images/authors/gernberg@2x.jpg
  src/site/content/en/images/authors/jimper.jpg
  src/site/content/en/images/authors/jimper@2x.jpg
  src/site/content/en/images/authors/robhazan.jpg
  src/site/content/en/images/authors/robhazan@2x.jpg
  src/site/content/en/images/authors/thebengeu.jpg
  src/site/content/en/images/authors/thebengeu@2x.jpg
Due: remark -q

Format the post
  src/site/content/en/blog/fast-ads-matter/index.md
Due: remark -q

Prepend compression to handlers array.
  server.js
Due: eslint

Add contributor data
  src/site/_data/contributors.json
Due: none

Contrib data. Avoid using 'check out'
  src/site/content/en/notifications/codelab-notifications-get-started/index.md
Due: remark -q

Use compression on dev server. (#1761)
  package-lock.json
  package.json
  server.js
Due: eslint

Add Lighthouse CI (#1757)
  .gitignore
  .travis.yml
  package.json
  tools/lhci/.lighthouserc
  tools/lhci/run-lighthouse-ci.sh
Due: none

Fixes #1766. Set max-width on videos.
  src/styles/generic/_all.scss
  src/styles/generic/_video.scss
Due: sass-lint -v -q"

Fixes #1766. Set max-width on videos. (#1768)
  src/styles/generic/_all.scss
  src/styles/generic/_video.scss
Due: sass-lint -v -q"

copy update
  src/site/content/en/measure/index.njk
Due: none

More unsupported browser fixes (#1762)
  .gcloudignore
  build.js
  gulpfile.js
  src/lib/bootstrap-config.js
  src/lib/bootstrap.js
  src/lib/utils/router.js
  src/lib/utils/underscore-import-polyfill.js
  src/lib/webcomponents-config.js
  src/site/content/en/measure/index.njk
  src/styles/components/_page-header.scss
Due: eslint, sass-lint -v -q"

Fix RSS authors.
  src/site/content/en/feed.njk
Due: none

Fix RSS authors. (#1773)
  src/site/content/en/feed.njk
Due: none

Update src/site/content/en/notifications/use-push-notifications-to-engage-users/index.md
  src/site/content/en/notifications/use-push-notifications-to-engage-users/index.md
Due: remark -q

Update src/site/content/en/react/nextjs-dynamic-imports/index.md
  src/site/content/en/react/nextjs-dynamic-imports/index.md
Due: remark -q

Fix typo spotted by @kyarik
  src/site/content/en/notifications/use-push-notifications-to-engage-users/index.md
Due: remark -q

Update Glitch URLs
  src/site/content/en/react/nextjs-dynamic-imports/index.md
Due: remark -q

Use SASS variables
  src/styles/components/_callouts.scss
  src/styles/components/_self-assessment-hint.scss
Due: sass-lint -v -q"

Add firebase config to build.js
  build.js
  src/lib/fb.js
  src/site/_data/site.js
Due: eslint

Add firebase config to build.js (#1775)
  build.js
  src/lib/fb.js
  src/site/_data/site.js
Due: eslint

Add images
  src/site/content/en/notifications/use-push-notifications-to-engage-users/index.md
  src/site/content/en/notifications/use-push-notifications-to-engage-users/predicaments-android.png
  src/site/content/en/notifications/use-push-notifications-to-engage-users/predicaments-macbook.png
Due: remark -q

Added image optimization survey
  src/site/content/en/blog/image-optimization-survey/dimensions-if-not.jpg
  src/site/content/en/blog/image-optimization-survey/dimensions.jpg
  src/site/content/en/blog/image-optimization-survey/framework-or-library-which.jpg
  src/site/content/en/blog/image-optimization-survey/framework-or-library.jpg
  src/site/content/en/blog/image-optimization-survey/index.md
  src/site/content/en/blog/image-optimization-survey/lazyload-if-not.jpg
  src/site/content/en/blog/image-optimization-survey/lazyload.jpg
  src/site/content/en/blog/image-optimization-survey/picture-if-not.jpg
  src/site/content/en/blog/image-optimization-survey/picture.jpg
  src/site/content/en/blog/image-optimization-survey/platform-or-cms-which.jpg
  src/site/content/en/blog/image-optimization-survey/platform-or-cms.jpg
  src/site/content/en/blog/image-optimization-survey/png-if-not.jpg
  src/site/content/en/blog/image-optimization-survey/png.jpg
  src/site/content/en/blog/image-optimization-survey/sector.jpg
  src/site/content/en/blog/image-optimization-survey/service-or-cdn-which.jpg
  src/site/content/en/blog/image-optimization-survey/service-or-cdn.jpg
  src/site/content/en/blog/image-optimization-survey/srcset-if-not.jpg
  src/site/content/en/blog/image-optimization-survey/srcset.jpg
  src/site/content/en/blog/image-optimization-survey/webp-if-not.jpg
  src/site/content/en/blog/image-optimization-survey/webp.jpg
Due: remark -q

Remove incomplete codelab
  src/site/content/en/notifications/use-push-notifications-to-engage-users/index.md
Due: remark -q

Re-staging for review
  src/site/content/en/notifications/codelab-notifications-get-started/index.md
  src/site/content/en/notifications/codelab-notifications-service-worker/index.md
  src/site/content/en/notifications/use-push-notifications-to-engage-users/index.md
  src/site/content/en/notifications/use-push-notifications-to-engage-users/predicaments-android.png
  src/site/content/en/notifications/use-push-notifications-to-engage-users/predicaments-macbook.png
Due: remark -q

Fixed linting erros
  src/site/content/en/blog/image-optimization-survey/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
