Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Use the right property for thumbnails... (#6670)
  src/site/_includes/homepage-next.njk
Due: none

Remove stale list of APIs, replace with links to tracker
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

No please
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Fix duplicate heading
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Add logo, no underlines in buttons
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Shorter button texts, remove aside
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Adds author credit
  src/site/content/en/learn/pwa/conclusion/index.md
  src/site/content/en/learn/pwa/index.md
Due: remark -q

image fixes
  src/site/content/en/blog/whats-new-pagespeed-insights/index.md
Due: remark -q

Update src/site/content/en/blog/fugu-status/index.md
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Copy edits
  src/site/content/en/blog/whats-new-pagespeed-insights/index.md
Due: remark -q

Image fix
  src/site/content/en/blog/whats-new-pagespeed-insights/index.md
Due: remark -q

Move image up and float left, add case study examples
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Adds author credit (#6672)
  src/site/content/en/learn/pwa/conclusion/index.md
  src/site/content/en/learn/pwa/index.md
Due: remark -q

edits
  src/site/content/en/blog/whats-new-pagespeed-insights/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Tooling updates post (PSI, /measure) (#6662)
  src/site/content/en/blog/whats-new-pagespeed-insights/index.md
Due: remark -q

fix search z0index
  src/scss/_rollout.scss
Due: sass-lint -v -q"

fix search z0index (#6674)
  src/scss/_rollout.scss
Due: sass-lint -v -q"

update
  src/site/content/en/index.md
Due: remark -q

banner
  src/site/_data/site.js
  src/site/_includes/partials/banner.njk
Due: eslint

lint
  src/site/_data/site.js
Due: eslint

update (#6675)
  src/site/_data/site.js
  src/site/_includes/partials/banner.njk
  src/site/content/en/index.md
Due: eslint, remark -q

[Fugu Status article] Remove stale list of APIs, replace with links to tracker (#6671)
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

lh-flow: fix URL in the warm-load example
  src/site/content/en/blog/lighthouse-user-flows/index.md
Due: remark -q

Spotted a typo in the feedback section
  src/site/content/en/blog/responsiveness/index.md
Due: remark -q

Add paragraph
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Revert "update (#6675)"
  src/site/_data/site.js
  src/site/_includes/partials/banner.njk
  src/site/content/en/index.md
Due: eslint, remark -q

Revert "update (#6675)" (#6681)
  src/site/_data/site.js
  src/site/_includes/partials/banner.njk
  src/site/content/en/index.md
Due: eslint, remark -q

CDS links post
  src/site/content/en/blog/cds2021-updates/index.md
Due: remark -q

learn-design-internationalization: change `lang` to `hreflang`
  src/site/content/en/learn/design/internationalization/index.md
Due: remark -q

Fix typos in 'New capabilities status'.
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

extra para now links are up.
  src/site/content/en/blog/cds2021-updates/index.md
Due: remark -q

Fix italic formatting for "fill"
  src/site/content/en/blog/image-component/index.md
Due: remark -q

Refine OT description.
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

adds video
  src/site/content/en/blog/cds2021-updates/index.md
Due: remark -q
