Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Sneak in styles while we wait on devsite.
  src/site/_includes/styles.njk
Due: none

Update meta-description post
  src/site/content/en/lighthouse-seo/meta-description/index.md
Due: remark -q

Update link-text post
  src/site/content/en/lighthouse-seo/link-text/index.md
Due: remark -q

Update document-title post
  src/site/content/en/lighthouse-accessibility/document-title/index.md
  src/site/content/en/lighthouse-seo/meta-description/index.md
Due: remark -q

CONTRIBUTE.MD
  CONTRIBUTING.md
Due: remark -q

CONTRIBUTOR PROFILE
  src/site/_data/contributors.json
Due: none

README.MD
  README.md
Due: remark -q

Delete LICENSE
  LICENSE
Due: none

LICENCE
  LICENSE
Due: none

LICENSE.MD
  LICENSE
Due: none

update axe links to axe 3.3
  src/site/content/en/lighthouse-accessibility/accesskeys/index.md
  src/site/content/en/lighthouse-accessibility/aria-allowed-attr/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-attr/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-children/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-parent/index.md
  src/site/content/en/lighthouse-accessibility/aria-roles/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr-value/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr/index.md
  src/site/content/en/lighthouse-accessibility/audio-caption/index.md
  src/site/content/en/lighthouse-accessibility/button-name/index.md
  src/site/content/en/lighthouse-accessibility/bypass/index.md
  src/site/content/en/lighthouse-accessibility/color-contrast/index.md
  src/site/content/en/lighthouse-accessibility/definition-list/index.md
  src/site/content/en/lighthouse-accessibility/dlitem/index.md
  src/site/content/en/lighthouse-accessibility/document-title/index.md
  src/site/content/en/lighthouse-accessibility/duplicate-id/index.md
  src/site/content/en/lighthouse-accessibility/frame-title/index.md
  src/site/content/en/lighthouse-accessibility/html-has-lang/index.md
  src/site/content/en/lighthouse-accessibility/html-lang-valid/index.md
  src/site/content/en/lighthouse-accessibility/image-alt/index.md
  src/site/content/en/lighthouse-accessibility/input-image-alt/index.md
  src/site/content/en/lighthouse-accessibility/label/index.md
  src/site/content/en/lighthouse-accessibility/layout-table/index.md
  src/site/content/en/lighthouse-accessibility/link-name/index.md
  src/site/content/en/lighthouse-accessibility/list/index.md
  src/site/content/en/lighthouse-accessibility/listitem/index.md
  src/site/content/en/lighthouse-accessibility/meta-refresh/index.md
  src/site/content/en/lighthouse-accessibility/meta-viewport/index.md
  src/site/content/en/lighthouse-accessibility/object-alt/index.md
  src/site/content/en/lighthouse-accessibility/tabindex/index.md
  src/site/content/en/lighthouse-accessibility/td-headers-attr/index.md
  src/site/content/en/lighthouse-accessibility/th-has-data-cells/index.md
  src/site/content/en/lighthouse-accessibility/valid-lang/index.md
  src/site/content/en/lighthouse-accessibility/video-caption/index.md
  src/site/content/en/lighthouse-accessibility/video-description/index.md
Due: remark -q

'List of' link text
  src/site/content/en/lighthouse-accessibility/accesskeys/index.md
  src/site/content/en/lighthouse-accessibility/aria-allowed-attr/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-attr/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-children/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-parent/index.md
  src/site/content/en/lighthouse-accessibility/aria-roles/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr-value/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr/index.md
  src/site/content/en/lighthouse-accessibility/audio-caption/index.md
  src/site/content/en/lighthouse-accessibility/button-name/index.md
  src/site/content/en/lighthouse-accessibility/bypass/index.md
  src/site/content/en/lighthouse-accessibility/color-contrast/index.md
  src/site/content/en/lighthouse-accessibility/definition-list/index.md
  src/site/content/en/lighthouse-accessibility/dlitem/index.md
  src/site/content/en/lighthouse-accessibility/document-title/index.md
  src/site/content/en/lighthouse-accessibility/duplicate-id/index.md
  src/site/content/en/lighthouse-accessibility/frame-title/index.md
  src/site/content/en/lighthouse-accessibility/html-has-lang/index.md
  src/site/content/en/lighthouse-accessibility/html-lang-valid/index.md
  src/site/content/en/lighthouse-accessibility/image-alt/index.md
  src/site/content/en/lighthouse-accessibility/input-image-alt/index.md
  src/site/content/en/lighthouse-accessibility/label/index.md
  src/site/content/en/lighthouse-accessibility/layout-table/index.md
  src/site/content/en/lighthouse-accessibility/link-name/index.md
  src/site/content/en/lighthouse-accessibility/list/index.md
  src/site/content/en/lighthouse-accessibility/listitem/index.md
  src/site/content/en/lighthouse-accessibility/meta-refresh/index.md
  src/site/content/en/lighthouse-accessibility/meta-viewport/index.md
  src/site/content/en/lighthouse-accessibility/object-alt/index.md
  src/site/content/en/lighthouse-accessibility/tabindex/index.md
  src/site/content/en/lighthouse-accessibility/td-headers-attr/index.md
  src/site/content/en/lighthouse-accessibility/th-has-data-cells/index.md
  src/site/content/en/lighthouse-accessibility/valid-lang/index.md
  src/site/content/en/lighthouse-accessibility/video-caption/index.md
  src/site/content/en/lighthouse-accessibility/video-description/index.md
Due: remark -q

Update hreflang post
  src/site/content/en/lighthouse-seo/hreflang/index.md
Due: remark -q

Add banner to landing pages.
  src/site/content/en/about/index.njk
  src/site/content/en/blog/index.njk
  src/site/content/en/learn/index.njk
  src/site/content/en/measure/index.njk
Due: none

Add updated-by dates
  src/site/content/en/lighthouse-accessibility/document-title/index.md
  src/site/content/en/lighthouse-pwa/viewport/index.md
  src/site/content/en/lighthouse-seo/hreflang/index.md
  src/site/content/en/lighthouse-seo/http-status-code/index.md
  src/site/content/en/lighthouse-seo/is-crawable/index.md
  src/site/content/en/lighthouse-seo/link-text/index.md
  src/site/content/en/lighthouse-seo/meta-description/index.md
  src/site/content/en/lighthouse-seo/plugins/index.md
  src/site/content/en/lighthouse-seo/robots-txt/index.md
  src/site/content/en/lighthouse-seo/structured-data/index.md
  src/site/content/en/lighthouse-seo/tap-targets/index.md
Due: remark -q

Add guidance about thumbnail images (#1379)
  src/site/content/en/handbook/use-media/index.md
Due: remark -q

Updates based on feedback.
  .github/ISSUE_TEMPLATE/collection_proposal.md
  .github/ISSUE_TEMPLATE/content_proposal.md
Due: remark -q

Add collection proposal template. (#1362)
  .github/ISSUE_TEMPLATE/collection_proposal.md
  .github/ISSUE_TEMPLATE/content_proposal.md
Due: remark -q

Add tag overrides.
  src/site/content/en/accessible/index.njk
  src/site/content/en/angular/index.njk
  src/site/content/en/blog/index.njk
  src/site/content/en/discoverable/index.njk
  src/site/content/en/fast/index.njk
  src/site/content/en/handbook/handbook.11tydata.js
  src/site/content/en/installable/index.njk
  src/site/content/en/lighthouse-accessibility/index.njk
  src/site/content/en/lighthouse-best-practices/index.njk
  src/site/content/en/lighthouse-performance/index.njk
  src/site/content/en/lighthouse-pwa/index.njk
  src/site/content/en/lighthouse-seo/index.njk
  src/site/content/en/react/index.njk
  src/site/content/en/reliable/index.njk
  src/site/content/en/secure/index.njk
Due: eslint

Add tag overrides. (#1419)
  src/site/content/en/accessible/index.njk
  src/site/content/en/angular/index.njk
  src/site/content/en/blog/index.njk
  src/site/content/en/discoverable/index.njk
  src/site/content/en/fast/index.njk
  src/site/content/en/handbook/handbook.11tydata.js
  src/site/content/en/installable/index.njk
  src/site/content/en/lighthouse-accessibility/index.njk
  src/site/content/en/lighthouse-best-practices/index.njk
  src/site/content/en/lighthouse-performance/index.njk
  src/site/content/en/lighthouse-pwa/index.njk
  src/site/content/en/lighthouse-seo/index.njk
  src/site/content/en/react/index.njk
  src/site/content/en/reliable/index.njk
  src/site/content/en/secure/index.njk
Due: eslint

Minor fixes to tap-targets
  src/site/content/en/lighthouse-seo/tap-targets/index.md
Due: remark -q

Update screenshots
  src/site/content/en/lighthouse-accessibility/document-title/document-title.png
  src/site/content/en/lighthouse-accessibility/document-title/index.md
  src/site/content/en/lighthouse-pwa/viewport/index.md
  src/site/content/en/lighthouse-pwa/viewport/viewport.png
  src/site/content/en/lighthouse-seo/canonical/canonical.png
  src/site/content/en/lighthouse-seo/canonical/index.md
  src/site/content/en/lighthouse-seo/hreflang/hreflang.png
  src/site/content/en/lighthouse-seo/hreflang/index.md
  src/site/content/en/lighthouse-seo/http-status-code/http-status-code.png
  src/site/content/en/lighthouse-seo/http-status-code/index.md
  src/site/content/en/lighthouse-seo/is-crawable/is-crawable.png
  src/site/content/en/lighthouse-seo/link-text/index.md
  src/site/content/en/lighthouse-seo/link-text/link-text.png
  src/site/content/en/lighthouse-seo/meta-description/index.md
  src/site/content/en/lighthouse-seo/meta-description/meta-description.png
  src/site/content/en/lighthouse-seo/plugins/index.md
  src/site/content/en/lighthouse-seo/plugins/plugins.png
  src/site/content/en/lighthouse-seo/robots-txt/index.md
  src/site/content/en/lighthouse-seo/robots-txt/robots-txt.png
Due: remark -q

Add redirects for /discoverable
  src/site/content/en/_redirects.yaml
Due: none

Add note about GH Pages to http-status-code
  src/site/content/en/lighthouse-seo/http-status-code/index.md
Due: remark -q

watch scss for changes
  package.json
Due: none

Add an intro to structured-data
  src/site/content/en/lighthouse-seo/structured-data/index.md
Due: remark -q

watch scss for changes (#1425)
  package.json
Due: none

remove 'list of' links
  src/site/content/en/lighthouse-accessibility/accesskeys/index.md
  src/site/content/en/lighthouse-accessibility/aria-allowed-attr/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-attr/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-children/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-parent/index.md
  src/site/content/en/lighthouse-accessibility/aria-roles/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr-value/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr/index.md
  src/site/content/en/lighthouse-accessibility/audio-caption/index.md
  src/site/content/en/lighthouse-accessibility/button-name/index.md
  src/site/content/en/lighthouse-accessibility/bypass/index.md
  src/site/content/en/lighthouse-accessibility/color-contrast/index.md
  src/site/content/en/lighthouse-accessibility/definition-list/index.md
  src/site/content/en/lighthouse-accessibility/dlitem/index.md
  src/site/content/en/lighthouse-accessibility/document-title/index.md
  src/site/content/en/lighthouse-accessibility/duplicate-id/index.md
  src/site/content/en/lighthouse-accessibility/frame-title/index.md
  src/site/content/en/lighthouse-accessibility/html-has-lang/index.md
  src/site/content/en/lighthouse-accessibility/html-lang-valid/index.md
  src/site/content/en/lighthouse-accessibility/image-alt/index.md
  src/site/content/en/lighthouse-accessibility/input-image-alt/index.md
  src/site/content/en/lighthouse-accessibility/label/index.md
  src/site/content/en/lighthouse-accessibility/layout-table/index.md
  src/site/content/en/lighthouse-accessibility/link-name/index.md
  src/site/content/en/lighthouse-accessibility/list/index.md
  src/site/content/en/lighthouse-accessibility/listitem/index.md
  src/site/content/en/lighthouse-accessibility/meta-refresh/index.md
  src/site/content/en/lighthouse-accessibility/meta-viewport/index.md
  src/site/content/en/lighthouse-accessibility/object-alt/index.md
  src/site/content/en/lighthouse-accessibility/tabindex/index.md
  src/site/content/en/lighthouse-accessibility/td-headers-attr/index.md
  src/site/content/en/lighthouse-accessibility/th-has-data-cells/index.md
  src/site/content/en/lighthouse-accessibility/valid-lang/index.md
  src/site/content/en/lighthouse-accessibility/video-caption/index.md
  src/site/content/en/lighthouse-accessibility/video-description/index.md
Due: remark -q

add apple-touch-icon reference and codelab
  src/site/content/en/installable/codelab-apple-touch-icon/after.png
  src/site/content/en/installable/codelab-apple-touch-icon/before.png
  src/site/content/en/installable/codelab-apple-touch-icon/index.md
  src/site/content/en/installable/codelab-apple-touch-icon/lighthouse.png
  src/site/content/en/installable/codelab-apple-touch-icon/share.png
  src/site/content/en/lighthouse-pwa/apple-touch-icon/apple-touch-icon.png
  src/site/content/en/lighthouse-pwa/apple-touch-icon/index.md
  src/site/content/en/lighthouse-pwa/apple-touch-icon/share.png
  src/site/content/en/lighthouse-pwa/lighthouse-pwa.11tydata.js
Due: eslint, remark -q

fix linter complaint
  src/site/content/en/lighthouse-pwa/apple-touch-icon/index.md
Due: remark -q

Initial commit of is-crawlable update
  src/site/content/en/lighthouse-seo/is-crawable/index.md
Due: remark -q

Move definitions to the end
  src/site/content/en/blog/image-support-for-async-clipboard/index.md
Due: remark -q

Make a list not appear as a procedure.
  src/site/content/en/angular/creating-pwa-with-angular-cli/index.md
Due: remark -q

Make a list not appear as a procedure. (#1428)
  src/site/content/en/angular/creating-pwa-with-angular-cli/index.md
Due: remark -q

Finish is-crawlable update
  src/site/content/en/lighthouse-seo/is-crawable/index.md
Due: remark -q

Add Badging API article
  src/site/content/en/blog/badging-api/index.md
Due: remark -q

update axe links to axe 3.3 (#1418)
  src/site/content/en/lighthouse-accessibility/accesskeys/index.md
  src/site/content/en/lighthouse-accessibility/aria-allowed-attr/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-attr/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-children/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-parent/index.md
  src/site/content/en/lighthouse-accessibility/aria-roles/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr-value/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr/index.md
  src/site/content/en/lighthouse-accessibility/audio-caption/index.md
  src/site/content/en/lighthouse-accessibility/button-name/index.md
  src/site/content/en/lighthouse-accessibility/bypass/index.md
  src/site/content/en/lighthouse-accessibility/color-contrast/index.md
  src/site/content/en/lighthouse-accessibility/definition-list/index.md
  src/site/content/en/lighthouse-accessibility/dlitem/index.md
  src/site/content/en/lighthouse-accessibility/document-title/index.md
  src/site/content/en/lighthouse-accessibility/duplicate-id/index.md
  src/site/content/en/lighthouse-accessibility/frame-title/index.md
  src/site/content/en/lighthouse-accessibility/html-has-lang/index.md
  src/site/content/en/lighthouse-accessibility/html-lang-valid/index.md
  src/site/content/en/lighthouse-accessibility/image-alt/index.md
  src/site/content/en/lighthouse-accessibility/input-image-alt/index.md
  src/site/content/en/lighthouse-accessibility/label/index.md
  src/site/content/en/lighthouse-accessibility/layout-table/index.md
  src/site/content/en/lighthouse-accessibility/link-name/index.md
  src/site/content/en/lighthouse-accessibility/list/index.md
  src/site/content/en/lighthouse-accessibility/listitem/index.md
  src/site/content/en/lighthouse-accessibility/meta-refresh/index.md
  src/site/content/en/lighthouse-accessibility/meta-viewport/index.md
  src/site/content/en/lighthouse-accessibility/object-alt/index.md
  src/site/content/en/lighthouse-accessibility/tabindex/index.md
  src/site/content/en/lighthouse-accessibility/td-headers-attr/index.md
  src/site/content/en/lighthouse-accessibility/th-has-data-cells/index.md
  src/site/content/en/lighthouse-accessibility/valid-lang/index.md
  src/site/content/en/lighthouse-accessibility/video-caption/index.md
  src/site/content/en/lighthouse-accessibility/video-description/index.md
Due: remark -q

Match column and media query break points
  src/styles/components/_columns.scss
Due: sass-lint -v -q"
