Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Design tokens and core theme config (#5767)
  .gitignore
  gulp-tasks/convert-design-themes.js
  gulp-tasks/convert-design-tokens.js
  gulp-tasks/sass.js
  gulp-tasks/write-version.js
  gulpfile.js
  package-lock.json
  package.json
  src/scss/_config.scss
  src/scss/_reset.scss
  src/scss/next.scss
  src/site/_data/design/themes.js
  src/site/_data/design/tokens.json
  src/site/_includes/design-system.njk
  src/site/content/en/design-system/colors.njk
  src/styles/_prototype.scss
  test/integration/build-test.js
Due: eslint, sass-lint -v -q"

Update index.md
  src/site/content/en/blog/web-share-target/index.md
Due: remark -q

updates for https://github.com/GoogleChrome/web.dev/pull/5777/files#r666858531
  src/site/content/en/blog/building-a-breadcrumbs-component/index.md
Due: remark -q

Update src/site/content/en/blog/aurora-resource-inlining/index.md
  src/site/content/en/blog/aurora-resource-inlining/index.md
Due: remark -q

Adds the urlpattern article
  src/site/content/en/blog/urlpattern/index.md
Due: remark -q

Removed "please"
  src/site/content/en/blog/urlpattern/index.md
Due: remark -q

Revert " Add translation disclaimer to fallback pages (#5770)"
  src/lib/store.js
  src/site/_includes/base.njk
  src/site/_includes/partials/inline-scripts.js
  src/site/_includes/partials/translation-disclaimer.njk
  src/site/_includes/post.njk
  src/styles/components/_all.scss
  src/styles/components/_translation-disclaimer.scss
Due: eslint, sass-lint -v -q"

Fix broken CSP inline and package-lock.json
  .eleventy.js
  package-lock.json
  package.json
  src/site/_filters/minify-js.js
  src/site/_includes/base.njk
  src/site/_includes/partials/head.njk
  src/site/_includes/partials/inline-scripts.js
  src/site/_includes/partials/l10n-fallback.js
Due: eslint

fml typescript...
  src/lib/components/EventSchedule/index.js
Due: eslint

bye typescript
  .github/workflows/lint-and-test-workflow.yml
  package.json
  src/lib/components/EventSchedule/index.js
Due: eslint

Fix broken package-lock and l10n banner (#5784)
  .eleventy.js
  .github/workflows/lint-and-test-workflow.yml
  package-lock.json
  package.json
  src/site/_filters/minify-js.js
  src/site/_includes/base.njk
  src/site/_includes/partials/head.njk
  src/site/_includes/partials/inline-scripts.js
  src/site/_includes/partials/l10n-fallback.js
Due: eslint

Add files support for Web Share in Safari 15 (#5778)
  src/site/content/en/blog/web-share/index.md
Due: remark -q

Minor fixups + date
  src/site/content/en/blog/webassembly-threads/index.md
Due: remark -q

Wasm threads blog post (#5693)
  src/site/content/en/blog/webassembly-threads/index.md
Due: remark -q

disable the banner
  src/site/_includes/default.njk
  src/site/_includes/partials/head.njk
  src/site/_includes/partials/l10n-fallback.js
  src/site/_includes/partials/translation-disclaimer.njk
  src/styles/components/_all.scss
  src/styles/components/_translation-disclaimer.scss
Due: eslint, sass-lint -v -q"

disable the banner (#5792)
  src/site/_includes/default.njk
  src/site/_includes/partials/head.njk
  src/site/_includes/partials/l10n-fallback.js
  src/site/_includes/partials/translation-disclaimer.njk
  src/styles/components/_all.scss
  src/styles/components/_translation-disclaimer.scss
Due: eslint, sass-lint -v -q"

feat(i18n-virtual-collections): refactor authors and tags to use `i18n` data for titles and descriptions
  src/site/_collections/authors.js
  src/site/_collections/hooks/authors.js
  src/site/_collections/hooks/tags.js
  src/site/_collections/hooks/utils.js
  src/site/_collections/tags.js
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/_data/i18n/tags.yml
  src/site/_data/tagsData.json
  src/site/_includes/components/Author.js
  src/site/_includes/components/AuthorsDate.js
  src/site/_includes/components/BaseCard.js
  src/site/content/en/authors/feed.11tydata.js
  src/site/content/en/authors/index.11tydata.js
  src/site/content/en/authors/individual.11tydata.js
  src/site/content/en/tags/feed.11tydata.js
  src/site/content/en/tags/index.11tydata.js
  src/site/content/en/tags/individual.11tydata.js
  types/site/_collections/authors.d.ts
  types/site/_collections/tags.d.ts
  types/site/_collections/virtual-collection.d.ts
  types/site/_data/authorsData.d.ts
  types/site/_data/tagsData.d.ts
Due: eslint

refactor(i18n): refactor
  src/site/_filters/i18n.js
  src/site/_includes/codelab.njk
  src/site/_includes/components/Author.js
  src/site/_includes/components/AuthorsDate.js
  src/site/_includes/partials/post.njk
Due: eslint

fix(pages): drop use of virtual collections
  src/site/_collections/pages.js
  types/eleventy/collection-item.d.ts
Due: eslint

feat(i18n): add spanish author and tag pages
  src/site/_filters/filter-by-lang.js
  src/site/content/es/authors/index.11tydata.js
  src/site/content/es/authors/index.njk
  src/site/content/es/authors/individual.11tydata.js
  src/site/content/es/authors/individual.njk
  src/site/content/es/tags/index.11tydata.js
  src/site/content/es/tags/index.njk
  src/site/content/es/tags/individual.11tydata.js
  src/site/content/es/tags/individual.njk
  src/site/content/es/vitals/index.md
Due: eslint, remark -q

refactor(hooks/utils): add documentation and properly merge `data` in `addFields` function
  src/site/_collections/hooks/utils.js
Due: eslint

refactor(i18n): break out author and tag pages into layouts
  src/site/_includes/authors-index.njk
  src/site/_includes/authors-individual.njk
  src/site/_includes/tags-index.njk
  src/site/_includes/tags-individual.njk
  src/site/content/en/authors/index.njk
  src/site/content/en/authors/individual.njk
  src/site/content/en/tags/index.njk
  src/site/content/en/tags/individual.njk
  src/site/content/es/authors/index.njk
  src/site/content/es/authors/individual.njk
  src/site/content/es/tags/index.njk
  src/site/content/es/tags/individual.njk
Due: none

chore(handbook): update handbook on add author profiles
  src/site/content/en/handbook/author-profile/index.md
Due: remark -q

feat(i18n): update authors and tags to use i18n filter in njk
  src/site/_collections/authors.js
  src/site/_collections/hooks/authors.js
  src/site/_collections/hooks/tags.js
  src/site/_collections/hooks/utils.js
  src/site/_collections/tags.js
  src/site/_includes/components/Author.js
  src/site/_includes/components/AuthorsDate.js
  src/site/_includes/components/BaseCard.js
  src/site/_includes/feed.njk
  src/site/_includes/macros/author-card.njk
  src/site/_includes/macros/tag-card.njk
  src/site/_includes/macros/tag-chips.njk
  src/site/content/en/authors/feed.njk
  src/site/content/en/authors/individual.njk
  src/site/content/en/tags/feed.njk
  src/site/content/en/tags/individual.njk
  types/site/_collections/authors.d.ts
  types/site/_collections/tags.d.ts
  types/site/_collections/virtual-collection.d.ts
Due: eslint

fix(i18n): add periods to the end of auto generated descriptions
  src/site/_data/i18n/authors.yml
  src/site/_data/i18n/tags.yml
Due: none

feat(i18n): use i18n filter for titles in author info
  src/site/_includes/codelab.njk
  src/site/_includes/components/Author.js
  src/site/_includes/components/AuthorInfo.js
  src/site/_includes/components/AuthorsDate.js
  src/site/_includes/partials/post.njk
Due: eslint

refactor(i18n): refactor
  src/site/_collections/authors.js
  src/site/_collections/hooks/authors.js
  src/site/_collections/pages.js
  src/site/_collections/tags.js
  src/site/_data/tagsData.json
  src/site/_includes/components/AuthorsDate.js
  src/site/_includes/macros/tag-card.njk
  src/site/content/en/tags/individual.njk
  types/site/_collections/authors.d.ts
  types/site/_collections/tags.d.ts
  types/site/_data/tagsData.d.ts
Due: eslint

refactor(tagsData): format tags data file
  src/site/_data/tagsData.json
Due: none

refactor(i18n): remove useless lang argument
  src/site/content/en/authors/feed.11tydata.js
  src/site/content/en/authors/index.11tydata.js
  src/site/content/en/tags/feed.11tydata.js
  src/site/content/en/tags/index.11tydata.js
Due: eslint

refactor(types): simplify virtual collection typings
  types/site/_collections/authors.d.ts
  types/site/_collections/tags.d.ts
  types/site/_collections/virtual-collection.d.ts
Due: none

Add a new core layout and modify the head to accept a parameter to switch to new CSS
  src/site/_includes/core.njk
  src/site/_includes/partials/head.njk
  src/site/content/en/design-system/playground.njk
Due: none

adds final youtube key
  src/site/content/en/blog/building-a-breadcrumbs-component/index.md
Due: remark -q

temp commit
  .eleventy.js
  .gitignore
  package-lock.json
  package.json
  src/site/_data/browserCompat.js
  src/site/_includes/components/BrowserCompat.js
  src/site/content/en/handbook/web-dev-components/index.md
  test/unit/src/site/_data/browserCompat.js
  test/unit/src/site/_data/index.js
  test/unit/src/site/index.js
Due: eslint, remark -q

A good first cut at some global styles
  gulp-tasks/convert-design-tokens.js
  src/scss/_config.scss
  src/scss/_fonts.scss
  src/scss/_reset.scss
  src/scss/next.scss
  src/site/_data/design/themes.js
  src/site/_data/design/tokens.json
  src/site/content/en/design-system/playground.njk
Due: eslint, sass-lint -v -q"

Link to the GitHub MDN draft
  src/site/content/en/blog/urlpattern/index.md
Due: remark -q

Unicode support and normalization
  src/site/content/en/blog/urlpattern/index.md
Due: remark -q

Added both reporting articles
  package-lock.json
  src/site/_data/i18n/tags.yml
  src/site/content/en/blog/reporting-api-migration/index.md
  src/site/content/en/blog/reporting-api/index.md
Due: remark -q

Added CSP notes
  src/site/content/en/blog/reporting-api-migration/index.md
  src/site/content/en/blog/reporting-api/index.md
  src/site/content/en/blog/reporting-observer/index.md
Due: remark -q

Edited date
  src/site/content/en/blog/reporting-api-migration/index.md
  src/site/content/en/blog/reporting-api/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
