Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

capitalization
  src/site/content/en/blog/airshift-perf-optimization/index.md
Due: remark -q

Typo
  src/site/content/en/blog/airshift-perf-optimization/index.md
Due: remark -q

Rephrase
  src/site/content/en/blog/airshift-perf-optimization/index.md
Due: remark -q

Move w-blockquote styles to a generic blockquote el style. Fixes #1650 (#1798)
  src/site/_drafts/_template-post/index.md
  src/site/_drafts/intrinsic-layout-overview/index.md
  src/site/content/en/blog/image-support-for-async-clipboard/index.md
  src/site/content/en/blog/opensooq-case-study/index.md
  src/site/content/en/blog/truebil-lite/index.md
  src/site/content/en/fast/why-speed-matters/index.md
  src/site/content/en/handbook/markup-media/index.md
  src/site/content/en/handbook/sandbox/blockquote/index.njk
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_all.scss
  src/styles/generic/_all.scss
  src/styles/generic/_blockquote.scss
  src/styles/settings/_type.scss
  src/styles/tools/_mixins.scss
Due: sass-lint -v -q", remark -q

Remove bold
  src/site/content/en/blog/airshift-perf-optimization/index.md
Due: remark -q

Fixes #1282. Output tags inside figcaption the same as pure text (#1815)
  src/styles/components/_images.scss
Due: sass-lint -v -q"

send pageview for new pages (#1814)
  src/lib/analytics.js
  src/lib/loader.js
  src/site/_includes/layout.njk
Due: eslint

Cookies without a `SameSite` default fix
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Add `draft: true` to front matter
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

Fix typo
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Clarify basic POST targets.
  src/site/content/en/blog/receive-shared-data/index.md
Due: remark -q

Add subhead and description.
  src/site/content/en/blog/receive-shared-data/index.md
Due: remark -q

Remove unused style include.
  src/site/_includes/styles.njk
Due: none

Fix code in headers.
  src/styles/generic/_code.scss
Due: sass-lint -v -q"

Remove unused style include. (#1830)
  src/site/_includes/styles.njk
Due: none

A few more tweeks.
  src/site/content/en/blog/receive-shared-data/index.md
Due: remark -q

Fix code in headers. (#1831)
  src/styles/generic/_code.scss
Due: sass-lint -v -q"

Adjust figure sizes and positions.
  src/site/content/en/blog/receive-shared-data/index.md
Due: remark -q

Fix image and links.
  src/site/content/en/blog/share-like-a-native/index.md
Due: remark -q

Removing aside and english letters from the image
  src/site/content/en/blog/airshift-perf-optimization/index.md
  src/site/content/en/blog/airshift-perf-optimization/worker.png
Due: remark -q

Renaming the directory / URL to "five-ways-airshift-improved-their-react-app"
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/airshift_visual.png
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/hackathon.png
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/hero.png
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/index.md
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/kibana.png
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/main-thread-break-down.png
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/user_timing.png
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/virtualize_after.png
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/virtualize_before.png
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/virtualize_results_after.png
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/virtualize_results_before.png
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/worker.png
Due: remark -q

Address feedback
  src/site/content/en/lighthouse-pwa/installable-manifest/index.md
Due: remark -q

Page responds to user input in 50 milliseconds not 5 seconds
  src/site/content/en/lighthouse-performance/interactive/index.md
Due: remark -q

Clean up periodic background sync article.
  src/site/content/en/blog/richer-offline-w-periodic-background-sync/index.md
Due: remark -q

Add a hero image.
  src/site/content/en/blog/share-like-a-native/hero.jpg
  src/site/content/en/blog/share-like-a-native/index.md
Due: remark -q

Fix line breaking.
  src/site/content/en/blog/share-like-a-native/index.md
Due: remark -q

Add hero image and fix line breaking.
  src/site/content/en/blog/receive-shared-data/hero.jpg
  src/site/content/en/blog/receive-shared-data/index.md
Due: remark -q

Fix #1630
  src/site/content/en/lighthouse-performance/first-cpu-idle/index.md
  src/site/content/en/lighthouse-performance/first-meaningful-paint/index.md
  src/site/content/en/lighthouse-performance/performance-scoring/index.md
Due: remark -q

Add debugging instructions.
  src/site/content/en/blog/richer-offline-w-periodic-background-sync/1-record.png
  src/site/content/en/blog/richer-offline-w-periodic-background-sync/2-record-result.png
  src/site/content/en/blog/richer-offline-w-periodic-background-sync/3-sw-panel.png
  src/site/content/en/blog/richer-offline-w-periodic-background-sync/4-experiments.png
  src/site/content/en/blog/richer-offline-w-periodic-background-sync/5-settings.png
  src/site/content/en/blog/richer-offline-w-periodic-background-sync/6-checkbox.png
  src/site/content/en/blog/richer-offline-w-periodic-background-sync/7-panel.png
  src/site/content/en/blog/richer-offline-w-periodic-background-sync/index.md
Due: remark -q

Tweak content structure.
  src/site/content/en/blog/richer-offline-w-periodic-background-sync/index.md
Due: remark -q

Tabset initial commit
  .eleventy.js
  src/site/_includes/components/Tabset.js
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_all.scss
  src/styles/components/_tabs.scss
Due: eslint, sass-lint -v -q", remark -q

JS linting
  src/site/_includes/components/SelfAssessment.js
  src/site/_includes/components/SelfAssessmentHint.js
  src/site/_includes/components/Tabset.js
  src/site/_includes/components/Tooltip.js
Due: eslint

adaptive-service-based-on-network-quality url 404
  src/site/content/en/lighthouse-performance/time-to-first-byte/index.md
Due: remark -q

:new: Add What are Progressive Web Apps\?
  src/site/content/en/pwas/what-are-progressive-web-apps/capabilities-reach.svg
  src/site/content/en/pwas/what-are-progressive-web-apps/index.md
Due: remark -q

Add focus-visible to tooltips
  src/styles/components/_tooltips.scss
Due: sass-lint -v -q"

:bug: Fixing nits
  src/site/content/en/pwas/what-are-progressive-web-apps/index.md
Due: remark -q

:green_heart: Fix date
  src/site/content/en/pwas/what-are-progressive-web-apps/index.md
Due: remark -q
