Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

docs(README): update `Manual deploys` section
  README.md
Due: remark -q

build(cloudbuild): migrate deploy to cloud build
  .cloudbuild/deploy.yaml
  .github/workflows/firebase-hosting-cron.yml
  .gitignore
  package-lock.json
  package.json
  version-check.js
Due: eslint

docs(README): add note about auto deploys
  README.md
  package-lock.json
Due: remark -q

build(deploy): updgrade machine type
  .cloudbuild/deploy.yaml
Due: none

build(cloudbuild): migrate deploy to cloud build (#6082)
  .cloudbuild/deploy.yaml
  .github/workflows/firebase-hosting-cron.yml
  .gitignore
  README.md
  package-lock.json
  package.json
  version-check.js
Due: eslint, remark -q

fix(write-version): use git to get commit sha
  gulp-tasks/write-version.js
Due: eslint

fix(write-version): use git to get commit sha (#6091)
  gulp-tasks/write-version.js
Due: eslint

allow nested ToCs
  src/site/_data/courses/css/toc.yml
  src/site/_filters/navigation.js
  src/site/_includes/partials/course-index.njk
  src/site/_includes/partials/course-pagination.njk
  src/site/_includes/partials/navigation-drawer-course.njk
  src/styles/components/_drawer-course.scss
  types/navigation/navigation-item.d.ts
Due: eslint, sass-lint -v -q"

Handbook
  src/site/content/en/handbook/adding-a-course/index.md
Due: remark -q

fix tree vs list usage
  src/site/_filters/navigation.js
  src/site/_includes/course.njk
  src/site/_includes/partials/course-index.njk
  src/site/_includes/partials/course-pagination.njk
  src/site/_includes/partials/navigation-drawer-course.njk
Due: eslint

[Screen Wake Lock article] Add myself to the acknowledgements aside.
  src/site/content/en/blog/wake-lock/index.md
Due: remark -q

Add caution about null GPU adapter
  src/site/content/en/blog/gpu/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/multi-screen-window-placement/index.md
Due: remark -q

Manually migrate changes over from https://github.com/sstchur/web.dev/commit/1300cb4ebf2f5b661cc7f1d8fe1a7a74929006d9
  src/site/content/en/blog/eventing-deepdive/index.md
Due: remark -q

Add glitch iframes
  src/site/content/en/blog/eventing-deepdive/index.md
Due: remark -q

Update src/site/content/en/blog/eventing-deepdive/index.md
  src/site/content/en/blog/eventing-deepdive/index.md
Due: remark -q

Size up
  src/site/content/en/blog/eventing-deepdive/index.md
Due: remark -q

Fix lint errors
  src/site/content/es/blog/optimize-lcp/index.md
  src/site/content/es/blog/vitals-field-measurement-best-practices/index.md
  src/site/content/es/metrics/user-centric-performance-metrics/index.md
Due: remark -q

Include future plans
  src/site/content/en/blog/webtransport/index.md
Due: remark -q

Form fields
  src/pattern-library/patterns/form-fields/form-fields.njk
  src/pattern-library/patterns/form-fields/variants/checkbox/checkbox.njk
  src/pattern-library/patterns/form-fields/variants/radio/radio.njk
  src/pattern-library/patterns/form-fields/variants/textarea/textarea.json
  src/pattern-library/patterns/form-fields/variants/textarea/textarea.njk
  src/scss/next.scss
  src/site/_data/design/themes.js
Due: eslint, sass-lint -v -q"

Switch colors to be hex-only and add background groups
  gulp-tasks/convert-design-tokens.js
  src/site/_data/design/tokens.json
  src/site/content/en/design-system/colors.njk
Due: eslint

Update form fields docs
  src/pattern-library/patterns/form-fields/form-fields.md
Due: remark -q

fix(learncss): add article to toc
  src/site/_data/courses/css/toc.yml
Due: none

[Screen Wake Lock article] Add myself to the acknowledgements aside. (#6095)
  src/site/content/en/blog/wake-lock/index.md
Due: remark -q

fixes for .list
  src/site/_includes/course.njk
  src/site/_includes/partials/course-cards.njk
Due: none

revert css chang
  src/site/_data/courses/css/toc.yml
Due: none

remove padStart filter, not used
  .eleventy.js
  src/site/_filters/pad-start.js
Due: eslint

Allow for nested content in course sidebar (#6092)
  .eleventy.js
  src/site/_filters/navigation.js
  src/site/_filters/pad-start.js
  src/site/_includes/course.njk
  src/site/_includes/partials/course-cards.njk
  src/site/_includes/partials/course-index.njk
  src/site/_includes/partials/course-pagination.njk
  src/site/_includes/partials/navigation-drawer-course.njk
  src/site/content/en/handbook/adding-a-course/index.md
  src/styles/components/_drawer-course.scss
  types/navigation/navigation-item.d.ts
Due: eslint, sass-lint -v -q", remark -q

maybe deploy script and split
  .cloudbuild/deploy.yaml
  .cloudbuild/maybe-deploy.yaml
  maybe-deploy.js
  package.json
Due: eslint

Update index.md (#6097)
  src/site/content/en/blog/multi-screen-window-placement/index.md
Due: remark -q

Add final glitch
  src/site/content/en/blog/eventing-deepdive/index.md
Due: remark -q

Nit
  src/site/content/en/blog/gpu/index.md
Due: remark -q

Add caution about null GPU adapter (#6096)
  src/site/content/en/blog/gpu/index.md
Due: remark -q

Updates to Privacy Sandbox posts (#6020)
  src/site/content/en/blog/digging-into-the-privacy-sandbox/index.md
  src/site/content/en/blog/floc/index.md
Due: remark -q

Indicator pattern
  src/pattern-library/patterns/indicator/indicator.json
  src/pattern-library/patterns/indicator/indicator.md
  src/pattern-library/patterns/indicator/indicator.njk
  src/scss/blocks/_indicator.scss
  src/scss/next.scss
  src/site/_data/design/tokens.json
Due: sass-lint -v -q", remark -q

Fixed Attribution Reporting link
  src/site/content/en/blog/digging-into-the-privacy-sandbox/index.md
Due: remark -q

Fix date format in frontmatter
  src/site/content/es/blog/defining-core-web-vitals-thresholds/index.md
  src/site/content/es/blog/optimize-fid/index.md
  src/site/content/es/blog/optimize-lcp/index.md
  src/site/content/es/blog/vitals-field-measurement-best-practices/index.md
  src/site/content/es/blog/vitals-measurement-getting-started/index.md
  src/site/content/es/metrics/fcp/index.md
  src/site/content/es/metrics/tbt/index.md
  src/site/content/es/metrics/tti/index.md
  src/site/content/es/metrics/user-centric-performance-metrics/index.md
  src/site/content/es/vitals/index.md
Due: remark -q

Fix /image/ fields in fromtmatter
  src/site/content/es/blog/optimize-lcp/index.md
  src/site/content/es/blog/samesite-cookies-explained/index.md
  src/site/content/es/blog/vitals-tools/index.md
  src/site/content/es/metrics/cls/index.md
  src/site/content/es/metrics/fid/index.md
  src/site/content/es/metrics/tti/index.md
Due: remark -q

fix some img shortcodes
  src/site/content/es/blog/optimize-fid/index.md
  src/site/content/es/blog/optimize-lcp/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
