Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

feat: add support for `subTopics` inside of site content `topics`
  src/site/_includes/components/ArticleNavigation.js
  src/site/_includes/components/PathCard.js
  src/site/_includes/partials/item.njk
  src/site/_includes/partials/topic.njk
Due: eslint

disallow www.web.dev, redirect to naked domain (#1846)
  server.js
  src/misc/nuke-sw.js
Due: eslint

Remove debugger statement.
  src/site/_includes/components/PostCard.js
Due: eslint

Fix a typo.
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Fix a typo. (#1921)
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

feat: display subtopics and update styling
  src/site/_includes/components/ArticleNavigation.js
  src/site/_includes/partials/topic.njk
  src/site/_includes/path.njk
  src/styles/components/_all.scss
  src/styles/components/_topic.scss
Due: eslint, sass-lint -v -q"

refactor: rename `subTopics` to `subtopics`
  src/site/_includes/components/ArticleNavigation.js
  src/site/_includes/components/PathCard.js
  src/site/_includes/partials/topic.njk
Due: eslint

fix: have subtopic sit flush with topic
  src/styles/components/_topic.scss
Due: sass-lint -v -q"

fix: display topic level `pathItems` above subtopic's `pathItems`
  src/site/_includes/components/ArticleNavigation.js
  src/site/_includes/components/PathCard.js
  src/site/_includes/partials/topic.njk
Due: eslint

Add todomvc mp4 and some sample web bundles
  src/site/content/en/blog/web-bundles/index.md
Due: remark -q

Change "What is a good TTI" to "What is a good TBT" (#1893)
  src/site/content/en/metrics/tbt/index.md
Due: remark -q

chore: rev lighthouse-keeper version. (#1919)
  src/lib/lighthouse-service.js
Due: eslint

Update handbook components post (#1905)
  src/site/content/en/handbook/markup-post-codelab/index.md
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

Add codelab for building push notifications server
  src/site/content/en/notifications/codelab-notifications-push-server/index.md
Due: remark -q

Fix code snippet
  src/site/content/en/notifications/codelab-notifications-push-server/index.md
Due: remark -q

refactor: use BEM for class naming
  src/site/_includes/partials/topic.njk
  src/site/_includes/path.njk
  src/styles/components/_topic.scss
Due: sass-lint -v -q"

Edits after testing codelab steps
  src/site/content/en/notifications/codelab-notifications-get-started/index.md
Due: remark -q

Prepare for staging
  src/site/content/en/en.11tydata.js
  src/site/content/en/notifications/codelab-notifications-push-server/index.md
  src/site/content/en/notifications/index.njk
  src/site/content/en/notifications/notifications.11tydata.js
Due: eslint, remark -q

Linting or something' :
  src/site/content/en/en.11tydata.js
  src/site/content/en/notifications/notifications.11tydata.js
Due: eslint

Copyedit and fix hero image
  src/site/content/en/blog/web-bundles/hero.png
  src/site/content/en/blog/web-bundles/index.md
Due: remark -q

Disambiguate a date
  src/site/content/en/blog/web-bundles/index.md
Due: remark -q

Fix video bug in Chrome.
  src/site/content/en/blog/web-bundles/index.md
Due: remark -q

Update naming per feedback
  .eleventy.js
  src/lib/components/Tabs/_styles.scss
  src/lib/components/Tabs/index.js
  src/site/_includes/components/AssessmentCallout.js
  src/site/_includes/components/AssessmentHint.js
  src/site/_includes/components/Tab.js
  src/site/_includes/components/Tabs.js
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_callouts.scss
Due: eslint, sass-lint -v -q", remark -q

Add comment about MD parser
  src/site/_includes/components/AssessmentCallout.js
Due: eslint

Add code samples to handbook
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

Add alignment to tooltip shortcode
  src/site/_includes/components/Tooltip.js
  src/site/content/en/handbook/web-dev-components/index.md
Due: eslint, remark -q

feat: add support for `subtopics` inside of site content `topics`, fixes #1137 (#1920)
  src/site/_includes/components/ArticleNavigation.js
  src/site/_includes/components/PathCard.js
  src/site/_includes/partials/item.njk
  src/site/_includes/partials/topic.njk
  src/site/_includes/path.njk
  src/styles/components/_all.scss
  src/styles/components/_topic.scss
Due: eslint, sass-lint -v -q"

Remove occurrences of `intrinsicsize`
  src/site/content/en/blog/native-lazy-loading/index.md
  src/site/content/en/blog/prefers-color-scheme/index.md
  src/site/content/en/metrics/cls/index.md
Due: remark -q

Remove extra character
  src/site/content/en/blog/web-bundles/index.md
Due: remark -q

Add todomvc mp4 and some sample web bundles (#1929)
  src/site/content/en/blog/web-bundles/hero.png
  src/site/content/en/blog/web-bundles/index.md
Due: remark -q

feat(CopyCode): add custom element to allow code blocks to be copied, fixes #1871
  .eleventy.js
  src/images/icons/file_copy.svg
  src/lib/app.js
  src/lib/components/CopyCode/index.js
  src/lib/components/CopyCode/styles.scss
  src/lib/components/_all.scss
Due: eslint, sass-lint -v -q"

Copyedit
  src/site/content/en/blog/image-optimization-survey/index.md
Due: remark -q

Change title
  src/site/content/en/blog/image-optimization-survey/index.md
Due: remark -q

Change URL
  src/site/content/en/blog/image-optimization-survey-2019/dimensions-if-not.jpg
  src/site/content/en/blog/image-optimization-survey-2019/dimensions.jpg
  src/site/content/en/blog/image-optimization-survey-2019/framework-or-library-which.jpg
  src/site/content/en/blog/image-optimization-survey-2019/framework-or-library.jpg
  src/site/content/en/blog/image-optimization-survey-2019/index.md
  src/site/content/en/blog/image-optimization-survey-2019/lazyload-if-not.jpg
  src/site/content/en/blog/image-optimization-survey-2019/lazyload.jpg
  src/site/content/en/blog/image-optimization-survey-2019/picture-if-not.jpg
  src/site/content/en/blog/image-optimization-survey-2019/picture.jpg
  src/site/content/en/blog/image-optimization-survey-2019/platform-or-cms-which.jpg
  src/site/content/en/blog/image-optimization-survey-2019/platform-or-cms.jpg
  src/site/content/en/blog/image-optimization-survey-2019/png-if-not.jpg
  src/site/content/en/blog/image-optimization-survey-2019/png.jpg
  src/site/content/en/blog/image-optimization-survey-2019/sector.jpg
  src/site/content/en/blog/image-optimization-survey-2019/service-or-cdn-which.jpg
  src/site/content/en/blog/image-optimization-survey-2019/service-or-cdn.jpg
  src/site/content/en/blog/image-optimization-survey-2019/srcset-if-not.jpg
  src/site/content/en/blog/image-optimization-survey-2019/srcset.jpg
  src/site/content/en/blog/image-optimization-survey-2019/webp-if-not.jpg
  src/site/content/en/blog/image-optimization-survey-2019/webp.jpg
Due: remark -q

Copyedit
  src/site/content/en/blog/image-optimization-survey-2019/index.md
Due: remark -q

Add editorial note
  src/site/content/en/blog/image-optimization-survey-2019/index.md
Due: remark -q

Added image optimization survey blog post (#1777)
  src/site/content/en/blog/image-optimization-survey-2019/dimensions-if-not.jpg
  src/site/content/en/blog/image-optimization-survey-2019/dimensions.jpg
  src/site/content/en/blog/image-optimization-survey-2019/framework-or-library-which.jpg
  src/site/content/en/blog/image-optimization-survey-2019/framework-or-library.jpg
  src/site/content/en/blog/image-optimization-survey-2019/index.md
  src/site/content/en/blog/image-optimization-survey-2019/lazyload-if-not.jpg
  src/site/content/en/blog/image-optimization-survey-2019/lazyload.jpg
  src/site/content/en/blog/image-optimization-survey-2019/picture-if-not.jpg
  src/site/content/en/blog/image-optimization-survey-2019/picture.jpg
  src/site/content/en/blog/image-optimization-survey-2019/platform-or-cms-which.jpg
  src/site/content/en/blog/image-optimization-survey-2019/platform-or-cms.jpg
  src/site/content/en/blog/image-optimization-survey-2019/png-if-not.jpg
  src/site/content/en/blog/image-optimization-survey-2019/png.jpg
  src/site/content/en/blog/image-optimization-survey-2019/sector.jpg
  src/site/content/en/blog/image-optimization-survey-2019/service-or-cdn-which.jpg
  src/site/content/en/blog/image-optimization-survey-2019/service-or-cdn.jpg
  src/site/content/en/blog/image-optimization-survey-2019/srcset-if-not.jpg
  src/site/content/en/blog/image-optimization-survey-2019/srcset.jpg
  src/site/content/en/blog/image-optimization-survey-2019/webp-if-not.jpg
  src/site/content/en/blog/image-optimization-survey-2019/webp.jpg
Due: remark -q

Update forced reduced motion code
  src/site/content/en/blog/prefers-reduced-motion/index.md
Due: remark -q

Update release information re SameSite cookies.
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Add instructional completeness check
  src/site/content/en/handbook/content-checklist/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
