Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Fixed width image re-order
  src/scss/next.scss
Due: sass-lint -v -q"

Sorry percy
  src/scss/blocks/_fixed-width-img.scss
Due: sass-lint -v -q"

Add preserved image component to replace w-screenshot (#6761)
  src/component-library/fixed-width-img/fixed-width-img.json
  src/component-library/fixed-width-img/fixed-width-img.md
  src/component-library/fixed-width-img/fixed-width-img.njk
  src/component-library/fixed-width-img/variants/prose/prose.json
  src/component-library/fixed-width-img/variants/prose/prose.njk
  src/scss/_rollout.scss
  src/scss/blocks/_fixed-width-img.scss
  src/scss/next.scss
Due: sass-lint -v -q", remark -q

Update index.njk
  src/site/content/en/newsletter/index.njk
Due: none

Add Learn CSS Backgrounds module
  package-lock.json
  src/site/_data/authorsData.json
  src/site/_data/courses/css/toc.yml
  src/site/_data/i18n/authors.yml
  src/site/content/en/learn/css/backgrounds/backgrounds.assess.yaml
  src/site/content/en/learn/css/backgrounds/index.md
Due: remark -q

Remove the instruction to enable the experiment
  src/site/content/en/blog/bfcache/index.md
Due: remark -q

adds community remix
  src/site/content/en/blog/building-a-tabs-component/index.md
Due: remark -q

Update index.md
  src/site/content/en/handbook/word-list/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/learn/css/backgrounds/index.md
Due: remark -q

Update backgrounds/index.md
  src/site/content/en/learn/css/backgrounds/index.md
Due: remark -q

Update modified date
  src/site/content/en/blog/bfcache/index.md
Due: remark -q

Remove the instruction to enable the bfcache experiment (#6785)
  src/site/content/en/blog/bfcache/index.md
Due: remark -q

Update index.md
  src/site/content/ko/metrics/lcp/index.md
Due: remark -q

fix(typo): fixed a small Korean typo
  src/site/content/ko/metrics/lcp/index.md
Due: remark -q

Implement hero image
  src/site/_includes/partials/post-next.njk
Due: none

fixing issues that were preventing site build.
  src/site/_data/authorsData.json
  src/site/_data/courses/css/toc.yml
  src/site/content/en/learn/css/backgrounds/backgrounds.assess.yml
  src/site/content/en/learn/css/backgrounds/index.md
  src/site/content/en/learn/css/conclusion/index.md
  src/site/content/en/learn/css/index.md
Due: remark -q

post layout and elements work
  src/scss/blocks/_prose.scss
  src/scss/mixins/_button-base-styles.scss
  src/scss/next.scss
  src/site/_includes/partials/post-next.njk
Due: sass-lint -v -q"

Fix up aside and missing closing tag
  src/site/_includes/components/Aside.js
  src/site/content/en/blog/eyedropper/index.md
Due: eslint, remark -q

Add some nicer treatment to figures
  src/scss/blocks/_compare.scss
  src/scss/blocks/_prose.scss
Due: sass-lint -v -q"

fix(typo): fixes a small Korean typo
  src/site/content/ko/metrics/tbt/index.md
Due: remark -q

Fixed WebAuthn link
  src/site/content/en/blog/devices-introduction/index.md
Due: remark -q

Updating screenshot
  src/site/content/en/blog/compat2021/index.md
Due: remark -q

Updating screenshot (#6798)
  src/site/content/en/blog/compat2021/index.md
Due: remark -q

fix(anchor): remove outline on `<a>` on active, fixes #5671 (#6772)
  src/styles/generic/_links.scss
Due: sass-lint -v -q"

Switch out codelab
  src/lib/components/Codelab/index.js
  src/scss/next.scss
  src/scss/web-components/_web-codelab.scss
  src/site/_includes/codelab.njk
Due: eslint, sass-lint -v -q"

Update index.njk (#6784)
  src/site/content/en/newsletter/index.njk
Due: none

Insert missing closing parens
  src/site/content/en/learn/css/typography/index.md
Due: remark -q

Update summary to reflect content
  src/site/content/en/learn/css/typography/index.md
Due: remark -q

fix(typo): fix GitHub casing (#6778)
  src/site/content/en/blog/asyncify/index.md
  src/site/content/en/blog/building-a-switch-component/index.md
  src/site/content/en/blog/compress-images-avif/index.md
  src/site/content/en/blog/introducing-model-viewer/index.md
  src/site/content/en/blog/lighthouse-ci/index.md
  src/site/content/en/blog/lighthouse-whats-new-6.0/index.md
  src/site/content/en/blog/logical-property-shorthands/index.md
  src/site/content/en/blog/speculative-prerendering/index.md
  src/site/content/en/fast/codelab-extract-and-inline-critical-css/index.md
  src/site/content/en/fast/incorporate-performance-budgets-into-your-build-tools/index.md
  src/site/content/en/fast/using-bundlesize-with-travis-ci/index.md
  src/site/content/en/fast/using-lighthouse-bot-to-set-a-performance-budget/index.md
  src/site/content/en/handbook/quick-start/index.md
  src/site/content/en/handbook/writing-blog-posts/index.md
  src/site/content/en/lighthouse-seo/http-status-code/index.md
  src/styles/generic/_code.scss
Due: sass-lint -v -q", remark -q

add Learn CSS Backgrounds module
  src/site/_data/authorsData.json
  src/site/_data/courses/css/toc.yml
  src/site/_data/i18n/authors.yml
  src/site/content/en/learn/css/backgrounds/backgrounds.assess.yml
  src/site/content/en/learn/css/backgrounds/index.md
  src/site/content/en/learn/css/conclusion/index.md
Due: remark -q

Update Kevin's photo
  src/site/_data/authorsData.json
Due: none

refactor(live-posts): rename `livePosts` to `isLive` and add new `livePosts` filter, fixes #6803
  .eleventy.js
  src/site/_collections/authors.js
  src/site/_collections/blog-posts-descending.js
  src/site/_collections/pages.js
  src/site/_collections/posts-with-lighthouse.js
  src/site/_collections/tags.js
  src/site/_filters/live-posts.js
  test/unit/src/site/_filters/live-posts.js
Due: eslint

update to v9 lh
  package-lock.json
  package.json
  src/lib/components/LighthouseViewer/index.js
  src/site/content/en/measure/index.njk
Due: eslint

cleanup/reasses styles
  src/lib/components/LighthouseViewer/_styles.scss
Due: sass-lint -v -q"

disable PWA for now
  src/lib/psi-service.js
Due: eslint

bring back topbar
  src/lib/components/LighthouseViewer/index.js
Due: eslint

Update theme and height of codepens in Learn CSS Backgrounds module
  src/site/content/en/learn/css/backgrounds/index.md
Due: remark -q

Update theme and height of codepens in Learn CSS Backgrounds module (#6808)
  src/site/content/en/learn/css/backgrounds/index.md
Due: remark -q

Update src/site/content/en/learn/css/backgrounds/index.md
  src/site/content/en/learn/css/backgrounds/index.md
Due: remark -q
