Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Clarify two things
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

Use CDN for side nav logo
  src/lib/components/SideNav/index.js
  src/site/_includes/layout.njk
  src/site/_transforms/responsive-images/index.js
Due: eslint

Type is optional
  src/site/content/en/blog/wake-lock/index.md
Due: remark -q

[Offline UX Design Guidelines article] Use columns for comparisons (#4142)
  src/site/content/en/reliable/offline-ux-design-guidelines/index.md
Due: remark -q

fix typo (#4143)
  src/site/content/en/fast/defer-non-critical-css/index.md
Due: remark -q

Make adoptedStyleSheets appear in code font (#4141)
  src/site/content/en/blog/declarative-shadow-dom/index.md
Due: remark -q

Add missing `>` (#4164)
  src/site/content/en/blog/async-clipboard/index.md
Due: remark -q

Run SVGMOMG on SVG icons (#4148)
  src/images/icons/a11y.svg
  src/images/icons/calendar.svg
  src/images/icons/github.svg
  src/images/icons/glitch.svg
  src/images/icons/language.svg
  src/images/icons/performance.svg
  src/images/icons/pwa.svg
  src/images/icons/reload.svg
  src/images/icons/rss.svg
  src/images/icons/seo.svg
  src/images/icons/share_white.svg
  src/images/icons/subscribe.svg
Due: none

Use CDN for side nav logo (#4165)
  src/lib/components/SideNav/index.js
  src/site/_includes/layout.njk
  src/site/_transforms/responsive-images/index.js
Due: eslint

Clarify two things (#4166)
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

Optimize images
  src/site/content/en/blog/gamepad/dino.png
  src/site/content/en/blog/gamepad/gamepad.svg
  src/site/content/en/blog/gamepad/hero.jpg
Due: none

Update src/site/content/en/blog/gamepad/index.md
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

WIP
  compile-css.js
Due: eslint

Remove "clipboard" and "vr" unrecognized features
  compile-css.js
  src/site/_includes/components/Glitch.js
  src/site/content/en/handbook/web-dev-components/index.md
Due: eslint, remark -q

Add links to all browser versions of the extension
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Lazyload algolia
  src/lib/components/Search/index.js
Due: eslint

Prune unnecessary policies
  src/site/content/en/blog/async-clipboard/index.md
Due: remark -q

Type is optional (#4167)
  src/site/content/en/blog/wake-lock/index.md
Due: remark -q

Add gamepad article (#4154)
  src/site/content/en/blog/gamepad/dino.png
  src/site/content/en/blog/gamepad/gamepad.svg
  src/site/content/en/blog/gamepad/hero.jpg
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

Add a link.
  src/site/content/en/blog/fast-playback-with-preload/index.md
Due: remark -q

Update src/site/content/en/blog/fast-playback-with-preload/index.md
  src/site/content/en/blog/fast-playback-with-preload/index.md
Due: remark -q

Add crop filter to GIF -> video FFMPEG commands
  src/site/content/en/fast/replace-gifs-with-videos/index.md
Due: remark -q

[Declarative Shadow Root article] Fix polyfill - add missing );
  src/site/content/en/blog/declarative-shadow-dom/index.md
Due: remark -q

Respond to feedback. Fix links.
  src/site/content/en/blog/fast-playback-with-preload/index.md
Due: remark -q

Prune unnecessary policies (#4176)
  src/site/content/en/blog/async-clipboard/index.md
Due: remark -q

[Declarative Shadow Root article] Fix polyfill - add missing ); (#4178)
  src/site/content/en/blog/declarative-shadow-dom/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

fix failure
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

fix failure (#4179)
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

Remove Switch references, add iframe embed instead
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

fix typo in media accessibility page
  src/site/content/en/media/media-accessibility/index.md
Due: remark -q

[Text Fragments article] Add links to all browser versions of the extension (#4174)
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/fast-playback-with-preload/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
