Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Post-OT updates to the PBS article (#2367)
  src/site/content/en/blog/periodic-background-sync/index.md
Due: remark -q

Update guidance about documentation titles
  src/site/content/en/handbook/content-checklist/index.md
Due: remark -q

Add hero image guidance
  src/site/content/en/handbook/content-checklist/index.md
Due: remark -q

Fix typo (#2381)
  src/site/content/en/blog/nfc/index.md
Due: remark -q

Update src/site/content/en/secure/cross-origin-resource-sharing/index.md
  src/site/content/en/secure/cross-origin-resource-sharing/index.md
Due: remark -q

Minor fixes (#2382)
  src/site/content/en/secure/cross-origin-resource-sharing/index.md
Due: remark -q

add metrics
  src/site/content/en/pages/learn/learn.11tydata.js
  src/site/content/en/pages/metrics/index.njk
  src/site/content/en/pages/metrics/metrics.11tydata.js
  src/site/content/en/posts/cls/index.md
  src/site/content/en/posts/cls/layout-shift-1.png
  src/site/content/en/posts/cls/layout-shift-2.png
  src/site/content/en/posts/cls/layout-shift-3.png
  src/site/content/en/posts/cls/layout-shift-4.png
  src/site/content/en/posts/custom-metrics/index.md
  src/site/content/en/posts/fcp/fcp-filmstrip.png
  src/site/content/en/posts/fcp/index.md
  src/site/content/en/posts/fid/fid-base.svg
  src/site/content/en/posts/fid/fid-fcp-tti.svg
  src/site/content/en/posts/fid/fid-full.svg
  src/site/content/en/posts/fid/index.md
  src/site/content/en/posts/lcp/hero.jpg
  src/site/content/en/posts/lcp/index.md
  src/site/content/en/posts/lcp/lcp-cnn-filmstrip.png
  src/site/content/en/posts/lcp/lcp-google-filmstrip.png
  src/site/content/en/posts/lcp/lcp-instagram-filmstrip.png
  src/site/content/en/posts/lcp/lcp-techcrunch-filmstrip.png
  src/site/content/en/posts/tbt/index.md
  src/site/content/en/posts/tbt/tbt-all-tasks.svg
  src/site/content/en/posts/tbt/tbt-blocking-time.svg
  src/site/content/en/posts/tti/index.md
  src/site/content/en/posts/tti/tti-timeline.svg
  src/site/content/en/posts/user-centric-performance-metrics/index.md
Due: eslint, remark -q

add secure
  src/site/content/en/en.11tydata.js
  src/site/content/en/pages/learn/learn.11tydata.js
  src/site/content/en/pages/secure/index.njk
  src/site/content/en/pages/secure/secure.11tydata.js
  src/site/content/en/posts/browser-sandbox/index.md
  src/site/content/en/posts/browser-sandbox/sandbox.png
  src/site/content/en/posts/codelab-same-origin-fetch/codelab-same-origin-fetch.md
  src/site/content/en/posts/codelab-same-origin-iframe/codelab-same-origin-iframe.md
  src/site/content/en/posts/cross-origin-resource-sharing/index.md
  src/site/content/en/posts/cross-origin-resource-sharing/request_response.png
  src/site/content/en/posts/same-origin-policy/clickjacking.png
  src/site/content/en/posts/same-origin-policy/index.md
  src/site/content/en/posts/security-attacks/index.md
  src/site/content/en/posts/security-attacks/modification.png
  src/site/content/en/posts/security-attacks/passiveattack.png
  src/site/content/en/posts/security-not-scary/index.md
  src/site/content/en/posts/security-not-scary/securityimage.png
Due: eslint, remark -q

Add "Label" web.dev component
  .eleventy.js
  src/site/_includes/components/Label.js
  src/site/content/en/blog/module-workers/index.md
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_all.scss
  src/styles/components/_label.scss
Due: eslint, sass-lint -v -q", remark -q

Adds "Usin a PWA in your Android app" article
  src/site/_data/contributors.js
  src/site/content/en/images/authors/andreban.jpg
  src/site/content/en/images/authors/andreban@2x.jpg
  src/site/content/en/progressive-web-apps/progressive-web-apps.11tydata.js
  src/site/content/en/progressive-web-apps/using-a-pwa-in-your-android-app/index.md
  src/site/content/en/progressive-web-apps/using-a-pwa-in-your-android-app/lh-score.png
Due: eslint, remark -q

Apply suggestions from code review
  src/site/content/en/blog/trusted-types/index.md
Due: remark -q

Addressed review comments.
  src/site/content/en/blog/trusted-types/index.md
Due: remark -q

Changed the capitalisation of XSS.
  src/site/content/en/blog/trusted-types/index.md
Due: remark -q

updates per review comments
  src/site/content/en/blog/preload-optional-fonts/index.md
Due: remark -q

hide Glitch on codelabs on mobile
  src/lib/components/Codelab/_styles.scss
Due: sass-lint -v -q"

Fix internal dead URLs (#2361)
  src/site/content/en/blog/how-to-distribute-signed-http-exchanges/index.md
  src/site/content/en/blog/how-to-set-up-signed-http-exchanges/index.md
  src/site/content/en/blog/native-file-system/index.md
  src/site/content/en/blog/next-gen-css-2019/index.md
  src/site/content/en/fast/chrome-ux-report-data-studio-dashboard/index.md
  src/site/content/en/handbook/content-checklist/index.md
  src/site/content/en/handbook/inclusion-and-accessibility/index.md
  src/site/content/en/handbook/markup-sample-app/index.md
Due: remark -q

Add "Label" web.dev component (#2387)
  .eleventy.js
  src/site/_includes/components/Label.js
  src/site/content/en/blog/module-workers/index.md
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_all.scss
  src/styles/components/_label.scss
Due: eslint, sass-lint -v -q", remark -q

Apply suggestions from code review
  src/site/content/en/progressive-web-apps/using-a-pwa-in-your-android-app/index.md
Due: remark -q

Fixes review notes
  src/site/content/en/progressive-web-apps/using-a-pwa-in-your-android-app/index.md
Due: remark -q

load iframe conditionnally
  src/lib/components/Codelab/index.js
Due: eslint

Remove superfluous try...catch block
  src/site/content/en/blog/image-support-for-async-clipboard/index.md
Due: remark -q

update the AR Hit Test article.
  src/site/content/en/blog/ar-hit-test/index.md
Due: remark -q

Fix images and focus management in loader.js
  src/lib/loader.js
Due: eslint

Fix images and focus management in loader.js (#2396)
  src/lib/loader.js
Due: eslint

Fix warning in Firefox related to querying null
  src/lib/utils/router.js
Due: eslint

Fix null condition.
  src/lib/utils/router.js
Due: eslint

Fix formatting of 11ty file to make prettier happy.
  src/site/content/en/fast/fast.11tydata.js
Due: eslint

Fix formatting of 11ty file to make prettier happy. (#2398)
  src/site/content/en/fast/fast.11tydata.js
Due: eslint

Fix warning in Firefox related to querying null (#2397)
  src/lib/utils/router.js
Due: eslint

Remove superfluous try...catch block (#2393)
  src/site/content/en/blog/image-support-for-async-clipboard/index.md
Due: remark -q

simplify var
  src/lib/loader.js
Due: eslint

update iframe src when the user changes the window size
  src/lib/components/Codelab/index.js
Due: eslint

toggle iframe
  src/lib/components/Codelab/index.js
Due: eslint

hide Glitch on codelabs on mobile (#2389)
  src/lib/components/Codelab/_styles.scss
  src/lib/components/Codelab/index.js
Due: eslint, sass-lint -v -q"

refactor codelab JS
  src/lib/components/Codelab/index.js
Due: eslint

add notice
  src/lib/components/Codelab/_styles.scss
  src/lib/components/Codelab/index.js
Due: eslint, sass-lint -v -q"

Revert "add notice"
  src/lib/components/Codelab/_styles.scss
  src/lib/components/Codelab/index.js
Due: eslint, sass-lint -v -q"

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
