Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Update src/site/content/en/lighthouse-accessibility/object-alt/index.md
  src/site/content/en/lighthouse-accessibility/object-alt/index.md
Due: remark -q

Correct Lighthouse alt text on `<object>` (#7076)
  src/site/content/en/lighthouse-accessibility/object-alt/index.md
Due: remark -q

fix(assessment): display full question in mobile, fixes #7219
  src/lib/components/AssessmentQuestion/_styles.scss
Due: sass-lint -v -q"

fix(search): fix dark mode for search, fixes #6915
  src/scss/_rollout.scss
  src/scss/blocks/_stack-nav.scss
Due: sass-lint -v -q"

Update src/site/content/en/learn/pwa/offline-data/index.md
  src/site/content/en/learn/pwa/offline-data/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/learn/pwa/serving/index.md
  src/site/content/en/learn/pwa/web-app-manifest/index.md
  src/site/content/en/learn/pwa/workbox/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/learn/pwa/offline-data/index.md
  src/site/content/en/learn/pwa/web-app-manifest/index.md
Due: remark -q

fix(search): fix dark mode for search, fixes #6915 (#7245)
  src/scss/_rollout.scss
  src/scss/blocks/_stack-nav.scss
Due: sass-lint -v -q"

fix(assessment): display full question in mobile, fixes #7219 (#7243)
  src/lib/components/AssessmentQuestion/_styles.scss
Due: sass-lint -v -q"

add visibility
  src/lib/components/SnackbarContainer/index.js
  src/scss/web-components/_web-snackbar.scss
Due: eslint, sass-lint -v -q"

Add limits on tranfers size section
  src/site/content/en/blog/usb/index.md
Due: remark -q

Update link to installable. (#7239)
  redirects.yaml
  src/site/content/en/blog/browser-fs-access/index.md
  src/site/content/en/blog/file-handling/index.md
  src/site/content/en/lighthouse-pwa/installable-manifest/index.md
  src/site/content/es/blog/file-handling/index.md
  src/site/content/ko/blog/file-handling/index.md
  src/site/content/pt/blog/browser-fs-access/index.md
  src/site/content/zh/blog/file-handling/index.md
Due: remark -q

New snackbar styles (#6928)
  src/lib/components/Snackbar/index.js
  src/lib/components/SnackbarContainer/index.js
  src/scss/mixins/_button-base-styles.scss
  src/scss/next.scss
  src/scss/web-components/_web-snackbar.scss
Due: eslint, sass-lint -v -q"

Update index.md
  src/site/content/en/fast/your-first-performance-budget/index.md
Due: remark -q

Update index.md of performance-budgets docs (#7215)
  src/site/content/en/fast/your-first-performance-budget/index.md
Due: remark -q

fix example of position (#7233)
  src/site/content/en/learn/css/backgrounds/backgrounds.assess.yml
  src/site/content/en/learn/css/backgrounds/index.md
Due: remark -q

chore(patterns): remove old css
  src/styles/components/_all.scss
  src/styles/components/_code-pattern.scss
Due: sass-lint -v -q"

refactor(CodePattern): inlince SVG instead of using background
  src/scss/pages/_pattern.scss
  src/site/_includes/components/CodePattern.js
  src/site/_includes/icons/open_in_new.svg
Due: eslint, sass-lint -v -q"

refator(patterns): move code patterns to next design system, fixes #6838
  .eleventy.js
  package-lock.json
  package.json
  src/lib/actions.js
  src/lib/components/TableOfContents/index.js
  src/lib/components/TableOfContentsButton/index.js
  src/lib/pages/content.js
  src/scss/blocks/_hero.scss
  src/scss/blocks/_toc.scss
  src/scss/pages/_path.scss
  src/site/_includes/course.njk
  src/site/_includes/macros/breadcrumbs.njk
  src/site/_includes/partials/post-next.njk
  src/site/_includes/partials/post.njk
  src/site/_includes/path.njk
  src/site/_includes/pattern-page.njk
  src/site/_includes/pattern-set.njk
  src/styles/components/_all.scss
  src/styles/components/_toc.scss
Due: eslint, sass-lint -v -q"

feat(toc): allow custom title in toc
  src/site/_includes/partials/toc-inner.njk
  src/site/_includes/partials/toc-side.njk
  src/site/_includes/pattern-set.njk
Due: none

fix(patterns): fix spacing in details content
  src/scss/next.scss
  src/scss/pages/_pattern.scss
Due: sass-lint -v -q"

refactor: inline svg and fix scss
  src/site/_includes/components/CodePattern.js
  src/styles/legacy-rollout.scss
Due: eslint, sass-lint -v -q"

refactor(patterns): remove legacy rollout
  src/scss/next.scss
  src/scss/pages/_pattern.scss
  src/site/_includes/components/CodePattern.js
  src/site/_includes/pattern-set.njk
  src/styles/pages/_all.scss
  src/styles/pages/_code-patterns.scss
Due: eslint, sass-lint -v -q"

fix: some css
  src/scss/next.scss
  src/site/_data/i18n/toc.yml
  src/site/_includes/course.njk
  src/site/_includes/partials/post-next.njk
  src/site/_includes/partials/toc-inner.njk
  src/site/_includes/partials/toc-side.njk
  src/site/_includes/pattern-set.njk
Due: sass-lint -v -q"

Update src/site/content/en/learn/pwa/installation/index.md
  src/site/content/en/learn/pwa/installation/index.md
Due: remark -q

refactor(web-tabs): web tabs only scroll when needed
  src/scss/pages/_pattern.scss
  src/scss/web-components/_web-copy-code.scss
  src/scss/web-components/_web-tabs.scss
  src/styles/components/_web-copy-code.scss
Due: sass-lint -v -q"

minor edits and corrections to offline data, serving and workbox chapters
  src/site/content/en/learn/pwa/offline-data/index.md
  src/site/content/en/learn/pwa/serving/index.md
  src/site/content/en/learn/pwa/web-app-manifest/index.md
  src/site/content/en/learn/pwa/workbox/index.md
Due: remark -q

Fix internal page link to be root-relative
  src/site/content/en/learn/design/ui-patterns/index.md
Due: remark -q

nit
  src/site/content/en/blog/nfc/index.md
Due: remark -q

nit #2
  src/site/content/en/blog/nfc/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
