Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Update min-max-clamp (#4112)
  src/site/content/en/blog/min-max-clamp/index.md
Due: remark -q

Trivial update to Web OTP (#4127)
  src/site/content/en/blog/web-otp/index.md
Due: remark -q

Mention origin trial in local font access guide (#4131)
  src/site/content/en/blog/local-fonts/index.md
Due: remark -q

Remove preconnect guide references to index.html (#4133)
  src/site/content/en/blog/link-prefetch/index.md
Due: remark -q

Make adoptedStyleSheets appear in code font
  src/site/content/en/blog/declarative-shadow-dom/index.md
Due: remark -q

Use columns for comparisons
  src/site/content/en/reliable/offline-ux-design-guidelines/index.md
Due: remark -q

Updated updated
  src/site/content/en/reliable/offline-ux-design-guidelines/index.md
Due: remark -q

fix typo
  src/site/content/en/fast/defer-non-critical-css/index.md
Due: remark -q

Update web-vitals package to 0.2.4
  package-lock.json
  package.json
Due: none

Fix Lighthouse link text audit for cds 2020 site banner
  src/site/_data/site.js
Due: eslint

Add maskable icon in web manifest
  src/images/android-chrome-maskable-192x192.png
  src/misc/manifest.webmanifest
Due: none

Run SVGMOMG on SVG icons
  src/images/icons/a11y.svg
  src/images/icons/best_practices.svg
  src/images/icons/calendar.svg
  src/images/icons/github.svg
  src/images/icons/glitch.svg
  src/images/icons/language.svg
  src/images/icons/performance.svg
  src/images/icons/pwa.svg
  src/images/icons/reload.svg
  src/images/icons/rss.svg
  src/images/icons/seo.svg
  src/images/icons/share_white.svg
  src/images/icons/subscribe.svg
Due: none

Don't show bottom line for last topic
  src/styles/components/_topic.scss
Due: sass-lint -v -q"

[Post Template] Correct hero image dimensions
  src/site/_drafts/_template-post/index.md
Due: remark -q

Start working on the gamepad article
  src/site/content/en/blog/gamepad/dino.png
  src/site/content/en/blog/gamepad/gamepad.svg
  src/site/content/en/blog/gamepad/hero.jpg
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

prefer redirect (#4087)
  redirect-handler.js
  server.js
Due: eslint

Update web-vitals package to 0.2.4 (#4145)
  package-lock.json
  package.json
Due: none

Fix Lighthouse link text audit for cds 2020 site banner (#4146)
  src/site/_data/site.js
Due: eslint

Add maskable icon in web manifest (#4147)
  src/images/android-chrome-maskable-192x192.png
  src/misc/manifest.webmanifest
Due: none

Don't show bottom line for last topic (#4149)
  src/styles/components/_topic.scss
Due: sass-lint -v -q"

[Post Template] Correct hero image dimensions (#4150)
  src/site/_drafts/_template-post/index.md
Due: remark -q

Disable lint definition-case (#4115)
  .remarkrc.js
  src/site/content/en/blog/app-shortcuts/index.md
  src/site/content/en/blog/bluetooth/index.md
  src/site/content/en/blog/camera-pan-tilt-zoom/index.md
  src/site/content/en/blog/hid/index.md
  src/site/content/en/blog/media-session/index.md
  src/site/content/en/blog/nfc/index.md
  src/site/content/en/blog/serial/index.md
  src/site/content/en/blog/usb/index.md
Due: eslint, remark -q

Ignore .vscode directory
  .gitignore
  .vscode/settings.json
Due: none

Ignore .vscode directory (#4155)
  .gitignore
  .vscode/settings.json
Due: none

chore: review comments
  .eslintrc.js
  src/lib/components/EventMap/index.js
  src/lib/components/EventQandA/index.js
  src/lib/components/LanguageSelect/index.js
  src/lib/components/Search/index.js
  src/lib/components/SideNav/index.js
Due: eslint

Revert "prefer redirect"
  redirect-handler.js
  server.js
Due: eslint

Revert "prefer redirect" (#4160)
  redirect-handler.js
  server.js
Due: eslint

Add info about ended OT
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

Add PointerLock unadjustedMovement article
  src/site/content/en/blog/mouse-acceleration/hero.jpg
  src/site/content/en/blog/mouse-acceleration/index.md
  src/site/content/en/blog/mouse-acceleration/mouse-properties-dialog.png
  src/site/content/en/blog/mouse-acceleration/thumbnail.jpg
Due: remark -q

Address @jpmedley feedback
  src/site/content/en/blog/mouse-acceleration/index.md
Due: remark -q

Address @kaycebasques feedback
  src/site/content/en/blog/disable-mouse-acceleration/hero.jpg
  src/site/content/en/blog/disable-mouse-acceleration/index.md
  src/site/content/en/blog/disable-mouse-acceleration/mouse-properties-dialog.png
  src/site/content/en/blog/disable-mouse-acceleration/thumbnail.jpg
Due: remark -q

Fix nit
  src/site/content/en/blog/disable-mouse-acceleration/index.md
Due: remark -q

Address @scheib feedback
  src/site/content/en/blog/disable-mouse-acceleration/index.md
Due: remark -q

Add Kayce to Acknowledgements
  src/site/content/en/blog/disable-mouse-acceleration/index.md
Due: remark -q

Remove lint disable definition-case
  src/site/content/en/blog/disable-mouse-acceleration/index.md
Due: remark -q

Disable prettify markup
  src/images/icons/a11y.svg
  src/images/icons/best_practices.svg
  src/images/icons/calendar.svg
  src/images/icons/github.svg
  src/images/icons/glitch.svg
  src/images/icons/language.svg
  src/images/icons/performance.svg
  src/images/icons/pwa.svg
  src/images/icons/reload.svg
  src/images/icons/rss.svg
  src/images/icons/seo.svg
Due: none

Update src/site/content/en/blog/gamepad/index.md
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

Add missing `>`
  src/site/content/en/blog/async-clipboard/index.md
Due: remark -q

Lots of prose
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

Add credits
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
