Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

chore: added documentation on new Yaml front matter data
  src/site/content/en/handbook/yaml-front-matter/index.md
Due: remark -q

Snyk
  Snyk
Due: none

Prueba de seguridad
  Prueba de seguridad
Due: none

Escaneo de seguridad
  Escaneo de seguridad
Due: none

APIsec
  APIsec
Due: none

Escaneo a pedido de Fortify
  Escaneo a pedido de Fortify
Due: none

CxFlow
  CxFlow
Due: none

Build
  Build
Due: none

Kubesec
  Kubesec
Due: none

npm-grunt.ym
  .github/workflows/npm-grunt.ymL
Due: none

Added inline codeblock for a border property (#9875)
  src/site/content/en/learn/css/borders/index.md
Due: remark -q

Fix Universal Scene Description header (#9870)
  src/site/content/en/blog/wasm-libraries/index.md
Due: remark -q

web-platform-mar-2023: fix link to browsercompat color-mix (#9852)
  src/site/content/en/blog/web-platform-03-2023/index.md
Due: remark -q

Motor
  Motor
Due: none

Contenedor
  Contenedor
Due: none

Snyk.md
  Snyk.md
Due: remark -q

AZURE
  AZURE
Due: none

Node.js
  Node.js
Due: eslint

Compilación.md
  Compilación.md
Due: remark -q

Kubesec.yml
  kubesec.yml
Due: none

Compilación.md
  Compilacióngke.md
Due: remark -q

42Crunch
  42Crunch
Due: none

veracode.yml
  .github/flujos de trabajo/veracode.yml
Due: none

sysdig-scan.yml
  .github/flujos de trabajo/sysdig-scan.yml
  .github/workflows/sysdig-scan.yml
Due: none

use-imagemin-to-compress-images: normalize plugin case
  src/site/content/en/fast/use-imagemin-to-compress-images/index.md
  src/site/content/es/fast/use-imagemin-to-compress-images/index.md
  src/site/content/ja/fast/use-imagemin-to-compress-images/index.md
  src/site/content/ko/fast/use-imagemin-to-compress-images/index.md
  src/site/content/pt/fast/use-imagemin-to-compress-images/index.md
  src/site/content/ru/fast/use-imagemin-to-compress-images/index.md
  src/site/content/zh/fast/use-imagemin-to-compress-images/index.md
Due: remark -q

use-imagemin-to-compress-images: add imagemin-webp to lossless
  src/site/content/en/fast/use-imagemin-to-compress-images/index.md
  src/site/content/es/fast/use-imagemin-to-compress-images/index.md
  src/site/content/ja/fast/use-imagemin-to-compress-images/index.md
  src/site/content/ko/fast/use-imagemin-to-compress-images/index.md
  src/site/content/pt/fast/use-imagemin-to-compress-images/index.md
  src/site/content/ru/fast/use-imagemin-to-compress-images/index.md
  src/site/content/zh/fast/use-imagemin-to-compress-images/index.md
Due: remark -q

Escaneo de canalización
  Escaneo de canalización
Due: none

npm-gulp.ymL
  .github/flujos de trabajo/npm-gulp.ymL
Due: none

Infraestructura como código
  Infraestructura como código
Due: none

Cloud IaC Scan
  Cloud IaC Scan
Due: none

Compilación e implementación en GKE
  Compilación e implementación en GKE
Due: none

Update src/site/content/en/blog/optimize-cls/index.md
  src/site/content/en/blog/optimize-cls/index.md
Due: remark -q

Update date
  src/site/content/en/blog/optimize-cls/index.md
Due: remark -q

remove extra comma
  src/site/content/en/blog/css-props-and-vals/index.md
Due: remark -q

update footnote in learn accessibility
  src/site/content/en/learn/accessibility/structure/index.md
Due: remark -q

Update LCP with contentful changes
  src/site/content/en/metrics/cls/index.md
  src/site/content/en/metrics/inp/index.md
  src/site/content/en/metrics/lcp/index.md
Due: remark -q

Improve wording
  src/site/content/en/blog/optimize-long-tasks/index.md
Due: remark -q

fix: added role to button with tooltip
  src/site/_includes/partials/site-header.njk
Due: none

Xanitizer
  Xanitizer
Due: none
