Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

add compile-css script which runs autoprefixer (#1549)
  compile-css.js
  package-lock.json
  package.json
  sass.sh
Due: eslint

add custom Firebase loader
  package-lock.json
  package.json
  src/lib/fb-loader.js
  src/lib/fb.js
Due: eslint

use script tags plus optional firestore
  src/lib/fb-loader.js
  src/lib/fb.js
  src/lib/firestore-loader.js
  src/site/_includes/layout.njk
Due: eslint

add custom Firebase loader (#1548)
  package-lock.json
  package.json
  src/lib/fb.js
  src/lib/firestore-loader.js
  src/site/_includes/layout.njk
Due: eslint

include the webcomponents polyfill
  gulpfile.js
  package-lock.json
  package.json
  src/site/_includes/layout.njk
Due: eslint

inline waitFor call
  src/site/_includes/layout.njk
Due: none

add config in rollup
  gulpfile.js
  rollup.config.js
  src/lib/bootstrap-config.js
  src/lib/bootstrap.js
Due: eslint

add bootstrap code
  rollup.config.js
  src/lib/bootstrap.js
  src/site/_includes/layout.njk
Due: eslint

add version log
  src/lib/bootstrap.js
Due: eslint

fix bad merge
  src/site/_includes/layout.njk
Due: none

include the webcomponents polyfill (#1547)
  gulpfile.js
  package-lock.json
  package.json
  rollup.config.js
  src/lib/bootstrap-config.js
  src/lib/bootstrap.js
  src/site/_includes/layout.njk
Due: eslint

Add Yoav's profile picture.
  src/site/content/en/images/authors/yoavweiss.jpg
  src/site/content/en/images/authors/yoavweiss@2x.jpg
Due: none

Add Preloading responsive images blog post (#1555)
  src/site/_data/contributors.json
  src/site/content/en/blog/preload-responsive-images/example-1-after.png
  src/site/content/en/blog/preload-responsive-images/example-1-before.png
  src/site/content/en/blog/preload-responsive-images/example-2-after.png
  src/site/content/en/blog/preload-responsive-images/example-2-before.png
  src/site/content/en/blog/preload-responsive-images/example-3.png
  src/site/content/en/blog/preload-responsive-images/hero.jpg
  src/site/content/en/blog/preload-responsive-images/index.md
  src/site/content/en/images/authors/yoavweiss.jpg
  src/site/content/en/images/authors/yoavweiss@2x.jpg
Due: remark -q

Make Rob happy
  src/site/content/en/blog/fixing-layout-instability/index.md
Due: remark -q

Fixing layout instability blog post (#1560)
  src/site/content/en/blog/fixing-layout-instability/index.md
  src/site/content/en/blog/fixing-layout-instability/layout-comparison.png
  src/site/content/en/blog/fixing-layout-instability/layout-placeholder.png
  src/site/content/en/blog/fixing-layout-instability/layout-shift1.png
  src/site/content/en/blog/fixing-layout-instability/layout-shift2.png
Due: remark -q

switch to dynamic Rollup build system
  build.js
  package.json
  release.js
  rollup.config.js
  src/lib/app.js
  src/lib/bootstrap-entrypoint.js
  src/lib/bootstrap.js
  src/lib/pages/default.js
  src/lib/pages/measure.js
  src/lib/router.js
  src/site/_includes/layout.njk
Due: eslint

move Codelab out of measure bundle
  src/lib/app.js
  src/lib/pages/default.js
Due: eslint

add Terser minify step
  build.js
  package-lock.json
  package.json
Due: eslint

neaten-up comments
  build.js
Due: eslint

fix pathname => url
  src/lib/bootstrap-entrypoint.js
Due: eslint

add incredibly basic SW
  build.js
  src/lib/bootstrap.js
  src/lib/sw.js
  src/site/_includes/layout.njk
Due: eslint

resolve pathname ambiguity
  server.js
Due: eslint

redir instead of 404
  server.js
Due: eslint

add manifest
  gulpfile.js
  src/images/icon-128x128.png
  src/images/icon-144x144.png
  src/images/icon-152x152.png
  src/images/icon-192x192.png
  src/images/icon-384x384.png
  src/images/icon-512x512.png
  src/images/icon-72x72.png
  src/images/icon-96x96.png
  src/misc/manifest.webmanifest
  src/site/_includes/layout.njk
Due: eslint

Start image updates
  src/site/content/en/images/includes/coverage.png
  src/site/content/en/lighthouse-performance/efficient-animated-content/efficient-animated-content.png
  src/site/content/en/lighthouse-performance/efficient-animated-content/index.md
  src/site/content/en/lighthouse-performance/font-display/font-display.png
  src/site/content/en/lighthouse-performance/font-display/index.md
  src/site/content/en/lighthouse-performance/render-blocking-resources/blocking-resources.png
  src/site/content/en/lighthouse-performance/render-blocking-resources/index.md
  src/site/content/en/lighthouse-performance/total-byte-weight/index.md
  src/site/content/en/lighthouse-performance/total-byte-weight/total-byte-weight.png
  src/site/content/en/lighthouse-performance/unminified-css/index.md
  src/site/content/en/lighthouse-performance/unminified-css/unminified-css.png
  src/site/content/en/lighthouse-performance/unminified-javascript/index.md
  src/site/content/en/lighthouse-performance/unminified-javascript/unminified-javascript.png
  src/site/content/en/lighthouse-performance/unused-css-rules/coverage.png
  src/site/content/en/lighthouse-performance/unused-css-rules/index.md
  src/site/content/en/lighthouse-performance/unused-css-rules/unused-css-rules.png
  src/site/content/en/lighthouse-performance/uses-optimized-images/index.md
  src/site/content/en/lighthouse-performance/uses-optimized-images/uses-optimized-images.png
  src/site/content/en/lighthouse-performance/uses-rel-preconnect/index.md
  src/site/content/en/lighthouse-performance/uses-rel-preconnect/uses-rel-preconnect.png
  src/site/content/en/lighthouse-performance/uses-responsive-images/index.md
  src/site/content/en/lighthouse-performance/uses-responsive-images/uses-responsive-images.png
  src/site/content/en/lighthouse-performance/uses-text-compression/index.md
  src/site/content/en/lighthouse-performance/uses-text-compression/uses-text-compression.png
  src/site/content/en/lighthouse-performance/uses-webp-images/index.md
  src/site/content/en/lighthouse-performance/uses-webp-images/uses-webp-images.png
Due: remark -q

Respond to PR comments
  src/styles/components/_columns.scss
  src/styles/components/_compare.scss
Due: sass-lint -v -q"

Respond to PR comments
  src/site/_includes/components/DetailsSummary.js
  src/styles/components/_details.scss
Due: eslint, sass-lint -v -q"

Update load-fast-enough post
  src/site/content/en/lighthouse-pwa/load-fast-enough-for-pwa/index.md
Due: remark -q

Update pub dates for layout stability and responsive images.
  src/site/content/en/blog/fixing-layout-instability/index.md
  src/site/content/en/blog/preload-responsive-images/index.md
Due: remark -q

Update works-offline post
  src/site/_includes/content/lighthouse-performance/improve.njk
  src/site/content/en/lighthouse-pwa/works-offline/index.md
Due: remark -q

Update offline-start-url post
  src/site/content/en/lighthouse-pwa/offline-start-url/index.md
  src/site/content/en/lighthouse-pwa/works-offline/index.md
Due: remark -q

Normalize Chrome Debugger references
  src/site/content/en/lighthouse-performance/critical-request-chains/index.md
  src/site/content/en/lighthouse-pwa/is-on-https/index.md
  src/site/content/en/lighthouse-pwa/redirects-http/index.md
  src/site/content/en/lighthouse-pwa/service-worker/index.md
  src/site/content/en/lighthouse-pwa/works-offline/index.md
Due: remark -q

Update is-on-https post
  src/site/content/en/lighthouse-pwa/is-on-https/index.md
Due: remark -q

Update service-worker post
  src/site/content/en/lighthouse-pwa/service-worker/index.md
Due: remark -q

Start installable-manifest post
  src/site/content/en/lighthouse-pwa/installable-manifest/index.md
Due: remark -q

Add Details component (#1556)
  .eleventy.js
  src/site/_includes/components/Details.js
  src/site/_includes/components/DetailsSummary.js
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_all.scss
  src/styles/components/_details.scss
  src/styles/generic/_all.scss
  src/styles/generic/_details.scss
Due: eslint, sass-lint -v -q", remark -q
