Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

add test
  test/unit/src/site/_filters/getPaths.js
Due: eslint

Revert "Add camera PTZ article (#3923)"
  src/site/content/en/blog/fugu-status/index.md
  src/site/content/en/blog/ptz/camera-ptz-user-prompt.jpg
  src/site/content/en/blog/ptz/hero.jpg
  src/site/content/en/blog/ptz/index.md
  src/site/content/en/blog/ptz/media-internals-page.jpg
  src/site/content/en/blog/ptz/thumbnail.jpg
Due: remark -q

Change article URL
  src/site/content/en/blog/camera-pan-tilt-zoom/camera-ptz-user-prompt.jpg
  src/site/content/en/blog/camera-pan-tilt-zoom/hero.jpg
  src/site/content/en/blog/camera-pan-tilt-zoom/index.md
  src/site/content/en/blog/camera-pan-tilt-zoom/media-internals-page.jpg
  src/site/content/en/blog/camera-pan-tilt-zoom/thumbnail.jpg
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

Update src/site/content/en/blog/file-handling/index.md
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

animations overview
  src/site/_data/paths/animations.json
  src/site/content/en/animations/animations-overview/index.md
  src/site/content/en/animations/index.njk
Due: remark -q

code block
  src/site/content/en/animations/animations-overview/index.md
Due: remark -q

Remove light-level link.
  src/site/content/en/blog/next-gen-css-2019/index.md
Due: remark -q

Respect screenshot image widths from markup (#3943)
  src/styles/components/_images.scss
Due: sass-lint -v -q"

Update content
  src/site/content/en/blog/goibibo/hero.png
  src/site/content/en/blog/goibibo/index.md
  src/site/content/en/blog/goibibo/thumbnail.png
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/detached-window-memory-leaks/index.md
Due: remark -q

Detached window memory leaks (#3945)
  src/site/content/en/blog/detached-window-memory-leaks/heap-snapshot.png
  src/site/content/en/blog/detached-window-memory-leaks/hero.jpg
  src/site/content/en/blog/detached-window-memory-leaks/index.md
  src/site/content/en/blog/detached-window-memory-leaks/performance-memory.png
Due: remark -q

Add memory tag
  src/site/_data/tagsData.json
Due: none

Apply memory tag to relevant pages
  src/site/content/en/blog/adaptive-loading-cds-2019/index.md
  src/site/content/en/blog/detached-window-memory-leaks/index.md
  src/site/content/en/blog/iframe-lazy-loading/index.md
  src/site/content/en/blog/load-faster-like-proxx/index.md
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/index.md
  src/site/content/en/blog/storage-for-the-web/index.md
  src/site/content/en/blog/webassembly-memory-debugging/index.md
  src/site/content/en/lighthouse-performance/bootup-time/index.md
  src/site/content/en/lighthouse-performance/dom-size/index.md
  src/site/content/en/reliable/adaptive-loading-with-service-workers/index.md
Due: remark -q

Detached Windows: fix table
  src/site/content/en/blog/detached-window-memory-leaks/index.md
Due: remark -q

Remove "native" from the codebase
  src/site/_data/event.js
  src/site/_data/paths/payments.json
  src/site/_includes/content/lighthouse-accessibility/about-aria.njk
  src/site/_includes/content/lighthouse-accessibility/accessible-names.njk
  src/site/_includes/content/lighthouse-accessibility/use-native.njk
  src/site/_includes/content/payments/browser-compatibility.njk
  src/site/content/en/accessible/control-focus-with-tabindex/index.md
  src/site/content/en/accessible/control-focus-with-tabindex/self-assessment.assess.yml
  src/site/content/en/angular/get-started-optimize-angular/index.md
  src/site/content/en/blog/a11y-tips-for-web-dev/index.md
  src/site/content/en/blog/appcache-removal/index.md
  src/site/content/en/blog/aria-poison-or-antidote/index.md
  src/site/content/en/blog/at-property/index.md
  src/site/content/en/blog/backdrop-filter/index.md
  src/site/content/en/blog/badging-api/index.md
  src/site/content/en/blog/betty-crocker/index.md
  src/site/content/en/blog/building-a-pwa-at-google-part-1/index.md
  src/site/content/en/blog/contact-picker/index.md
  src/site/content/en/blog/earth-webassembly/index.md
  src/site/content/en/blog/fugu-status/index.md
Due: eslint, remark -q

Rename image lazy-loading post
  src/site/_data/paths/fast.json
  src/site/content/_redirects.yaml
  src/site/content/en/fast/built-in-image-lazy-loading/better-thresholds.png
  src/site/content/en/fast/built-in-image-lazy-loading/hero.png
  src/site/content/en/fast/built-in-image-lazy-loading/index.md
  src/site/content/en/fast/built-in-image-lazy-loading/lazysizes-threshold.png
  src/site/content/en/fast/built-in-image-lazy-loading/range-request.png
Due: remark -q

Rename post
  src/site/content/en/fast/browser-level-image-lazy-loading/better-thresholds.png
  src/site/content/en/fast/browser-level-image-lazy-loading/hero.png
  src/site/content/en/fast/browser-level-image-lazy-loading/index.md
  src/site/content/en/fast/browser-level-image-lazy-loading/lazysizes-threshold.png
  src/site/content/en/fast/browser-level-image-lazy-loading/range-request.png
Due: remark -q

Fix URL in fast.json
  src/site/_data/paths/fast.json
Due: none

Update Native lazy-loading for CMSs post content.
  src/site/content/en/blog/native-lazy-loading-for-cmss/index.md
Due: remark -q

Detached Windows: fix table (#3952)
  src/site/content/en/blog/detached-window-memory-leaks/index.md
Due: remark -q

refactor: update based on feedback
  src/lib/components/BaseResponseElement/index.js
  src/lib/components/EventSchedule/index.js
  src/lib/components/Tabs/index.js
Due: eslint

refactor(types): add more typings to codebase (#3921)
  package-lock.json
  package.json
  src/lib/components/Assessment/index.js
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/BaseModalElement/index.js
  src/lib/components/BaseResponseElement/index.js
  src/lib/components/BaseStateElement/index.js
  src/lib/components/Codelab/index.js
  src/lib/components/EventCarousel/index.js
  src/lib/components/EventSchedule/index.js
  src/lib/components/EventScheduleModal/index.js
  src/lib/components/Header/index.js
  src/lib/components/LighthouseScoresMetrics/index.js
  src/lib/components/ResponseMultipleChoice/index.js
  src/lib/components/ResponseThinkAndCheck/index.js
  src/lib/components/Search/index.js
  src/lib/components/SelectGroup/index.js
  src/lib/components/TableOfContents/index.js
  src/lib/components/Tabs/index.js
  src/lib/utils/generate-salt.js
  tsconfig.json
  types/modules/webdev_analytics/index.d.ts
  types/modules/webdev_config/index.d.ts
  types/modules/webdev_entrypoint/index.d.ts
Due: eslint

Fix an a11y link
  src/site/content/en/accessible/accessible-responsive-design/index.md
Due: remark -q

Add related post
  src/site/content/en/fast/codelab-two-ways-to-prefetch/index.md
Due: remark -q

[Notification Triggers article] Revive Notification Triggers (#3936)
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

Rename "Native File System" to "File System Access" (#3925)
  src/site/_data/event.js
  src/site/content/_redirects.yaml
  src/site/content/en/blog/async-clipboard/index.md
  src/site/content/en/blog/browser-nativefs/index.md
  src/site/content/en/blog/file-system-access/fs-open.jpg
  src/site/content/en/blog/file-system-access/fs-save-icon.jpg
  src/site/content/en/blog/file-system-access/fs-save-permission-crop.jpg
  src/site/content/en/blog/file-system-access/fs-save-permission.jpg
  src/site/content/en/blog/file-system-access/fs-save.jpg
  src/site/content/en/blog/file-system-access/hero.jpg
  src/site/content/en/blog/file-system-access/index.md
  src/site/content/en/blog/fugu-status/index.md
  src/site/content/en/blog/live-wrap-up/index.md
  src/site/content/en/blog/progressively-enhance-your-pwa/index.md
  src/site/content/en/blog/read-files/index.md
  src/site/content/en/blog/storage-for-the-web/index.md
  src/site/content/en/progressive-web-apps/app-like-pwas/index.md
  src/site/content/en/progressive-web-apps/using-a-pwa-in-your-android-app/index.md
Due: eslint, remark -q

Native File System → File System Access
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Update src/site/content/en/blog/file-system-access/index.md
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Add related post to codelab
  src/site/content/en/fast/codelab-preload-critical-assets/index.md
Due: remark -q

Add related post to codelab
  src/site/content/en/fast/codelab-preload-web-fonts/index.md
Due: remark -q

Remove stray ')'
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

Change the default Glitch view to html file
  src/site/content/en/fast/codelab-preload-web-fonts/index.md
Due: remark -q

Add step-by-step walkthrough
  src/site/content/en/blog/detached-window-memory-leaks/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
