Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

refactor(CodelabsCallout): remove old callout HTML and fix layout (#7077)
  src/component-library/callout/callout.njk
  src/scss/blocks/_callout.scss
  src/site/_filters/find-by-url.js
  src/site/_includes/components/CodelabsCallout.js
  src/site/content/en/lighthouse-seo/http-status-code/index.md
  test/unit/src/site/_filters/find-by-url.js
  test/unit/src/site/_filters/index.js
  test/unit/src/site/_includes/components/CodelabsCallout.js
  test/unit/src/site/_includes/components/index.js
Due: eslint, sass-lint -v -q", remark -q

Update src/site/content/en/learn/pwa/offline-data/index.md
  src/site/content/en/learn/pwa/offline-data/index.md
Due: remark -q

Add screenshot image
  src/component-library/figure/variants/screenshot/screenshot.json
  src/component-library/figure/variants/screenshot/screenshot.njk
  src/scss/blocks/_figure.scss
  src/site/content/en/blog/test-post/index.md
Due: sass-lint -v -q", remark -q

Update src/site/content/en/blog/handwriting-recognition/index.md
  src/site/content/en/blog/handwriting-recognition/index.md
Due: remark -q

Add screenshot image (#7236)
  src/component-library/figure/variants/screenshot/screenshot.json
  src/component-library/figure/variants/screenshot/screenshot.njk
  src/scss/blocks/_figure.scss
  src/site/content/en/blog/test-post/index.md
Due: sass-lint -v -q", remark -q

Add spaces for newlines
  src/site/content/en/blog/porting-gphoto2-to-the-web/index.md
Due: remark -q

Updated for Topics
  src/site/content/en/blog/digging-into-the-privacy-sandbox/index.md
Due: remark -q

Update for Topics
  src/site/content/en/blog/digging-into-the-privacy-sandbox/index.md
Due: remark -q

Update shipping version of Window Controls Overlay.
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

Added reference to FLoC
  src/site/content/en/blog/digging-into-the-privacy-sandbox/index.md
Due: remark -q

Update link to installable.
  redirects.yaml
  src/site/content/en/blog/browser-fs-access/index.md
  src/site/content/en/blog/file-handling/index.md
  src/site/content/en/lighthouse-pwa/installable-manifest/index.md
  src/site/content/es/blog/file-handling/index.md
  src/site/content/ko/blog/file-handling/index.md
  src/site/content/pt/blog/browser-fs-access/index.md
  src/site/content/zh/blog/file-handling/index.md
Due: remark -q

Update for Topics (#7237)
  src/site/content/en/blog/digging-into-the-privacy-sandbox/index.md
Due: remark -q

Update src/site/content/en/blog/window-controls-overlay/index.md
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

Update shipping version of Window Controls Overlay. (#7238)
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

Replace typo in JS snippet for responsiveness post
  src/site/content/en/blog/better-responsiveness-metric/index.md
Due: remark -q
