Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

feat: adjust the top section layout on the author page
  src/scss/blocks/_author.scss
  src/scss/utilities/_avatar.scss
  src/site/_collections/authors.js
  src/site/_filters/i18n.js
  src/site/_includes/item-page.njk
  src/site/content/en/authors/individual.md
  types/site/_data/authorsData.d.ts
Due: eslint, sass-lint -v -q", remark -q

feat: add ability to render single or multiple line
  src/site/_includes/item-page.njk
Due: none

docs: update the bio usage
  src/site/content/en/handbook/author-profile/index.md
Due: remark -q

Added inline codeblock for a border property
  src/site/content/en/learn/css/borders/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/slow-roads/index.md
Due: remark -q

fix: comment typo
  src/site/_filters/i18n.js
Due: eslint

Mini Apps: Add section on Mini App Updates
  src/site/content/en/mini-apps/mini-app-markup-styling-and-scripting/index.md
Due: remark -q

feat: added credits section to post
  src/scss/blocks/_post-credits.scss
  src/scss/next.scss
  src/site/_data/i18n/post.yml
  src/site/_includes/partials/post-credits.njk
  src/site/_includes/partials/post.njk
Due: sass-lint -v -q"

chore: temp test page for design QA
  src/site/content/en/blog/web-platform-01-2023/index.md
Due: remark -q

Update src/site/content/en/blog/slow-roads/index.md
  src/site/content/en/blog/slow-roads/index.md
Due: remark -q

Código de conducta
  Código de conducta
Due: none

static.yml
  .github/flujos de trabajo/static.ymL
Due: none

tencent.yml
  .github/flujos de trabajo/tencent.ymL
Due: none

Politica de seguridad
  Politica de seguridad
Due: none

contribuyendo
  contribuyendo
Due: none

Google
  .github/flujos de trabajo/google.yml
Due: none

azure-webapps-node.yml
  .github/flujos de trabajo/azure-webapps-node.yml
Due: none

terraform.yml
  .github/flujos de trabajo/terraform.yml
  .github/workflows/terraform.yml
Due: none

Update passkey articles
  src/site/content/en/identity/passkey-form-autofill/index.md
  src/site/content/en/identity/passkey-registration/index.md
Due: remark -q

Update index.md
  src/site/content/en/learn/html/audio-video/index.md
Due: remark -q

Reorder the title of the post on mini-app conclusion for better readability
  src/site/content/ko/mini-apps/mini-app-conclusion/index.md
Due: remark -q

Update index.md (#9886)
  src/site/content/en/learn/html/audio-video/index.md
Due: remark -q

Add Korean Translations for Mini-Apps (#8471)
  src/site/_data/i18n/paths/mini_apps.yml
  src/site/_data/i18n/tags.yml
  src/site/content/ko/mini-apps/index.njk
  src/site/content/ko/mini-apps/mini-app-about/index.md
  src/site/content/ko/mini-apps/mini-app-alternative-runtime-environments/index.md
  src/site/content/ko/mini-apps/mini-app-components/index.md
  src/site/content/ko/mini-apps/mini-app-conclusion/index.md
  src/site/content/ko/mini-apps/mini-app-devtools/index.md
  src/site/content/ko/mini-apps/mini-app-example-project/index.md
  src/site/content/ko/mini-apps/mini-app-markup-styling-and-scripting/index.md
  src/site/content/ko/mini-apps/mini-app-open-source-projects/index.md
  src/site/content/ko/mini-apps/mini-app-programming-way/index.md
  src/site/content/ko/mini-apps/mini-app-project-structure-lifecycle-and-bundling/index.md
  src/site/content/ko/mini-apps/mini-app-standardization/index.md
  src/site/content/ko/mini-apps/mini-app-super-apps/index.md
  src/site/content/ko/mini-apps/mini-app-what-are-h5-and-quickapp/index.md
Due: remark -q

style: footer cols adapt with to content
  src/scss/blocks/_post-credits.scss
Due: sass-lint -v -q"

chore: removed test data
  src/site/content/en/blog/web-platform-01-2023/index.md
Due: remark -q

Slow Roads post (#9868)
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/slow-roads/index.md
Due: remark -q

fortify.ymL
  .github/flujos de trabajo/fortify.ymL
Due: none

Documentos
  Documentos
Due: none

Apply suggestions from code review
  src/site/content/en/mini-apps/mini-app-markup-styling-and-scripting/index.md
Due: remark -q

chore: change max-width for design system breakout
  src/scss/pages/_design-system.scss
Due: sass-lint -v -q"

Código
  Código
Due: none

gatsby.yml
  .github/flujos de trabajo/gatsby.yml
Due: none

Tencent
  Tencent
Due: none

snyk-container.yml
  .github/flujos de trabajo/snyk-container.yml
Due: none

snyk-infrastructure.yml
  .github/flujos de trabajo/snyk-infrastructure.ymL
Due: none

Compilación
  Compilación
Due: none

astro.yml
  .github/flujos de trabajo/astro.yml
Due: none

crunch42.yml
  .github/flujos de trabajo/crunch42.yml
Due: none
