Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Changes from feedback.
  src/site/content/en/blog/fast-playback-with-preload/index.md
Due: remark -q

fix typo in media accessibility page (#4182)
  src/site/content/en/media/media-accessibility/index.md
Due: remark -q

[Gamepad article] Remove Switch references, add iframe embed instead (#4181)
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

update hex to a color with AAA passing contrast
  src/styles/generic/_code.scss
Due: sass-lint -v -q"

update hex to a color with AAA passing contrast (#4186)
  src/styles/generic/_code.scss
Due: sass-lint -v -q"

Update index.md
  src/site/content/en/blog/min-max-clamp/index.md
Due: remark -q

CORS-RFC1918 feedback article #3988
  src/site/content/en/blog/cors-rfc1918-feedback/console-error.png
  src/site/content/en/blog/cors-rfc1918-feedback/diagram.png
  src/site/content/en/blog/cors-rfc1918-feedback/hero.jpg
  src/site/content/en/blog/cors-rfc1918-feedback/index.md
Due: remark -q

Update
  src/site/content/en/blog/cors-rfc1918-feedback/index.md
Due: remark -q

Add devices tag to gamepad article
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

Link to lazysizes library
  src/site/content/en/fast/browser-level-image-lazy-loading/index.md
Due: remark -q

Add devices tag to gamepad article (#4191)
  src/site/content/en/blog/gamepad/index.md
Due: remark -q

Added sign-up-form-best-practices assets
  src/site/content/en/blog/sign-up-form-best-practices/hero.jpg
  src/site/content/en/blog/sign-up-form-best-practices/index.md
  src/site/content/en/blog/sign-up-form-best-practices/thumbnail
Due: remark -q

Link to lazysizes library (#4192)
  src/site/content/en/fast/browser-level-image-lazy-loading/index.md
Due: remark -q

rename directory to push-notifications
  src/site/content/en/push-notifications/codelab-notifications-get-started/console-output.png
  src/site/content/en/push-notifications/codelab-notifications-get-started/copy-live-app-url.png
  src/site/content/en/push-notifications/codelab-notifications-get-started/index.md
  src/site/content/en/push-notifications/codelab-notifications-get-started/live-app-new-tab.png
  src/site/content/en/push-notifications/codelab-notifications-get-started/remix-to-edit.png
  src/site/content/en/push-notifications/codelab-notifications-push-server/index.md
  src/site/content/en/push-notifications/codelab-notifications-service-worker/index.md
  src/site/content/en/push-notifications/index.njk
  src/site/content/en/push-notifications/use-push-notifications-to-engage-users/index.md
  src/site/content/en/push-notifications/use-push-notifications-to-engage-users/predicaments-android.png
  src/site/content/en/push-notifications/use-push-notifications-to-engage-users/predicaments-macbook.png
Due: remark -q

rename files
  src/site/_data/paths/index.js
  src/site/_data/paths/notifications.json
  src/site/_data/paths/push-notifications.json
  src/site/content/en/push-notifications/notifications-api-codelab/console-output.png
  src/site/content/en/push-notifications/notifications-api-codelab/copy-live-app-url.png
  src/site/content/en/push-notifications/notifications-api-codelab/index.md
  src/site/content/en/push-notifications/notifications-api-codelab/live-app-new-tab.png
  src/site/content/en/push-notifications/notifications-api-codelab/remix-to-edit.png
  src/site/content/en/push-notifications/push-notifications-guide/index.md
  src/site/content/en/push-notifications/push-notifications-overview/index.md
  src/site/content/en/push-notifications/push-notifications-overview/predicaments-android.png
  src/site/content/en/push-notifications/push-notifications-overview/predicaments-macbook.png
  src/site/content/en/push-notifications/push-notifications-server-codelab/index.md
  src/site/content/en/push-notifications/service-worker-push-notifications-codelab/index.md
Due: eslint, remark -q

update the push notifications collection
  src/site/_data/paths/index.js
  src/site/_data/paths/push-notifications.json
  src/site/content/en/learn/learn.11tydata.js
  src/site/content/en/push-notifications/index.njk
  src/site/content/en/push-notifications/manage-push-notifications-codelab/index.md
  src/site/content/en/push-notifications/notifications-api-codelab/index.md
  src/site/content/en/push-notifications/notifications-api-codelab/live-app-new-tab.png
  src/site/content/en/push-notifications/push-notifications-guide/index.md
  src/site/content/en/push-notifications/push-notifications-overview/index.md
  src/site/content/en/push-notifications/receive-push-notifications-codelab/index.md
  src/site/content/en/push-notifications/send-push-notifications-codelab/console-output.png
  src/site/content/en/push-notifications/send-push-notifications-codelab/copy-live-app-url.png
  src/site/content/en/push-notifications/send-push-notifications-codelab/index.md
  src/site/content/en/push-notifications/send-push-notifications-codelab/live-app.jpg
  src/site/content/en/push-notifications/send-push-notifications-codelab/remix-to-edit.png
Due: eslint, remark -q

Add drag and drop integration
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Update src/site/content/en/blog/file-system-access/index.md
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Proofreading edits
  src/site/content/en/blog/cors-rfc1918-feedback/index.md
Due: remark -q

Minor edits
  src/site/content/en/blog/cors-rfc1918-feedback/index.md
Due: remark -q

Update
  src/site/content/en/blog/cors-rfc1918-feedback/console-error.png
  src/site/content/en/blog/cors-rfc1918-feedback/cors-error.png
  src/site/content/en/blog/cors-rfc1918-feedback/index.md
Due: remark -q

Edit the description
  src/site/content/en/blog/cors-rfc1918-feedback/index.md
Due: remark -q

Fix typos
  src/site/content/en/blog/cors-rfc1918-feedback/index.md
Due: remark -q

Fix formatting
  src/site/content/en/blog/cors-rfc1918-feedback/index.md
Due: remark -q

Replace embedded Glitch demos with links
  src/site/content/en/secure/what-is-mixed-content/index.md
Due: remark -q

Delete passive-mixed-content.jpg
  src/site/content/en/secure/what-is-mixed-content/passive-mixed-content.jpg
Due: none

Delete active-mixed-content.jpg
  src/site/content/en/secure/what-is-mixed-content/active-mixed-content.jpg
Due: none

Add new screenshots from the Issues Tab
  src/site/content/en/secure/what-is-mixed-content/active-mixed-content.jpg
  src/site/content/en/secure/what-is-mixed-content/passive-mixed-content.jpg
Due: none

Update text about the Issues Tab
  src/site/content/en/secure/what-is-mixed-content/index.md
Due: remark -q

Added codelab for sign-up form best practices
  src/site/content/en/blog/codelab-sign-up-form-best-practices/email-keyboard.png
  src/site/content/en/blog/codelab-sign-up-form-best-practices/index.md
  src/site/content/en/blog/sign-up-form-best-practices/index.md
Due: remark -q

Incorrect MDN link for Clipboard API
  src/site/content/en/blog/async-clipboard/index.md
Due: remark -q

Stop implying alternative browsers aren't modern
  src/site/content/en/blog/fetch-metadata/index.md
Due: remark -q

update the instructions
  src/site/content/en/push-notifications/push-notifications-server-codelab/index.md
Due: remark -q

miscellaneous updates
  src/site/content/en/push-notifications/manage-push-notifications-codelab/index.md
  src/site/content/en/push-notifications/permission-ux/gauntface-enabled.png
  src/site/content/en/push-notifications/permission-ux/gauntface-intro.png
  src/site/content/en/push-notifications/permission-ux/google-io-first-load.png
  src/site/content/en/push-notifications/permission-ux/google-io-permission-prompt.png
  src/site/content/en/push-notifications/permission-ux/google-io-settings-panel.png
  src/site/content/en/push-notifications/permission-ux/index.md
  src/site/content/en/push-notifications/permission-ux/owen-bad-ux.png
  src/site/content/en/push-notifications/permission-ux/owen-good-example.png
  src/site/content/en/push-notifications/permission-ux/owen-permission-prompt.png
  src/site/content/en/push-notifications/push-notifications-client-codelab/console-output.png
  src/site/content/en/push-notifications/push-notifications-client-codelab/copy-live-app-url.png
  src/site/content/en/push-notifications/push-notifications-client-codelab/index.md
  src/site/content/en/push-notifications/push-notifications-client-codelab/live-app.jpg
  src/site/content/en/push-notifications/push-notifications-client-codelab/remix-to-edit.png
  src/site/content/en/push-notifications/push-notifications-guide/index.md
  src/site/content/en/push-notifications/push-notifications-overview/index.md
  src/site/content/en/push-notifications/receive-push-notifications-codelab/index.md
Due: remark -q
