Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

add glitch link for petele
  src/site/_data/contributors.js
Due: eslint

Add idle detection article
  src/site/content/en/blog/idle-detection/demo.png
  src/site/content/en/blog/idle-detection/hero.jpg
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

Shorten performance.measureMemory title.
  src/site/content/en/blog/monitor-total-page-memory-usage/index.md
Due: remark -q

Wrap code in headings. (#2623)
  src/styles/generic/_code.scss
Due: sass-lint -v -q"

Shorten performance.measureMemory title. (#2632)
  src/site/content/en/blog/monitor-total-page-memory-usage/index.md
Due: remark -q

chore(subscribe): update copy (#2624)
  src/site/_includes/partials/subscribe.njk
Due: none

add glitch link for petele (#2631)
  src/site/_data/contributors.js
Due: eslint

Updates to match the new caching
  src/lib/content-indexing.js
  src/lib/loader.js
Due: eslint

fix(meta): remove double quote from text in meta attributes, fixes #2627
  src/site/_filters/strip.js
  src/site/_includes/components/Meta.js
Due: eslint

Write file processing introductions.
  src/site/content/en/media/containers-and-codecs/index.md
  src/site/content/en/media/files-introduction/index.md
  src/site/content/en/media/for-embedding/index.md
  src/site/content/en/media/for-frameworks/index.md
  src/site/content/en/media/media.11tydata.js
Due: eslint, remark -q

docs(strip): update description of function
  src/site/_filters/strip.js
Due: eslint

fix(meta): remove double quote from text in meta attributes, fixes #2627 (#2635)
  src/site/_filters/strip.js
  src/site/_includes/components/Meta.js
Due: eslint

refactor(meta): use `&quot;` replaceValue for `"`
  src/site/_includes/components/Meta.js
Due: eslint

refactor(meta): use `&quot;` replaceValue for `"` (#2636)
  src/site/_includes/components/Meta.js
Due: eslint

Remove extraneous tag
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Update src/site/content/en/blog/content-indexing-api/index.md
  src/site/content/en/blog/content-indexing-api/index.md
Due: remark -q

Clarify Shape Detection APIs statuses. (#2567)
  src/site/content/en/blog/fugu-status/index.md
  src/site/content/en/blog/shape-detection/index.md
Due: remark -q

Content Indexing update: launchUrl is now url (#2597)
  src/site/content/en/blog/content-indexing-api/index.md
Due: remark -q

add note about mobile only (#2600)
  src/site/content/en/blog/contact-picker/index.md
Due: remark -q

Add TAG Review
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Fixed closing figure tags
  src/site/content/en/fast/preload-critical-assets/index.md
Due: remark -q

Address review feedback
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Resize screenshots
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Add tests for postsWithLighthouse collection
  test/site/_collections/index.js
  test/site/_collections/posts-with-lighthouse/eleventy.js
  test/site/_collections/posts-with-lighthouse/index.js
  test/site/_collections/posts-with-lighthouse/stubs/collection.md
  test/site/_collections/posts-with-lighthouse/stubs/test-1.md
  test/site/_collections/posts-with-lighthouse/stubs/test-2.md
  test/site/_collections/posts-with-lighthouse/stubs/test-3.md
  test/site/_collections/posts-with-lighthouse/stubs/test-4.md
  test/site/_collections/posts-with-lighthouse/stubs/test-5.md
Due: eslint, remark -q

lint
  test/site/_collections/posts-with-lighthouse/eleventy.js
  test/site/_collections/posts-with-lighthouse/index.js
  test/site/_collections/posts-with-lighthouse/stubs/test-1.md
  test/site/_collections/posts-with-lighthouse/stubs/test-2.md
  test/site/_collections/posts-with-lighthouse/stubs/test-3.md
  test/site/_collections/posts-with-lighthouse/stubs/test-4.md
  test/site/_collections/posts-with-lighthouse/stubs/test-5.md
Due: eslint, remark -q

Fix acknowledgements section in measureMemory
  src/site/content/en/blog/monitor-total-page-memory-usage/index.md
Due: remark -q

migrate cache api intro doc
  src/site/content/en/blog/cache-api-quick-guide/index.md
Due: remark -q

tweaks & updates
  src/site/content/en/blog/cache-api-quick-guide/index.md
Due: remark -q

Extract runLEleventy to a separate file
  test/site/_collections/index.js
  test/site/_collections/posts-with-lighthouse/eleventy.js
  test/site/_collections/posts-with-lighthouse/index.js
  test/site/_collections/runEleventy.js
Due: eslint

Add tests for recent-posts collection
  test/site/_collections/index.js
  test/site/_collections/recent-posts/eleventy.js
  test/site/_collections/recent-posts/index.js
  test/site/_collections/recent-posts/stubs/collection.md
  test/site/_collections/recent-posts/stubs/test-1.md
  test/site/_collections/recent-posts/stubs/test-2.md
  test/site/_collections/recent-posts/stubs/test-3.md
  test/site/_collections/recent-posts/stubs/test-4.md
  test/site/_collections/recent-posts/stubs/test-5.md
  test/site/_collections/recent-posts/stubs/test-6.md
  test/site/_collections/recent-posts/stubs/test-7.md
  test/site/_collections/runEleventy.js
Due: eslint, remark -q

remove fbzx query param
  .github/ISSUE_TEMPLATE/propose-new-content.md
Due: remark -q

Fixed closing figure tags (#2639)
  src/site/content/en/fast/preload-critical-assets/index.md
Due: remark -q

Updated to match the latest W3C specification
  src/site/content/en/progressive-web-apps/customize-install/index.md
Due: remark -q

Fix acknowledgements section in measureMemory (#2642)
  src/site/content/en/blog/monitor-total-page-memory-usage/index.md
Due: remark -q

Include more page types in percy tests.
  src/site/content/en/blog/test-post/a.jpg
  src/site/content/en/blog/test-post/hero.jpg
  src/site/content/en/blog/test-post/image-inline.png
  src/site/content/en/blog/test-post/image-screenshot.png
  src/site/content/en/blog/test-post/image-small.png
  src/site/content/en/blog/test-post/img1.png
  src/site/content/en/blog/test-post/img2.png
  src/site/content/en/blog/test-post/index.md
  tools/percy/snapshots.js
Due: eslint, remark -q

Include more page types in percy tests. (#2647)
  src/site/content/en/blog/test-post/a.jpg
  src/site/content/en/blog/test-post/hero.jpg
  src/site/content/en/blog/test-post/image-inline.png
  src/site/content/en/blog/test-post/image-screenshot.png
  src/site/content/en/blog/test-post/image-small.png
  src/site/content/en/blog/test-post/img1.png
  src/site/content/en/blog/test-post/img2.png
  src/site/content/en/blog/test-post/index.md
  tools/percy/snapshots.js
Due: eslint, remark -q

fix: service worker updates meta content in head rather than body
  src/lib/sw.js
  src/site/_includes/layout.njk
Due: eslint

fix(rss): set image urls
  src/site/content/en/feed.njk
  src/site/content/en/tags/feed.njk
Due: none

Update test/integration/partials-test.js
  test/integration/partials-test.js
Due: eslint

test(partials): test that partials include appropriate rss feeds
  src/site/_includes/layout.njk
  test/integration/index.js
  test/integration/partials-test.js
Due: eslint
