Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Move locale to 11tydata files
  src/lib/urls.js
  src/site/_includes/layout.njk
  src/site/content/en/en.11tydata.js
  src/site/content/pl/pl.11tydata.js
Due: eslint

Add additional lazy-load images for M86 update
  src/site/content/en/fast/native-lazy-loading/better-thresholds.png
  src/site/content/en/fast/native-lazy-loading/index.md
  src/site/content/en/fast/native-lazy-loading/lazysizes-threshold.png
Due: remark -q

Update language.js
  src/lib/utils/language.js
Due: eslint

Add language routing to internal navigation in SPA (#3503)
  locale-handler.js
  src/lib/actions.js
  src/lib/app.js
  src/lib/components/LanguageSelect/index.js
  src/lib/loader.js
  src/lib/store.js
  src/lib/urls.js
  src/lib/utils/language.js
  src/lib/utils/router.js
  src/site/_includes/layout.njk
  src/site/_includes/partials/post.njk
  src/site/content/en/en.11tydata.js
  src/site/content/pl/pl.11tydata.js
Due: eslint

Filter blod collection by language
  src/site/_collections/hooks/blog.js
  src/site/_filters/filter-by-lang.js
  src/site/content/en/blog/index.11tydata.js
  src/site/content/en/en.11tydata.js
  src/site/content/en/lang.11tydata.js
Due: eslint

Fix nested list issue (#3474)
  src/styles/generic/_lists.scss
Due: sass-lint -v -q"

fix(lighthouse): correct use responsive images threshold (#3498)
  src/site/content/en/lighthouse-performance/uses-responsive-images/index.md
Due: remark -q

Fixes #1651. Add missing syntax.
  src/site/content/en/react/accessibility-auditing-react/index.md
Due: remark -q

Removes space in homepage URLs
  src/site/_data/authorsData.json
Due: none

Removes space in homepage URLs (#3517)
  src/site/_data/authorsData.json
Due: none

Fixes #1651. Add missing syntax. (#3516)
  src/site/content/en/react/accessibility-auditing-react/index.md
Due: remark -q

Add PageSpeed Insights (#3502)
  src/site/content/en/handbook/word-list/index.md
Due: remark -q

Align changes with latest team discussions
  src/site/content/en/fast/native-lazy-loading/better-thresholds.png
  src/site/content/en/fast/native-lazy-loading/index.md
  src/site/content/en/fast/native-lazy-loading/lazysizes-threshold.png
Due: remark -q

Minor tweak: thresholds -> threshold for image label
  src/site/content/en/fast/native-lazy-loading/lazysizes-threshold.png
Due: none

Add note about backported thresholds
  src/site/content/en/fast/native-lazy-loading/index.md
Due: remark -q

Mention that GIFs should be converted into animated videos
  src/site/content/en/handbook/content-checklist/index.md
Due: remark -q

Revert "Add language routing to internal navigation in SPA (#3503)"
  locale-handler.js
  src/lib/actions.js
  src/lib/app.js
  src/lib/components/LanguageSelect/index.js
  src/lib/loader.js
  src/lib/store.js
  src/lib/urls.js
  src/lib/utils/language.js
  src/lib/utils/router.js
  src/site/_includes/layout.njk
  src/site/_includes/partials/post.njk
  src/site/content/en/en.11tydata.js
  src/site/content/pl/pl.11tydata.js
Due: eslint

Revert "Add language routing to internal navigation in SPA (#3503)" (#3520)
  locale-handler.js
  src/lib/actions.js
  src/lib/app.js
  src/lib/components/LanguageSelect/index.js
  src/lib/loader.js
  src/lib/store.js
  src/lib/urls.js
  src/lib/utils/language.js
  src/lib/utils/router.js
  src/site/_includes/layout.njk
  src/site/_includes/partials/post.njk
  src/site/content/en/en.11tydata.js
  src/site/content/pl/pl.11tydata.js
Due: eslint

Update section on downsides (bug fixed)
  src/site/content/en/fast/native-lazy-loading/index.md
Due: remark -q

Minor tweak to Chrome versioning
  src/site/content/en/fast/native-lazy-loading/index.md
Due: remark -q

Resize new images to address bot
  src/site/content/en/fast/native-lazy-loading/better-thresholds.png
  src/site/content/en/fast/native-lazy-loading/lazysizes-threshold.png
Due: none

Fix typo in "Cache-Control"
  src/site/content/en/reliable/handling-navigation-requests/index.md
Due: remark -q

Minor updates to native lazy-load (#3513)
  src/site/content/en/fast/native-lazy-loading/better-thresholds.png
  src/site/content/en/fast/native-lazy-loading/index.md
  src/site/content/en/fast/native-lazy-loading/lazysizes-threshold.png
Due: remark -q

Revert "Revert "Add language routing to internal navigation in SPA (#3503)" (#3520)"
  locale-handler.js
  src/lib/actions.js
  src/lib/app.js
  src/lib/components/LanguageSelect/index.js
  src/lib/loader.js
  src/lib/store.js
  src/lib/urls.js
  src/lib/utils/language.js
  src/lib/utils/router.js
  src/site/_includes/layout.njk
  src/site/_includes/partials/post.njk
  src/site/content/en/en.11tydata.js
  src/site/content/pl/pl.11tydata.js
Due: eslint

Add check for lang variable
  src/lib/utils/router.js
Due: eslint

Enable scheduled posts
  .github/workflows/continuous-integration-workflow.yml
Due: none

Enable builds on Friday.
  .github/workflows/continuous-integration-workflow.yml
Due: none

Add upload streaming article.
  src/site/content/en/blog/fetch-upload-streaming/hero.jpg
  src/site/content/en/blog/fetch-upload-streaming/index.md
Due: remark -q

Use path.join
  package-lock.json
  package.json
  src/lib/utils/router.js
Due: eslint

Link to the Glitch support page about embed query params
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

Update the Glitch embed instructions
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

Add service worker and HTTP caching pros and cons guide
  src/images/authors/jonchen.jpg
  src/images/authors/jonchen@2x.jpg
  src/site/_data/authorsData.json
  src/site/_data/paths/reliable.json
  src/site/content/en/reliable/service-worker-caching-and-http-caching/caching-flow.png
  src/site/content/en/reliable/service-worker-caching-and-http-caching/index.md
  src/site/content/en/reliable/service-worker-caching-and-http-caching/workbox.png
Due: remark -q

Rename jang.11tydata.js to lang.js
  src/site/content/en/blog/index.11tydata.js
  src/site/content/en/en.11tydata.js
  src/site/content/en/lang.js
Due: eslint

Add service worker and HTTP caching pros and cons guide (#3526)
  src/images/authors/jonchen.jpg
  src/images/authors/jonchen@2x.jpg
  src/site/_data/authorsData.json
  src/site/_data/paths/reliable.json
  src/site/content/en/reliable/service-worker-caching-and-http-caching/caching-flow.png
  src/site/content/en/reliable/service-worker-caching-and-http-caching/index.md
  src/site/content/en/reliable/service-worker-caching-and-http-caching/workbox.png
Due: remark -q

Add site speed and business metrics post
  src/site/content/en/blog/site-speed-and-business-metrics/hero.jpg
  src/site/content/en/blog/site-speed-and-business-metrics/index.md
  src/site/content/en/blog/site-speed-and-business-metrics/test-client-side.jpg
  src/site/content/en/blog/site-speed-and-business-metrics/test-server-side.jpg
Due: remark -q

Add bpj and msdikla as authors
  src/images/authors/bpj.jpg
  src/images/authors/bpj@2x.jpg
  src/images/authors/msdikla.jpg
  src/images/authors/msdikla@2x.jpg
  src/site/_data/authorsData.json
Due: none

Wrap lines at 100 characters
  src/site/_data/paths/fast.json
  src/site/content/en/blog/site-speed-and-business-metrics/index.md
Due: remark -q

Remove hero
  src/site/content/en/blog/site-speed-and-business-metrics/hero.jpg
  src/site/content/en/blog/site-speed-and-business-metrics/index.md
Due: remark -q
