Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

fix order
  src/styles/components/_header.scss
Due: sass-lint -v -q"

review feedback
  src/lib/components/Codelab/index.js
Due: eslint

change CSS on codelab page to use sticky
  src/lib/components/Codelab/_styles.scss
  src/styles/components/_header.scss
  src/styles/generic/_page.scss
  src/styles/pages/_all.scss
  src/styles/pages/_codelab.scss
Due: sass-lint -v -q"

ensure we test sticky layout even in test
  src/lib/components/Codelab/_styles.scss
  src/lib/components/Codelab/index.js
Due: eslint, sass-lint -v -q"

remove hiding overflow, hides search box
  src/styles/components/_header.scss
Due: sass-lint -v -q"

include snapshot test
  build.js
  src/lib/components/Codelab/_styles.scss
  src/lib/components/Codelab/index.js
  src/site/_includes/codelab.njk
  tools/percy/snapshots.js
Due: eslint, sass-lint -v -q"

add comment
  src/lib/components/Codelab/index.js
Due: eslint

update web-codelab and include notice on mobile (#2401)
  build.js
  src/lib/components/Codelab/_styles.scss
  src/lib/components/Codelab/index.js
  src/site/_includes/codelab.njk
  src/styles/generic/_page.scss
  src/styles/pages/_all.scss
  src/styles/pages/_codelab.scss
  tools/percy/snapshots.js
Due: eslint, sass-lint -v -q"

fix not clearing hash on nav
  src/lib/utils/router.js
Due: eslint

First review draft
  src/lib/utils/router.js
  src/site/content/en/blog/websocketstream/index.md
Due: eslint, remark -q

More cleanup/updating.
  src/site/content/en/blog/web-otp/index.md
Due: remark -q

Tweak naming
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/ResponseMultipleChoice/index.js
Due: eslint

Update fugu-status for Web OTP.
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

More corrections.
  src/site/content/en/blog/fugu-status/index.md
  src/site/content/en/blog/web-otp/index.md
Due: remark -q

Fix input labeling bug
  src/lib/components/ResponseMultipleChoice/index.js
Due: eslint

fix not clearing hash on nav (#2440)
  src/lib/utils/router.js
Due: eslint

Add SXG testing instructions
  src/site/content/en/blog/how-to-set-up-signed-http-exchanges/index.md
Due: remark -q

Deprecate audio-caption accessibility audit (#2355)
  src/site/content/en/lighthouse-accessibility/audio-caption/index.md
Due: remark -q

remove mkdirp
  compile-css.js
  package-lock.json
  package.json
Due: eslint

Removed a modified file from pull request
  package-lock.json
  src/lib/utils/router.js
Due: eslint

Update src/site/content/en/blog/websocketstream/index.md
  src/site/content/en/blog/websocketstream/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
