Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

template json
  build.js
  src/lib/sw.js
  src/site/_data/eleventyComputed.js
  src/site/_includes/layout.njk
  src/site/_transforms/service-worker-partials/index.js
Due: eslint

include JS/CSS versions
  build.js
  package.json
  src/lib/sw.js
  src/site/_data/eleventyComputed.js
  src/site/_includes/layout.njk
Due: eslint

work
  build.js
  src/lib/sw.js
  src/site/_transforms/service-worker-partials/index.js
Due: eslint

lint
  src/lib/sw.js
  src/site/_data/eleventyComputed.js
Due: eslint

fire and forget
  src/lib/sw.js
Due: eslint

Replace a Google-internal link with a public one. (#3280)
  src/site/content/en/blog/web-bundles/index.md
Due: remark -q

Update src/site/_includes/partials/subscribe.njk
  src/site/_includes/partials/subscribe.njk
Due: none

use in schedule
  src/lib/components/EventSchedule/index.js
  src/lib/components/EventStore/index.js
  src/lib/components/Tabs/index.js
  src/lib/store.js
Due: eslint

event state listener/publisher
  src/lib/components/EventStore/index.js
  src/lib/pages/live.js
  src/lib/store.js
  src/site/content/en/live/index.njk
Due: eslint

feat(subscribe): add warning when javascript is disabled (#3267)
  src/site/_includes/partials/subscribe.njk
Due: none

Style as screenshot
  src/site/content/en/fast/lazy-loading/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/fast/lazy-loading-images/index.md
Due: remark -q

tabs update
  src/lib/components/EventSchedule/index.js
  src/lib/components/Tabs/index.js
Due: eslint

Rephrase
  src/site/content/en/progressive-web-apps/promote-install/index.md
Due: remark -q

migrating lazy-loading content (#3176)
  src/site/_data/contributors.js
  src/site/_data/paths/fast.js
  src/site/content/en/blog/native-lazy-loading/lazyload.mp4
  src/site/content/en/blog/native-lazy-loading/lazyload.webm
  src/site/content/en/fast/lazy-loading-best-practices/index.md
  src/site/content/en/fast/lazy-loading-images/index.md
  src/site/content/en/fast/lazy-loading-video/index.md
  src/site/content/en/fast/lazy-loading/index.md
  src/site/content/en/fast/lazy-loading/lazy-loading-example.jpg
  src/site/content/en/fast/lazy-loading/offscreen-audit.png
  src/site/content/en/fast/native-lazy-loading/hero.png
  src/site/content/en/fast/native-lazy-loading/index.md
  src/site/content/en/fast/native-lazy-loading/range-request.png
  src/site/content/en/fast/use-lazysizes-to-lazyload-images/index.md
Due: eslint, remark -q

Add rough sync with store and disabled state.
  src/lib/components/EventSchedule/index.js
  src/lib/components/LivestreamContainer/_styles.scss
  src/lib/components/LivestreamContainer/index.js
  src/site/_data/event.js
Due: eslint, sass-lint -v -q"

Updates to install promo content for PWAs (#3235)
  src/site/content/en/progressive-web-apps/customize-install/index.md
  src/site/content/en/progressive-web-apps/install-criteria/how-does-it-work_desktop.png
  src/site/content/en/progressive-web-apps/install-criteria/how-does-it-work_mobile.png
  src/site/content/en/progressive-web-apps/install-criteria/index.md
  src/site/content/en/progressive-web-apps/promote-install/after-conversion_desktop.png
  src/site/content/en/progressive-web-apps/promote-install/after-conversion_mobile.png
  src/site/content/en/progressive-web-apps/promote-install/elevated-install_desktop.png
  src/site/content/en/progressive-web-apps/promote-install/elevated-install_mobile.png
  src/site/content/en/progressive-web-apps/promote-install/how-does-it-work_desktop.png
  src/site/content/en/progressive-web-apps/promote-install/how-does-it-work_mobile.png
  src/site/content/en/progressive-web-apps/promote-install/index.md
  src/site/content/en/progressive-web-apps/promote-install/simple-button_desktop.png
  src/site/content/en/progressive-web-apps/promote-install/simple-button_mobile-crop.png
  src/site/content/en/progressive-web-apps/promote-install/temporary-ui_desktop.png
  src/site/content/en/progressive-web-apps/promote-install/temporary-ui_mobile.png
Due: remark -q

review feedback
  src/lib/components/EventSchedule/index.js
  src/lib/components/EventStore/index.js
  src/lib/store.js
  src/lib/utils/time-offset.js
Due: eslint

fix name
  src/lib/utils/time-offset.js
Due: eslint

swap to minute duration and give chat buffer
  src/lib/components/EventStore/index.js
  src/lib/components/EventTime/index.js
  src/lib/store.js
  src/site/_data/event.js
  src/site/_includes/components/EventTable.js
Due: eslint

make timer time unit clear
  src/lib/components/EventStore/index.js
Due: eslint

web-event-store for time management (#3268)
  src/lib/components/EventSchedule/index.js
  src/lib/components/EventStore/index.js
  src/lib/components/EventTime/index.js
  src/lib/components/Tabs/index.js
  src/lib/pages/live.js
  src/lib/store.js
  src/lib/utils/time-offset.js
  src/site/_data/event.js
  src/site/_includes/components/EventTable.js
  src/site/content/en/live/index.njk
Due: eslint

Add device-pixel-content-box article draft
  src/site/content/en/blog/device-pixel-content-box/dprs.png
  src/site/content/en/blog/device-pixel-content-box/fractional-pixels.png
  src/site/content/en/blog/device-pixel-content-box/index.md
  src/site/content/en/blog/device-pixel-content-box/side-by-side.png
Due: remark -q

Apparently we don’t like typographically correct quotes :(
  src/site/content/en/blog/device-pixel-content-box/index.md
Due: remark -q

More linter adjustments
  src/site/content/en/blog/device-pixel-content-box/index.md
Due: remark -q

Apply suggestions from code review
  src/site/_data/paths/reliable.js
  src/site/content/en/reliable/resilient-search-experiences/index.md
Due: eslint, remark -q

Updating date.
  src/site/content/en/reliable/resilient-search-experiences/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/progressively-enhance-your-pwa/index.md
Due: remark -q

Proof reading
  src/site/content/en/blog/device-pixel-content-box/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/reliable/codelab-background-sync/index.md
Due: remark -q

Renaming codelab.
  src/site/content/en/reliable/codelab-building-resilient-search-experiences/index.md
  src/site/content/en/reliable/codelab-building-resilient-search-experiences/offline-ux-custom.png
  src/site/content/en/reliable/codelab-building-resilient-search-experiences/offline-ux-default.png
  src/site/content/en/reliable/codelab-building-resilient-search-experiences/offline-ux-flow.png
Due: remark -q

Formatting
  src/site/content/en/live/index.njk
  src/styles/pages/_live.scss
Due: sass-lint -v -q"

Replave font icon with svg
  src/site/content/en/live/index.njk
  src/styles/pages/_live.scss
Due: sass-lint -v -q"

Make borderless select styles generic
  src/lib/components/EventMap/_styles.scss
  src/lib/components/EventMap/index.js
  src/styles/generic/_select.scss
Due: eslint, sass-lint -v -q"

Update src/site/content/en/blog/progressively-enhance-your-pwa/index.md
  src/site/content/en/blog/progressively-enhance-your-pwa/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
