Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Add stats pattern
  src/pattern-library/patterns/stats/stats.json
  src/pattern-library/patterns/stats/stats.md
  src/pattern-library/patterns/stats/stats.njk
  src/scss/blocks/_stats.scss
  src/scss/next.scss
Due: sass-lint -v -q", remark -q

disable filter (#6040)
  src/site/_includes/pattern-set.njk
Due: none

Update index.md
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Update index.md (#6041)
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

[Idle Detection article] Update for launch (#6033)
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

New details pattern
  src/pattern-library/patterns/details/details.md
  src/pattern-library/patterns/details/details.njk
  src/pattern-library/patterns/details/variants/extra-summary-content/extra-summary-content.njk
  src/scss/next.scss
  src/site/_data/design/tokens.json
Due: sass-lint -v -q", remark -q

Remove useskiarenderer
  src/site/content/en/blog/gpu/index.md
Due: remark -q

Milestone updates for AppCache removal (#6032)
  src/site/content/en/blog/appcache-removal/index.md
Due: remark -q

Link images from CDN
  src/site/content/en/blog/webcodecs/index.md
Due: remark -q

Remove images, they're in CDN now
  src/site/content/en/blog/webcodecs/Decoding.png
  src/site/content/en/blog/webcodecs/Encoding.png
Due: none

Mentioning that webcodecs is only available in secure context
  src/site/content/en/blog/webcodecs/index.md
Due: remark -q

minor reordering and review feedback
  src/site/content/en/blog/app-history-api/index.md
Due: remark -q

Wrong translation of Russian language
  src/lib/utils/language.js
Due: eslint

Authors pattern
  src/pattern-library/patterns/authors/authors.json
  src/pattern-library/patterns/authors/authors.md
  src/pattern-library/patterns/authors/authors.njk
  src/pattern-library/patterns/authors/variants/card-context/card-context.json
  src/pattern-library/patterns/authors/variants/card-context/card-context.njk
  src/pattern-library/patterns/authors/variants/multiple/multiple.njk
  src/pattern-library/patterns/authors/variants/page-context/page-context.json
  src/pattern-library/patterns/authors/variants/page-context/page-context.njk
  src/scss/blocks/_author.scss
  src/scss/next.scss
  src/scss/utilities/_avatar.scss
  src/site/content/en/design-system/css-utilities.md
Due: sass-lint -v -q", remark -q

Better explain what the example is. (#6038)
  src/site/content/en/blog/mediastreamtrack-insertable-media-processing/index.md
Due: remark -q

Compare pattern
  src/pattern-library/patterns/compare/compare.json
  src/pattern-library/patterns/compare/compare.md
  src/pattern-library/patterns/compare/compare.njk
  src/pattern-library/patterns/compare/variants/columns/columns.njk
  src/scss/blocks/_compare.scss
  src/scss/next.scss
Due: sass-lint -v -q", remark -q

Add eventing article
  src/site/_data/authorsData.json
  src/site/content/en/blog/eventing-deepdive/index.md
Due: remark -q

Add author data
  src/site/_data/i18n/authors.yml
Due: none

Hero image
  src/site/content/en/blog/eventing-deepdive/index.md
Due: remark -q

Bring compare inline with new design
  src/pattern-library/patterns/compare/compare.json
  src/pattern-library/patterns/compare/compare.njk
  src/pattern-library/patterns/compare/variants/columns/columns.json
  src/pattern-library/patterns/compare/variants/columns/columns.njk
  src/scss/blocks/_compare.scss
Due: sass-lint -v -q"

Add bio to authors
  src/pattern-library/patterns/authors/authors.json
  src/pattern-library/patterns/authors/authors.njk
  src/scss/blocks/_author.scss
Due: sass-lint -v -q"

Improve flow space
  src/scss/blocks/_author.scss
Due: sass-lint -v -q"

Update src/site/_data/i18n/authors.yml
  src/site/_data/i18n/authors.yml
Due: none

Update index.md
  src/site/content/en/blog/eventing-deepdive/index.md
Due: remark -q

Button tweaks
  src/pattern-library/patterns/button/button.md
  src/pattern-library/patterns/button/button.njk
Due: remark -q

adds work from @chris-kruining
  src/site/content/en/blog/building-a-color-scheme/index.md
Due: remark -q

Rewrite WebCodecs blog post (#6015)
  src/site/content/en/blog/webcodecs/index.md
Due: remark -q

Add a capability for a pattern to be able to render some custom CSS for the pattern library preview
  src/site/_data/design/patterns.js
Due: eslint

Add tooltips
  src/pattern-library/patterns/tooltips/tooltips.json
  src/pattern-library/patterns/tooltips/tooltips.njk
  src/scss/blocks/_tooltip.scss
  src/scss/next.scss
  src/site/_data/design/themes.js
  src/site/content/en/design-system/patterns-preview.njk
Due: eslint, sass-lint -v -q"

Add docs
  src/pattern-library/patterns/tooltips/tooltips.json
  src/pattern-library/patterns/tooltips/tooltips.md
  src/scss/blocks/_tooltip.scss
Due: sass-lint -v -q", remark -q

Add WebGPU article (#6005)
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/gpu/index.md
Due: remark -q

Fix type in webcodecs blogpost
  src/site/content/en/blog/webcodecs/index.md
Due: remark -q

add App History API article (#6027)
  src/site/content/en/blog/app-history-api/index.md
Due: remark -q

Update carousel
  src/site/content/en/patterns/web-vitals-patterns/carousels/carousel-autoplay/assets/body.html
  src/site/content/en/patterns/web-vitals-patterns/carousels/carousel-autoplay/assets/script.js
  src/site/content/en/patterns/web-vitals-patterns/carousels/carousel-autoplay/assets/style.css
  src/site/content/en/patterns/web-vitals-patterns/carousels/carousel-autoplay/demo.md
Due: eslint, remark -q

tweaks to App History API
  src/site/content/en/blog/app-history-api/index.md
Due: remark -q

newline
  src/site/content/en/blog/app-history-api/index.md
Due: remark -q

mm
  src/site/content/en/blog/app-history-api/index.md
Due: remark -q

tweaks to App History API (#6048)
  src/site/content/en/blog/app-history-api/index.md
Due: remark -q

Tweak a hover state
  src/scss/blocks/_stack-nav.scss
Due: sass-lint -v -q"

select menu
  src/scss/next.scss
Due: sass-lint -v -q"
