Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q, npm run lint:scss, npm run lint:md, npm run lint:js

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

.lintstagedrc.json:

{
  "*.scss": "npm run lint:scss",
  "*.md": "npm run lint:md",
  "*.js": "npm run lint:js"
}

fix: missing closing p tag
  src/site/content/en/learn/html/audio-video/index.md
Due: remark -q, npm run lint:md

feat: add more demo pages for single components
  .eleventy.js
  src/lib/app.js
  src/site/_includes/base.njk
  src/site/_includes/components/Compare.js
  src/site/_includes/components/CompareCaption.js
  src/site/_includes/components/Details.js
  src/site/_includes/components/Img.js
  src/site/_includes/components/Label.js
  src/site/_includes/components/YouTube.js
  src/site/content/en/styleguide/compare.md
  src/site/content/en/styleguide/details.md
  src/site/content/en/widgets/aside.md
  src/site/content/en/widgets/blockquote.md
  src/site/content/en/widgets/browser-compat.md
  src/site/content/en/widgets/code.md
  src/site/content/en/widgets/compare-caption.md
  src/site/content/en/widgets/compare.md
  src/site/content/en/widgets/details.md
  src/site/content/en/widgets/image.md
  src/site/content/en/widgets/index.md
  src/site/content/en/widgets/label.md
  src/site/content/en/widgets/lists.md
  src/site/content/en/widgets/stats.md
  src/site/content/en/widgets/switcher.md
  src/site/content/en/widgets/tables.md
  src/site/content/en/widgets/widgets.11tydata.js
  src/site/content/en/widgets/youtube.md
Due: eslint, remark -q, npm run lint:md, npm run lint:js

chore: add demo page for youtube shortcode
  src/site/content/en/widgets/youtube.md
Due: remark -q, npm run lint:md

Address Rachel's review comments
  src/site/content/en/webassembly/what-is-webassembly/index.md
Due: remark -q, npm run lint:md

feat: add cheerio rewrites for classes
  src/site/_includes/components/Export.js
Due: eslint, npm run lint:js

Address Rachel's review comments
  src/site/content/en/webassembly/compiling-mkbitmap-to-webassembly/index.md
Due: remark -q, npm run lint:md

feat: add export for CodePattern widget
  src/site/_includes/components/CodePattern.js
Due: eslint, npm run lint:js

add tti term
  src/site/content/en/blog/rendering-on-the-web/index.md
Due: remark -q, npm run lint:md

fix broken link
  src/site/content/en/blog/rendering-on-the-web/index.md
Due: remark -q, npm run lint:md

fix indentation
  src/site/content/ru/metrics/fcp/index.md
Due: remark -q, npm run lint:md

Fix code example on /enable-https
  src/site/content/en/secure/enable-https/index.md
Due: remark -q, npm run lint:md

Include Jetpack Boost as suggested tool for critical CSS
  src/site/content/en/fast/extract-critical-css/index.md
Due: remark -q, npm run lint:md

fix patterns ids
  src/site/content/en/patterns/files/receive-shared-files/demo.njk
  src/site/content/en/patterns/web-apps/badges/demo.njk
  src/site/content/en/patterns/web-apps/contacts/demo.njk
  src/site/content/en/patterns/web-apps/multiple-screens/demo.njk
  src/site/content/en/patterns/web-apps/multiple-screens/popup.njk
  src/site/content/en/patterns/web-apps/periodic-background-sync/demo.njk
  src/site/content/en/patterns/web-apps/richer-install-ui/demo.njk
  src/site/content/en/patterns/web-apps/share/demo.njk
  src/site/content/en/patterns/web-apps/shortcuts/demo.njk
Due: none

Download hero images to dist
  .eleventy.js
Due: eslint, npm run lint:js

Fix Spanish typo
  src/site/content/es/blog/optimize-fid/index.md
Due: remark -q, npm run lint:md

cleanup
  .eleventy.js
Due: eslint, npm run lint:js

Download hero images to dist (#10174)
  .eleventy.js
Due: eslint, npm run lint:js

fix patterns ids (#10171)
  src/site/content/en/patterns/files/receive-shared-files/demo.njk
  src/site/content/en/patterns/web-apps/badges/demo.njk
  src/site/content/en/patterns/web-apps/contacts/demo.njk
  src/site/content/en/patterns/web-apps/multiple-screens/demo.njk
  src/site/content/en/patterns/web-apps/multiple-screens/popup.njk
  src/site/content/en/patterns/web-apps/periodic-background-sync/demo.njk
  src/site/content/en/patterns/web-apps/richer-install-ui/demo.njk
  src/site/content/en/patterns/web-apps/share/demo.njk
  src/site/content/en/patterns/web-apps/shortcuts/demo.njk
Due: none

Learn HTML, typo
  src/site/content/en/learn/html/links/index.md
Due: remark -q, npm run lint:md

Add "file"
  src/site/content/en/blog/origin-private-file-system/index.md
Due: remark -q, npm run lint:md

fix: menu aria label reference
  src/site/_includes/partials/site-header.njk
Due: none

Add authors export script
  authorsExport.js
Due: eslint, npm run lint:js

typo
  authorsExport.js
Due: eslint, npm run lint:js

Add images
  authorsExport.js
Due: eslint, npm run lint:js

Add authors export script (#10181)
  authorsExport.js
Due: eslint, npm run lint:js

ES Modules in service workers: fix compatibility data
  src/site/content/en/blog/es-modules-in-sw/index.md
Due: remark -q, npm run lint:md

Update browser support for strict CSP (#10142)
  src/site/content/en/blog/strict-csp/index.md
Due: remark -q, npm run lint:md

Author fixes
  src/site/_data/authorsData.json
  src/site/content/en/blog/goibibo/index.md
Due: remark -q, npm run lint:md

Apply Rachel's comments
  src/site/content/en/webassembly/compiling-mkbitmap-to-webassembly/index.md
  src/site/content/en/webassembly/what-is-webassembly/index.md
Due: remark -q, npm run lint:md

Author fixes (#10183)
  src/site/_data/authorsData.json
  src/site/content/en/blog/goibibo/index.md
Due: remark -q, npm run lint:md

Fixes spelling in TTI metric
  src/site/content/en/metrics/tti/index.md
Due: remark -q, npm run lint:md

Add frontmatter fields to the export
  src/site/_includes/components/Export.js
Due: eslint, npm run lint:js

Update window controls overlay incorrect method name
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q, npm run lint:md

Add author_name
  src/site/_includes/components/Export.js
Due: eslint, npm run lint:js

Add frontmatter fields to the export (#10190)
  src/site/_includes/components/Export.js
Due: eslint, npm run lint:js

Add image/authors dir
  authorsExport.js
Due: eslint, npm run lint:js

Add image/authors dir (#10192)
  authorsExport.js
Due: eslint, npm run lint:js

chore: update homepage to redbus case study
  src/site/content/en/index.md
Due: remark -q, npm run lint:md

chore: update homepage to redbus case study (#10193)
  src/site/content/en/index.md
Due: remark -q, npm run lint:md

Update src/site/_data/i18n/paths/webassembly.yaml
  src/site/_data/i18n/paths/webassembly.yaml
Due: none
