Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Fix test
  src/site/_includes/components/Meta.js
Due: eslint

Adding ajara as author in web.dev
  src/site/_data/authorsData.json
Due: none

Adding ajara as author in web.dev (#4995)
  src/site/_data/authorsData.json
Due: none

Minor fixes
  src/site/content/en/blog/floc/index.md
Due: remark -q

More tweaks
  src/site/content/en/blog/floc/index.md
Due: remark -q

Added OT link
  src/site/content/en/blog/floc/index.md
Due: remark -q

Added FloC post (#4972)
  src/site/content/en/blog/floc/index.md
Due: remark -q

Fix broken function binding in self assessment shortcode
  src/lib/components/BaseResponseElement/index.js
  src/site/_drafts/_template-self-assessment/index.md
  src/site/_includes/components/Assessment.js
  src/site/content/en/accessible/control-focus-with-tabindex/index.md
  src/site/content/en/accessible/labels-and-text-alternatives/index.md
  src/site/content/en/accessible/use-semantic-html/index.md
  src/site/content/en/handbook/self-assessment-components/index.md
  src/site/content/en/secure/same-origin-policy/index.md
Due: eslint, remark -q

Add types
  src/site/_includes/components/Assessment.js
  src/site/content/en/handbook/self-assessment-components/index.md
  types/site/_includes/components/Assessment/TargetAssessment.d.ts
  types/site/_includes/components/Assessment/TargetAssessmentOption.d.ts
  types/site/_includes/components/Assessment/TargetAssessmentQuestion.d.ts
Due: eslint, remark -q

Apply suggestions from code review
  src/site/content/en/blog/asyncify/index.md
Due: remark -q

Add images
  src/site/content/en/fast/cookie-notice-best-practices/index.md
Due: remark -q

Move images
  src/site/content/en/fast/cookie-notice-best-practices/index.md
Due: remark -q

Add cookie notice article (#4955)
  src/site/content/en/fast/cookie-notice-best-practices/index.md
Due: remark -q

add content js to courses section
  src/site/_includes/course.njk
Due: none

set overflow hidden on body, not html
  src/lib/actions.js
Due: eslint

Fix broken Assessment shortcode (#4996)
  src/lib/components/BaseResponseElement/index.js
  src/site/_drafts/_template-self-assessment/index.md
  src/site/_includes/components/Assessment.js
  src/site/_includes/course.njk
  src/site/content/en/accessible/control-focus-with-tabindex/index.md
  src/site/content/en/accessible/labels-and-text-alternatives/index.md
  src/site/content/en/accessible/use-semantic-html/index.md
  src/site/content/en/handbook/self-assessment-components/index.md
  src/site/content/en/secure/same-origin-policy/index.md
  types/site/_includes/components/Assessment/TargetAssessment.d.ts
  types/site/_includes/components/Assessment/TargetAssessmentOption.d.ts
  types/site/_includes/components/Assessment/TargetAssessmentQuestion.d.ts
Due: eslint, remark -q

set overflow hidden on body, not html (#4998)
  src/lib/actions.js
Due: eslint

Self assessment docs fixes
  src/site/_drafts/_template-self-assessment/my-first-self-assessment.assess.yml
  src/site/content/en/handbook/self-assessment-components/composite.assess.yml
  src/site/content/en/handbook/self-assessment-components/index.md
  src/site/content/en/handbook/self-assessment-components/multiple-choice.assess.yml
  src/site/content/en/handbook/self-assessment-components/think-and-check.assess.yml
Due: remark -q

Add cookie notice article to /learn-web-vitals
  src/site/_data/paths/learn-web-vitals.json
Due: none

Add cookie notice article to /learn-web-vitals (#5000)
  src/site/_data/paths/learn-web-vitals.json
Due: none

copy edits
  src/site/content/en/learn/css/selectors/index.md
Due: remark -q

Update PWA screenshots ratio requirements to be at most 2.3:1 (#4992)
  src/site/content/en/progressive-web-apps/add-manifest/index.md
Due: remark -q

Update to reflect API changes
  src/site/content/en/blog/local-fonts/index.md
Due: remark -q

Update src/site/content/en/blog/local-fonts/index.md
  src/site/content/en/blog/local-fonts/index.md
Due: remark -q

Link to rendered documentation
  src/site/content/en/fast/cookie-notice-best-practices/index.md
Due: remark -q

A lot of small suggestions and fixes
  src/site/content/en/blog/floc/index.md
Due: remark -q

Fix typo
  src/site/content/en/fast/cookie-notice-best-practices/index.md
Due: remark -q

Fix typo (#5005)
  src/site/content/en/fast/cookie-notice-best-practices/index.md
Due: remark -q

Specify Chrome version for now playing widget
  src/site/content/en/blog/media-session/index.md
Due: remark -q

Update src/site/content/en/blog/generic-sensor/index.md
  src/site/content/en/blog/generic-sensor/index.md
Due: remark -q

Fix captions
  src/site/content/en/blog/media-session/index.md
Due: remark -q

Link to rendered documentation (#5003)
  src/site/content/en/fast/cookie-notice-best-practices/index.md
Due: remark -q

Gravity sensor: Adding release estimation date (#4975)
  src/site/content/en/blog/generic-sensor/index.md
Due: remark -q

[Local Font article] Update to reflect API changes (#5002)
  src/site/content/en/blog/local-fonts/index.md
Due: remark -q

Specify Chrome version for now playing widget (#5006)
  src/site/content/en/blog/media-session/index.md
Due: remark -q

Updated, keeping adtech and "cohort space"
  src/site/content/en/blog/floc/index.md
Due: remark -q

[FLoC article] A lot of small suggestions and fixes (#5004)
  src/site/content/en/blog/floc/index.md
Due: remark -q

Fixed steps image
  src/site/content/en/blog/floc/index.md
Due: remark -q

Corrections to text
  src/site/content/en/blog/floc/index.md
Due: remark -q
