Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

review feedback
  build.js
  package-lock.json
  package.json
  src/lib/sw.js
Due: eslint

add TODO
  build.js
Due: eslint

workbox to 5.0.0, inline (#2246)
  build.js
  package-lock.json
  package.json
  src/lib/sw.js
Due: eslint

fix broken sw
  src/lib/sw.js
Due: eslint

support netlify for SW testing
  src/lib/bootstrap.js
Due: eslint

fix broken sw (#2253)
  src/lib/bootstrap.js
  src/lib/sw.js
Due: eslint

clarify behavior of Terser/Rollup re: NODE_ENV
  build.js
  package-lock.json
  package.json
Due: eslint

doh
  build.js
Due: eslint

Update "Make it installable" codelab
  src/site/content/en/progressive-web-apps/codelab-make-installable/index.md
Due: remark -q

Address feedback
  src/lib/components/Assessment/index.js
  src/lib/components/BaseModalElement/index.js
Due: eslint

feat(canonical): add support for canonical tags on pages, fixes #1035
  src/site/_includes/components/Meta.js
Due: eslint

refactor(signpost): add support for `subtopics` while cleaning up code and styling
  src/site/_collections/post-to-collections.js
  src/site/_includes/components/SignPosts.js
  src/site/_includes/partials/post.njk
  src/styles/components/_layouts.scss
  src/styles/pages/_post.scss
Due: eslint, sass-lint -v -q"

fix(header): apply padding to article header rather than layout container
  src/styles/components/_article-header.scss
  src/styles/components/_layouts.scss
Due: sass-lint -v -q"

New content: Fixing website speed cross-functionally
  src/site/_data/contributors.js
  src/site/content/en/blog/fixing-speed-cross-functionally/index.md
  src/site/content/en/images/authors/lchansson.jpg
  src/site/content/en/images/authors/lchansson@2x.jpg
Due: eslint, remark -q

Fix linter warnings
  src/site/content/en/blog/fixing-speed-cross-functionally/index.md
Due: remark -q

Make URL match title
  src/site/content/en/blog/fixing-website-speed-cross-functionally/index.md
Due: remark -q

(Almost) finish multiple-choice
  src/lib/components/Assessment/index.js
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/BaseResponseElement/_styles.scss
  src/lib/components/BaseResponseElement/index.js
  src/lib/components/ResponseMultipleChoice/_styles.scss
  src/lib/components/ResponseMultipleChoice/index.js
  src/lib/components/ResponseThinkAndCheck/index.js
  src/lib/components/Tabs/_styles.scss
Due: eslint, sass-lint -v -q"

Fix reset bug for singleton questions
  src/lib/components/Assessment/index.js
Due: eslint

Add SASS imports
  src/lib/components/Assessment/_styles.scss
  src/lib/components/AssessmentQuestion/_styles.scss
  src/lib/components/BaseResponseElement/_styles.scss
  src/lib/components/ResponseMultipleChoice/_styles.scss
  src/lib/components/ResponseThinkAndCheck/_styles.scss
  src/lib/components/SelectGroup/_styles.scss
Due: sass-lint -v -q"

Add success animation
  src/lib/components/AssessmentQuestion/_styles.scss
  src/lib/components/AssessmentQuestion/index.js
Due: eslint, sass-lint -v -q"

:recycle: updated information for browser support
  src/site/content/en/blog/native-lazy-loading/index.md
Due: remark -q

Fix selection bugs
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/BaseResponseElement/index.js
  src/lib/components/ResponseMultipleChoice/index.js.BAK
Due: eslint

Add launch info
  src/site/content/en/blog/shape-detection/index.md
Due: remark -q

Close parentheses
  src/site/content/en/blog/shape-detection/index.md
Due: remark -q

Remove empty link
  src/site/content/en/blog/shape-detection/index.md
Due: remark -q

Enhance feature detection description.
  src/site/content/en/blog/vr-comes-to-the-web/index.md
  src/site/content/en/reliable/service-workers-cache-storage/index.md
Due: remark -q

Add info about name change.
  src/site/content/en/blog/vr-comes-to-the-web/index.md
Due: remark -q

Tweaks and corrections to post
  src/site/content/en/blog/digging-into-the-privacy-sandbox/index.md
Due: remark -q

Update src/site/content/en/blog/shape-detection/index.md
  src/site/content/en/blog/shape-detection/index.md
Due: remark -q

Fixed em dash spacing
  src/site/content/en/blog/digging-into-the-privacy-sandbox/index.md
Due: remark -q

Fixed ellipsis
  src/site/content/en/blog/digging-into-the-privacy-sandbox/index.md
Due: remark -q

Fixed code language flag
  src/site/content/en/blog/digging-into-the-privacy-sandbox/index.md
Due: remark -q

Terser rollup comment and dev/production (#2255)
  build.js
  package-lock.json
  package.json
Due: eslint

Address feedback
  src/lib/components/CopyCode/index.js
  src/lib/components/CopyCode/styles.scss
  src/lib/components/Header/_styles.scss
  src/lib/components/SideNav/_styles.scss
  src/lib/components/SideNav/index.js
  src/site/_includes/layout.njk
  src/styles/components/_buttons.scss
Due: eslint, sass-lint -v -q"

clear scroll restoration before unload (#2244)
  src/lib/utils/router.js
Due: eslint

Clarify that p75 is for mobile users
  src/site/content/en/metrics/cls/index.md
  src/site/content/en/metrics/fcp/index.md
  src/site/content/en/metrics/fid/index.md
  src/site/content/en/metrics/lcp/index.md
  src/site/content/en/metrics/tbt/index.md
  src/site/content/en/metrics/tti/index.md
Due: remark -q

Update chrome flag for Web NFC
  src/site/content/en/blog/nfc/chrome-flag.jpg
  src/site/content/en/blog/nfc/chrome-flag.png
  src/site/content/en/blog/nfc/index.md
Due: remark -q

Add rel="noreferrer" to twitter share button
  src/lib/components/Actions/index.js
Due: eslint

Add missing meta theme-color
  src/site/_includes/layout.njk
Due: none

Update name of SMS Receiver API.
  src/site/content/en/blog/sms-receiver-api-announcement/index.md
Due: remark -q
