Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q, npm run lint:scss, npm run lint:md, npm run lint:js

This would be easier to debug if it failed locally :-(
  src/lib/components/Carousel/index.js
  test/unit/src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

feat: add image minification to export
  package-lock.json
  package.json
  src/site/_includes/components/Img.js
  src/site/_utils/get-file.js
Due: eslint, npm run lint:js

Try try try
  src/lib/components/Carousel/index.js
  test/unit/src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Override scroll behaviour
  test/unit/src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Log width
  src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Measure scroll within
  src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Scroll behaviour
  src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

More debugging
  src/lib/components/Carousel/index.js
  test/unit/src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Even more logging
  src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Set width
  test/unit/src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Explicit widths
  test/unit/src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Explicitly set overflow
  test/unit/src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Set overflow
  test/unit/src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Set explicit widths
  test/unit/src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Add gulp and rollout to tests
  package.json
  test/unit/src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Fix tests
  package.json
  src/lib/components/Carousel/index.js
  test/unit/src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

More cleanup
  package.json
  src/lib/components/Carousel/index.js
Due: eslint, npm run lint:js

Fix lib test
  package.json
Due: none

Increase memory alloc for prod build
  package.json
Due: none

Switch to test build
  package.json
  src/site/_collections/hooks/utils.js
Due: eslint, npm run lint:js

Switch back to staging
  package.json
  src/site/_collections/hooks/utils.js
Due: eslint, npm run lint:js

feat: use alt text for meaningful image file names
  package-lock.json
  package.json
  src/site/_includes/components/Img.js
  src/site/_utils/export-file.js
  src/site/content/en/learn/accessibility/glossary/index.md
Due: eslint, remark -q, npm run lint:md, npm run lint:js

Add firebase to github build export
  .github/workflows/check.yml
Due: none

Add firebase to github build export (#10217)
  .github/workflows/check.yml
Due: none

Stop over minifying HTML
  src/site/_transforms/minify-html.js
Due: eslint, npm run lint:js

Fixes linter yelling.
  src/site/content/en/blog/optimizing-content-efficiency-eliminate-downloads/index.md
Due: remark -q, npm run lint:md

Fix syntax of variable fonts article
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q, npm run lint:md

Update Optimize LCP guide with details on checking your LCP
  src/site/content/en/blog/optimize-lcp/index.md
Due: remark -q, npm run lint:md

Add more guidance to Optimize TTFB
  src/site/content/en/blog/optimize-ttfb/index.md
Due: remark -q, npm run lint:md

Add Ramona as an author
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
Due: none

feat: some small fixes to markdown export
  gulp-tasks/get-headlines.js
  gulpfile.js
  src/site/_includes/components/Aside.js
  src/site/_includes/components/Author.js
  src/site/_includes/components/Export.js
  src/site/content/en/learn/css/backgrounds/backgrounds.assess.yml
  src/site/content/en/learn/forms/data/index.md
  src/site/content/en/learn/forms/testing/index.md
  src/site/content/en/learn/forms/usability-testing/index.md
  src/site/content/en/learn/pwa/workbox/index.md
Due: eslint, remark -q, npm run lint:md, npm run lint:js

Add Ramona as an author (#10231)
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
Due: none

Update src/site/content/en/blog/optimizing-content-efficiency-eliminate-downloads/index.md
  src/site/content/en/blog/optimizing-content-efficiency-eliminate-downloads/index.md
Due: remark -q, npm run lint:md

Applies guidance from @tunetheweb.
  src/site/content/en/blog/optimizing-content-efficiency-eliminate-downloads/index.md
Due: remark -q, npm run lint:md

Apply suggestions from code review
  src/site/content/en/blog/optimizing-content-efficiency-eliminate-downloads/index.md
Due: remark -q, npm run lint:md

Tweaks prose.
  src/site/content/en/blog/optimizing-content-efficiency-eliminate-downloads/index.md
Due: remark -q, npm run lint:md

Apply suggestions from code review
  src/site/content/en/blog/optimize-ttfb/index.md
Due: remark -q, npm run lint:md

Update index.md (#10196)
  src/site/content/en/blog/optimizing-content-efficiency-javascript-startup-optimization/index.md
Due: remark -q, npm run lint:md

Fix Spanish typo (#10175)
  src/site/content/es/blog/optimize-fid/index.md
Due: remark -q, npm run lint:md

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
  npm run lint:scss: any of: *.scss
  npm run lint:md: any of: *.md
  npm run lint:js: any of: *.js
