Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Apply suggestions from code review
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Update the deprecaated w-table component
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

Update the deprecated w-columns component
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

Pr feedback with share action
  src/scss/utilities/_docked-actions.scss
  src/site/_includes/partials/post-next.njk
  src/site/_includes/partials/subscribe-action-next.njk
Due: sass-lint -v -q"

Pre-merge cleanup
  src/scss/_rollout.scss
  src/scss/next.scss
  src/site/_includes/codelab.njk
  src/site/_includes/icons/share.svg
  src/site/_includes/post.njk
Due: sass-lint -v -q"

Move former temporary styles to permanent home
  package-lock.json
  src/scss/_rollout.scss
  src/scss/next.scss
Due: sass-lint -v -q"

Simplify stats markup. Fixes #6865
  src/component-library/stats/stats.njk
  src/scss/blocks/_stats.scss
Due: sass-lint -v -q"

Article type pages design system rollout (#6769)
  gulp-tasks/sass.js
  package-lock.json
  src/component-library/stats/stats.njk
  src/lib/components/Codelab/index.js
  src/scss/_config.scss
  src/scss/_rollout.scss
  src/scss/blocks/_breadcrumbs.scss
  src/scss/blocks/_compare.scss
  src/scss/blocks/_prose.scss
  src/scss/blocks/_stats.scss
  src/scss/mixins/_button-base-styles.scss
  src/scss/next.scss
  src/scss/utilities/_docked-actions.scss
  src/scss/utilities/_wrapper.scss
  src/scss/web-components/_web-codelab.scss
  src/site/_includes/codelab.njk
  src/site/_includes/components/Aside.js
  src/site/_includes/components/Author.js
  src/site/_includes/handbook.njk
  src/site/_includes/icons/share.svg
  src/site/_includes/partials/course-app-bar.njk
  src/site/_includes/partials/head.njk
  src/site/_includes/partials/post-next.njk
  src/site/_includes/partials/subscribe-action-next.njk
  src/site/_includes/post.njk
  src/site/content/en/blog/eyedropper/index.md
  src/site/content/en/design-system/css-utilities.md
  src/styles/legacy-rollout.scss
Due: eslint, sass-lint -v -q", remark -q

Update the deprecated w-stats component
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

Update the deprecated w-button component
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/learn/pwa/app-design/index.md
  src/site/content/en/learn/pwa/assets-and-data/index.md
Due: remark -q

Update the deprecated tooltip component
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

Add div wrappers
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

fix(titles): urls in titles are not linkified, fixes #6474 (#6860)
  src/site/_includes/partials/item.njk
  src/site/_includes/partials/post.njk
Due: none

Remove value judgement from the recommendation (#6851)
  src/site/content/en/lighthouse-accessibility/heading-order/index.md
Due: remark -q

fix(algolia): slim down the payload for algolia indexing while speeding up the json build, fixes #5274, fixes #6435
  .eleventy.js
  algolia.js
  src/site/_collections/pages.js
  src/site/_filters/algolia-indexable.js
  src/site/_filters/algolia-item.js
  src/site/_filters/md5.js
  src/site/_filters/stringify.js
  src/site/_includes/index-page.njk
  src/site/_includes/item-page.njk
  src/site/_includes/landing-page.njk
  src/site/content/en/newsletter/index.njk
  src/site/content/pages.njk
  types/eleventy/collection-item.d.ts
  types/site/_collections/pages.d.ts
Due: eslint

refactor(stringify): dump stringify for dump
  .eleventy.js
  src/site/_filters/stringify.js
  src/site/content/pages.njk
Due: eslint

refactor(Carousel): remove scroll listeners, arrow buttons do not update active index
  src/lib/components/Carousel/index.js
Due: eslint

refactor(course-cards-next): use new carousel
  src/lib/components/Carousel/index.js
  src/lib/pages/home.js
  src/lib/pages/learn.js
  src/site/_includes/partials/course-cards-next.njk
Due: eslint

fix(carousel-cards-next): add back scrollbar
  src/site/_includes/partials/course-cards-next.njk
Due: none

refactor(Carousel): remove `_moveSlide` from `connectedCallback` and rename method to `_setIndex`
  src/lib/components/Carousel/index.js
Due: eslint

fix(algolia): slim down the payload for algolia indexing while speeding up the json build, fixes #5274, fixes #6435 (#6750)
  .eleventy.js
  algolia.js
  src/site/_collections/pages.js
  src/site/_filters/algolia-indexable.js
  src/site/_filters/algolia-item.js
  src/site/_filters/md5.js
  src/site/_includes/index-page.njk
  src/site/_includes/item-page.njk
  src/site/_includes/landing-page.njk
  src/site/content/en/newsletter/index.njk
  src/site/content/pages.njk
  types/eleventy/collection-item.d.ts
  types/site/_collections/pages.d.ts
Due: eslint

fix(algolia): use `bytes` rather than `length` to trim Algolia content, fixes #6869
  algolia.js
  package-lock.json
  package.json
Due: eslint

Some fixes for Russian translate
  src/site/content/ru/blog/optimize-fid/index.md
Due: remark -q

Update src/site/content/en/blog/building-a-tabs-component/index.md
  src/site/content/en/blog/building-a-tabs-component/index.md
Due: remark -q

Updating date.
  src/site/content/en/learn/css/typography/index.md
Due: remark -q

Update src/site/content/en/learn/css/typography/index.md
  src/site/content/en/learn/css/typography/index.md
Due: remark -q

Removed .md files
  src/site/content/en/blog/conversion-measurement/index.md
  src/site/content/en/blog/using-conversion-measurement/index.md
Due: remark -q

fix(algolia): use `bytes` rather than `length` to trim Algolia content, fixes #6869 (#6870)
  algolia.js
  package-lock.json
  package.json
Due: eslint

Rework table styles to mimic the old design
  src/component-library/tables/variants/misc-content-examples/misc-content-examples.json
  src/component-library/tables/variants/misc-content-examples/misc-content-examples.njk
  src/scss/blocks/_table-wrapper.scss
  src/scss/next.scss
Due: sass-lint -v -q"

Interaction tweaks
  src/scss/blocks/_table-wrapper.scss
  src/scss/pages/_design-system.scss
  src/scss/utilities/_scrollbar.scss
Due: sass-lint -v -q"

Code styles in tables
  src/scss/next.scss
Due: sass-lint -v -q"

Hide banner in print mode
  src/scss/blocks/_banner.scss
Due: sass-lint -v -q"

Remove leftover w- mentions
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

Make w-stats extend the new stats component
  src/component-library/stats/stats.json
  src/scss/blocks/_prose.scss
  src/scss/blocks/_stats.scss
  src/scss/next.scss
Due: sass-lint -v -q"

Hide banner in print mode (#6876)
  src/scss/blocks/_banner.scss
Due: sass-lint -v -q"

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
