Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Fixing Broken Link (#9641) (#9660)
  src/site/content/en/learn/html/document-structure/index.md
Due: remark -q

Pequeno erro de digitação (#9653)
  src/site/content/pt/fast/browser-level-image-lazy-loading/index.md
Due: remark -q

Content and typo fix suggestions for Learn Images (#9659)
  src/site/content/en/learn/images/descriptive/index.md
Due: remark -q

fix: revert some changes on the homepage and rename the file name
  .eleventy.js
  src/site/_filters/latest-post-by-tags.js
  src/site/content/en/index.md
Due: eslint, remark -q

docs: update file overview
  src/site/_filters/latest-post-by-tags.js
Due: eslint

February new to the web platform
  src/site/content/en/blog/web-platform-02-2023/index.md
Due: remark -q

feat: display latest post from a specific tag on the homepage (#9592)
  .eleventy.js
  src/site/_data/i18n/post.yml
  src/site/_filters/latest-post-by-tags.js
  src/site/_includes/icons/latest.svg
  src/site/_includes/partials/cards-collection.njk
  src/site/content/en/handbook/markup-cards-collection/index.md
  src/site/content/en/index.md
Due: eslint, remark -q

February new to the web platform (#9668)
  src/site/content/en/blog/web-platform-02-2023/index.md
Due: remark -q

Fix typos in service worker article. (#9667)
  src/site/content/en/learn/pwa/service-workers/index.md
Due: remark -q

Match x descriptor explanation with code snippet
  src/site/content/en/learn/images/descriptive/index.md
Due: remark -q

Add support of `width` & `height` in `<source`> on firefox
  src/site/content/en/blog/optimize-cls/index.md
Due: remark -q

Fix link
  src/site/content/en/blog/optimize-cls/index.md
Due: remark -q

Extract scriptLoader function
  .eleventy.js
  src/site/_includes/partials/load-script-func.njk
  src/site/_includes/partials/script-loader.njk
  src/site/content/en/demo/url-parts/index.njk
  src/site/content/en/third_party/demo/url-parts/css/main.css
  src/site/content/en/third_party/demo/url-parts/js/main.js
  src/site/content/en/third_party/demo/url-parts/js/psl.js
  src/site/content/en/third_party/demo/url-parts/js/tld.js
Due: eslint

feat: hide ribbon after scrolling past first viewport
  src/lib/components/DevRelRibbon/index.js
  src/lib/components/base.js
  src/scss/blocks/_devrel-ribbon.scss
  src/scss/blocks/_ribbon.scss
  src/scss/next.scss
  src/site/_includes/partials/devrel-ribbon.njk
Due: eslint, sass-lint -v -q"

fix: make container zero width
  src/scss/blocks/_devrel-ribbon.scss
Due: sass-lint -v -q"

Extract scriptLoader function (#9677)
  .eleventy.js
  src/site/_includes/partials/load-script-func.njk
  src/site/_includes/partials/script-loader.njk
  src/site/content/en/demo/url-parts/index.njk
  src/site/content/en/third_party/demo/url-parts/css/main.css
  src/site/content/en/third_party/demo/url-parts/js/main.js
  src/site/content/en/third_party/demo/url-parts/js/psl.js
  src/site/content/en/third_party/demo/url-parts/js/tld.js
Due: eslint

fix: update window properties type optional definitions
  types/utils/global.d.ts
Due: none

fix: run intersection observer children removal once
  src/lib/components/Subscribe/index.js
Due: eslint

feat: update class names, replace line loading indicator with circular spinner
  src/component-library/spinner/spinner.json
  src/component-library/spinner/spinner.md
  src/component-library/spinner/spinner.njk
  src/scss/blocks/_spinner.scss
  src/scss/next.scss
  src/scss/web-components/_web-subscribe.scss
  src/site/_includes/partials/subscribe.njk
Due: sass-lint -v -q", remark -q

refactor/fix: move getPostParentUrl function to algolia-item along with tests, don't fail tests if there are no memorized posts
  .eleventy.js
  src/site/_filters/algolia-item.js
  src/site/_filters/get-post-parent-url.js
  test/unit/src/site/_filters/algolia-item.js
  test/unit/src/site/_filters/get-post-parent-url.js
Due: eslint

feat: show parent title under search result page title (#9623)
  .eleventy.js
  src/lib/components/Search/index.js
  src/lib/components/SearchResults/index.js
  src/scss/blocks/_site-header.scss
  src/site/_filters/algolia-item.js
  test/unit/src/site/_filters/algolia-item.js
  types/utils/algolia.d.ts
Due: eslint, sass-lint -v -q"

Fix broken link
  src/site/content/en/fast/performance-budgets-101/index.md
Due: remark -q

Fixed broken links
  src/site/content/en/blog/getusermedia-intro/index.md
Due: remark -q

ru (typo): узоры -> Шаблоны
  src/site/_data/i18n/header.yml
Due: none

Fix broken link (#9679)
  src/site/content/en/fast/performance-budgets-101/index.md
Due: remark -q

fix
  src/site/content/en/learn/html/attributes/index.md
Due: remark -q

grammar update
  src/site/content/en/learn/pwa/complexity/index.md
Due: remark -q

grammar update
  src/site/content/en/learn/html/document-structure/index.md
Due: remark -q

remove to-do and manual toc
  src/site/content/ja/blog/responsive-web-design-basics/index.md
Due: remark -q

Fix link (#9673)
  src/site/content/en/blog/optimize-cls/index.md
Due: remark -q

non-cla
  src/site/_data/i18n/header.yml
  src/site/content/en/blog/web-platform-11-2022/index.md
  src/site/content/en/learn/html/attributes/index.md
  src/site/content/ru/blog/trusted-types/index.md
  src/site/content/ru/metrics/lcp/index.md
Due: remark -q

Add closing "`"
  src/site/content/ja/blog/coop-coep/index.md
Due: remark -q

refactor: remove @-webkit- from spinner keyframes (again I swear someone else wrote this 😅)
  src/scss/blocks/_spinner.scss
Due: sass-lint -v -q"

refactor: break connectedCallback logic if component has already been mounted
  src/lib/components/Subscribe/index.js
Due: eslint

feat: add banner
  src/site/_data/site.js
Due: eslint

feat: add banner (#9694)
  src/site/_data/site.js
Due: eslint

feat: load recaptcha when newsletter form is in view (#9611)
  src/component-library/spinner/spinner.json
  src/component-library/spinner/spinner.md
  src/component-library/spinner/spinner.njk
  src/lib/components/Subscribe/index.js
  src/scss/blocks/_spinner.scss
  src/scss/next.scss
  src/scss/web-components/_web-subscribe.scss
  src/site/_includes/about-next.njk
  src/site/_includes/homepage-next.njk
  src/site/_includes/partials/subscribe.njk
  src/site/content/en/newsletter/index.njk
  types/utils/global.d.ts
Due: eslint, sass-lint -v -q", remark -q

Version bump
  package-lock.json
  package.json
Due: none

fix (#9687)
  src/site/content/en/learn/html/attributes/index.md
Due: remark -q

grammar update (#9688)
  src/site/content/en/learn/pwa/complexity/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
