Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

link to next step from intro page
  src/site/content/en/learn/css/index.md
Due: remark -q

add note about navigation
  src/site/content/en/learn/css/index.md
Due: remark -q

migrated and images uploaded
  src/site/content/en/blog/building-a-media-scroller-component/index.md
Due: remark -q

fix smart quote that snuck in
  src/site/content/en/blog/building-a-media-scroller-component/index.md
Due: remark -q

[learn-css] Intro Adjustments (#5309)
  src/site/content/en/learn/css/index.md
Due: remark -q

feat(redirect): add vitals redirect
  firebase-config.js
  redirects.yaml
Due: eslint

feat(redirect): add vitals redirect (#5311)
  firebase-config.js
  redirects.yaml
Due: eslint

Add stronger note to LCP preload audit section
  src/site/content/en/blog/optimize-vitals-lighthouse/index.md
Due: remark -q

Don't apply 'new' badge to course launch content.
  src/site/_data/courses/css/meta.yml
  src/site/_includes/partials/navigation-drawer-course.njk
Due: none

Disable drawer touch events
  src/lib/components/NavigationDrawer/index.js
Due: eslint

Add reference to 3P audit
  src/site/content/en/blog/optimize-vitals-lighthouse/index.md
Due: remark -q

Don't apply 'new' badge to course launch content. (#5313)
  src/site/_data/courses/css/meta.yml
  src/site/_includes/partials/navigation-drawer-course.njk
Due: none

Update
  src/site/content/en/blog/web-otp/index.md
Due: remark -q

[feedback] Additional notes
  src/site/content/en/blog/optimize-vitals-lighthouse/index.md
Due: remark -q

Address further feedback
  src/site/content/en/blog/optimize-vitals-lighthouse/index.md
Due: remark -q

Update src/site/content/en/blog/url-protocol-handler/index.md
  src/site/content/en/blog/url-protocol-handler/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/excalidraw-and-fugu/index.md
Due: remark -q

Add URL Protocol Handler article (#5191)
  src/site/content/en/blog/url-protocol-handler/index.md
Due: remark -q

[Text Fragment article] Add info about link generation and analytics, remove OT info (#5228)
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

[Async Clipboard article] Document Safari's special way (#5299)
  src/site/content/en/blog/async-clipboard/index.md
Due: remark -q

Incorporate cross-origin iframe support in WebOTP (#5298)
  src/site/content/en/blog/web-otp/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/learn/css/functions/functions.assess.yml
Due: none

Add edge:// flags
  src/site/content/en/blog/url-protocol-handler/index.md
Due: remark -q

Adds functions assessments (#5287)
  src/site/content/en/learn/css/functions/functions.assess.yml
  src/site/content/en/learn/css/functions/index.md
Due: remark -q

Update src/site/content/en/blog/excalidraw-and-fugu/index.md
  src/site/content/en/blog/excalidraw-and-fugu/index.md
Due: remark -q

Add edge:// flags (#5317)
  src/site/content/en/blog/url-protocol-handler/index.md
Due: remark -q

Further updates, and note
  src/site/content/en/blog/webtransport/index.md
Due: remark -q

Add caveat about lack of server
  src/site/content/en/blog/webtransport/index.md
Due: remark -q

Decouple search and search results (#5229)
  src/lib/components/Search/_styles.scss
  src/lib/components/Search/index.js
  src/lib/components/SearchResults/_styles.scss
  src/lib/components/SearchResults/index.js
  src/lib/components/base.js
  src/site/_includes/partials/header-default.njk
  src/site/_includes/partials/navigation-drawer-course.njk
  src/site/content/en/learn/css/css.11tydata.js
  src/styles/components/_drawer-course.scss
  src/styles/components/_header-default.scss
  types/lib/components/SearchResults.d.ts
Due: eslint, sass-lint -v -q"

Add Rafal's image
  src/site/_data/authorsData.json
Due: none

Apply suggestions from code review
  src/site/content/en/blog/building-a-media-scroller-component/index.md
Due: remark -q

Add Orange case study (#5139)
  src/site/_data/authorsData.json
  src/site/content/en/blog/orange/index.md
Due: remark -q

Bump the date of the Orange case study
  src/site/content/en/blog/orange/index.md
Due: remark -q

ci(firebase-preview): generate firebase previews on prs
  .cloudbuild/deploy.yaml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

More content fixes, images and video
  src/site/content/en/blog/excalidraw-and-fugu/index.md
Due: remark -q

Fix code samples
  src/site/content/en/blog/excalidraw-and-fugu/index.md
Due: remark -q

ci(firebase-preview): set `channelId` to pr number
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Fully remove touch listeners from drawer.
  src/lib/components/NavigationDrawer/index.js
Due: eslint

fix(authorsData): set some descriptions from `description` to `descriptions`
  src/site/_data/authorsData.json
Due: none
