Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Update .gitlocalize.yml
  .gitlocalize.yml
Due: none

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/user-timings/index.md
Due: remark -q

Translate index.md via GitLocalize
  src/site/content/pl/lighthouse-performance/unused-javascript/index.md
Due: remark -q

Add user gesture req. (#3993)
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

Add note in example comment
  src/site/content/en/blog/detached-window-memory-leaks/index.md
Due: remark -q

SW range requests blog post
  src/site/content/en/blog/sw-range-requests/hero.jpg
  src/site/content/en/blog/sw-range-requests/index.md
Due: remark -q

Update self-assessment.assess.yml
  src/site/content/en/accessible/control-focus-with-tabindex/self-assessment.assess.yml
Due: none

Update self-assessment.assess.yml (#4008)
  src/site/content/en/accessible/control-focus-with-tabindex/self-assessment.assess.yml
Due: none

Adding Eugene Zemtsov as an author
  src/images/authors/djuffin.jpg
  src/images/authors/djuffin@2x.jpg
  src/site/_data/authorsData.json
Due: none

Add content to the checklists
  src/site/content/en/handbook/checklists/index.md
Due: remark -q

Revert URL changes
  src/site/_data/paths/handbook.json
  src/site/content/en/handbook/content-checklist/index.md
  src/site/content/en/handbook/policies/index.md
Due: remark -q

Fix linter
  src/site/content/en/handbook/content-checklist/index.md
Due: remark -q

Update the content review checklists (#4012)
  src/site/content/en/handbook/content-checklist/index.md
  src/site/content/en/handbook/policies/index.md
Due: remark -q

Add Acknowledgements section to post template
  src/site/_drafts/_template-post/index.md
Due: remark -q

added conversion measurement article
  src/site/content/en/blog/conversion-measurement/all-apis.jpg
  src/site/content/en/blog/conversion-measurement/diagram-overview.jpg
  src/site/content/en/blog/conversion-measurement/hero.jpg
  src/site/content/en/blog/conversion-measurement/index.md
  src/site/content/en/blog/conversion-measurement/report-timing.jpg
  src/site/content/en/blog/conversion-measurement/steps-1.jpg
  src/site/content/en/blog/conversion-measurement/steps-2.jpg
  src/site/content/en/blog/conversion-measurement/steps-3.jpg
  src/site/content/en/blog/conversion-measurement/with-api.jpg
  src/site/content/en/blog/conversion-measurement/with-cookies.jpg
Due: remark -q

fixed linting errors
  src/site/content/en/blog/conversion-measurement/index.md
Due: remark -q

optimized images
  src/site/content/en/blog/conversion-measurement/all-apis.jpg
  src/site/content/en/blog/conversion-measurement/diagram-overview.jpg
  src/site/content/en/blog/conversion-measurement/index.md
  src/site/content/en/blog/conversion-measurement/report-timing.jpg
  src/site/content/en/blog/conversion-measurement/steps-1.jpg
  src/site/content/en/blog/conversion-measurement/steps-2.jpg
  src/site/content/en/blog/conversion-measurement/steps-3.jpg
  src/site/content/en/blog/conversion-measurement/with-api.jpg
  src/site/content/en/blog/conversion-measurement/with-cookies.jpg
Due: remark -q

Add a guard in the example with a message passing (#3996)
  src/site/content/en/blog/detached-window-memory-leaks/index.md
Due: remark -q

Updated
  src/site/content/en/blog/conversion-measurement/index.md
Due: remark -q

Adding Eugene Zemtsov as an author (#4011)
  src/images/authors/djuffin.jpg
  src/images/authors/djuffin@2x.jpg
  src/site/_data/authorsData.json
Due: none

new translate
  src/site/content/pl/accessible/control-focus-with-tabindex/index.md
Due: remark -q

Change Web Vitals description
  src/site/_data/paths/learn-web-vitals.json
Due: none

Apply suggestions from code review
  src/site/content/en/blog/conversion-measurement/index.md
Due: remark -q

Update translated workflow
  .github/workflows/tranaslation-status-workflow.yml
  tools/update-translated/index.js
Due: eslint

Optimize hero image
  src/site/content/en/blog/conversion-measurement/hero.jpg
Due: none

New article: "Event Conversion Measurement API" (#4015)
  src/site/content/en/blog/conversion-measurement/all-apis.jpg
  src/site/content/en/blog/conversion-measurement/diagram-overview.jpg
  src/site/content/en/blog/conversion-measurement/hero.jpg
  src/site/content/en/blog/conversion-measurement/index.md
  src/site/content/en/blog/conversion-measurement/report-timing.jpg
  src/site/content/en/blog/conversion-measurement/steps-1.jpg
  src/site/content/en/blog/conversion-measurement/steps-2.jpg
  src/site/content/en/blog/conversion-measurement/steps-3.jpg
  src/site/content/en/blog/conversion-measurement/with-api.jpg
  src/site/content/en/blog/conversion-measurement/with-cookies.jpg
Due: remark -q

misc fixes
  src/site/content/en/blog/conversion-measurement/index.md
Due: remark -q

Layout fix
  src/site/content/en/blog/conversion-measurement/index.md
Due: remark -q

Minor fixes on the conversion measurement article (#4017)
  src/site/content/en/blog/conversion-measurement/index.md
Due: remark -q

Add Acknowledgements section to post template (#4013)
  src/site/_drafts/_template-post/index.md
Due: remark -q

Add WebCodecs article.
  src/site/content/en/blog/web-codecs/index.md
Due: remark -q

Formatting.
  src/site/content/en/blog/sw-range-requests/index.md
Due: remark -q

"Handling range requests in a service worker" post (#4007)
  src/site/content/en/blog/sw-range-requests/hero.jpg
  src/site/content/en/blog/sw-range-requests/index.md
Due: remark -q

Update translated workflow (#4016)
  .github/workflows/tranaslation-status-workflow.yml
  tools/update-translated/index.js
Due: eslint

ported doc to code
  src/site/content/en/blog/logical-property-shorthands/block-and-inline-visual.png
  src/site/content/en/blog/logical-property-shorthands/hero.png
  src/site/content/en/blog/logical-property-shorthands/index.md
  src/site/content/en/blog/logical-property-shorthands/thumb.png
Due: remark -q

minor formats, pacify linter
  src/site/content/en/blog/logical-property-shorthands/index.md
Due: remark -q

Update animations collection
  src/site/_data/paths/animations.json
  src/site/content/en/animations/animations-guide/index.md
  src/site/content/en/animations/animations-guide/summary-after.jpg
  src/site/content/en/animations/animations-guide/summary-before.jpg
  src/site/content/en/animations/animations-overview/index.md
  src/site/content/en/animations/index.njk
Due: remark -q

Update index.md
  src/site/content/en/blog/how-we-build-webdev-and-use-web-components/index.md
Due: remark -q

Updated TPOT article to include example registration and add hero image alt text
  src/site/content/en/blog/third-party-origin-trials/index.md
  src/site/content/en/blog/third-party-origin-trials/tpot-registration.png
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
