Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Fix formatting
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q

Add feature support information.
  src/site/content/en/blog/web-share/index.md
Due: remark -q

Remove 'scheduled' tag.
  src/site/content/en/blog/web-share/index.md
Due: remark -q

Additions related to dating and scheduling posts.
  src/site/content/en/handbook/markup-post-codelab/index.md
Due: remark -q

Update src/site/content/en/handbook/markup-post-codelab/index.md
  src/site/content/en/handbook/markup-post-codelab/index.md
Due: remark -q

Additions related to dating and scheduling posts. (#2853)
  src/site/content/en/handbook/markup-post-codelab/index.md
Due: remark -q

Add cover image.
  src/site/content/en/images/collections/media.svg
Due: none

Tweaked date, etc.
  src/site/content/en/blog/digging-into-the-privacy-sandbox/index.md
Due: remark -q

Optimized images
  src/site/content/en/blog/signin-form-best-practice/amazon-signin-mobile.png
  src/site/content/en/blog/signin-form-best-practice/amazon-signin.png
  src/site/content/en/blog/signin-form-best-practice/autofocus.png
  src/site/content/en/blog/signin-form-best-practice/chrome-signin-desktop.png
  src/site/content/en/blog/signin-form-best-practice/firefox-password-manager.png
  src/site/content/en/blog/signin-form-best-practice/invalid-email.png
  src/site/content/en/blog/signin-form-best-practice/iphone-keyboard.png
  src/site/content/en/blog/signin-form-best-practice/keyboard-not-ok.png
  src/site/content/en/blog/signin-form-best-practice/keyboard-ok.png
  src/site/content/en/blog/signin-form-best-practice/label-position.png
  src/site/content/en/blog/signin-form-best-practice/missing-field-firefox-android.png
  src/site/content/en/blog/signin-form-best-practice/safari-password-suggest.png
  src/site/content/en/blog/signin-form-best-practice/safari-password-suggestion.png
  src/site/content/en/blog/signin-form-best-practice/safari-signin-desktop.png
  src/site/content/en/blog/signin-form-best-practice/show-password-google.png
  src/site/content/en/blog/signin-form-best-practice/show-password.png
  src/site/content/en/blog/signin-form-best-practice/styled-signin-form.png
  src/site/content/en/blog/signin-form-best-practice/test.png
  src/site/content/en/blog/signin-form-best-practice/unstyled-form-text.png
  src/site/content/en/blog/signin-form-best-practice/unstyled-form.png
Due: none

Fix a11y score by hiding decorative banner image.
  src/site/content/en/index.njk
Due: none

Fix a11y score by hiding decorative banner image. (#2854)
  src/site/content/en/index.njk
Due: none

Add variable fonts article (migrated from WebFu) (#2844)
  src/images/authors/mustafa.jpg
  src/images/authors/mustafa@2x.jpg
  src/images/authors/mustafakurtuldu.jpg
  src/images/authors/mustafakurtuldu@2x.jpg
  src/site/_data/contributors.js
  src/site/content/en/blog/variable-fonts/Amstelvar-Alpha-example.png
  src/site/content/en/blog/variable-fonts/Amstelvar-Ital-axis.png
  src/site/content/en/blog/variable-fonts/grass-mandy.png
  src/site/content/en/blog/variable-fonts/hero.jpg
  src/site/content/en/blog/variable-fonts/index.md
  src/site/content/en/blog/variable-fonts/robot-specimen.png
  src/site/content/en/blog/variable-fonts/roboto-family.png
Due: eslint, remark -q

Add homepage to author info card
  src/site/_includes/components/AuthorInfo.js
Due: eslint

Add homepage to author links, switch to flex layout
  src/site/_includes/components/AuthorInfo.js
  src/styles/components/_author.scss
Due: eslint, sass-lint -v -q"

Flex social links
  src/styles/components/_author.scss
Due: sass-lint -v -q"

Adding origin trial info & prettier reformat
  src/site/content/en/blog/hands-on-portals/index.md
Due: remark -q

Fix formatting of learn.
  src/site/content/en/learn/learn.11tydata.js
Due: eslint

Change double to single quotes.
  src/site/content/en/learn/learn.11tydata.js
  src/site/content/en/media/media.11tydata.js
Due: eslint

Fixing linter issues.
  src/site/content/en/progressive-web-apps/define-install-strategy/a2hs-infobar.png
  src/site/content/en/progressive-web-apps/define-install-strategy/index.md
  src/site/content/en/progressive-web-apps/progressive-web-apps.11tydata.js
Due: eslint, remark -q

Fixing linter error.
  src/site/content/en/progressive-web-apps/define-install-strategy/index.md
Due: remark -q

Fixing double quotes.
  src/site/content/en/progressive-web-apps/define-install-strategy/index.md
Due: remark -q

Fix link to HTML5 Rocks
  src/site/content/en/lighthouse-performance/user-timings/index.md
Due: remark -q

Adding spaces in menu items.
  src/site/content/en/progressive-web-apps/progressive-web-apps.11tydata.js
Due: eslint

Removing spaces.
  src/site/content/en/progressive-web-apps/progressive-web-apps.11tydata.js
Due: eslint

feat(postTags): add default descriptions to certain tags
  src/site/_data/postTags.js
Due: eslint

fix(postTags): set title in default description to lower case, fixes #2785 (#2835)
  src/site/_data/postTags.js
Due: eslint

refactor: move `site/en/images/rss-banner.png` to `src/images/rss-banner.png`
  src/images/rss-banner.png
Due: none

refactor: move `site/en/images/rss-banner.png` to `src/images/rss-banner.png` (#2861)
  src/images/rss-banner.png
Due: none

Add author homepage and switch to flex layout (#2856)
  src/site/_includes/components/AuthorInfo.js
  src/styles/components/_author.scss
Due: eslint, sass-lint -v -q"

Clarify what’s code and what’s not (#2842)
  src/site/content/en/blog/flexbox-gap/index.md
Due: remark -q

Fix link to HTML5 Rocks (#2859)
  src/site/content/en/lighthouse-performance/user-timings/index.md
Due: remark -q

refactor: remove unused SVGs and uncomment `trackEvent`
  src/images/icons/check_box.svg
  src/images/icons/check_box_outline_blank.svg
  src/images/icons/radio_button_checked.svg
  src/images/icons/radio_button_unchecked.svg
  src/lib/components/Feedback/index.js
Due: eslint

Update src/site/_includes/partials/feedback.njk
  src/site/_includes/partials/feedback.njk
Due: none

fix: fix scss
  src/styles/generic/_input.scss
  src/styles/settings/_colors.scss
Due: sass-lint -v -q"

refactor(feedback): use detail component's html and create palette for `$WEB_PRIMARY_COLOR`
  src/lib/components/Feedback/_styles.scss
  src/lib/components/Feedback/index.js
  src/styles/components/_details.scss
  src/styles/generic/_input.scss
  src/styles/settings/_colors.scss
Due: eslint, sass-lint -v -q"

feat(feedback): add partial and custom element to take feedback on posts, fixes #2386
  src/images/icons/radio_button_checked.svg
  src/images/icons/radio_button_unchecked.svg
  src/lib/components/Feedback/index.js
  src/lib/pages/default.js
  src/site/_includes/partials/feedback.njk
  src/site/_includes/partials/post.njk
  src/styles/components/_all.scss
  src/styles/components/_feedback.scss
  src/styles/generic/_input.scss
Due: eslint, sass-lint -v -q"

refactor(feedback): move partial into custom element
  src/lib/components/Feedback/_styles.scss
  src/lib/components/Feedback/index.js
  src/site/_includes/partials/feedback.njk
  src/site/_includes/partials/post.njk
  src/styles/components/_all.scss
  src/styles/components/_feedback.scss
  src/styles/generic/_input.scss
Due: eslint, sass-lint -v -q"

feat(feedback): add analytic tracking
  src/lib/analytics.js
  src/lib/components/Feedback/index.js
  src/lib/components/Subscribe/index.js
Due: eslint

doc(feedback): add light DOM comment to `render`
  src/lib/components/Feedback/index.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
