Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

take down mdn banner.
  src/site/_data/site.js
Due: eslint

Clarify that p75 is for mobile users (#2271)
  src/site/content/en/metrics/cls/index.md
  src/site/content/en/metrics/fcp/index.md
  src/site/content/en/metrics/fid/index.md
  src/site/content/en/metrics/lcp/index.md
  src/site/content/en/metrics/tbt/index.md
  src/site/content/en/metrics/tti/index.md
Due: remark -q

take down mdn banner. (#2278)
  src/site/_data/site.js
Due: eslint

cache names
  src/lib/sw.js
Due: eslint

limit cache size
  src/lib/sw.js
Due: eslint

update cache timings + split
  src/lib/sw.js
Due: eslint

nuke runtime cache
  src/lib/sw.js
Due: eslint

remove noisy warning
  src/site/_filters/html-date-string.js
Due: eslint

Add missing meta theme-color (#2277)
  src/site/_includes/layout.njk
Due: none

Add rel="noreferrer" to twitter share button (#2276)
  src/lib/components/Actions/index.js
Due: eslint

Add linter for wiki MDN links
  .remarkrc.js
  src/site/content/en/blog/vr-comes-to-the-web-pt-ii/index.md
  src/site/content/en/blog/web-ar/index.md
  tools/linting/no-wiki-mdn-urls.js
Due: eslint, remark -q

remove noisy warning (#2280)
  src/site/_filters/html-date-string.js
Due: eslint

Rev updated fields for metrics docs.
  src/site/content/en/metrics/cls/index.md
  src/site/content/en/metrics/fcp/index.md
  src/site/content/en/metrics/fid/index.md
  src/site/content/en/metrics/lcp/index.md
  src/site/content/en/metrics/tbt/index.md
  src/site/content/en/metrics/tti/index.md
Due: remark -q

Rev updated fields for metrics docs. (#2282)
  src/site/content/en/metrics/cls/index.md
  src/site/content/en/metrics/fcp/index.md
  src/site/content/en/metrics/fid/index.md
  src/site/content/en/metrics/lcp/index.md
  src/site/content/en/metrics/tbt/index.md
  src/site/content/en/metrics/tti/index.md
Due: remark -q

Add examples of ways to do the date.
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Update src/site/content/en/blog/snap-after-layout/index.md
  src/site/content/en/blog/snap-after-layout/index.md
Due: remark -q

Added a few alternate ideas
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Snap after layout blog post (#2235)
  src/site/_data/contributors.js
  src/site/content/en/blog/snap-after-layout/css-scroll-snap-example.png
  src/site/content/en/blog/snap-after-layout/index.md
  src/site/content/en/images/authors/alsan.jpg
  src/site/content/en/images/authors/alsan@2x.jpg
  src/site/content/en/images/authors/yigu.jpg
  src/site/content/en/images/authors/yigu@2x.jpg
Due: eslint, remark -q

only first three apps
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

Update src/site/content/en/progressive-web-apps/codelab-make-installable/index.md
  src/site/content/en/progressive-web-apps/codelab-make-installable/index.md
Due: remark -q

Typo fix
  src/site/content/en/blog/fixing-website-speed-cross-functionally/index.md
Due: remark -q

Move the content to /fast
  src/site/content/en/fast/fast.11tydata.js
  src/site/content/en/fast/fixing-website-speed-cross-functionally/index.md
Due: eslint, remark -q

Update lazy loading information (#2260)
  src/site/content/en/blog/native-lazy-loading/index.md
Due: remark -q

Remove "post" tag
  src/site/content/en/fast/fixing-website-speed-cross-functionally/index.md
Due: remark -q

Add all dates with proper format.
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

[Shape Detection article] Add launch information for barcode detection (#2261)
  src/site/content/en/blog/shape-detection/index.md
Due: remark -q

Update "Make it installable" codelab (#2257)
  src/site/content/en/progressive-web-apps/codelab-make-installable/index.md
Due: remark -q

Enhance feature detection description. (#2263)
  src/site/content/en/blog/vr-comes-to-the-web/index.md
  src/site/content/en/reliable/service-workers-cache-storage/index.md
Due: remark -q

Testing for WebAPKs
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q
