Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

feat: redesign the webdev about page (#9215)
  src/scss/pages/_about.scss
  src/scss/utilities/_wrapper.scss
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/_includes/about-next.njk
  src/site/_includes/icons/chrome.svg
  src/site/_includes/icons/edit.svg
  src/site/_includes/icons/spotted.svg
  src/site/content/en/about/index.md
  src/site/content/es/about/index.md
  src/site/content/ja/about/index.md
  src/site/content/ko/about/index.md
  src/site/content/pt/about/index.md
  src/site/content/ru/about/index.md
  src/site/content/zh/about/index.md
Due: sass-lint -v -q", remark -q

fix: typo within navigation assessment
  src/site/content/en/learn/html/navigation/navigation.assess.yml
Due: none

Create web.dev
  web.dev
Due: none

guard loading GTM script on user cookies consent
  .eslintrc.js
  src/lib/actions.js
  src/lib/app.js
  src/lib/components/Snackbar/index.js
  src/lib/store.js
  src/site/_includes/partials/analytics.njk
  src/site/_includes/partials/head.njk
Due: eslint

fix: responsive broken
  src/scss/pages/_learn.scss
  src/site/_includes/learn-page.njk
Due: sass-lint -v -q"

fix: responsive broken on mobile view
  src/scss/pages/_learn.scss
Due: sass-lint -v -q"

fix: typo within navigation assessment (#9275)
  src/site/content/en/learn/html/navigation/navigation.assess.yml
Due: none

feat: redesign the learn page and implements the explore page (#9232)
  src/lib/pages/explore.js
  src/lib/pages/learn.js
  src/scss/blocks/_card.scss
  src/scss/blocks/_counter.scss
  src/scss/next.scss
  src/scss/pages/_explore.scss
  src/scss/pages/_learn.scss
  src/site/_data/i18n/explore.yml
  src/site/_data/i18n/header.yml
  src/site/_data/i18n/learn.yml
  src/site/_includes/explore.njk
  src/site/_includes/learn-page.njk
  src/site/_includes/partials/course-cards-next.njk
  src/site/_includes/partials/site-header.njk
  src/site/content/en/explore/explore.11tydata.js
  src/site/content/en/explore/index.md
  src/site/content/en/learn/index.md
  src/site/content/es/explore/explore.11tydata.js
  src/site/content/es/explore/index.md
  src/site/content/ja/explore/explore.11tydata.js
  src/site/content/ja/explore/index.md
  src/site/content/ko/explore/explore.11tydata.js
  src/site/content/ko/explore/index.md
  src/site/content/pl/explore/explore.11tydata.js
  src/site/content/pl/explore/index.md
  src/site/content/pt/explore/explore.11tydata.js
  src/site/content/pt/explore/index.md
  src/site/content/ru/explore/explore.11tydata.js
  src/site/content/ru/explore/index.md
  src/site/content/zh/explore/explore.11tydata.js
  src/site/content/zh/explore/index.md
Due: eslint, sass-lint -v -q", remark -q

Update cookie bar functionality
  src/lib/actions.js
  src/lib/analytics.js
  src/lib/app.js
  src/lib/components/Snackbar/index.js
  src/lib/components/SnackbarContainer/index.js
  src/lib/store.js
  src/scss/web-components/_web-snackbar.scss
  src/site/_includes/partials/analytics.njk
  src/site/_includes/partials/head.njk
Due: eslint, sass-lint -v -q"

Fix lint issue
  src/site/_includes/partials/analytics.njk
Due: none

refactor: includes partial of card layout template
  src/scss/pages/_collection.scss
  src/site/_includes/collection.njk
  src/site/_includes/partials/cards-collection.njk
  src/site/content/en/learn-core-web-vitals/index.njk
Due: sass-lint -v -q"

docs: adds document for displaying collection of cards
  src/site/_data/i18n/paths/example_collection.yml
  src/site/_data/paths/example-collection.json
  src/site/_data/paths/handbook.json
  src/site/_data/paths/index.js
  src/site/content/en/example-collection/index.njk
  src/site/content/en/handbook/markup-cards-collection/index.md
Due: eslint, remark -q

lint: fix md lint error
  src/site/content/en/handbook/markup-cards-collection/index.md
Due: remark -q

refactor: simplify card types
  src/site/_includes/partials/cards-collection.njk
  src/site/content/en/example-collection/index.njk
  src/site/content/en/handbook/markup-cards-collection/index.md
Due: remark -q

docs: move example of collection page from blog to handbook/content-types
  src/site/content/en/handbook/content-types/example-collection/index.njk
  src/site/content/en/handbook/markup-cards-collection/index.md
Due: remark -q

refactor: update inappropriate variable
  src/site/_includes/partials/cards-collection.njk
Due: none

fix: remove unwanted file
  src/site/content/en/example-collection/index.njk
Due: none

Update src/site/content/en/handbook/markup-cards-collection/index.md
  src/site/content/en/handbook/markup-cards-collection/index.md
Due: remark -q

feat: update site logo
  src/images/logo.svg
  src/site/_includes/partials/site-header.njk
Due: none

feat: redesign homepage
  src/lib/pages/home.js
  src/scss/pages/_homepage.scss
  src/site/_includes/homepage-next.njk
  src/site/_includes/icons/pattern.svg
  src/site/content/en/index.md
Due: eslint, sass-lint -v -q", remark -q

fix: svg icon color for dark theme
  src/images/logo.svg
  src/scss/blocks/_brand.scss
  src/scss/pages/_homepage.scss
  src/site/_includes/icons/chrome.svg
  src/site/content/en/index.md
Due: sass-lint -v -q", remark -q

feat: updates nav header
  src/site/_data/i18n/header.yml
  src/site/_includes/partials/site-header.njk
Due: none

feat: allows user to custom the layout using configuration rather than CSS classes
  src/site/_includes/homepage-next.njk
  src/site/content/en/index.md
Due: remark -q

fix: alignment for case studies
  src/scss/pages/_homepage.scss
  src/site/_includes/homepage-next.njk
Due: sass-lint -v -q"

fix: rebase collection of cards
  src/scss/pages/_collection.scss
  src/site/_includes/homepage-next.njk
  src/site/_includes/partials/cards-collection.njk
  src/site/content/en/index.md
Due: sass-lint -v -q", remark -q

refactor: remove duplicate code
  src/scss/pages/_homepage.scss
  src/site/_includes/homepage-next.njk
  src/site/content/en/index.md
Due: sass-lint -v -q", remark -q

fix: pull specific posts from blog rather than case-study tag
  src/scss/pages/_homepage.scss
  src/site/_includes/homepage-next.njk
  src/site/content/en/index.md
Due: sass-lint -v -q", remark -q

directory name
  src/site/content/en/learn/accessibility/assistive-technology/index.md
Due: remark -q

testing modules url structure
  src/site/content/en/learn/accessibility/test-assistive-technology/index.md
  src/site/content/en/learn/accessibility/test-automated/index.md
  src/site/content/en/learn/accessibility/test-manual/index.md
Due: remark -q

toc
  src/site/_data/courses/accessibility/toc.yml
  src/site/content/en/learn/accessibility/measure/index.md
Due: remark -q

Move JS module after focus and document
  src/site/_data/courses/accessibility/toc.yml
  src/site/content/en/learn/accessibility/javascript/index.md
Due: remark -q

focus management
  src/site/content/en/learn/accessibility/javascript/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
