Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Translate index.md via GitLocalize
  src/site/content/pl/accessible/control-focus-with-tabindex/index.md
Due: remark -q

re-write
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

Update instructions component to use Lighthouse.
  src/site/_includes/components/Instruction.js
  src/site/content/en/fast/apply-instant-loading-with-prpl/index.md
  src/site/content/en/fast/codelab-extract-and-inline-critical-css/index.md
  src/site/content/en/fast/codelab-optimize-third-party-javascript/index.md
  src/site/content/en/fast/identify-slow-third-party-javascript/index.md
Due: eslint, remark -q

Add manual build trigger and updated scheduled build cron to be hourly.
  .github/workflows/continuous-integration-workflow.yml
Due: none

adding thumbnail frontmatter so provided image is used
  src/site/content/en/blog/css-marker-pseudo-element/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

Replace spacesuit with shark.
  src/site/content/en/blog/introducing-model-viewer/index.md
  src/site/content/en/blog/introducing-model-viewer/spacesuit.jpg
Due: remark -q

Add Push API link
  src/site/content/en/blog/badging-api/index.md
Due: remark -q

some windows info
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

windows package name info
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

address feedback
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

minor tweaks
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

refactor(Glitch): escape parameters of Glitch shortcode
  src/site/_includes/components/Glitch.js
Due: eslint

add line about chromium 85 in intro
  src/site/content/en/blog/content-visibility/index.md
Due: remark -q

Add Push API link (#3629)
  src/site/content/en/blog/badging-api/index.md
Due: remark -q

Resize and optimize images
  src/site/content/en/blog/content-visibility/demo.jpg
  src/site/content/en/blog/content-visibility/travelblog-chunked.jpg
  src/site/content/en/blog/content-visibility/travelblog.jpg
Due: none

Add styling for screenshots and break lines at 100 characters
  src/site/content/en/blog/content-visibility/.index.md.swp
  src/site/content/en/blog/content-visibility/index.md
Due: remark -q

Bump date
  src/site/content/en/blog/css-marker-pseudo-element/index.md
Due: remark -q

fixes thumb by being on grey
  src/site/content/en/blog/css-marker-pseudo-element/thumb.png
Due: none

Add content-visibility post (#3579)
  src/images/authors/vladimirlevin.jpg
  src/images/authors/vladimirlevin@2x.jpg
  src/site/_data/authorsData.json
  src/site/content/en/blog/content-visibility/.index.md.swp
  src/site/content/en/blog/content-visibility/demo.jpg
  src/site/content/en/blog/content-visibility/hero.jpg
  src/site/content/en/blog/content-visibility/index.md
  src/site/content/en/blog/content-visibility/travelblog-chunked.jpg
  src/site/content/en/blog/content-visibility/travelblog.jpg
Due: remark -q

Fix the formatting in the HID examples title (#3585)
  src/site/content/en/blog/hid-examples/index.md
Due: remark -q

Delete swap file
  src/site/content/en/blog/content-visibility/.index.md.swp
Due: none

Add video
  src/site/content/en/blog/idle-detection/devtools.mp4
Due: none

Add DevTools emulation
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

Fix indentation
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

Acknowledge Maksim Sadym
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

Add that it's avail. from Chrome 86
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

Add noopener details
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Updated from comments on PR
  src/site/content/en/blog/codelab-sign-in-form-best-practices/index.md
  src/site/content/en/blog/sign-in-form-best-practices/index.md
Due: remark -q

Add hero image to web-on-android post
  src/site/content/en/blog/web-on-android/hero.svg
  src/site/content/en/blog/web-on-android/index.md
Due: remark -q

Updates "updated" for the web-on-android post
  src/site/content/en/blog/web-on-android/index.md
Due: remark -q

Add animated example for Amstelvar finesse
  src/site/content/en/blog/variable-fonts/index.md
  src/site/content/en/blog/variable-fonts/larger-widths.mp4
Due: remark -q

Remove asset todos
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q

Update src/site/content/en/media/media-experience/index.md
  src/site/content/en/media/media-experience/index.md
Due: remark -q

Update src/site/_data/paths/media.js
  src/site/_data/paths/media.js
Due: eslint
