Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

add hero image credit
  src/site/content/en/blog/read-files/index.md
Due: remark -q

Add a post on why CommonJS modules are hard to optimize
  src/site/content/en/blog/commonjs-larger-bundles/hero.jpg
  src/site/content/en/blog/commonjs-larger-bundles/index.md
Due: remark -q

Set custom dimensions to strings.
  src/lib/analytics.js
  src/lib/bootstrap.js
Due: eslint

Set custom dimensions to strings. (#2834)
  src/lib/analytics.js
  src/lib/bootstrap.js
Due: eslint

fix(postTags): set title in default description to lower case, fixes #2785
  src/site/_data/postTags.js
Due: eslint

refactor(postTags): remove `()` from `tag.title`
  src/site/_data/postTags.js
Due: eslint

Remove unused Actions shortcode.
  src/site/_includes/components/Actions.js
Due: eslint

Add explicit section IDs
  src/site/content/en/fast/fixing-website-speed-cross-functionally/index.md
Due: remark -q

Clarify what’s code and what’s not
  src/site/content/en/blog/flexbox-gap/index.md
Due: remark -q

Migrate variable fonts article from WebFu
  src/images/authors/mustafakurtuldu.jpg
  src/site/_data/contributors.js
  src/site/content/en/blog/variable-fonts/Amstelvar-Alpha-example.png
  src/site/content/en/blog/variable-fonts/Amstelvar-Ital-axis.png
  src/site/content/en/blog/variable-fonts/amstel-grade-e.gif
  src/site/content/en/blog/variable-fonts/axis-praxis.gif
  src/site/content/en/blog/variable-fonts/gingham-weight-e.gif
  src/site/content/en/blog/variable-fonts/grass-mandy.png
  src/site/content/en/blog/variable-fonts/hero.png
  src/site/content/en/blog/variable-fonts/index.md
  src/site/content/en/blog/variable-fonts/robot-specimen.png
  src/site/content/en/blog/variable-fonts/roboto-family.png
Due: eslint, remark -q

Lint error fixes
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q

Don't pass `signal` on instantiation
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

Update src/site/content/en/blog/idle-detection/index.md
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

Add thanks 🙏
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

New hero image
  src/site/content/en/blog/variable-fonts/hero.jpg
  src/site/content/en/blog/variable-fonts/hero.png
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q

Add CDN blog post
  src/site/content/en/blog/content-delivery-networks/hero.png
  src/site/content/en/blog/content-delivery-networks/index.md
Due: remark -q

Address @ThomasTheDane's review comments
  src/site/content/en/blog/idle-detection/hero.jpg
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

Add updated
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

fixes image extending beyond viewport on mobile
  src/site/content/en/blog/flexbox-gap/index.md
Due: remark -q

fixes tense of wording and removes link to nonexisting blog post
  src/site/content/en/blog/flexbox-gap/index.md
Due: remark -q

move date to 5/11
  src/site/content/en/blog/persistent-storage/index.md
Due: remark -q

Update CDN image
  src/site/content/en/blog/content-delivery-networks/hero.png
Due: none

Update src/site/content/en/blog/flexbox-gap/index.md
  src/site/content/en/blog/flexbox-gap/index.md
Due: remark -q

use width attribute instead of width css
  src/site/content/en/blog/flexbox-gap/index.md
Due: remark -q

Flexbox gap patch (#2847)
  src/site/content/en/blog/flexbox-gap/index.md
Due: remark -q

covid banner
  src/site/content/en/index.njk
  src/styles/pages/_home.scss
Due: sass-lint -v -q"

fix use of plugin
  build.js
Due: eslint

remove WC loader
  src/lib/webcomponents-config.js
Due: eslint

fix isProd
  build.js
  src/build/rollup-plugin-lit-css.js
Due: eslint

compile .scss.js files as lit-element tagged css
  build.js
  compile-css.js
  src/build/compile-css.js
  src/build/rollup-plugin-lit-css.js
Due: eslint

flip lighthouse-gauge to flip
  src/lib/components/LighthouseGauge/_styles.scss
  src/lib/components/LighthouseGauge/index.js
Due: eslint, sass-lint -v -q"

remove @webcomponents/webcomponentsjs
  package-lock.json
  package.json
Due: none

lint
  build.js
  src/build/compile-css.js
Due: eslint

try enabling JS in percy
  tools/percy/.percy.conf.yml
Due: none

bad merge
  src/lib/app.js
Due: eslint

gulpfile remove dep
  gulpfile.js
Due: eslint
