Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

adds 2 quiz questions to shadows module (#5275)
  src/site/content/en/learn/css/shadows/index.md
  src/site/content/en/learn/css/shadows/shadows.assess.yml
Due: remark -q

Adds sizing assessment (#5219)
  src/site/content/en/learn/css/sizing/index.md
  src/site/content/en/learn/css/sizing/sizing.assess.yml
Due: remark -q

master→main
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

Update src/site/content/en/learn/css/pseudo-elements/pseudo-elements.assess.yml
  src/site/content/en/learn/css/pseudo-elements/pseudo-elements.assess.yml
Due: none

Update src/site/content/en/learn/css/pseudo-classes/pseudo-classes.assess.yml
  src/site/content/en/learn/css/pseudo-classes/pseudo-classes.assess.yml
Due: none

Adds pseudo-element assessment (#5232)
  src/site/content/en/learn/css/pseudo-elements/index.md
  src/site/content/en/learn/css/pseudo-elements/pseudo-elements.assess.yml
Due: remark -q

Use projectKey to generate searchTag for courses
  src/site/content/en/learn/css/css.11tydata.js
Due: eslint

Warn if no results element found
  src/lib/components/Search/index.js
Due: eslint

Apply suggestions from code review
  src/site/content/en/blog/url-protocol-handler/index.md
Due: remark -q

Use customEvent to select search result
  src/lib/components/Search/index.js
  src/lib/components/SearchResults/index.js
  src/site/content/en/learn/css/css.11tydata.js
Due: eslint

Add comment and lint
  src/lib/components/SearchResults/index.js
Due: eslint

Remove query from observable props
  src/lib/components/SearchResults/index.js
Due: eslint

copy fixes, links and such
  src/site/_data/courses/css/toc.yml
  src/site/content/en/learn/css/animations/index.md
  src/site/content/en/learn/css/blend-modes/index.md
  src/site/content/en/learn/css/borders/borders.assess.yml
  src/site/content/en/learn/css/box-model/index.md
  src/site/content/en/learn/css/color/color.assess.yml
  src/site/content/en/learn/css/color/index.md
  src/site/content/en/learn/css/flexbox/conclusion.assess.yml
  src/site/content/en/learn/css/flexbox/flex.assess.yml
  src/site/content/en/learn/css/flexbox/index.md
  src/site/content/en/learn/css/focus/focus.assess.yml
  src/site/content/en/learn/css/functions/index.md
  src/site/content/en/learn/css/gradients/index.md
  src/site/content/en/learn/css/grid/grid.assess.yml
  src/site/content/en/learn/css/grid/index.md
  src/site/content/en/learn/css/index.md
  src/site/content/en/learn/css/layout/index.md
  src/site/content/en/learn/css/layout/layout.assess.yml
  src/site/content/en/learn/css/logical-properties/index.md
  src/site/content/en/learn/css/logical-properties/logical-props.assess.yml
  src/site/content/en/learn/css/pseudo-classes/index.md
  src/site/content/en/learn/css/pseudo-elements/index.md
  src/site/content/en/learn/css/pseudo-elements/pseudo-elements.assess.yml
  src/site/content/en/learn/css/selectors/complex-selectors.assess.yml
  src/site/content/en/learn/css/selectors/index.md
  src/site/content/en/learn/css/selectors/pseudo-selectors.assess.yml
  src/site/content/en/learn/css/selectors/simple-selectors.assess.yml
  src/site/content/en/learn/css/shadows/index.md
  src/site/content/en/learn/css/shadows/shadows.assess.yml
  src/site/content/en/learn/css/sizing/sizing.assess.yml
  src/site/content/en/learn/css/spacing/conclusion.assess.yml
  src/site/content/en/learn/css/spacing/index.md
  src/site/content/en/learn/css/specificity/scoring-beginner.assess.yml
  src/site/content/en/learn/css/specificity/visualizing.assess.yml
  src/site/content/en/learn/css/the-cascade/conclusion.assess.yml
  src/site/content/en/learn/css/the-cascade/index.md
  src/site/content/en/learn/css/the-cascade/origin.assess.yml
  src/site/content/en/learn/css/z-index/index.md
  src/site/content/en/learn/css/z-index/z-index.assess.yml
Due: remark -q

disable translation banner
  src/site/content/es/es.11tydata.js
Due: eslint

copy fixes, links and such (#5283)
  src/site/_data/courses/css/toc.yml
  src/site/content/en/learn/css/animations/index.md
  src/site/content/en/learn/css/blend-modes/index.md
  src/site/content/en/learn/css/borders/borders.assess.yml
  src/site/content/en/learn/css/box-model/index.md
  src/site/content/en/learn/css/color/color.assess.yml
  src/site/content/en/learn/css/color/index.md
  src/site/content/en/learn/css/flexbox/conclusion.assess.yml
  src/site/content/en/learn/css/flexbox/flex.assess.yml
  src/site/content/en/learn/css/flexbox/index.md
  src/site/content/en/learn/css/focus/focus.assess.yml
  src/site/content/en/learn/css/functions/index.md
  src/site/content/en/learn/css/gradients/index.md
  src/site/content/en/learn/css/grid/grid.assess.yml
  src/site/content/en/learn/css/grid/index.md
  src/site/content/en/learn/css/index.md
  src/site/content/en/learn/css/layout/index.md
  src/site/content/en/learn/css/layout/layout.assess.yml
  src/site/content/en/learn/css/logical-properties/index.md
  src/site/content/en/learn/css/logical-properties/logical-props.assess.yml
  src/site/content/en/learn/css/pseudo-classes/index.md
  src/site/content/en/learn/css/pseudo-elements/index.md
  src/site/content/en/learn/css/pseudo-elements/pseudo-elements.assess.yml
  src/site/content/en/learn/css/selectors/complex-selectors.assess.yml
  src/site/content/en/learn/css/selectors/index.md
  src/site/content/en/learn/css/selectors/pseudo-selectors.assess.yml
  src/site/content/en/learn/css/selectors/simple-selectors.assess.yml
  src/site/content/en/learn/css/shadows/index.md
  src/site/content/en/learn/css/shadows/shadows.assess.yml
  src/site/content/en/learn/css/sizing/sizing.assess.yml
  src/site/content/en/learn/css/spacing/conclusion.assess.yml
  src/site/content/en/learn/css/spacing/index.md
  src/site/content/en/learn/css/specificity/scoring-beginner.assess.yml
  src/site/content/en/learn/css/specificity/visualizing.assess.yml
  src/site/content/en/learn/css/the-cascade/conclusion.assess.yml
  src/site/content/en/learn/css/the-cascade/index.md
  src/site/content/en/learn/css/the-cascade/origin.assess.yml
  src/site/content/en/learn/css/z-index/index.md
  src/site/content/en/learn/css/z-index/z-index.assess.yml
Due: remark -q

Add Rachel's desc
  src/site/_data/authorsData.json
Due: none

Updated Una's bio
  src/site/_data/authorsData.json
Due: none

Courses author bubble stack (#5278)
  src/site/_data/authorsData.json
  src/site/_data/courses/css/toc.yml
  src/site/_includes/partials/author-stack.njk
  src/site/content/en/learn/css/conclusion/index.md
  src/styles/globals/gorko/_config.scss
  src/styles/utilities/_all.scss
  src/styles/utilities/_list-separator.scss
Due: sass-lint -v -q", remark -q

swapped the question to test functional pseudo class understanding
  src/site/content/en/learn/css/pseudo-classes/pseudo-classes.assess.yml
Due: none

[Window Controls Overlay article] Link to Edge’s docs (#5282)
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

adding semi colon for consistency
  src/site/content/en/learn/css/functions/index.md
Due: remark -q

Make ts happy and make event name more specific.
  src/lib/components/Search/index.js
  src/lib/components/SearchResults/index.js
  types/lib/components/SearchResults.d.ts
Due: eslint

made adjustments to demo presentation to better fit space in modules
  src/site/content/en/learn/css/box-model/index.md
  src/site/content/en/learn/css/color/index.md
  src/site/content/en/learn/css/flexbox/index.md
  src/site/content/en/learn/css/grid/index.md
  src/site/content/en/learn/css/inheritance/index.md
  src/site/content/en/learn/css/layout/index.md
  src/site/content/en/learn/css/selectors/index.md
  src/site/content/en/learn/css/sizing/index.md
  src/site/content/en/learn/css/specificity/index.md
  src/site/content/en/learn/css/the-cascade/index.md
Due: remark -q

added functions quiz
  src/site/content/en/learn/css/functions/functions.assess.yml
  src/site/content/en/learn/css/functions/index.md
Due: remark -q

adds gradient assessments
  src/site/content/en/learn/css/gradients/gradients.assess.yml
  src/site/content/en/learn/css/gradients/index.md
Due: remark -q

<video class="lazy" ... >
  src/site/content/en/fast/lazy-loading-video/index.md
Due: remark -q

adds animations assessments
  src/site/content/en/learn/css/animations/animations.assess.yml
  src/site/content/en/learn/css/animations/index.md
Due: remark -q

fixes typo
  src/site/content/en/learn/css/filters/index.md
Due: remark -q

adds filter questions
  src/site/content/en/learn/css/filters/filters.assess.yml
  src/site/content/en/learn/css/filters/index.md
Due: remark -q

Add background color and fix toc without contents. (#5281)
  src/site/_data/i18n/toc.yml
  src/site/_includes/partials/toc-inner.njk
  src/site/_includes/partials/toc-side.njk
  src/styles/components/_course-toc.scss
Due: sass-lint -v -q"

Enforce CSP
  firebase-config.js
Due: eslint

Remove search from courses
  src/site/_includes/partials/navigation-drawer-course.njk
Due: none

adds blend mode assessment questions
  src/site/content/en/learn/css/blend-modes/blend-modes.assess.yml
  src/site/content/en/learn/css/blend-modes/index.md
Due: remark -q

Adds filters assessment (#5291)
  src/site/content/en/learn/css/filters/filters.assess.yml
  src/site/content/en/learn/css/filters/index.md
Due: remark -q

adds blend mode assessment questions (#5293)
  src/site/content/en/learn/css/blend-modes/blend-modes.assess.yml
  src/site/content/en/learn/css/blend-modes/index.md
Due: remark -q

Remove search from courses (#5292)
  src/site/_includes/partials/navigation-drawer-course.njk
Due: none

Learn CSS - animation subsequent demos (#5258)
  src/site/content/en/learn/css/animations/index.md
Due: remark -q

made adjustments to demo presentation to better fit space in modules (#5286)
  src/site/content/en/learn/css/box-model/index.md
  src/site/content/en/learn/css/color/index.md
  src/site/content/en/learn/css/flexbox/index.md
  src/site/content/en/learn/css/grid/index.md
  src/site/content/en/learn/css/inheritance/index.md
  src/site/content/en/learn/css/layout/index.md
  src/site/content/en/learn/css/selectors/index.md
  src/site/content/en/learn/css/sizing/index.md
  src/site/content/en/learn/css/specificity/index.md
  src/site/content/en/learn/css/the-cascade/index.md
Due: remark -q

add stuck state to course-app-bar
  src/site/_includes/course.njk
  src/styles/components/_app-bar.scss
Due: sass-lint -v -q"
