Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Apply suggestions from code review
  src/site/content/en/handbook/inclusion-and-accessibility/index.md
Due: remark -q

Part 2 blog post of "porting USB applications to the web" (#7228)
  src/site/content/en/blog/porting-gphoto2-to-the-web/index.md
  src/site/content/en/blog/porting-libusb-to-webusb/index.md
Due: remark -q

Update date on part 2 USB blogpost
  src/site/content/en/blog/porting-gphoto2-to-the-web/index.md
Due: remark -q

Update date on part 2 USB blogpost (#7291)
  src/site/content/en/blog/porting-gphoto2-to-the-web/index.md
Due: remark -q

Fix link
  src/site/content/en/blog/porting-gphoto2-to-the-web/index.md
Due: remark -q

Fix link (#7292)
  src/site/content/en/blog/porting-gphoto2-to-the-web/index.md
Due: remark -q

updating images
  src/site/content/en/learn/pwa/serving/index.md
Due: remark -q

Update src/site/content/en/learn/pwa/installation/index.md
  src/site/content/en/learn/pwa/installation/index.md
Due: remark -q

fix(i18n): display i18n titles of courses in paths, fixes #7225 (#7254)
  .eleventy.js
  src/site/_includes/partials/item.njk
Due: eslint

refactor(pattern): code pattern always takes full width
  src/scss/pages/_pattern.scss
Due: sass-lint -v -q"

doc migrated ready
  src/site/content/en/blog/building-an-adaptive-favicon/index.md
Due: remark -q

update plain language
  src/site/content/en/handbook/inclusion-and-accessibility/index.md
Due: remark -q

refactor(BrowserCompat): use normal bp and fix label
  src/scss/_config.scss
  src/scss/blocks/_browser-compat.scss
  src/site/_includes/components/BrowserCompat.js
Due: eslint, sass-lint -v -q"

Update src/site/content/en/blog/web-platform-01-2022/index.md
  src/site/content/en/blog/web-platform-01-2022/index.md
Due: remark -q

add Web Platform January post (#7281)
  src/site/content/en/blog/web-platform-01-2022/index.md
Due: remark -q

Update src/site/content/en/blog/http-cache-security/index.md
  src/site/content/en/blog/http-cache-security/index.md
Due: remark -q

feedback
  src/site/content/en/blog/http-cache-security/index.md
Due: remark -q

fix(assessment): allow overflow on mobile, fixes #7262
  src/lib/components/Assessment/_styles.scss
Due: sass-lint -v -q"

SVG diagram
  src/site/content/en/blog/http-cache-security/index.md
Due: remark -q

feat(web-dev-basics): add draft web dev learning path
  src/site/_data/i18n/learn.yml
  src/site/_data/i18n/paths/web-dev-basics-one.yml
  src/site/_data/paths/index.js
  src/site/_data/paths/web-dev-basics-one.json
  src/site/_includes/path.njk
  src/site/content/en/learn/learn.11tydata.js
  src/site/content/en/web-dev-basics-one/index.njk
Due: eslint

chore(web-dev-basics): set to draft and update links
  src/site/_data/i18n/paths/web-dev-basics-one.yml
  src/site/_data/paths/web-dev-basics-one.json
Due: none

chore(learn): comment out web dev basics
  src/site/content/en/learn/learn.11tydata.js
Due: eslint

fix(web-dev-basics-one): correctly mark as draft
  src/site/content/en/web-dev-basics-one/index.njk
Due: none

feat(web-dev-basics): add draft web dev learning path (#7054)
  src/site/_data/i18n/learn.yml
  src/site/_data/i18n/paths/web-dev-basics-one.yml
  src/site/_data/paths/index.js
  src/site/_data/paths/web-dev-basics-one.json
  src/site/_includes/path.njk
  src/site/content/en/learn/learn.11tydata.js
  src/site/content/en/web-dev-basics-one/index.njk
Due: eslint

Update index.md
  src/site/content/en/fast/content-delivery-networks/index.md
Due: remark -q

Remove JS Self Profiling from translations (#6861)
  src/site/content/es/secure/cross-origin-isolation-guide/index.md
  src/site/content/ja/secure/cross-origin-isolation-guide/index.md
  src/site/content/ko/secure/cross-origin-isolation-guide/index.md
  src/site/content/pt/secure/cross-origin-isolation-guide/index.md
  src/site/content/ru/secure/cross-origin-isolation-guide/index.md
  src/site/content/zh/secure/cross-origin-isolation-guide/index.md
Due: remark -q

Added Network Error Logging article (migrated from web fundamentals) (#7279)
  src/site/_data/paths/secure.json
  src/site/content/en/blog/reporting-api/index.md
  src/site/content/en/blog/strict-csp/index.md
  src/site/content/en/secure/network-error-logging/index.md
Due: remark -q

Update BCD
  package.json
Due: none

Add slash
  src/site/_filters/find-by-url.js
Due: eslint

Add additional html elements course material
  src/site/_data/paths/web-dev-basics-one.json
  src/site/content/en/web-dev-basics-one/additional-html-elements/index.md
Due: remark -q

Migrate enable-https article (#7259)
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/_data/paths/secure.json
  src/site/_filters/find-by-url.js
  src/site/content/en/secure/enable-https/index.md
Due: eslint, remark -q

refator(patterns): move code patterns to next design system, fixes #6838 (#7214)
  .eleventy.js
  package-lock.json
  package.json
  src/lib/actions.js
  src/lib/components/TableOfContents/index.js
  src/lib/components/TableOfContentsButton/index.js
  src/lib/pages/content.js
  src/scss/blocks/_hero.scss
  src/scss/blocks/_toc.scss
  src/scss/next.scss
  src/scss/pages/_path.scss
  src/scss/pages/_pattern.scss
  src/scss/web-components/_web-copy-code.scss
  src/scss/web-components/_web-tabs.scss
  src/site/_data/i18n/toc.yml
  src/site/_includes/components/CodePattern.js
  src/site/_includes/course.njk
  src/site/_includes/icons/open_in_new.svg
  src/site/_includes/macros/breadcrumbs.njk
  src/site/_includes/partials/post-next.njk
  src/site/_includes/partials/post.njk
  src/site/_includes/partials/toc-inner.njk
  src/site/_includes/partials/toc-side.njk
  src/site/_includes/path.njk
  src/site/_includes/pattern-page.njk
  src/site/_includes/pattern-set.njk
  src/styles/components/_all.scss
  src/styles/components/_code-pattern.scss
  src/styles/components/_toc.scss
  src/styles/components/_web-copy-code.scss
  src/styles/legacy-rollout.scss
  src/styles/pages/_all.scss
  src/styles/pages/_code-patterns.scss
Due: eslint, sass-lint -v -q"

fix(assessment): allow overflow on mobile, fixes #7262 (#7294)
  src/lib/components/Assessment/_styles.scss
Due: sass-lint -v -q"

implicitly link
  src/site/content/en/blog/http-cache-security/index.md
Due: remark -q

response varies
  src/site/content/en/blog/http-cache-security/index.md
Due: remark -q

match recommendation order
  src/site/content/en/blog/http-cache-security/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/http-cache-security/index.md
Due: remark -q

chore(author): delete `src/styles/pages/_author.scss`, fixes #7286
  src/styles/pages/_all.scss
  src/styles/pages/_author.scss
Due: sass-lint -v -q"

chore(author): delete `src/styles/pages/_author.scss`, fixes #7286 (#7288)
  src/styles/pages/_all.scss
  src/styles/pages/_author.scss
Due: sass-lint -v -q"

Bump lighthouse version (#7284)
  package-lock.json
  package.json
Due: none
