Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Update src/site/content/en/media/file-basics/index.md
  src/site/content/en/media/file-basics/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/media/file-basics/index.md
  src/site/content/en/media/media-experience/index.md
  src/site/content/en/media/prepare-media/index.md
Due: remark -q

Fix capitalization of container names.
  src/site/content/en/media/cheatsheet/index.md
  src/site/content/en/media/containers-and-codecs/index.md
  src/site/content/en/media/file-basics/index.md
  src/site/content/en/media/video-and-source-tags/index.md
Due: remark -q

Fix typo (#3743)
  src/site/content/en/blog/media-session/index.md
Due: remark -q

Add stale close comment.
  .github/stale.yml
Due: none

Add stale close comment. (#3746)
  .github/stale.yml
Due: none

post updates for more equal references
  src/site/content/en/blog/web-animations/index.md
Due: remark -q

feat(post): add table of contents to posts, fixes #1931 (#1983)
  .eleventy.js
  package-lock.json
  package.json
  src/lib/actions.js
  src/lib/components/TableOfContents/index.js
  src/lib/components/TableOfContentsButton/index.js
  src/lib/pages/default.js
  src/site/_filters/slugify.js
  src/site/_includes/partials/post.njk
  src/site/_transforms/responsive-images/index.js
  src/styles/components/_all.scss
  src/styles/components/_toc.scss
  src/styles/settings/_dimensions.scss
Due: eslint, sass-lint -v -q"

Revert "feat(post): add table of contents to posts, fixes #1931 (#1983)"
  .eleventy.js
  package-lock.json
  package.json
  src/lib/actions.js
  src/lib/components/TableOfContents/index.js
  src/lib/components/TableOfContentsButton/index.js
  src/lib/pages/default.js
  src/site/_filters/slugify.js
  src/site/_includes/partials/post.njk
  src/site/_transforms/responsive-images/index.js
  src/styles/components/_all.scss
  src/styles/components/_toc.scss
  src/styles/settings/_dimensions.scss
Due: eslint, sass-lint -v -q"

trick eleventy into watching this
  .gitignore
  src/site/_data/.gitignore
Due: none

move large shared image so we don't cache it
  build-sw.js
  src/images/shared/rss-banner.png
  src/site/content/en/authors/feed.njk
  src/site/content/en/feed.njk
  src/site/content/en/tags/feed.njk
Due: eslint

Remove recent posts collection
  src/site/content/en/index.njk
  src/site/content/pl/index.njk
  test/integration/src/site/_collections/eleventy.js
  test/integration/src/site/_collections/fixtures/test-2.md
  test/integration/src/site/_collections/fixtures/test-3.md
  test/integration/src/site/_collections/fixtures/test-4.md
  test/integration/src/site/_collections/fixtures/test-5.md
  test/integration/src/site/_collections/index.js
  test/integration/src/site/_collections/recent-blog-posts/collection.md
  test/integration/src/site/_collections/recent-blog-posts/dev.js
  test/integration/src/site/_collections/recent-blog-posts/prod.js
Due: eslint, remark -q

Updated Origin Trial date for HID examples post (#3744)
  src/site/content/en/blog/hid-examples/index.md
Due: remark -q

Add Local Fonts API article (#3615)
  src/site/content/en/blog/local-fonts/google-sans.png
  src/site/content/en/blog/local-fonts/hero.jpg
  src/site/content/en/blog/local-fonts/index.md
Due: remark -q

Fix date
  src/site/content/en/fast/codelab-preload-critical-assets/index.md
Due: remark -q

Embed YouTube video
  src/site/content/en/blog/sign-in-form-best-practices/index.md
Due: remark -q

Embed YouTube video
  src/site/content/en/blog/introducing-tooling-report/index.md
Due: remark -q

Embed YouTube video
  src/site/content/en/blog/user-agent-client-hints/index.md
Due: remark -q

Embed YouTube video
  src/site/content/en/progressive-web-apps/define-install-strategy/index.md
Due: remark -q

Embed YouTube video
  src/site/content/en/reliable/resilient-search-experiences/index.md
Due: remark -q

Embed YouTube video
  src/site/content/en/reliable/instant-navigation-experiences/index.md
Due: remark -q

Fix start time of YouTube embed
  src/site/content/en/reliable/instant-navigation-experiences/index.md
Due: remark -q

Embed YouTube video
  src/site/content/en/reliable/app-shell-ux-with-service-workers/index.md
Due: remark -q

Embed YouTube video
  src/site/content/en/reliable/adaptive-loading-with-service-workers/index.md
Due: remark -q

Embed YouTube video
  src/site/content/en/blog/optimize-cls/index.md
Due: remark -q

Embed YouTube video
  src/site/content/en/blog/optimize-lcp/index.md
Due: remark -q

Switch from Google Fonts to self hosted fonts.
  gulpfile.js
  src/fonts/google-sans/bold/cyrillic.woff2
  src/fonts/google-sans/bold/greek.woff2
  src/fonts/google-sans/bold/latin-ext.woff2
  src/fonts/google-sans/bold/latin.woff2
  src/fonts/google-sans/bold/vietnamese.woff2
  src/fonts/google-sans/regular/cyrillic.woff2
  src/fonts/google-sans/regular/greek.woff2
  src/fonts/google-sans/regular/latin-ext.woff2
  src/fonts/google-sans/regular/latin.woff2
  src/fonts/google-sans/regular/vietnamese.woff2
  src/fonts/material-icons/regular.woff2
  src/lib/sw.js
  src/site/_includes/layout.njk
  src/styles/all.scss
  src/styles/components/_asides.scss
  src/styles/fonts/_all.scss
  src/styles/fonts/_google-sans.scss
  src/styles/fonts/_material-icons.scss
  src/styles/settings/_type.scss
Due: eslint, sass-lint -v -q"

Asynchronously delete caches.
  src/lib/sw.js
Due: eslint

Switch from Google Fonts to self hosted fonts. (#3755)
  gulpfile.js
  src/fonts/google-sans/bold/cyrillic.woff2
  src/fonts/google-sans/bold/greek.woff2
  src/fonts/google-sans/bold/latin-ext.woff2
  src/fonts/google-sans/bold/latin.woff2
  src/fonts/google-sans/bold/vietnamese.woff2
  src/fonts/google-sans/regular/cyrillic.woff2
  src/fonts/google-sans/regular/greek.woff2
  src/fonts/google-sans/regular/latin-ext.woff2
  src/fonts/google-sans/regular/latin.woff2
  src/fonts/google-sans/regular/vietnamese.woff2
  src/fonts/material-icons/regular.woff2
  src/lib/sw.js
  src/site/_includes/layout.njk
  src/styles/all.scss
  src/styles/components/_asides.scss
  src/styles/fonts/_all.scss
  src/styles/fonts/_google-sans.scss
  src/styles/fonts/_material-icons.scss
  src/styles/settings/_type.scss
Due: eslint, sass-lint -v -q"

move large shared image so we don't cache it (#3750)
  build-sw.js
  src/images/shared/rss-banner.png
  src/site/content/en/authors/feed.njk
  src/site/content/en/feed.njk
  src/site/content/en/tags/feed.njk
Due: eslint

use .eleventyignore
  .eleventy.js
  .eleventyignore
  src/site/_data/.gitignore
  src/styles/.gitignore
Due: eslint

Remove collection and simplify index.njk
  .eleventy.js
  src/site/content/en/index.11tydata.js
  src/site/content/en/index.njk
Due: eslint

New post: custom bullets with marker (#3580)
  src/images/authors/loirooriol.jpg
  src/images/authors/loirooriol@2x.jpg
  src/site/_data/authorsData.json
  src/site/content/en/blog/css-marker-pseudo-element/devtools.png
  src/site/content/en/blog/css-marker-pseudo-element/hero.png
  src/site/content/en/blog/css-marker-pseudo-element/index.md
  src/site/content/en/blog/css-marker-pseudo-element/marker-fun.png
  src/site/content/en/blog/css-marker-pseudo-element/thumb.png
Due: remark -q

chore: refactor more
  src/lib/actions.js
  src/lib/components/EventMap/index.js
  src/site/_filters/md-block.js
  src/site/_filters/md.js
  src/site/_filters/paged-navigation.js
  src/site/_includes/components/AuthorsDate.js
  tsconfig.json
  types/_filters/paged-navigation.d.ts
Due: eslint

chore: fix more typing issues
  .eslintignore
  package-lock.json
  package.json
  src/@typedefs.js
  src/lib/analytics.js
  src/lib/components/BaseResponseElement/index.js
  src/lib/components/EventMap/index.js
  src/lib/components/LighthouseScoresAudits/index.js
  src/lib/components/LighthouseScoresMeta/index.js
  src/lib/components/LighthouseScoresStats/index.js
  src/lib/components/ShareAction/index.js
  src/lib/components/SparklineChart/index.js
  src/lib/components/Subscribe/index.js
  src/lib/components/UrlChooser/index.js
  src/lib/fb.js
  src/lib/lighthouse-service.js
  src/lib/lighthouse/mapping.js
  src/lib/loader.js
  src/lib/utils/abort-controller-polyfill.js
  src/site/_collections/authors.js
  src/site/_collections/hooks/authors.js
  src/site/_collections/hooks/tags.js
  src/site/_collections/hooks/utils.js
  src/site/_includes/components/AuthorsDate.js
  src/site/_includes/components/EventTable.js
  tsconfig.json
  types/_collections/authors.d.ts
  types/_utils/add-pagination.d.ts
  types/utils/intl.d.ts
  types/utils/todo.d.ts
Due: eslint

chore: more types
  src/build/minify-js.js
  src/build/resource-path.js
  src/lib/actions.js
  src/lib/analytics.js
  src/lib/components/Assessment/index.js
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/Search/index.js
  src/lib/components/Snackbar/index.js
  src/lib/components/Tabs/index.js
  src/lib/utils/debounce.js
  types/utils/window.d.ts
Due: eslint

test: add type linting and optional chaining
  package-lock.json
  package.json
  src/build/common.js
  tsconfig.json
Due: eslint

chore: more typing fixes
  src/lib/components/BaseElement/index.js
  src/lib/components/EventScheduleModal/index.js
  src/lib/components/EventTime/index.js
  src/lib/components/Header/index.js
  src/lib/components/LighthouseGauge/index.js
  src/lib/components/LighthouseScoresAudits/index.js
  src/lib/components/LighthouseScoresStats/index.js
  src/lib/components/ResponseMultipleChoice/index.js
  src/lib/components/SideNav/index.js
  src/lib/components/SparklineChart/index.js
  src/lib/utils/firebase-loader.js
  src/lib/utils/generate-salt.js
  types/utils/event.d.ts
Due: eslint

refactor(authorsData): rename property `description` to `descriptions`
  src/site/_collections/authors.js
  src/site/_data/authorsData.json
  src/site/content/en/handbook/author-profile/index.md
  types/_collections/authors.d.ts
  types/_data/authorsData.d.ts
Due: eslint, remark -q
