Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

feat: add example external feeds for paulkinlan
  .gitignore
  src/site/_data/authorsData.json
Due: none

Remove studio
  src/site/content/en/blog/loading-wasm/index.md
Due: remark -q

fix: _data does not exist
  .gitignore
  external/external-posts.js
Due: eslint

Adds the optimize input delay guide.
  src/site/_data/paths/how-to-optimize-inp.json
  src/site/content/en/how-to-optimize-inp/optimize-input-delay/index.md
Due: remark -q

Fixes TODO link.
  src/site/content/en/how-to-optimize-inp/optimize-input-delay/index.md
Due: remark -q

Remove studio (#9964)
  src/site/content/en/blog/loading-wasm/index.md
Due: remark -q

refactor: update the logic for looping the authors feeds
  src/site/_collections/hooks/utils.js
Due: eslint

feat: implement the layout for the mobile view
  src/scss/blocks/_feed-card.scss
Due: sass-lint -v -q"

lint: fix prettier lint error
  src/site/_collections/hooks/utils.js
Due: eslint

chore: add external feeds for bramus
  src/site/_data/authorsData.json
Due: none

feat: filter web components from DCC
  src/lib/components/CheckboxGroup/index.js
  src/lib/components/EnhancedSelect/index.js
  src/lib/components/FilterModal/index.js
  src/lib/components/FilteredElement/index.js
  src/lib/components/FilteredTable/index.js
  src/lib/components/TagPills/index.js
Due: eslint

feat: filter actions
  src/lib/actions.js
Due: eslint

style: filter specific styles
  src/scss/blocks/_checkbox-group.scss
  src/scss/blocks/_enhanced-select.scss
  src/scss/blocks/_filter-sheet.scss
  src/scss/blocks/_filtered-item.scss
  src/scss/blocks/_filters.scss
  src/scss/next.scss
Due: sass-lint -v -q"

chore: added i18n filters
  src/site/_data/i18n/filter_sheet.yml
Due: none

chore: testing setup
  src/lib/pages/about.js
  src/site/_includes/about.njk
  src/site/_includes/partials/filtersTest.njk
Due: eslint

Check cookied before initialising Analytics
  src/lib/analytics.js
Due: eslint

Linting
  src/lib/analytics.js
Due: eslint

Revert unnecessary change
  src/lib/analytics.js
Due: eslint

add april new to the web
  src/site/content/en/blog/web-platform-04-2023/index.md
Due: remark -q

update card
  src/site/content/en/index.md
Due: remark -q

fix links
  src/site/content/en/blog/web-platform-04-2023/index.md
Due: remark -q

Check cookies before loading gtm (#9967)
  src/lib/analytics.js
Due: eslint

add april new to the web (#9968)
  src/site/content/en/blog/web-platform-04-2023/index.md
  src/site/content/en/index.md
Due: remark -q

Start Wasm Explore section
  src/site/_data/i18n/paths/webassembly.yaml
  src/site/_data/paths/index.js
  src/site/_data/paths/webassembly.json
  src/site/content/en/learn/learn.11tydata.js
  src/site/content/en/webassembly/index.md
  src/site/content/en/webassembly/what-is-webassembly/index.md
Due: eslint, remark -q

Fix CrUX-RUM label
  src/site/_data/paths/learn-core-web-vitals.json
Due: none

use-imagemin-to-compress-images: normalize plugin case (#9888)
  src/site/content/en/fast/use-imagemin-to-compress-images/index.md
  src/site/content/es/fast/use-imagemin-to-compress-images/index.md
  src/site/content/ja/fast/use-imagemin-to-compress-images/index.md
  src/site/content/ko/fast/use-imagemin-to-compress-images/index.md
  src/site/content/pt/fast/use-imagemin-to-compress-images/index.md
  src/site/content/ru/fast/use-imagemin-to-compress-images/index.md
  src/site/content/zh/fast/use-imagemin-to-compress-images/index.md
Due: remark -q

Fix CrUX-RUM label (#9970)
  src/site/_data/paths/learn-core-web-vitals.json
Due: none

update(zh-cn): update css box model
  src/site/content/zh/learn/css/box-model/index.md
Due: remark -q

fix typo (#9955)
  src/site/content/en/learn/html/navigation/index.md
Due: remark -q

use-imagemin-to-compress-images: add imagemin-webp to lossless (#9889)
  src/site/content/en/fast/use-imagemin-to-compress-images/index.md
  src/site/content/es/fast/use-imagemin-to-compress-images/index.md
  src/site/content/ja/fast/use-imagemin-to-compress-images/index.md
  src/site/content/ko/fast/use-imagemin-to-compress-images/index.md
  src/site/content/pt/fast/use-imagemin-to-compress-images/index.md
  src/site/content/ru/fast/use-imagemin-to-compress-images/index.md
  src/site/content/zh/fast/use-imagemin-to-compress-images/index.md
Due: remark -q

Updates layout thrashing guide.
  src/site/content/en/how-to-optimize-inp/avoid-large-complex-layouts-and-layout-thrashing/index.md
Due: remark -q

Initial migration of style recalc cost guide to the INP content collection.
  src/site/content/en/how-to-optimize-inp/avoid-large-complex-layouts-and-layout-thrashing/index.md
  src/site/content/en/how-to-optimize-inp/reduce-the-scope-and-complexity-of-style-calculations/index.md
Due: remark -q

fix highlighting in code examples (#9976)
  src/site/content/en/learn/css/inheritance/index.md
Due: remark -q

fix typo
  src/site/content/en/learn/html/document-structure/index.md
Due: remark -q

fix highlighting in code examples (#9976) (#9981)
  src/site/content/en/learn/css/inheritance/index.md
Due: remark -q

removing dead links
  src/site/content/en/secure/build-a-support-team/index.md
Due: remark -q

removing dead links
  src/site/content/en/secure/clean-and-maintain-your-site/index.md
  src/site/content/en/secure/request-a-review/index.md
Due: remark -q

I/O promo update
  src/site/_data/site.js
  src/site/content/en/index.md
Due: eslint, remark -q

I/O promo update (#9985)
  src/site/_data/site.js
  src/site/content/en/index.md
Due: eslint, remark -q

Removed references to Chrome's Lite mode
  src/site/content/en/blog/iframe-lazy-loading/index.md
Due: remark -q
