Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Anonymize IPs in google analytics.
  src/site/_includes/partials/analytics.njk
Due: none

Anonymize IPs in google analytics. (#5009)
  src/site/_includes/partials/analytics.njk
Due: none

Add debugging web vitals in the field post
  src/site/_data/paths/learn-web-vitals.json
  src/site/content/en/blog/debugging-web-vitals-in-the-field/index.md
Due: remark -q

Update src/site/content/en/learn/css/box-model/index.md
  src/site/content/en/learn/css/box-model/index.md
Due: remark -q

Adds Learn CSS color module
  src/site/content/en/learn/css/color/index.md
Due: remark -q

Update article now that the OT is over
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

Good catch, linter!
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

Updated flags
  src/site/content/en/blog/floc/index.md
Due: remark -q

[Notification Triggers article] Update article now that the OT is over (#5013)
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

FLoC: fix to image, flags and OT link (#5007)
  src/site/content/en/blog/floc/index.md
Due: remark -q

Update titles per style guide
  redirects.yaml
  src/site/_data/paths/learn-web-vitals.json
  src/site/content/en/blog/debug-web-vitals-in-the-field/index.md
  src/site/content/en/fast/debug-layout-shifts/index.md
Due: remark -q

contain overscroll on drawer menu and toc
  src/styles/components/_course-toc.scss
  src/styles/components/_drawer-course.scss
Due: sass-lint -v -q"

Update src/site/content/en/blog/debug-web-vitals-in-the-field/index.md
  src/site/content/en/blog/debug-web-vitals-in-the-field/index.md
Due: remark -q

Show live pages and fixup types.
  src/site/_filters/navigation.js
  src/site/_includes/partials/navigation-drawer-course.njk
Due: eslint

Show live links in course and fix overscroll (#5017)
  src/site/_filters/navigation.js
  src/site/_includes/partials/navigation-drawer-course.njk
  src/styles/components/_course-toc.scss
  src/styles/components/_drawer-course.scss
Due: eslint, sass-lint -v -q"

Add debugging web vitals in the field post (#5010)
  redirects.yaml
  src/site/_data/paths/learn-web-vitals.json
  src/site/content/en/blog/debug-web-vitals-in-the-field/index.md
  src/site/content/en/fast/debug-layout-shifts/index.md
Due: remark -q

Add next and prev buttons to courses
  src/site/_data/i18n/common.yml
  src/site/_includes/course.njk
  src/site/_includes/icons/arrow-back.svg
  src/site/_includes/icons/arrow-forward.svg
  src/site/_includes/partials/course-pagination.njk
  src/site/content/en/learn/css/borders/index.md
  src/site/content/en/learn/css/shadows/index.md
  src/styles/components/_all.scss
  src/styles/components/_course-pagination.scss
  src/styles/globals/gorko/_config.scss
  src/styles/pages/_course.scss
Due: sass-lint -v -q", remark -q

Adds specificity lesson
  src/site/content/en/learn/css/specificity/index.md
Due: remark -q

fix headings
  src/site/content/en/learn/css/specificity/index.md
Due: remark -q

adding todos
  src/site/content/en/learn/css/specificity/index.md
Due: remark -q

Learn CSS Inheritance
  src/site/content/en/learn/css/inheritance/index.md
Due: remark -q

Add next and prev buttons to courses (#5018)
  src/site/_data/i18n/common.yml
  src/site/_includes/course.njk
  src/site/_includes/icons/arrow-back.svg
  src/site/_includes/icons/arrow-forward.svg
  src/site/_includes/partials/course-pagination.njk
  src/site/content/en/learn/css/borders/index.md
  src/site/content/en/learn/css/shadows/index.md
  src/styles/components/_all.scss
  src/styles/components/_course-pagination.scss
  src/styles/globals/gorko/_config.scss
  src/styles/pages/_course.scss
Due: sass-lint -v -q", remark -q

Update index.md (#4974)
  src/site/content/en/media/media-file-basics/index.md
Due: remark -q

Zalando case study
  src/site/_data/authorsData.json
  src/site/content/en/blog/zalando/index.md
Due: remark -q

Adding warning on the mobile side, alerting of work for updating icons and name
  src/site/content/en/progressive-web-apps/manifest-updates/index.md
Due: remark -q

Update index.md
  src/site/content/en/progressive-web-apps/manifest-updates/index.md
Due: remark -q

Rough in audio player
  src/site/_includes/course.njk
  src/site/_includes/macros/audio-player.njk
  src/styles/components/_all.scss
  src/styles/components/_audio-player.scss
Due: sass-lint -v -q"

Update Chrome OS milestone for app shortcuts
  src/site/content/en/blog/app-shortcuts/index.md
Due: remark -q

Update index.md - misspelling
  src/site/content/en/fast/why-speed-matters/index.md
Due: remark -q

Update Chrome OS milestone for app shortcuts (#5026)
  src/site/content/en/blog/app-shortcuts/index.md
Due: remark -q

Update index.md - misspelling (#5028)
  src/site/content/en/fast/why-speed-matters/index.md
Due: remark -q

updates to manifest updates (#4990)
  src/site/content/en/progressive-web-apps/manifest-updates/index.md
Due: remark -q

changes
  .eleventy.js
  .gitignore
  firebase-config.js
  package-lock.json
  src/site/_filters/minify-js.js
  src/site/_includes/partials/analytics.njk
  src/site/_includes/partials/head.njk
Due: eslint

package lock
  package-lock.json
Due: none

Updates for WebTransport OT
  src/site/content/en/blog/webtransport/index.md
Due: remark -q

Tweaks
  src/site/content/en/blog/webtransport/index.md
Due: remark -q

Add blog post and authors for CLS metric update.
  src/site/_data/authorsData.json
  src/site/content/en/blog/evolving-cls/index.md
Due: remark -q

Fixed long lines and line breaks after headings
  src/site/content/en/blog/evolving-cls/index.md
Due: remark -q
