Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Add imgix to hero and post cards (#1741)
  src/site/_includes/components/Hero.js
  src/site/_includes/components/PostCard.js
  src/site/_includes/components/tags/Image.js
  src/site/_utils/get-image-path.js
  src/site/_utils/get-srcset-range.js
Due: eslint

bad variable name in webshare (#1746)
  src/lib/components/Actions/index.js
Due: eslint

Add shortcode for page meta tags and hide 404/offline pages from Search (#1748)
  .eleventy.js
  src/site/_data/site.js
  src/site/_drafts/_template-codelab/index.md
  src/site/_drafts/_template-post/index.md
  src/site/_includes/components/Meta.js
  src/site/_includes/layout.njk
  src/site/content/en/404.njk
  src/site/content/en/blog/index.njk
  src/site/content/en/offline.njk
Due: eslint, remark -q

Add special pages including an offline page.
  server.js
  src/lib/bootstrap.js
  src/lib/loader.js
  src/lib/store.js
  src/lib/sw.js
  src/lib/utils/meta.js
  src/lib/utils/router.js
  src/site/_includes/layout.njk
  src/site/content/en/404.njk
  src/site/content/en/offline.njk
Due: eslint

remove leftover debug
  server.js
  src/lib/bootstrap.js
  src/lib/loader.js
Due: eslint

add fonts and analytics
  src/lib/sw.js
Due: eslint

trailing comma
  src/lib/sw.js
Due: eslint

Add firebase performance monitoring
  src/lib/fb.js
  src/site/_includes/layout.njk
Due: eslint

basic start
  .gitignore
  package.json
  tools/lhci/.lighthouserc
  tools/lhci/run-lighthouse-ci.sh
Due: none

Add sitemap.xml and fix errors.
  .eleventy.js
  src/site/_filters/html-date-string.js
  src/site/content/en/about/index.njk
  src/site/content/en/accessible/index.njk
  src/site/content/en/algolia.njk
  src/site/content/en/angular/index.njk
  src/site/content/en/blog/index.njk
  src/site/content/en/discoverable/index.njk
  src/site/content/en/fast/codelab-adapt-video-to-image-serving-based-on-network-quality/index.md
  src/site/content/en/fast/index.njk
  src/site/content/en/feed.njk
  src/site/content/en/handbook/sandbox/tables/index.njk
  src/site/content/en/handbook/sandbox/typography/index.njk
  src/site/content/en/images/includes/README.md
  src/site/content/en/index.njk
  src/site/content/en/installable/index.njk
  src/site/content/en/learn/index.njk
  src/site/content/en/lighthouse-accessibility/index.njk
  src/site/content/en/lighthouse-best-practices/index.njk
  src/site/content/en/lighthouse-performance/index.njk
  src/site/content/en/lighthouse-pwa/index.njk
  src/site/content/en/lighthouse-seo/index.njk
  src/site/content/en/measure/index.njk
  src/site/content/en/react/index.njk
  src/site/content/en/reliable/index.njk
  src/site/content/en/secure/index.njk
  src/site/content/en/sitemap.xml.njk
  src/site/content/en/test/index.njk
Due: eslint, remark -q

removed special
  src/lib/bootstrap.js
  src/lib/loader.js
  src/lib/store.js
  src/lib/utils/meta.js
  src/site/_includes/layout.njk
  src/site/content/en/404.njk
  src/site/content/en/offline.njk
Due: eslint

Add sitemap.xml and fix errors. (#1756)
  .eleventy.js
  src/site/_filters/html-date-string.js
  src/site/content/en/about/index.njk
  src/site/content/en/accessible/index.njk
  src/site/content/en/algolia.njk
  src/site/content/en/angular/index.njk
  src/site/content/en/blog/index.njk
  src/site/content/en/discoverable/index.njk
  src/site/content/en/fast/codelab-adapt-video-to-image-serving-based-on-network-quality/index.md
  src/site/content/en/fast/index.njk
  src/site/content/en/feed.njk
  src/site/content/en/handbook/sandbox/tables/index.njk
  src/site/content/en/handbook/sandbox/typography/index.njk
  src/site/content/en/images/includes/README.md
  src/site/content/en/index.njk
  src/site/content/en/installable/index.njk
  src/site/content/en/learn/index.njk
  src/site/content/en/lighthouse-accessibility/index.njk
  src/site/content/en/lighthouse-best-practices/index.njk
  src/site/content/en/lighthouse-performance/index.njk
  src/site/content/en/lighthouse-pwa/index.njk
  src/site/content/en/lighthouse-seo/index.njk
  src/site/content/en/measure/index.njk
  src/site/content/en/react/index.njk
  src/site/content/en/reliable/index.njk
  src/site/content/en/secure/index.njk
  src/site/content/en/sitemap.xml.njk
  src/site/content/en/test/index.njk
Due: eslint, remark -q

add fonts and analytics to SW (#1754)
  src/lib/sw.js
Due: eslint

add to travis
  .travis.yml
Due: none

Add custom dimensions to analytics.
  src/site/_data/site.js
  src/site/_includes/layout.njk
Due: eslint

Add firebase performance monitoring (#1755)
  src/lib/fb.js
  src/site/_includes/layout.njk
Due: eslint

Add a magic TODO.
  src/site/_data/site.js
Due: eslint

Add custom dimensions to analytics. (#1758)
  src/site/_data/site.js
  src/site/_includes/layout.njk
Due: eslint

Makes offline page reload when back online (#1750)
  server.js
  src/lib/bootstrap.js
  src/lib/loader.js
  src/lib/store.js
  src/lib/sw.js
  src/lib/utils/meta.js
  src/lib/utils/router.js
  src/site/_includes/layout.njk
  src/site/content/en/offline.njk
Due: eslint

WIP
  build.js
  compile-css.js
  package-lock.json
  package.json
  src/lib/sw.js
Due: eslint

use workbox cache key
  src/lib/sw.js
Due: eslint

cache more assets in SW, better handlers
  build.js
  src/lib/sw.js
Due: eslint

discussion comments
  redirect-handler.js
  src/lib/sw.js
Due: eslint

remove warn
  src/lib/sw.js
Due: eslint

fix merge
  src/lib/sw.js
Due: eslint

V2+cache more (#1751)
  build.js
  compile-css.js
  package-lock.json
  package.json
  redirect-handler.js
  src/lib/sw.js
Due: eslint

invert imgix condition
  src/site/_utils/get-image-path.js
Due: eslint

invert imgix condition (#1759)
  src/site/_utils/get-image-path.js
Due: eslint

use .unresolved class to hide UI
  src/lib/bootstrap.js
  src/lib/components/Header/_styles.scss
  src/lib/components/SideNav/_styles.scss
  src/site/_includes/layout.njk
  src/styles/generic/_page.scss
Due: eslint, sass-lint -v -q"

fix path => root
  src/lib/bootstrap-config.js
Due: eslint

readd src import
  src/site/_includes/layout.njk
Due: none

lint sort order
  src/styles/generic/_page.scss
Due: sass-lint -v -q"

style fixes
  src/lib/components/Header/_styles.scss
  src/lib/components/SideNav/_styles.scss
  src/lib/components/SideNav/index.js
  src/site/_includes/layout.njk
Due: eslint, sass-lint -v -q"

Use compression on dev server.
  package-lock.json
  package.json
  server.js
Due: eslint

review comments
  src/lib/components/SideNav/_styles.scss
Due: sass-lint -v -q"

V2+edge misc fixes (#1760)
  src/lib/bootstrap-config.js
  src/lib/bootstrap.js
  src/lib/components/Header/_styles.scss
  src/lib/components/SideNav/_styles.scss
  src/lib/components/SideNav/index.js
  src/site/_includes/layout.njk
  src/styles/generic/_page.scss
Due: eslint, sass-lint -v -q"

simplify wc loader
  build.js
  src/lib/bootstrap-config.js
  src/lib/bootstrap.js
  src/lib/webcomponents-config.js
Due: eslint

show an error on measure if unsupported
  src/lib/bootstrap.js
  src/site/content/en/measure/index.njk
  src/styles/components/_page-header.scss
Due: eslint, sass-lint -v -q"

drop setting CHROME_PATH
  .travis.yml
Due: none

fix slash
  src/lib/webcomponents-config.js
Due: eslint
