Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

fix(shows): set content to xml for rss feed
  src/site/content/en/shows/feed.njk
Due: none

refactor(feed): update all feed content to use `mode="escaped"`
  src/site/_includes/feed.njk
  src/site/content/en/authors/feed.njk
  src/site/content/en/shows/feed.njk
  src/site/content/en/tags/feed.njk
Due: none

fix(shows): set content to xml for rss feed (#5873)
  src/site/_includes/feed.njk
  src/site/content/en/authors/feed.njk
  src/site/content/en/shows/feed.njk
  src/site/content/en/tags/feed.njk
Due: none

Add tag best practices article
  src/site/_data/paths/learn-web-vitals.json
  src/site/content/en/blog/tag-best-practices/index.md
Due: remark -q

fix: TOC links for the learn pages
  src/site/_includes/path.njk
Due: none

fix: remove hardcoded values from "/learn" page to fix the navigation with headline anchors
  src/site/content/en/learn/index.njk
Due: none

fix: TOC links for the learn pages (#5878)
  src/site/_includes/path.njk
Due: none

fix: remove hardcoded values from "/learn" page to fix the navigation with headline anchors (#5880)
  src/site/content/en/learn/index.njk
Due: none

fix "earn" => "learn" in link
  src/site/content/en/learn/css/the-cascade/index.md
Due: remark -q

fix "earn" => "learn" in link (#5882)
  src/site/content/en/learn/css/the-cascade/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/user-preference-media-features-headers/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/prefers-color-scheme/index.md
Due: remark -q

Update src/site/content/en/blog/user-preference-media-features-headers/index.md
  src/site/content/en/blog/user-preference-media-features-headers/index.md
Due: remark -q

docs(learn-css): reduce allowed properties for ::selection (#5677) (#5678)
  src/site/content/en/learn/css/pseudo-elements/index.md
Due: remark -q

Correct URL component encoding example in URLPattern article.
  src/site/content/en/blog/urlpattern/index.md
Due: remark -q

Mention @slightlyoff's blog posts for automating `contain-intrinsic-size` (#5833)
  src/site/content/en/blog/content-visibility/index.md
Due: remark -q

Correct URL component encoding example in URLPattern article. (#5883)
  src/site/content/en/blog/urlpattern/index.md
Due: remark -q

Replace "TWA" to "PWA"
  src/site/content/en/progressive-web-apps/customize-install/index.md
Due: remark -q

Adding head and body tags in examples.
  src/site/content/en/blog/aurora-resource-inlining/index.md
Due: remark -q

Update src/site/content/en/blog/run-on-login/index.md
  src/site/content/en/blog/run-on-login/index.md
Due: remark -q

refacor(firebase): migrate to v9 of firebase library, fixes #5884
  package-lock.json
  package.json
  src/lib/fb.js
Due: eslint

chore(firebase): remove firebase loader
  src/lib/utils/firebase-loader.js
  test/unit/src/lib/index.js
  test/unit/src/lib/utils/firebase-loader.js
Due: eslint

chore(firebase): remove permformance logging
  src/lib/fb.js
Due: eslint

Formatting fixes
  src/site/content/en/blog/tag-best-practices/index.md
Due: remark -q

Formatting fix
  src/site/content/en/blog/tag-best-practices/index.md
Due: remark -q

Updates for new author data structure
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
Due: none

adds gui challenge meta and playlist id
  src/site/_data/i18n/shows.yml
  src/site/_data/showsData.json
Due: none

add DIB to shows
  src/site/_data/i18n/shows.yml
  src/site/_data/showsData.json
Due: none

add DIB to shows (#5891)
  src/site/_data/i18n/shows.yml
  src/site/_data/showsData.json
Due: none
