Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

add node-sass, make optional (#1447)
  package-lock.json
  package.json
  sass.sh
Due: none

Generate Algolia-compatible index, index all at once (#1499)
  .eleventy.js
  package-lock.json
  package.json
  release.js
  src/site/_collections/algolia-posts.js
  src/site/content/en/algolia.njk
Due: eslint

Add w-footer. (#1541)
  sass.sh
  src/site/_includes/layout.njk
  src/site/_includes/partials/footer.njk
  src/site/content/en/images/lockup-color.png
  src/styles/components/_all.scss
  src/styles/components/_footer.scss
  src/styles/generic/_main.scss
Due: sass-lint -v -q"

Responsive side nav (#1465)
  package-lock.json
  package.json
  rollup.config.js
  src/lib/actions.js
  src/lib/app.js
  src/lib/components/Header/_styles.scss
  src/lib/components/Header/index.js
  src/lib/components/SideNav/_styles.scss
  src/lib/components/SideNav/index.js
  src/lib/components/_all.scss
  src/lib/store.js
  src/site/_includes/layout.njk
  src/styles/components/_actions.scss
  src/styles/generic/_all.scss
  src/styles/generic/_main.scss
  src/styles/generic/_shared.scss
Due: eslint, sass-lint -v -q"

basic Analytics updates (#1496)
  src/lib/analytics.js
  src/lib/app.js
  src/lib/router.js
  src/site/_includes/layout.njk
Due: eslint

add compile-css script which runs autoprefixer (#1549)
  compile-css.js
  package-lock.json
  package.json
  sass.sh
Due: eslint

include the webcomponents polyfill (#1547)
  gulpfile.js
  package-lock.json
  package.json
  rollup.config.js
  src/lib/bootstrap-config.js
  src/lib/bootstrap.js
  src/site/_includes/layout.njk
Due: eslint

V2 snackbar (#1552)
  src/lib/actions.js
  src/lib/app.js
  src/lib/components/Snackbar/_styles.scss
  src/lib/components/Snackbar/index.js
  src/lib/components/SnackbarContainer/_styles.scss
  src/lib/components/SnackbarContainer/index.js
  src/lib/components/_all.scss
  src/lib/store.js
  src/site/_includes/layout.njk
  src/styles/components/_buttons.scss
Due: eslint, sass-lint -v -q"

add custom Firebase loader (#1548)
  package-lock.json
  package.json
  src/lib/fb.js
  src/lib/firestore-loader.js
  src/site/_includes/layout.njk
Due: eslint

fix image loading (#1597)
  server.js
Due: eslint

Make content URLs canonical (#1583)
  server.js
Due: eslint

add manifest (#1585)
  gulpfile.js
  src/images/icon-128x128.png
  src/images/icon-144x144.png
  src/images/icon-152x152.png
  src/images/icon-192x192.png
  src/images/icon-384x384.png
  src/images/icon-512x512.png
  src/images/icon-72x72.png
  src/images/icon-96x96.png
  src/misc/manifest.webmanifest
  src/site/_includes/layout.njk
Due: eslint

Add Search component. (#1633)
  index-algolia.js
  package-lock.json
  package.json
  src/lib/app.js
  src/lib/components/Header/_styles.scss
  src/lib/components/Header/index.js
  src/lib/components/ProfileSwitcher/_styles.scss
  src/lib/components/Search/_styles.scss
  src/lib/components/Search/index.js
  src/lib/components/_all.scss
  src/lib/store.js
  src/lib/utils/debounce.js
  src/site/_collections/algolia-posts.js
  src/site/_includes/layout.njk
Due: eslint, sass-lint -v -q"

Tiny change to left align snackbar.
  src/lib/components/Snackbar/_styles.scss
Due: sass-lint -v -q"

Fix missed merge comment.
  src/lib/components/ProfileSwitcher/_styles.scss
Due: sass-lint -v -q"

Remove devsite's CSS and fixup issues. (#1667)
  src/lib/components/ProfileSwitcher/_styles.scss
  src/lib/components/UrlChooser/_styles.scss
  src/site/content/en/about/index.njk
  src/site/content/en/accessible/what-is-accessibility/index.md
  src/styles/all.scss
  src/styles/components/_buttons.scss
  src/styles/components/_grid.scss
  src/styles/devsite/_devsite_debug_info.scss
  src/styles/devsite/_devsite_heading.scss
  src/styles/devsite/_devsite_snackbar.scss
  src/styles/devsite/_devsite_tooltip.scss
  src/styles/devsite/_elements.scss
  src/styles/generic/_all.scss
  src/styles/generic/_buttons.scss
  src/styles/overrides/_all.scss
  src/styles/overrides/_hidden.scss
  src/styles/pages/_about.scss
Due: sass-lint -v -q", remark -q

tweaked search styles (#1681)
  src/lib/components/Search/_styles.scss
Due: sass-lint -v -q"

imperative Rollup build with dynamic import (#1680)
  .eslintrc.js
  build.js
  package-lock.json
  package.json
  rollup.config.js
  src/lib/app.js
  src/lib/bootstrap.js
  src/lib/pages/default.js
  src/lib/pages/measure.js
  src/lib/router.js
  src/lib/sw.js
  src/lib/utils/underscore-import-polyfill.js
  src/site/_includes/layout.njk
Due: eslint

migrate to supporting /measure/ (trailing slash) pages (#1679)
  server.js
  src/lib/router.js
Due: eslint

Adds loading bar to v2 (#1582)
  src/lib/app.js
  src/lib/router.js
  src/lib/store.js
  src/site/_includes/layout.njk
  src/styles/components/_all.scss
  src/styles/components/_progress.scss
Due: eslint, sass-lint -v -q"

make Measure signin button work (#1714)
  src/lib/components/BaseStateElement/index.js
  src/lib/components/SigninButton/index.js
  src/lib/pages/measure.js
  src/site/content/en/measure/index.njk
Due: eslint

_redirect.yaml support for v2 (#1717)
  package-lock.json
  package.json
  redirect-handler.js
  server.js
  src/site/content/en/_book.yaml
  src/site/content/en/_project.yaml
Due: eslint

catch /measure properly (#1712)
  src/lib/router.js
Due: eslint

Let router hear SideNav links. (#1703)
  src/lib/components/SideNav/index.js
Due: eslint

V2+sw stuff (#1719)
  server.js
  src/lib/router.js
  src/lib/store.js
  src/lib/sw.js
  src/site/content/en/404.njk
  src/site/content/en/offline.njk
  src/styles/components/_page-header.scss
Due: eslint, sass-lint -v -q"

Add `web-actions` Web Component (#1716)
  .eleventy.js
  src/lib/components/Actions/index.js
  src/lib/pages/default.js
  src/lib/utils/web-share.js
  src/site/_data/site.js
  src/site/_filters/expand-contributors.js
  src/site/_includes/partials/post.njk
  src/site/content/en/blog/index.njk
  src/site/content/en/handbook/sandbox/actions/index.njk
Due: eslint

fix searching with no results (#1710)
  src/lib/components/Search/index.js
Due: eslint

Header style tweaks for v2 (#1709)
  src/lib/components/Header/_styles.scss
  src/lib/components/Header/index.js
  src/lib/components/ProfileSwitcher/_styles.scss
  src/lib/components/Search/_styles.scss
  src/lib/router.js
  src/lib/store.js
  src/site/_includes/layout.njk
Due: eslint, sass-lint -v -q"

V2+historic data (#1733)
  src/lib/actions.js
  src/lib/lighthouse-service.js
Due: eslint

Fix preloading article.
  src/site/content/en/blog/preload-responsive-images/index.md
Due: remark -q

retain previous URL on signin (#1735)
  src/lib/actions.js
  src/lib/components/UrlChooserContainer/index.js
  src/lib/fb.js
Due: eslint

nav tweaks (#1702)
  src/lib/router.js
  src/styles/generic/_shared.scss
Due: eslint, sass-lint -v -q"

V2+replace navaid (#1725)
  package-lock.json
  package.json
  src/lib/bootstrap.js
  src/lib/components/Search/index.js
  src/lib/loader.js
  src/lib/utils/router.js
Due: eslint

Prettify header and user image (#1724)
  src/lib/app.js
  src/lib/bootstrap.js
  src/lib/components/ProfileSwitcher/_styles.scss
  src/lib/components/ProfileSwitcher/index.js
  src/lib/components/ProfileSwitcherContainer/index.js
  src/lib/components/Search/index.js
  src/lib/components/SigninButton/index.js
  src/lib/fb.js
  src/lib/store.js
  src/styles/components/_page-header.scss
Due: eslint, sass-lint -v -q"

Add imgix to hero and post cards (#1741)
  src/site/_includes/components/Hero.js
  src/site/_includes/components/PostCard.js
  src/site/_includes/components/tags/Image.js
  src/site/_utils/get-image-path.js
  src/site/_utils/get-srcset-range.js
Due: eslint

fix typo (#1740)
  src/lib/utils/router.js
Due: eslint

terser for prod (#1739)
  build.js
  package-lock.json
  package.json
Due: eslint

bad variable name in webshare (#1746)
  src/lib/components/Actions/index.js
Due: eslint

add fonts and analytics to SW (#1754)
  src/lib/sw.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
