Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

rephrase
  src/site/content/en/blog/vitals-tools-workflow/index.md
Due: remark -q

Update src/site/content/en/blog/pwa-url-handler/index.md
  src/site/content/en/blog/pwa-url-handler/index.md
Due: remark -q

Update the repository URL
  src/site/content/en/media/pwa-with-offline-streaming/index.md
Due: remark -q

Add browser support paragraph
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Correct OT date
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

Update vert align mixin
  src/scss/mixins/_vertically-align-label.scss
Due: sass-lint -v -q"

Add browser support paragraph (#5934)
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Correct OT date (#5935)
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

fixes broken link (#5932)
  src/site/content/en/learn/css/focus/index.md
Due: remark -q

[PWAs as URL handler article] Make same origin rules clearer (#5929)
  src/site/content/en/blog/pwa-url-handler/index.md
Due: remark -q

Flip sidebar and tidy up some pages
  src/site/_includes/design-system.njk
  src/site/content/en/design-system/colors.njk
  src/site/content/en/design-system/css-methodology.md
  src/site/content/en/design-system/patterns.11tydata.js
  src/site/content/en/design-system/patterns.njk
  src/site/content/en/design-system/typography.njk
  src/site/content/en/design-system/welcome.njk
Due: eslint, remark -q

Strip out old prototype code and map out the patterns view
  src/lib/components/FrameSizer/index.js
  src/lib/pages/design-system.js
  src/scss/pages/_design-system.scss
  src/site/_includes/macros/design-system-pattern.njk
  src/site/content/en/design-system/patterns.11tydata.js
  src/site/content/en/design-system/patterns.njk
Due: eslint, sass-lint -v -q"

Add a tweak to the md filter where inline status is overridden if the content is too long
  src/site/_filters/md.js
Due: eslint

Implement page preview with patterns macro updates
  src/scss/pages/_design-system.scss
  src/site/_includes/design-system.njk
  src/site/_includes/macros/design-system-pattern.njk
  src/site/content/en/design-system/pages.11tydata.js
  src/site/content/en/design-system/pages.njk
  src/site/content/en/design-system/patterns.njk
Due: eslint, sass-lint -v -q"

Flex with lists was breaking child elements so switching to more traditional approach
  src/scss/next.scss
Due: sass-lint -v -q"

Add toggle switch pattern
  src/pattern-library/patterns/toggle-switch/toggle-switch.json
  src/pattern-library/patterns/toggle-switch/toggle-switch.md
  src/pattern-library/patterns/toggle-switch/toggle-switch.njk
  src/scss/blocks/_toggle-switch.scss
  src/scss/next.scss
  src/scss/utilities/_focus-ring.scss
  src/site/_data/design/themes.js
Due: eslint, sass-lint -v -q", remark -q

Add toggle switch docs and variants
  src/pattern-library/patterns/toggle-switch/toggle-switch.json
  src/pattern-library/patterns/toggle-switch/toggle-switch.md
  src/pattern-library/patterns/toggle-switch/toggle-switch.njk
  src/scss/blocks/_toggle-switch.scss
Due: sass-lint -v -q", remark -q

Add new switch pattern to toggle switch
  src/site/_includes/partials/standard-theme-toggle.njk
Due: none

Tweak style of the dark theme toggle on patterns
  src/site/content/en/design-system/patterns-preview.njk
Due: none

Add little variants nav
  src/scss/next.scss
  src/site/content/en/design-system/patterns.njk
Due: sass-lint -v -q"

Markdown tweaks
  src/pattern-library/patterns/toggle-switch/toggle-switch.md
Due: remark -q

Update src/site/content/en/blog/vitals-tools-workflow/index.md
  src/site/content/en/blog/vitals-tools-workflow/index.md
Due: remark -q

add latest edits from google doc
  src/site/content/en/blog/building-a-switch-component/index.md
Due: remark -q

adds intended publish date
  src/site/content/en/blog/building-a-switch-component/index.md
Due: remark -q

fix(share): fix author titles in share component, fixes #5924
  src/site/_filters/expand-authors.js
  src/site/_includes/partials/course-app-bar.njk
  src/site/_includes/partials/post.njk
Due: eslint

Add CSS module scripts guide blog post
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/css-module-scripts/index.md
Due: remark -q

Fix issues caught by linter
  src/site/content/en/blog/css-module-scripts/index.md
Due: remark -q

fix(share): fix author titles in share component, fixes #5924 (#5938)
  src/site/_filters/expand-authors.js
  src/site/_includes/partials/course-app-bar.njk
  src/site/_includes/partials/post.njk
Due: eslint

Wrap lines per bot's instructions
  src/site/content/en/blog/css-module-scripts/index.md
Due: remark -q

Update index.md
  src/site/content/en/lighthouse-accessibility/meta-viewport/index.md
Due: remark -q

Create SECURITY.md
  SECURITY.md
Due: remark -q

Update index.md
  src/site/content/en/lighthouse-accessibility/accesskeys/index.md
Due: remark -q

Update index.md
  src/site/content/en/accessible/labels-and-text-alternatives/index.md
Due: remark -q

Update src/site/_data/authorsData.json
  src/site/_data/authorsData.json
Due: none

Update src/site/content/en/blog/css-module-scripts/index.md
  src/site/content/en/blog/css-module-scripts/index.md
Due: remark -q

Add the workflow article: publish 2021-08-09 (#5923)
  src/site/content/en/blog/vitals-tools-workflow/index.md
Due: remark -q

Basic design system UI (#5937)
  src/lib/components/FrameSizer/index.js
  src/lib/pages/design-system.js
  src/pattern-library/patterns/brand/brand.json
  src/pattern-library/patterns/brand/brand.md
  src/pattern-library/patterns/brand/brand.njk
  src/pattern-library/patterns/stack-nav/stack-nav.json
  src/pattern-library/patterns/stack-nav/stack-nav.md
  src/pattern-library/patterns/stack-nav/stack-nav.njk
  src/pattern-library/patterns/toggle-switch/toggle-switch.json
  src/pattern-library/patterns/toggle-switch/toggle-switch.md
  src/pattern-library/patterns/toggle-switch/toggle-switch.njk
  src/scss/_config.scss
  src/scss/_prototype.scss
  src/scss/blocks/_brand.scss
  src/scss/blocks/_skip-link.scss
  src/scss/blocks/_stack-nav.scss
  src/scss/blocks/_theme-toggle.scss
  src/scss/blocks/_toggle-switch.scss
  src/scss/mixins/_vertically-align-label.scss
  src/scss/next.scss
  src/scss/pages/_design-system.scss
  src/scss/utilities/_focus-ring.scss
  src/site/_data/design/themes.js
  src/site/_filters/md.js
  src/site/_includes/design-system.njk
  src/site/_includes/macros/design-system-pattern.njk
  src/site/_includes/partials/head.njk
  src/site/_includes/partials/standard-theme-toggle.njk
  src/site/_includes/partials/theme-script.njk
  src/site/content/en/design-system/colors.njk
  src/site/content/en/design-system/css-compositions.njk
  src/site/content/en/design-system/css-methodology.md
  src/site/content/en/design-system/design-system.11tydata.json
  src/site/content/en/design-system/pages.11tydata.js
  src/site/content/en/design-system/pages.njk
  src/site/content/en/design-system/patterns-preview.njk
  src/site/content/en/design-system/patterns.11tydata.js
  src/site/content/en/design-system/patterns.njk
  src/site/content/en/design-system/typography.njk
  src/site/content/en/design-system/welcome.njk
Due: eslint, sass-lint -v -q", remark -q

Incorporate Sams feedback
  src/lib/patterns.js
  src/site/_filters/patterns.js
  src/site/_includes/demo.njk
  src/site/content/en/patterns/example-pattern-suite/example-pattern/assets/index.html
Due: eslint

add 11tydata file
  src/site/content/en/patterns/example-pattern-suite/example-pattern/assets/body.html
  src/site/content/en/patterns/patterns.11tydata.js
Due: eslint

Headline pattern
  src/pattern-library/patterns/headline/headline.json
  src/pattern-library/patterns/headline/headline.md
  src/pattern-library/patterns/headline/headline.njk
  src/scss/_config.scss
Due: sass-lint -v -q", remark -q
