Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Remove quotes
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Fix incomplete sentence
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Style as a regular aside
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Fix branding
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Remove quotes
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Fix typo
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Remove unnecessary comma
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Fixes #1790. Let folks tab out of search box.
  src/lib/components/Search/index.js
Due: eslint

Fixes #1790. Let folks tab out of search box. (#1791)
  src/lib/components/Search/index.js
Due: eslint

Remove confusing stat
  src/site/content/en/fast/defer-non-critical-css/index.md
Due: remark -q

Fix dates
  src/site/content/en/blog/samesite-cookie-recipes/index.md
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Markdown formatting
  src/site/content/en/blog/samesite-cookie-recipes/index.md
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Format as code instead of blockquote
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Capitalization
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Formatting
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Inline code formatting
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Grammar
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Fix HTML tag usage and add link
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Comma
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Grammar (choosen) and formatting
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Consistency
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Cleaning up captions and alt text
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Grammar
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Formatting
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Capitalization
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Ellipsis
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Updates "SameSite cookies explainer" and adds "SameSite cookies recipes" (#1367)
  src/site/content/en/blog/samesite-cookie-recipes/chrome-console-warning.png
  src/site/content/en/blog/samesite-cookie-recipes/cookie-hero.jpg
  src/site/content/en/blog/samesite-cookie-recipes/iframe.png
  src/site/content/en/blog/samesite-cookie-recipes/index.md
  src/site/content/en/blog/samesite-cookie-recipes/safe-navigation.png
  src/site/content/en/blog/samesite-cookie-recipes/samesite-devtools.png
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Add policies redirect for Oauth
  src/site/content/en/_redirects.yaml
Due: none

Add policies redirect for Oauth (#1793)
  src/site/content/en/_redirects.yaml
Due: none

Rev package-lock
  package-lock.json
Due: none

Add rollup.
  package-lock.json
  package.json
  rollup.config.js
  src/lib/app.mjs
  src/lib/router.mjs
  src/site/_includes/layout.njk
Due: eslint

Add js hashing to rollup.
  rollup.config.js
Due: eslint

Remove devsite from layouts.
  package-lock.json
  package.json
  src/site/_includes/codelab.njk
  src/site/_includes/layout.njk
  src/site/_includes/partials/post.njk
  src/site/_includes/path.njk
Due: none

Add hash manifest.
  entrypoint.hashmanifest.json
  package-lock.json
  package.json
  rollup.config.js
  src/site/_data/site.js
  src/site/_includes/layout.njk
Due: eslint

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
