Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

refactor(hero): use img shortcode for hero images
  src/site/_includes/components/BaseCard.js
  src/site/_includes/components/Hero.js
  src/site/_includes/components/Img.js
Due: eslint

chore: upload more thumbnails
  src/site/content/en/blog/digging-into-the-privacy-sandbox/index.md
  src/site/content/en/blog/payment-and-address-form-best-practices/images/thumbnail.jpg
  src/site/content/en/blog/payment-and-address-form-best-practices/index.md
  src/site/content/en/blog/referrer-best-practices/index.md
  src/site/content/en/blog/sign-up-form-best-practices/images/thumbnail.jpg
  src/site/content/en/blog/sign-up-form-best-practices/index.md
  src/site/content/en/blog/trust-tokens/images/thumbnail.jpg
  src/site/content/en/blog/trust-tokens/index.md
  src/site/content/en/reliable/workers-overview/index.md
Due: remark -q

chore: update vitals
  src/site/content/en/blog/defining-core-web-vitals-thresholds/index.md
  src/site/content/en/blog/vitals-field-measurement-best-practices/index.md
Due: remark -q

chore(hero): upload newsletter thumbnails
  src/site/content/en/newsletter/archive/2019/11/index.njk
  src/site/content/en/newsletter/archive/2019/11/thumbnail.png
  src/site/content/en/newsletter/archive/2020/02/index.njk
  src/site/content/en/newsletter/archive/2020/02/thumbnail.png
  src/site/content/en/newsletter/archive/2020/03/index.njk
  src/site/content/en/newsletter/archive/2020/03/thumbnail.jpg
  src/site/content/en/newsletter/archive/2020/06/index.njk
  src/site/content/en/newsletter/archive/2020/06/thumbnail.png
  src/site/content/en/newsletter/archive/2020/07/index.njk
  src/site/content/en/newsletter/archive/2020/07/thumbnail.jpg
Due: none

Improve cross-origin isolation related documents (#4693)
  src/site/content/en/blog/coop-coep/index.md
  src/site/content/en/secure/cross-origin-isolation-guide/index.md
Due: remark -q

chore(vitals): fix hero img
  src/site/content/en/blog/defining-core-web-vitals-thresholds/index.md
  src/site/content/en/blog/vitals-field-measurement-best-practices/index.md
Due: remark -q

chore(authors): add fallback for author's with no image
  src/site/_collections/authors.js
Due: eslint

As
  src/site/_collections/authors.js
Due: eslint

[Device Introduction article] Update generic sensor link (#4686)
  src/site/content/en/blog/devices-introduction/index.md
Due: remark -q

Update updated
  src/site/content/en/blog/streams/index.md
Due: remark -q

Add Streams article (#4378)
  src/site/content/en/blog/streams/hero.jpg
  src/site/content/en/blog/streams/index.md
  src/site/content/en/blog/streams/streams.svg
Due: remark -q

Update note about COOP/COEP article changes
  src/site/content/en/blog/coop-coep/index.md
  src/site/content/en/secure/cross-origin-isolation-guide/index.md
Due: remark -q

Update src/site/content/en/mini-apps/mini-app-what-are-h5-and-quickapp/index.md
  src/site/content/en/mini-apps/mini-app-what-are-h5-and-quickapp/index.md
Due: remark -q

Update src/site/content/en/mini-apps/mini-app-devtools/index.md
  src/site/content/en/mini-apps/mini-app-devtools/index.md
Due: remark -q

Update src/site/content/en/mini-apps/mini-app-markup-styling-and-scripting/index.md
  src/site/content/en/mini-apps/mini-app-markup-styling-and-scripting/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/mini-apps/mini-app-alternative-runtime-environments/index.md
  src/site/content/en/mini-apps/mini-app-components/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/mini-apps/mini-app-alternative-runtime-environments/index.md
  src/site/content/en/mini-apps/mini-app-conclusion/index.md
  src/site/content/en/mini-apps/mini-app-example-project/index.md
  src/site/content/en/mini-apps/mini-app-markup-styling-and-scripting/index.md
  src/site/content/en/mini-apps/mini-app-open-source-projects/index.md
  src/site/content/en/mini-apps/mini-app-programming-way/index.md
  src/site/content/en/mini-apps/mini-app-project-structure-lifecycle-and-bundling/index.md
  src/site/content/en/mini-apps/mini-app-standardization/index.md
Due: remark -q

Clarify folder permissions
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Update src/site/content/en/blog/file-system-access/index.md
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Fix hero, move inline image to CDN
  src/site/content/en/blog/streams/index.md
Due: remark -q

Delete hero.jpg
  src/site/content/en/blog/streams/hero.jpg
Due: none

Delete streams.svg
  src/site/content/en/blog/streams/streams.svg
Due: none

Update src/site/content/en/blog/async-functions/index.md
  src/site/content/en/blog/async-functions/index.md
Due: remark -q

[Streams article] Fix hero, move inline image to CDN (#4706)
  src/site/content/en/blog/streams/hero.jpg
  src/site/content/en/blog/streams/index.md
  src/site/content/en/blog/streams/streams.svg
Due: remark -q

[File System Access API article] Add directory serialization example (#4698)
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Feedback from Kayce.
  src/site/content/en/blog/async-functions/index.md
Due: remark -q

fix(images): use image cdn for meta tags and rss feeds
  .eleventy.js
  src/site/_includes/components/Img.js
  src/site/_includes/components/Meta.js
  src/site/content/en/authors/feed.njk
Due: eslint

chore(img): move default params
  src/site/_includes/components/Img.js
Due: eslint

fix(images): use image cdn for meta tags and rss feeds (#4707)
  .eleventy.js
  src/site/_includes/components/Img.js
  src/site/_includes/components/Meta.js
  src/site/content/en/authors/feed.njk
Due: eslint

Update src/site/content/en/blog/2021-scroll-survey/index.md
  src/site/content/en/blog/2021-scroll-survey/index.md
Due: remark -q

Move hero image to GCP
  src/site/content/en/fast/signed-exchanges-webpackager/hero.jpg
  src/site/content/en/fast/signed-exchanges-webpackager/index.md
Due: remark -q

Move hero image to GCP
  src/site/content/en/fast/signed-exchanges-webpackager/index.md
Due: remark -q

Add instructions re: SXGs using Web Packager (#4681)
  src/site/content/en/fast/signed-exchanges-webpackager/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
