Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Respond to PR comments
  src/site/content/en/images/includes/opportunities.png
  src/site/content/en/lighthouse-pwa/without-javascript/index.md
Due: remark -q

Respond to PR feedback
  src/site/content/en/images/includes/opportunities.png
  src/site/content/en/lighthouse-pwa/without-javascript/index.md
Due: remark -q

Abstract callouts
  src/site/_includes/components/CodelabsCallout.js
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_all.scss
  src/styles/components/_asides.scss
  src/styles/components/_callouts.scss
  src/styles/settings/_colors.scss
Due: eslint, sass-lint -v -q", remark -q

Add SelfAssessment widget
  .eleventy.js
  src/site/_includes/components/SelfAssessment.js
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_callouts.scss
Due: eslint, sass-lint -v -q", remark -q

Add SelfAssessmentHint widget
  .eleventy.js
  src/site/_includes/components/SelfAssessmentHint.js
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_all.scss
  src/styles/components/_callouts.scss
  src/styles/components/_details.scss
  src/styles/components/_self-assessment-hint.scss
Due: eslint, sass-lint -v -q", remark -q

Make hint chevron rotate
  src/styles/components/_self-assessment-hint.scss
Due: sass-lint -v -q"

use Rollup's dynamic splitting for build
  rollup.config.js
  src/lib/app.js
  src/lib/bootstrap.js
  src/lib/entrypoint-for-route.js
  src/lib/pages/default.js
  src/lib/pages/measure.js
  src/lib/polyfill/import.js
  src/lib/router.js
  src/site/_includes/layout.njk
Due: eslint

switch to babel-eslint for import() parsing
  .eslintrc.js
  package-lock.json
  package.json
  src/lib/entrypoint-for-route.js
Due: eslint

fix image loading
  server.js
Due: eslint

Fix css property font-display in the article
  src/site/content/en/blog/fixing-layout-instability/index.md
Due: remark -q

Fix css property font-display in the article (#1598)
  src/site/content/en/blog/fixing-layout-instability/index.md
Due: remark -q

fix image loading (#1597)
  server.js
Due: eslint

Updates
  src/site/content/en/blog/sms-receiver-announce/diagram.png
  src/site/content/en/blog/sms-receiver-announce/index.md
Due: remark -q

Update
  src/site/content/en/blog/sms-receiver-announce/index.md
Due: remark -q

Update src/site/content/en/lighthouse-pwa/offline-start-url/index.md
  src/site/content/en/lighthouse-pwa/offline-start-url/index.md
Due: remark -q

Update src/site/content/en/lighthouse-pwa/themed-omnibox/index.md
  src/site/content/en/lighthouse-pwa/themed-omnibox/index.md
Due: remark -q

Update src/site/content/en/lighthouse-pwa/without-javascript/index.md
  src/site/content/en/lighthouse-pwa/without-javascript/index.md
Due: remark -q

Update src/site/content/en/lighthouse-pwa/works-offline/index.md
  src/site/content/en/lighthouse-pwa/works-offline/index.md
Due: remark -q

Start content cleanup
  src/site/content/en/lighthouse-performance/bootup-time/index.md
  src/site/content/en/lighthouse-performance/critical-request-chains/index.md
  src/site/content/en/lighthouse-performance/dom-size/index.md
  src/site/content/en/lighthouse-performance/first-contentful-paint/index.md
  src/site/content/en/lighthouse-performance/first-cpu-idle/index.md
  src/site/content/en/lighthouse-performance/first-meaningful-paint/index.md
  src/site/content/en/lighthouse-performance/font-display/index.md
  src/site/content/en/lighthouse-performance/interactive/index.md
  src/site/content/en/lighthouse-performance/mainthread-work-breakdown/index.md
  src/site/content/en/lighthouse-performance/max-potential-fid/index.md
  src/site/content/en/lighthouse-performance/resource-summary/index.md
  src/site/content/en/lighthouse-performance/speed-index/index.md
  src/site/content/en/lighthouse-performance/total-byte-weight/index.md
  src/site/content/en/lighthouse-performance/user-timings/index.md
  src/site/content/en/lighthouse-performance/uses-long-cache-ttl/index.md
Due: remark -q

PWA audit fixes
  src/site/content/en/lighthouse-pwa/redirects-http/index.md
  src/site/content/en/lighthouse-pwa/themed-omnibox/index.md
Due: remark -q

Fix typo
  src/site/content/en/lighthouse-pwa/themed-omnibox/index.md
Due: remark -q

Fix typo
  src/site/content/en/lighthouse-pwa/redirects-http/index.md
Due: remark -q

PWA audit fixes (#1604)
  src/site/content/en/lighthouse-pwa/redirects-http/index.md
  src/site/content/en/lighthouse-pwa/themed-omnibox/index.md
Due: remark -q

Update src/site/content/en/blog/hands-on-portals/index.md
  src/site/content/en/blog/hands-on-portals/index.md
Due: remark -q

Adding expressions which will indicate that Portals are still in a proposal phase (#1473)
  src/site/content/en/blog/hands-on-portals/index.md
Due: remark -q

Fix YAML errors
  src/site/content/en/lighthouse-performance/first-cpu-idle/index.md
  src/site/content/en/lighthouse-performance/first-meaningful-paint/index.md
  src/site/content/en/lighthouse-performance/interactive/index.md
  src/site/content/en/lighthouse-performance/speed-index/index.md
Due: remark -q

Update total-byte-weight post
  src/site/content/en/lighthouse-performance/total-byte-weight/index.md
Due: remark -q

fix: Use authors instead of author in content source file
  src/site/content/en/fast/incorporate-performance-budgets-into-your-build-tools/index.md
Due: remark -q

Update src/site/content/en/angular/setup-dynamic-server-side-rendering-with-angular/index.md
  src/site/content/en/angular/setup-dynamic-server-side-rendering-with-angular/index.md
Due: remark -q

Update src/site/content/en/angular/getting-started-with-server-side-rendering-in-angular/index.md
  src/site/content/en/angular/getting-started-with-server-side-rendering-in-angular/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
