Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Update web.dev/reliable
  src/site/_data/paths/reliable.js
Due: eslint

[Guide]: App shell UX with service workers and streams (#3302)
  src/site/content/en/reliable/app-shell-ux-with-service-workers/dev-architecture.png
  src/site/content/en/reliable/app-shell-ux-with-service-workers/homepage.jpg
  src/site/content/en/reliable/app-shell-ux-with-service-workers/index.md
Due: remark -q

[Guide]: Instant navigation experiences (#3300)
  src/images/authors/gilbertococchi.jpg
  src/images/authors/gilbertococchi@2x.jpg
  src/site/_data/contributors.js
  src/site/content/en/reliable/instant-navigation-experiences/index.md
  src/site/content/en/reliable/instant-navigation-experiences/mercadolibre-prefetch.png
  src/site/content/en/reliable/instant-navigation-experiences/page-to-sw.png
  src/site/content/en/reliable/instant-navigation-experiences/virgilio-sport-logo.png
  src/site/content/en/reliable/instant-navigation-experiences/virgilio-sport-prefetch.png
Due: eslint, remark -q

[Guide]: Adaptive loading with service workers (#3301)
  src/site/content/en/reliable/adaptive-loading-with-service-workers/cloudinary-workbox.png
  src/site/content/en/reliable/adaptive-loading-with-service-workers/index.md
  src/site/content/en/reliable/adaptive-loading-with-service-workers/terra-adaptive-amp.png
  src/site/content/en/reliable/adaptive-loading-with-service-workers/terra-adaptive-images.png
Due: remark -q

[Codelab]: Building a resilient search experience with Workbox (#3260)
  src/site/content/en/reliable/codelab-building-resilient-search-experiences/index.md
  src/site/content/en/reliable/codelab-building-resilient-search-experiences/offline-ux-custom.png
  src/site/content/en/reliable/codelab-building-resilient-search-experiences/offline-ux-default.png
  src/site/content/en/reliable/codelab-building-resilient-search-experiences/offline-ux-flow.png
Due: remark -q

[Guide]: Resilient search experiences (#3248)
  src/site/_data/paths/reliable.js
  src/site/content/en/reliable/resilient-search-experiences/index.md
  src/site/content/en/reliable/resilient-search-experiences/search-offline-flow.png
  src/site/content/en/reliable/resilient-search-experiences/search-offline-screen.png
  src/site/content/en/reliable/resilient-search-experiences/workbox-background-sync.png
Due: eslint, remark -q

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Due: remark -q

Add tags and fix date for advanced PWA collection
  src/site/content/en/reliable/adaptive-loading-with-service-workers/index.md
  src/site/content/en/reliable/app-shell-ux-with-service-workers/index.md
  src/site/content/en/reliable/codelab-building-resilient-search-experiences/index.md
  src/site/content/en/reliable/instant-navigation-experiences/index.md
  src/site/content/en/reliable/resilient-search-experiences/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/flexbox-gap/index.md
Due: remark -q

Update subheads
  src/site/content/en/reliable/adaptive-loading-with-service-workers/index.md
  src/site/content/en/reliable/app-shell-ux-with-service-workers/index.md
  src/site/content/en/reliable/instant-navigation-experiences/index.md
  src/site/content/en/reliable/resilient-search-experiences/index.md
Due: remark -q

Add tags and fix date for advanced PWA collection (#3333)
  src/site/content/en/reliable/adaptive-loading-with-service-workers/index.md
  src/site/content/en/reliable/app-shell-ux-with-service-workers/index.md
  src/site/content/en/reliable/codelab-building-resilient-search-experiences/index.md
  src/site/content/en/reliable/instant-navigation-experiences/index.md
  src/site/content/en/reliable/resilient-search-experiences/index.md
Due: remark -q

Minor tweaks to wording
  src/site/content/en/blog/trust-tokens/index.md
Due: remark -q

Fixed minor glitch
  src/site/content/en/blog/trust-tokens/index.md
Due: remark -q

Update Trust Tokens article (#3334)
  src/site/content/en/blog/trust-tokens/index.md
Due: remark -q

Review by kbr@
  src/site/content/en/blog/device-pixel-content-box/index.md
Due: remark -q

Link to codelab
  src/site/content/en/reliable/resilient-search-experiences/index.md
Due: remark -q

Comment out the codelab
  src/site/content/en/blog/codelab-sign-in-form-best-practices/index.md
  src/site/content/en/blog/sign-in-form-best-practices/index.md
Due: remark -q

Update hero
  package-lock.json
  src/site/content/en/blog/sign-in-form-best-practices/hero.jpg
  src/site/content/en/blog/sign-in-form-best-practices/index.md
Due: remark -q

Fix link
  src/site/content/en/reliable/resilient-search-experiences/index.md
Due: remark -q

Remove the CrUX fractional unit aside
  src/site/content/en/metrics/cls/index.md
Due: remark -q

match copy
  src/lib/components/EventCarousel/index.js
Due: eslint

css
  src/styles/pages/_live.scss
Due: sass-lint -v -q"

review feedback
  src/lib/components/EventCarousel/index.js
  src/lib/components/EventSchedule/index.js
  src/site/_data/event.js
Due: eslint

padding -> margin
  src/styles/pages/_live.scss
Due: sass-lint -v -q"

Control video tiles carousel (#3306)
  src/lib/components/EventCarousel/index.js
  src/lib/components/EventSchedule/index.js
  src/lib/components/EventStore/index.js
  src/lib/pages/live.js
  src/lib/utils/time-offset.js
  src/site/_data/event.js
  src/site/content/en/live/index.njk
  src/styles/pages/_live.scss
Due: eslint, sass-lint -v -q"

wip on during day.
  src/site/_data/event.js
  src/site/content/en/live/index.njk
  src/styles/pages/_live.scss
Due: eslint, sass-lint -v -q"

feat(web-event-q-and-a): add Q&A element
  src/lib/components/EventQAndA/_styles.scss
  src/lib/components/EventQAndA/index.js
  src/lib/pages/live.js
  src/site/_data/event.js
  src/site/content/en/live/index.njk
Due: eslint, sass-lint -v -q"

chore: enable `isPostEvent` just for viewing
  src/site/_data/event.js
Due: eslint

refactor(web-event-q-and-a): update based on feedback
  src/lib/components/EventQAndA/_styles.scss
  src/lib/components/EventQAndA/index.js
Due: eslint, sass-lint -v -q"

refactor: move scss into live pages scss
  src/lib/components/EventQAndA/_styles.scss
  src/styles/pages/_live.scss
Due: sass-lint -v -q"

Add bpj@ and msdikla@ as contributers
  src/images/authors/bpj.jpg
  src/images/authors/bpj@2x.jpg
  src/images/authors/msdikla.jpg
  src/images/authors/msdikla@2x.jpg
  src/site/_data/contributors.js
Due: eslint

Update styles for pre and during event phases.
  src/lib/components/LivestreamContainer/_styles.scss
  src/site/_data/event.js
  src/site/content/en/live/index.njk
  src/styles/components/_livestream-container.scss
  src/styles/pages/_live.scss
Due: eslint, sass-lint -v -q"

Add Relating Site Speed and Business Metrics article
  src/site/_data/contributors.js
  src/site/content/en/blog/speed-to-business/hero.jpg
  src/site/content/en/blog/speed-to-business/index.md
  src/site/content/en/blog/speed-to-business/test-client-side.jpg
  src/site/content/en/blog/speed-to-business/test-server-side.jpg
Due: eslint, remark -q

updating support data
  src/site/content/en/fast/choose-the-right-image-format/index.md
Due: remark -q

Update demo link
  src/site/content/en/blog/device-pixel-content-box/index.md
Due: remark -q

Removed best-practice version
  src/site/content/en/blog/codelab-sign-in-form/email-keyboard.jpg
  src/site/content/en/blog/codelab-sign-in-form/index.md
  src/site/content/en/blog/sign-in-form-best-practice/amazon-signin-mobile.png
  src/site/content/en/blog/sign-in-form-best-practice/amazon-signin.png
  src/site/content/en/blog/sign-in-form-best-practice/autofocus.png
  src/site/content/en/blog/sign-in-form-best-practice/chrome-signin-desktop.png
  src/site/content/en/blog/sign-in-form-best-practice/firefox-password-manager.png
  src/site/content/en/blog/sign-in-form-best-practice/hero.jpg
  src/site/content/en/blog/sign-in-form-best-practice/index.md
  src/site/content/en/blog/sign-in-form-best-practice/invalid-email.png
  src/site/content/en/blog/sign-in-form-best-practice/iphone-keyboard.png
  src/site/content/en/blog/sign-in-form-best-practice/keyboard-not-ok.png
  src/site/content/en/blog/sign-in-form-best-practice/keyboard-ok.png
  src/site/content/en/blog/sign-in-form-best-practice/label-position.png
  src/site/content/en/blog/sign-in-form-best-practice/missing-field-firefox-android.png
  src/site/content/en/blog/sign-in-form-best-practice/safari-password-suggest.png
  src/site/content/en/blog/sign-in-form-best-practice/safari-password-suggestion.png
  src/site/content/en/blog/sign-in-form-best-practice/safari-signin-desktop.png
  src/site/content/en/blog/sign-in-form-best-practice/show-password-google.png
  src/site/content/en/blog/sign-in-form-best-practice/show-password.png
  src/site/content/en/blog/sign-in-form-best-practice/styled-signin-form.png
  src/site/content/en/blog/sign-in-form-best-practice/thumbnail.jpg
  src/site/content/en/blog/sign-in-form-best-practice/unstyled-form-text.png
  src/site/content/en/blog/sign-in-form-best-practice/unstyled-form.png
  src/site/content/en/blog/sign-in-form-best-practices/hero.jpg
Due: remark -q

Move wake lock to launched section
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Updated updated
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Update src/site/content/en/blog/flexbox-gap/index.md
  src/site/content/en/blog/flexbox-gap/index.md
Due: remark -q

add canonicalUrl to each post
  src/site/_collections/authors.js
  src/site/_collections/tags.js
  src/site/_includes/components/BaseCard.js
  src/site/_includes/handbook.njk
  src/site/_includes/layout.njk
  src/site/content/en/authors/index.njk
  src/site/content/en/authors/individual.njk
  src/site/content/en/newsletter/archive/2020/03/index.njk
  src/site/content/en/tags/index.njk
  src/site/content/en/tags/individual.njk
Due: eslint
