Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Learn CSS outro
  src/site/content/en/learn/css/conclusion/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/mediastreamtrack-insertable-media-processing/index.md
Due: remark -q

Tweak CSS sample
  src/site/content/en/learn/css/borders/index.md
Due: remark -q

Update src/site/content/en/blog/mediastreamtrack-insertable-media-processing/index.md
  src/site/content/en/blog/mediastreamtrack-insertable-media-processing/index.md
Due: remark -q

Prettier
  src/site/content/en/blog/mediastreamtrack-insertable-media-processing/index.md
Due: remark -q

Prettier again
  src/site/content/en/blog/mediastreamtrack-insertable-media-processing/index.md
Due: remark -q

Add MediaStreamTrack insertable media processing article (#5092)
  src/site/content/en/blog/mediastreamtrack-insertable-media-processing/index.md
Due: remark -q

decouple search styles
  src/lib/components/Search/_styles.scss
  src/lib/components/SearchResults/_styles.scss
  src/site/_includes/partials/navigation-drawer-course.njk
  src/styles/components/_drawer-course.scss
  src/styles/components/_header-default.scss
Due: sass-lint -v -q"

lint
  src/styles/components/_header-default.scss
Due: sass-lint -v -q"

Adds the borders lesson (#5216)
  src/site/content/en/learn/css/borders/index.md
Due: remark -q

Add es translations to i18n dir
  src/site/_data/i18n/common.yml
  src/site/_data/i18n/courses.yml
  src/site/_data/i18n/footer.yml
  src/site/_data/i18n/header.yml
  src/site/_data/i18n/learn.yml
  src/site/_data/i18n/post.yml
  src/site/_data/i18n/stackoverflow.yml
  src/site/_data/i18n/subscribe.yml
  src/site/_data/i18n/toc.yml
Due: none

Use full locale to allow for regional language variations
  src/site/_filters/i18n.js
Due: eslint

fix frontmatter issue for borders learn css module
  src/site/content/en/learn/css/borders/index.md
Due: remark -q

fix frontmatter issue for borders learn css module (#5248)
  src/site/content/en/learn/css/borders/index.md
Due: remark -q

Edited both articles
  src/site/content/en/blog/conversion-measurement/index.md
  src/site/content/en/blog/using-conversion-measurement/index.md
Due: remark -q

removed "soon"
  src/site/content/en/blog/conversion-measurement/index.md
  src/site/content/en/blog/using-conversion-measurement/index.md
Due: remark -q

Added link to old explainer
  src/site/content/en/blog/conversion-measurement/index.md
  src/site/content/en/blog/using-conversion-measurement/index.md
Due: remark -q

Add OT frontmatter
  src/site/content/en/blog/mediastreamtrack-insertable-media-processing/index.md
Due: remark -q

fix yaml bug
  src/site/content/en/learn/css/borders/index.md
Due: remark -q

make codepens editable
  src/site/_includes/components/Codepen.js
Due: eslint

make codepens editable (#5251)
  src/site/_includes/components/Codepen.js
Due: eslint

Fix flaky percy test
  tools/percy/.percy.conf.yml
Due: none

Fix flaky percy test (#5252)
  tools/percy/.percy.conf.yml
Due: none

Add badge for new content in courses (#5120)
  .eleventy.js
  src/lib/components/CourseLinks/index.js
  src/lib/pages/course.js
  src/site/_data/i18n/common.yml
  src/site/_filters/is-new-content.js
  src/site/_includes/base.njk
  src/site/_includes/course.njk
  src/site/_includes/partials/head.njk
  src/site/_includes/partials/navigation-drawer-course.njk
  src/styles/components/_drawer-course.scss
  test/unit/src/site/_filters/index.js
  test/unit/src/site/_filters/is-new-content.js
Due: eslint, sass-lint -v -q"

Add OT frontmatter (#5250)
  src/site/content/en/blog/mediastreamtrack-insertable-media-processing/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/learn/css/animations/index.md
Due: remark -q

Adds Learn CSS Animation (#5238)
  src/site/content/en/learn/css/animations/index.md
Due: remark -q

Update src/site/content/en/learn/css/functions/index.md
  src/site/content/en/learn/css/functions/index.md
Due: remark -q

fix code block
  src/site/content/en/learn/css/functions/index.md
Due: remark -q

Add hits_ to observables
  src/lib/components/SearchResults/index.js
Due: eslint

Fix display on small screens
  src/lib/components/Search/_styles.scss
  src/lib/components/SearchResults/index.js
  src/styles/components/_drawer-course.scss
  src/styles/components/_header-default.scss
Due: eslint, sass-lint -v -q"

Dedupe resultsId prop
  src/lib/components/Search/index.js
  src/site/_includes/partials/header-default.njk
  src/site/_includes/partials/navigation-drawer-course.njk
Due: eslint

lint
  src/styles/components/_drawer-course.scss
Due: sass-lint -v -q"

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
