Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Add eyebrow as happy medium to homepage shows
  src/site/content/en/home/podcasts.njk
Due: none

Priority Hints markdown fixes
  src/site/content/en/fast/priority-hints/index.md
Due: remark -q

[Minor] Extra notes to address Twitter feedback
  src/site/content/en/fast/priority-hints/index.md
Due: remark -q

Priority Hints markdown fixes (#6513)
  src/site/content/en/fast/priority-hints/index.md
Due: remark -q

Updates to css and javascript sections
  src/site/content/en/learn/forms/attributes/index.md
  src/site/content/en/learn/forms/data/index.md
  src/site/content/en/learn/forms/fields/index.md
  src/site/content/en/learn/forms/javascript/index.md
  src/site/content/en/learn/forms/styling-form-controls/index.md
  src/site/content/en/learn/forms/styling-form-controls/styling-form-controls.assess.yml
  src/site/content/en/learn/forms/styling/index.md
Due: remark -q

Update unused-javascript/index.md
  src/site/content/en/lighthouse-performance/unused-javascript/index.md
Due: remark -q

Fix erroneous repetition of a word
  src/site/content/en/lighthouse-performance/first-meaningful-paint/index.md
Due: remark -q

Add `translations`
  src/site/content/en/progressive-web-apps/add-manifest/index.md
Due: remark -q

Update src/site/content/en/learn/forms/styling/index.md
  src/site/content/en/learn/forms/styling/index.md
Due: remark -q

Update src/site/content/en/learn/forms/form/index.md
  src/site/content/en/learn/forms/form/index.md
Due: remark -q

Minor tweaks to CSS and JavaScript modules (#6514)
  src/site/content/en/learn/forms/attributes/index.md
  src/site/content/en/learn/forms/data/index.md
  src/site/content/en/learn/forms/fields/index.md
  src/site/content/en/learn/forms/javascript/index.md
  src/site/content/en/learn/forms/styling-form-controls/index.md
  src/site/content/en/learn/forms/styling-form-controls/styling-form-controls.assess.yml
  src/site/content/en/learn/forms/styling/index.md
Due: remark -q

Updates to Elements and attributes modules (#6507)
  src/site/content/en/learn/forms/attributes/attributes.assess.yml
  src/site/content/en/learn/forms/attributes/index.md
  src/site/content/en/learn/forms/auto/index.md
  src/site/content/en/learn/forms/fields/fields.assess.yml
  src/site/content/en/learn/forms/fields/index.md
  src/site/content/en/learn/forms/form-fields/index.md
  src/site/content/en/learn/forms/form/index.md
  src/site/content/en/learn/forms/testing/index.md
Due: remark -q

Fix erroneous repetition of a word (#6519)
  src/site/content/en/lighthouse-performance/first-meaningful-paint/index.md
Due: remark -q

Tweaked
  src/site/content/en/learn/forms/internationalization/index.md
Due: remark -q

Tweaks to Testing and monitoring modules (#6505)
  src/site/content/en/learn/forms/cross-platform-testing/index.md
  src/site/content/en/learn/forms/usability-testing/index.md
Due: remark -q

Learn forms: tweaks to 'General best practice' section (#6477)
  src/site/content/en/learn/forms/accessibility/index.md
  src/site/content/en/learn/forms/autofill/autofill.assess.yml
  src/site/content/en/learn/forms/autofill/index.md
  src/site/content/en/learn/forms/design-basics/design-basics.assess.yml
  src/site/content/en/learn/forms/design-basics/index.md
  src/site/content/en/learn/forms/form/form.assess.yml
  src/site/content/en/learn/forms/internationalization/index.md
  src/site/content/en/learn/forms/security-privacy/index.md
Due: remark -q

Fresh eyes visual tweaks
  src/scss/blocks/_pill.scss
  src/scss/pages/_homepage.scss
  src/site/content/en/home/index.njk
Due: sass-lint -v -q"

Learn Forms intro and outro (#6459)
  src/site/_data/authorsData.json
  src/site/_data/courses/forms/toc.yml
  src/site/content/en/learn/forms/conclusion/index.md
  src/site/content/en/learn/forms/index.md
Due: remark -q

Tweaks
  src/site/content/en/learn/forms/address/index.md
  src/site/content/en/learn/forms/identity/index.md
  src/site/content/en/learn/forms/payment/index.md
Due: remark -q

Date fixes
  src/site/content/en/learn/forms/form-element/index.md
  src/site/content/en/learn/forms/usability-testing/index.md
  src/site/content/en/learn/forms/validation/index.md
Due: remark -q

Add code patterns
  src/scss/blocks/_card.scss
  src/scss/pages/_homepage.scss
  src/site/content/en/home/index.njk
Due: sass-lint -v -q"

Specificity tweak
  src/scss/mixins/_card-base-styles.scss
Due: sass-lint -v -q"

Update src/site/content/en/learn/forms/identity/index.md
  src/site/content/en/learn/forms/identity/index.md
Due: remark -q

Tweaks to modules for specific form types (#6521)
  src/site/content/en/learn/forms/address/index.md
  src/site/content/en/learn/forms/form-element/index.md
  src/site/content/en/learn/forms/identity/index.md
  src/site/content/en/learn/forms/payment/index.md
  src/site/content/en/learn/forms/usability-testing/index.md
  src/site/content/en/learn/forms/validation/index.md
Due: remark -q

Add newer version of newsletter signup
  src/component-library/form-fields/variants/checkbox/checkbox.njk
  src/scss/next.scss
  src/scss/web-components/_web-subscribe.scss
  src/site/_includes/components/Aside.js
  src/site/_includes/partials/subscribe-next.njk
  src/site/content/en/home/index.njk
Due: eslint, sass-lint -v -q"

Abstract each section into a partial to make life easier in the long-run
  src/site/content/en/home/case-studies.njk
  src/site/content/en/home/courses.njk
  src/site/content/en/home/event.njk
  src/site/content/en/home/index.njk
  src/site/content/en/home/intro.njk
  src/site/content/en/home/page-speed.njk
  src/site/content/en/home/patterns.njk
  src/site/content/en/home/podcasts.njk
Due: none

Fix accidental lowercasing
  src/site/content/en/home/event.njk
Due: none

Quick pass of responsive adjustments
  src/scss/blocks/_feature-card.scss
  src/scss/blocks/_hero.scss
  src/scss/pages/_homepage.scss
  src/site/content/en/home/case-studies.njk
  src/site/content/en/home/page-speed.njk
Due: sass-lint -v -q"

Add PS Web post
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/ps-on-the-web/index.md
Due: remark -q

Make linter happy
  src/site/content/en/blog/ps-on-the-web/index.md
Due: remark -q

Fix drive-by issue
  src/site/_data/authorsData.json
Due: none

Update hero image
  src/site/content/en/blog/ps-on-the-web/index.md
Due: remark -q

Remove trying out para
  src/site/content/en/blog/ps-on-the-web/index.md
Due: remark -q

fix! adam code review
  src/site/content/en/learn/css/overflow/index.md
Due: remark -q

fix! remove fade
  src/site/content/en/learn/css/overflow/index.md
Due: remark -q

Add CTA at end
  src/site/content/en/blog/ps-on-the-web/index.md
Due: remark -q

feat(carousel): add js logic for carousel widget
  src/component-library/carousel/carousel.njk
  src/lib/components/Carousel/index.js
  src/lib/pages/design-system.js
  src/site/content/en/design-system/components-preview.njk
Due: eslint

Adds TTFB metric doc.
  src/site/content/en/metrics/ttfb/index.md
Due: remark -q

Updates TTFB link refs to the new metric doc.
  src/site/content/en/blog/bfcache/index.md
  src/site/content/en/blog/milliseconds-make-millions/index.md
  src/site/content/en/blog/overloaded-server/index.md
  src/site/content/en/blog/wix/index.md
  src/site/content/en/fast/priority-hints/index.md
  src/site/content/en/metrics/fcp/index.md
  src/site/content/en/metrics/ttfb/index.md
  src/site/content/en/vitals/index.md
  src/site/content/es/metrics/fcp/index.md
  src/site/content/es/vitals/index.md
  src/site/content/ja/metrics/fcp/index.md
  src/site/content/ja/vitals/index.md
  src/site/content/ko/metrics/fcp/index.md
  src/site/content/ko/vitals/index.md
  src/site/content/pt/metrics/fcp/index.md
  src/site/content/pt/vitals/index.md
  src/site/content/ru/metrics/fcp/index.md
  src/site/content/ru/vitals/index.md
  src/site/content/zh/metrics/fcp/index.md
  src/site/content/zh/vitals/index.md
Due: remark -q

Removes en-US localization in MDN link per linter rule.
  src/site/content/en/metrics/ttfb/index.md
Due: remark -q
