Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Update @mdn/browser-compat-data (#8389)
  package-lock.json
  package.json
Due: none

Adds BBC HSTS short blog post.
  src/site/content/en/blog/bbc-hsts/index.md
Due: remark -q

Fixes linter yelling.
  src/site/content/en/blog/bbc-hsts/index.md
Due: remark -q

Refactors article with advice from @tunetheweb.
  src/site/content/en/blog/bbc-hsts/index.md
Due: remark -q

Resolves #8395
  src/site/content/en/metrics/inp/index.md
Due: remark -q

Resolves #8395 (#8396)
  src/site/content/en/metrics/inp/index.md
Due: remark -q

docs(style-focus): button focus macos firefox
  src/site/content/en/accessible/style-focus/index.md
Due: remark -q

docs(style-focus): focus-visible availability
  src/site/content/en/accessible/style-focus/index.md
Due: remark -q

Fix date of post "Rendering on the Web"
  src/site/content/en/blog/rendering-on-the-web/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/bbc-hsts/index.md
Due: remark -q

Update index.md (#8373)
  src/site/content/en/blog/godaddy/index.md
Due: remark -q

Allow custom aspect ratio on <video>
  src/scss/next.scss
Due: sass-lint -v -q"

Adjust avatar offset for bigger number of hosts
  src/scss/pages/_spaces.scss
Due: sass-lint -v -q"

Add spaces homepage card
  src/site/content/en/index.md
Due: remark -q

Strengthen regular aside to warning aside, update link
  src/site/content/en/blog/webdatabase-todo/index.md
Due: remark -q

Add Window Controls Overlay
  src/site/_data/paths/progressive-web-apps.json
Due: none

Some browser compat updates
  src/site/content/en/blog/accent-color/index.md
  src/site/content/en/blog/css-is-and-where/index.md
  src/site/content/en/blog/css-size-adjust/index.md
  src/site/content/en/blog/min-max-clamp/index.md
  src/site/content/en/blog/structured-clone/index.md
Due: remark -q

Tweaks language and updates figure per @tunetheweb.
  src/site/content/en/blog/bbc-hsts/index.md
Due: remark -q

Adds BBC HSTS short post (#8394)
  src/site/content/en/blog/bbc-hsts/index.md
Due: remark -q

Some redirects to d.c.c.
  redirects.yaml
  src/site/content/en/blog/compute-pressure/index.md
  src/site/content/en/blog/declarative-link-capturing/index.md
  src/site/content/en/blog/handwriting-recognition/index.md
  src/site/content/en/blog/virtualkeyboard/index.md
Due: remark -q

Fixed invalid date
  src/site/content/zh/media/video-and-source-tags/index.md
Due: remark -q

Fixed invalid date
  src/site/content/ko/media/video-and-source-tags/index.md
Due: remark -q

Fixed invalid date
  src/site/content/en/media/video-and-source-tags/index.md
Due: remark -q

Fixed invalid date
  src/site/content/pt/media/video-and-source-tags/index.md
Due: remark -q

Removes the 'Extending Workbox' article.
  src/site/content/en/blog/extending-workbox/index.md
Due: remark -q

Redirects the 'Extending Workbox' post to the 'Using Plugins' post on d.c.c.
  redirects.yaml
Due: none

Fixed invalid date (#8407)
  src/site/content/en/media/video-and-source-tags/index.md
  src/site/content/ko/media/video-and-source-tags/index.md
  src/site/content/pt/media/video-and-source-tags/index.md
  src/site/content/zh/media/video-and-source-tags/index.md
Due: remark -q

Fixes markdown formatting issue (#8360)
  src/site/content/en/blog/webaudio-intro/index.md
Due: remark -q

Redirects Extending Workbox to its d.c.c. equivalent (#8409)
  redirects.yaml
  src/site/content/en/blog/extending-workbox/index.md
Due: remark -q

Start drafting new codelab.
  src/site/content/en/blog/push-notifications-server-codelab/index.md
  src/site/content/en/blog/push-notifications-server-codelab/index_.md
Due: remark -q

Removing banner
  src/site/_data/site.js
Due: eslint

Link to "How to file WebHID bugs"
  src/site/content/en/blog/hid/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/hid/index.md
Due: remark -q

Adjust background
  src/scss/blocks/_feature-card.scss
  src/site/content/en/index.md
Due: sass-lint -v -q", remark -q

Adjust avatar offset for bigger number of hosts (#8400)
  src/scss/pages/_spaces.scss
Due: sass-lint -v -q"

Add spaces homepage card (#8401)
  src/scss/blocks/_feature-card.scss
  src/site/content/en/index.md
Due: sass-lint -v -q", remark -q

Link to "How to file WebHID bugs" (#8411)
  src/site/content/en/blog/hid/index.md
Due: remark -q

Some browser compat updates (#8405)
  src/site/content/en/blog/accent-color/index.md
  src/site/content/en/blog/css-is-and-where/index.md
  src/site/content/en/blog/css-size-adjust/index.md
  src/site/content/en/blog/min-max-clamp/index.md
  src/site/content/en/blog/structured-clone/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
