Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

add aria-label to svg
  package-lock.json
  package.json
  src/site/_includes/macros/icon.njk
  src/site/_includes/partials/course-pagination.njk
  src/site/_includes/partials/header-course.njk
  src/site/_includes/partials/navigation-drawer-course.njk
  src/site/_includes/partials/toc-inner.njk
Due: none

Rename es_ES to es
  src/site/_data/i18n/common.yml
  src/site/_data/i18n/courses.yml
  src/site/_data/i18n/footer.yml
  src/site/_data/i18n/header.yml
  src/site/_data/i18n/learn.yml
  src/site/_data/i18n/post.yml
  src/site/_data/i18n/stackoverflow.yml
  src/site/_data/i18n/subscribe.yml
  src/site/_data/i18n/toc.yml
Due: none

add aria-label to svg (#5257)
  package-lock.json
  package.json
  src/site/_includes/macros/icon.njk
  src/site/_includes/partials/course-pagination.njk
  src/site/_includes/partials/header-course.njk
  src/site/_includes/partials/navigation-drawer-course.njk
  src/site/_includes/partials/toc-inner.njk
Due: none

Remove paths from pretranslation service
  .gitlocalize.yml
Due: none

hide course tags and authors
  src/site/_includes/components/Meta.js
  src/site/content/en/learn/css/css.11tydata.js
Due: eslint

decouple search styles
  src/lib/components/Search/_styles.scss
  src/lib/components/SearchResults/_styles.scss
  src/site/_includes/partials/navigation-drawer-course.njk
  src/styles/components/_drawer-course.scss
  src/styles/components/_header-default.scss
Due: sass-lint -v -q"

lint
  src/lib/components/Search/index.js
  src/lib/components/SearchResults/index.js
Due: eslint

Decouple search and search results
  src/lib/components/Search/index.js
  src/lib/components/SearchResults/_styles.scss
  src/lib/components/SearchResults/index.js
  src/lib/components/base.js
  src/site/_includes/course.njk
  src/site/_includes/partials/header-default.njk
Due: eslint, sass-lint -v -q"

remove basestateelement
  src/lib/components/SearchResults/index.js
Due: eslint

Add course search facet
  src/lib/components/Search/index.js
  src/site/_includes/partials/navigation-drawer-course.njk
  src/site/content/en/learn/css/css.11tydata.js
Due: eslint

lint
  src/styles/components/_drawer-course.scss
Due: sass-lint -v -q"

lint
  src/lib/components/Search/_styles.scss
Due: sass-lint -v -q"

Dedupe resultsId prop
  src/lib/components/Search/index.js
  src/site/_includes/partials/header-default.njk
  src/site/_includes/partials/navigation-drawer-course.njk
Due: eslint

Add hits_ to observables
  src/lib/components/SearchResults/index.js
Due: eslint

lint
  src/styles/components/_header-default.scss
Due: sass-lint -v -q"

Fix display on small screens
  src/lib/components/Search/_styles.scss
  src/lib/components/SearchResults/index.js
  src/styles/components/_drawer-course.scss
  src/styles/components/_header-default.scss
Due: eslint, sass-lint -v -q"

hide course tags and authors (#5265)
  src/site/_includes/components/Meta.js
  src/site/content/en/learn/css/css.11tydata.js
Due: eslint

Only exclude course content from authors and tags pages.
  src/site/_collections/authors.js
  src/site/_collections/tags.js
  src/site/content/en/learn/css/css.11tydata.js
  types/eleventy/collection-item.d.ts
Due: eslint

Only exclude course content from authors and tags pages. (#5266)
  src/site/_collections/authors.js
  src/site/_collections/tags.js
  src/site/content/en/learn/css/css.11tydata.js
  types/eleventy/collection-item.d.ts
Due: eslint

wip
  src/site/_includes/partials/course-app-bar.njk
Due: none

Add logo for course-app-bar
  src/site/_includes/partials/course-app-bar.njk
  src/styles/components/_app-bar.scss
Due: sass-lint -v -q"

Fix course description
  src/styles/pages/_course.scss
Due: sass-lint -v -q"

Update SAB related articles on restriction delay
  src/site/content/en/blog/coop-coep/index.md
  src/site/content/en/secure/cross-origin-isolation-guide/index.md
Due: remark -q

Address feedback
  src/site/content/en/blog/media-session/index.md
Due: remark -q

Remove paths from pretranslation service (#5264)
  .gitlocalize.yml
Due: none

adds 3 borders questions (#5261)
  src/site/content/en/learn/css/borders/borders.assess.yml
  src/site/content/en/learn/css/borders/index.md
Due: remark -q

Update src/site/content/en/learn/css/layout/layout.assess.yml
  src/site/content/en/learn/css/layout/layout.assess.yml
Due: none

Adds layout assessments (#5220)
  src/site/content/en/learn/css/layout/index.md
  src/site/content/en/learn/css/layout/layout.assess.yml
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/url-protocol-handler/index.md
Due: remark -q

Update src/lib/components/Search/index.js
  src/lib/components/Search/index.js
Due: eslint

Add manufacturer data filter to bluetooth article
  src/site/content/en/blog/bluetooth/index.md
Due: remark -q

Update
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Remove generic course tag
  src/site/_includes/course.njk
Due: none

ser aria-activedescendant on input instead of search results
  src/lib/components/Search/index.js
  src/lib/components/SearchResults/index.js
Due: eslint

ser aria-activedescendant on input instead of search results
  src/site/content/en/learn/css/css.11tydata.js
Due: eslint

Use tags from meta.yaml
  src/site/content/en/learn/css/css.11tydata.js
Due: eslint

hide course drawer search for now
  src/site/_includes/partials/navigation-drawer-course.njk
Due: none

Update
  src/site/content/en/secure/security-headers-cheat-sheet/index.md
Due: remark -q

Update .gitlocalize.yml
  .gitlocalize.yml
Due: none

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
