Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Update src/site/content/en/blog/introducing-libsquoosh/index.md
  src/site/content/en/blog/introducing-libsquoosh/index.md
Due: remark -q

Remove the need for seperate preview generators
  src/site/_data/patterns.js
  src/site/content/en/design-system/patterns-preview.njk
  src/site/content/en/design-system/variants-preview.njk
Due: eslint

Add key links section
  src/pattern-library/patterns/button/button.json
  src/site/content/en/design-system/patterns.njk
Due: none

Link new codelab (#5568)
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Add placeholder for theme switcher
  src/site/content/en/design-system/patterns.njk
Due: none

Improve sidebar links
  src/site/_includes/design-system.njk
  src/site/content/en/design-system/design-system.11tydata.json
Due: none

Moar article
  src/site/content/en/blog/storage-foundation/index.md
Due: remark -q

Add little hack to get the content rendering better
  src/site/_includes/design-system.njk
Due: none

Update images
  package-lock.json
  src/site/content/en/blog/compress-images-avif/happy_dog_20k.avif
  src/site/content/en/blog/compress-images-avif/happy_dog_20k.jpeg
  src/site/content/en/blog/compress-images-avif/index.md
Due: remark -q

fix: Typo in learn css grid section (#5567)
  src/site/content/en/learn/css/grid/index.md
Due: remark -q

change .my-element to my.class to match explanation (#5548)
  src/site/content/en/learn/css/selectors/index.md
Due: remark -q

Fix preview images
  src/site/content/en/blog/compress-images-avif/happy_dog_20k.avif
  src/site/content/en/blog/compress-images-avif/happy_dog_20k.jpeg
  src/site/content/en/blog/compress-images-avif/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/building-a-color-scheme/index.md
Due: remark -q

update lighthouse metric thresholds for LH8 (#5544)
  src/site/content/en/lighthouse-performance/first-contentful-paint/index.md
  src/site/content/en/lighthouse-performance/interactive/index.md
  src/site/content/en/lighthouse-performance/lighthouse-largest-contentful-paint/index.md
  src/site/content/en/lighthouse-performance/lighthouse-total-blocking-time/index.md
  src/site/content/en/lighthouse-performance/performance-scoring/index.md
  src/site/content/en/lighthouse-performance/speed-index/index.md
Due: remark -q

Increase stalebot timeout to 90 days
  .github/stale.yml
Due: none

Increase stalebot timeout to 90 days (#5573)
  .github/stale.yml
Due: none

docs(learn-css): correct unpacking of `flex: 1` (#5537)
  src/site/content/en/learn/css/flexbox/index.md
Due: remark -q

Delete src/site/content/en/blog/browser-flags directory
  src/site/content/en/blog/browser-flags/index.md
Due: remark -q

Typo
  src/site/_data/patterns.js
Due: eslint

Added both reporting articles
  package-lock.json
  src/site/_data/tagsData.json
  src/site/content/en/blog/reporting-api-migration/index.md
  src/site/content/en/blog/reporting-api/index.md
Due: remark -q

Remove patterns collection that is no longer needed
  src/site/_collections/patterns.js
Due: eslint

Tweak path resolution and add ts-ignore
  src/site/_data/patterns.js
Due: eslint

Style changes
  src/site/_data/patterns.js
Due: eslint

Add libSquoosh announcement article (#5507)
  src/site/content/en/blog/introducing-libsquoosh/index.md
Due: remark -q

Update src/site/content/en/blog/compress-images-avif/index.md
  src/site/content/en/blog/compress-images-avif/index.md
Due: remark -q

Warn when pattern file can't be found
  src/site/_data/patterns.js
Due: eslint

Add more helpful data parsing setup
  src/site/_data/patterns.js
Due: eslint

Simplify context data reference
  src/site/_data/patterns.js
Due: eslint

Code golf on pattern path lookup
  src/site/_data/patterns.js
Due: eslint

Code golf on pattern name generator
  src/site/_data/patterns.js
Due: eslint

implement course search results according to the design (#5339)
  src/lib/components/CourseSearchResults/index.js
  src/lib/components/Search/index.js
  src/lib/components/SearchResults/index.js
  src/lib/pages/course.js
  src/site/_includes/partials/navigation-drawer-course.njk
  src/styles/components/_all.scss
  src/styles/components/_course-search-results.scss
  src/styles/components/_drawer-course.scss
Due: eslint, sass-lint -v -q"

Content edit of image cdn outro
  src/site/content/en/fast/image-cdns/index.md
Due: remark -q

New Post: CSS `size-adjust` (#5523)
  src/site/content/en/blog/css-size-adjust/index.md
Due: remark -q

Apply Rob's basecard fix
  src/site/_includes/components/BaseCard.js
Due: eslint

adds proper youtube embed
  src/site/content/en/blog/building-a-color-scheme/index.md
Due: remark -q

updating date to publish date
  src/site/content/en/blog/css-size-adjust/index.md
Due: remark -q

Delete src/site/content/en/blog/browser-flags directory (#5575)
  src/site/content/en/blog/browser-flags/index.md
Due: remark -q

Design System/Pattern Library prototype (#5569)
  .eleventy.js
  package-lock.json
  package.json
  src/lib/components/FrameSizer/index.js
  src/lib/pages/design-system.js
  src/pattern-library/patterns/button/button.json
  src/pattern-library/patterns/button/button.md
  src/pattern-library/patterns/button/button.njk
  src/pattern-library/patterns/button/variants/button-secondary/button-secondary.json
  src/pattern-library/patterns/button/variants/button-secondary/button-secondary.njk
  src/pattern-library/patterns/toggle-switch/toggle-switch.json
  src/pattern-library/patterns/toggle-switch/toggle-switch.md
  src/pattern-library/patterns/toggle-switch/toggle-switch.njk
  src/site/_data/patterns.js
  src/site/_filters/md.js
  src/site/_includes/components/BaseCard.js
  src/site/_includes/design-system.njk
  src/site/content/en/design-system/colors.njk
  src/site/content/en/design-system/design-system.11tydata.json
  src/site/content/en/design-system/patterns-preview.njk
  src/site/content/en/design-system/patterns.njk
  src/site/content/en/design-system/typography.njk
  src/site/content/en/design-system/welcome.njk
  src/styles/_prototype.scss
  src/styles/main.scss
Due: eslint, sass-lint -v -q", remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
