Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Changes based on review
  src/site/content/en/secure/fixing-mixed-content/index.md
Due: remark -q

Update src/site/content/en/secure/what-is-mixed-content/index.md
  src/site/content/en/secure/what-is-mixed-content/index.md
Due: remark -q

Changes from review
  src/site/content/en/secure/what-is-mixed-content/index.md
Due: remark -q

resized images
  src/site/content/en/secure/what-is-mixed-content/active-mixed-content.jpg
  src/site/content/en/secure/what-is-mixed-content/passive-mixed-content.jpg
Due: none

Revive Notification Triggers
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

Update src/site/content/en/blog/notification-triggers/index.md
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

Initial commit
  src/site/content/en/blog/file-handling/context-menu.png
  src/site/content/en/blog/file-handling/finder.png
  src/site/content/en/blog/file-handling/hero.jpg
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

Update src/site/content/en/progressive-web-apps/offline-fallback-page/index.md
  src/site/content/en/progressive-web-apps/offline-fallback-page/index.md
Due: remark -q

Add offline fallback page article (#3862)
  src/site/_data/paths/progressive-web-apps.json
  src/site/content/en/progressive-web-apps/offline-fallback-page/assistant.jpg
  src/site/content/en/progressive-web-apps/offline-fallback-page/chrome-ios.png
  src/site/content/en/progressive-web-apps/offline-fallback-page/chrome.png
  src/site/content/en/progressive-web-apps/offline-fallback-page/index.md
  src/site/content/en/progressive-web-apps/offline-fallback-page/slack.jpg
  src/site/content/en/progressive-web-apps/offline-fallback-page/trivago.png
  src/site/content/en/progressive-web-apps/offline-fallback-page/zoom.jpg
Due: remark -q

Add images to fast playback article.
  src/site/content/en/media/fast-playback-with-preload/index.md
  src/site/content/en/media/fast-playback-with-preload/link-preload.svg
  src/site/content/en/media/fast-playback-with-preload/video-preload.svg
Due: remark -q

Fix markdown.
  src/site/content/en/media/fast-playback-with-preload/index.md
Due: remark -q

Fix links.
  src/site/content/en/blog/change-password-url/index.md
  src/site/content/en/blog/next-gen-css-2019/index.md
  src/site/content/en/media/containers-and-codecs/index.md
  src/site/content/en/media/media-application-basics/index.md
  src/site/content/en/media/media-cheat-sheet/index.md
Due: remark -q

Update date
  src/site/content/en/mini-apps/index.njk
  src/site/content/en/mini-apps/mini-app-components/index.md
  src/site/content/en/mini-apps/mini-app-devtools/index.md
  src/site/content/en/mini-apps/mini-app-markup-styling-and-scripting/index.md
  src/site/content/en/mini-apps/mini-app-open-source-projects/index.md
  src/site/content/en/mini-apps/mini-app-standardization/index.md
  src/site/content/en/mini-apps/other-mini-app-platforms/index.md
  src/site/content/en/mini-apps/project-structure-lifecycle-and-bundling/index.md
  src/site/content/en/mini-apps/what-are-h5-and-quickapp/index.md
  src/site/content/en/mini-apps/what-are-mini-apps/index.md
  src/site/content/en/mini-apps/what-are-super-apps/index.md
Due: remark -q

Uncommit
  src/site/content/en/blog/file-handling/context-menu.png
  src/site/content/en/blog/file-handling/finder.png
  src/site/content/en/blog/file-handling/hero.jpg
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

Remove self-referencing tag from content
  src/site/content/en/metrics/index.njk
  src/site/content/en/notifications/index.njk
  src/site/content/en/payments/index.njk
  src/site/content/en/progressive-web-apps/index.njk
Due: none

Remove duplciate feedback forms from /vitals
  src/site/content/en/vitals/index.md
Due: remark -q

Remove self-referencing tag from content (#3940)
  src/site/content/en/metrics/index.njk
  src/site/content/en/notifications/index.njk
  src/site/content/en/payments/index.njk
  src/site/content/en/progressive-web-apps/index.njk
Due: none

Update titles of SXG articles
  src/site/content/en/blog/how-to-distribute-signed-http-exchanges/index.md
  src/site/content/en/blog/how-to-set-up-signed-http-exchanges/index.md
Due: remark -q

Add the Goibibo case study
  src/site/_data/tagsData.json
  src/site/content/_redirects.yaml
  src/site/content/en/blog/goibibo-case-study/conversions.png
  src/site/content/en/blog/goibibo-case-study/funnel.png
  src/site/content/en/blog/goibibo-case-study/index.md
  src/site/content/en/blog/goibibo-case-study/logins.png
  src/site/content/en/blog/goibibo-case-study/mobile.png
  src/site/content/en/blog/goibibo-case-study/seamless.png
  src/site/content/en/blog/goibibo-case-study/web-share.png
Due: remark -q

Add placeholder scale-on-web placeholder.
  src/images/tags/scale-on-web.svg
  src/site/_data/tagsData.json
  src/site/content/en/tags/individual.njk
  src/styles/pages/_tags.scss
Due: sass-lint -v -q"

Add logo. Hide hero option.
  src/images/tags/scale-on-web.svg
  src/site/_data/tagsData.json
  src/site/content/en/tags/individual.njk
Due: none

Reformat and update content
  src/site/_data/tagsData.json
  src/site/content/en/blog/goibibo-case-study/index.md
  src/site/content/en/blog/goibibo-case-study/mobile.png
Due: remark -q

Add camera PTZ article (#3923)
  src/site/content/en/blog/fugu-status/index.md
  src/site/content/en/blog/ptz/camera-ptz-user-prompt.jpg
  src/site/content/en/blog/ptz/hero.jpg
  src/site/content/en/blog/ptz/index.md
  src/site/content/en/blog/ptz/media-internals-page.jpg
  src/site/content/en/blog/ptz/thumbnail.jpg
Due: remark -q

update scale on web stuff
  src/site/_data/tagsData.json
  src/site/content/en/blog/goibibo-case-study/index.md
Due: remark -q

move to web.dev/goibibo
  src/site/content/en/blog/goibibo/conversions.png
  src/site/content/en/blog/goibibo/funnel.png
  src/site/content/en/blog/goibibo/index.md
  src/site/content/en/blog/goibibo/logins.png
  src/site/content/en/blog/goibibo/mobile.png
  src/site/content/en/blog/goibibo/seamless.png
  src/site/content/en/blog/goibibo/web-share.png
Due: remark -q

remove redirect
  src/site/content/_redirects.yaml
Due: none

Respect screenshot image widths from markup
  src/styles/components/_images.scss
Due: sass-lint -v -q"

Preserve centering via margin, add comment note
  src/styles/components/_images.scss
Due: sass-lint -v -q"

lint fix
  src/styles/components/_images.scss
Due: sass-lint -v -q"

Detached Windows article
  src/site/content/en/blog/detached-window-memory-leaks/heap-snapshot.png
  src/site/content/en/blog/detached-window-memory-leaks/hero.jpg
  src/site/content/en/blog/detached-window-memory-leaks/index.md
  src/site/content/en/blog/detached-window-memory-leaks/performance-memory.png
Due: remark -q

lint
  src/site/content/en/blog/detached-window-memory-leaks/index.md
Due: remark -q

fallback for paths
  src/site/_filters/get-paths.js
  src/site/_includes/codelab.njk
Due: eslint
