Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Upgrade web-vitals to 3.0.4
  package-lock.json
  package.json
Due: none

Fixing typos
  src/site/content/en/learn/html/document-structure/index.md
  src/site/content/en/learn/html/headings-and-sections/headings-and-sections.assess.yml
Due: remark -q

Fix: Broken Links (#8974)
  src/site/content/en/blog/web-platform-10-2022/index.md
Due: remark -q

Migrating Eyedropper API to developer.chrome.com (#8978)
  redirects.yaml
  src/site/content/en/blog/eyedropper/index.md
Due: remark -q

Fixing typos (#8992)
  src/site/content/en/learn/html/document-structure/index.md
  src/site/content/en/learn/html/headings-and-sections/headings-and-sections.assess.yml
Due: remark -q

fixed typo (#8987)
  src/site/content/ru/metrics/lcp/index.md
Due: remark -q

Fix typo in code snippet (#8946)
  src/site/content/en/learn/pwa/enhancements/index.md
Due: remark -q

Add media session pattern
  src/site/content/en/patterns/media/media-session/assets/body.html
  src/site/content/en/patterns/media/media-session/assets/script.js
  src/site/content/en/patterns/media/media-session/assets/style.css
  src/site/content/en/patterns/media/media-session/demo.njk
  src/site/content/en/patterns/media/media-session/index.md
Due: eslint, remark -q

Apply suggestions from code review
  src/site/content/en/patterns/media/media-session/assets/body.html
  src/site/content/en/patterns/media/media-session/demo.njk
  src/site/content/en/patterns/media/media-session/index.md
Due: remark -q

Update src/site/content/en/patterns/media/media-session/demo.njk
  src/site/content/en/patterns/media/media-session/demo.njk
Due: none

Update src/site/content/en/patterns/media/media-session/assets/script.js
  src/site/content/en/patterns/media/media-session/assets/script.js
Due: eslint

Update src/site/content/en/patterns/media/media-session/index.md
  src/site/content/en/patterns/media/media-session/index.md
Due: remark -q

[OPFS article] Reflect what is currently implemented (#8984)
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

[How to? pattern articles] Add media session article (#8993)
  src/site/content/en/patterns/media/media-session/assets/body.html
  src/site/content/en/patterns/media/media-session/assets/script.js
  src/site/content/en/patterns/media/media-session/assets/style.css
  src/site/content/en/patterns/media/media-session/demo.njk
  src/site/content/en/patterns/media/media-session/index.md
Due: eslint, remark -q

Upgrade web-vitals to 3.0.4 (#8991)
  package-lock.json
  package.json
Due: none

feat: speedy css tip gradient text post
  src/site/content/en/blog/speedy-css-tip-animated-gradient-text/index.md
  src/site/content/en/blog/speedy-css-tip-animated-loader/index.md
Due: remark -q

Add New patterns for media apps blog post
  src/site/content/en/blog/new-patterns-for-media-apps/index.md
Due: remark -q

I → We
  src/site/content/en/blog/new-patterns-for-media-apps/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/new-patterns-for-media-apps/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/new-patterns-for-media-apps/index.md
Due: remark -q

Update src/site/content/en/blog/new-patterns-for-media-apps/index.md
  src/site/content/en/blog/new-patterns-for-media-apps/index.md
Due: remark -q

Add New patterns for media apps blog post (#8996)
  src/site/content/en/blog/new-patterns-for-media-apps/index.md
Due: remark -q

Update src/site/content/en/learn/accessibility/structure/index.md
  src/site/content/en/learn/accessibility/structure/index.md
Due: remark -q

Learn Accessibility: add designed headings example (#8986)
  src/site/content/en/learn/accessibility/structure/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/metrics/inp/index.md
Due: remark -q

Update src/site/content/en/blog/speedy-css-tip-animated-gradient-text/index.md
  src/site/content/en/blog/speedy-css-tip-animated-gradient-text/index.md
Due: remark -q

feat: speedy css tip gradient text post (#8995)
  src/site/content/en/blog/speedy-css-tip-animated-gradient-text/index.md
  src/site/content/en/blog/speedy-css-tip-animated-loader/index.md
Due: remark -q

Update src/site/content/en/learn/accessibility/typography/index.md
  src/site/content/en/learn/accessibility/typography/index.md
Due: remark -q

Punctuation is cool.
  src/site/content/en/blog/new-patterns-for-media-apps/index.md
Due: remark -q

Punctuation is cool. (#8997)
  src/site/content/en/blog/new-patterns-for-media-apps/index.md
Due: remark -q

API migration batch 1 (#8980)
  redirects.yaml
  src/site/content/en/blog/bluetooth/index.md
  src/site/content/en/blog/periodic-background-sync/index.md
  src/site/content/en/blog/usb/index.md
Due: remark -q

learn/accessibility/typography Directly link Google Fonts (#8981)
  src/site/content/en/learn/accessibility/typography/index.md
Due: remark -q

Handle page views for prerendering
  src/lib/analytics.js
  src/site/_includes/partials/analytics.njk
Due: eslint

Linting
  src/lib/analytics.js
Due: eslint

Add another check
  src/lib/analytics.js
Due: eslint

Fix event
  src/lib/analytics.js
Due: eslint

Move navigation type within "if"
  src/site/_includes/partials/analytics.njk
Due: none
