Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Fix merge conflict.
  src/site/_includes/layout.njk
Due: none

Get prettier and eslint working. Start migrating elements.
  .eslintrc.js
  .prettierrc.js
  _tsconfig.json
  package-lock.json
  package.json
  src/lib/components/BaseElement.js
  src/lib/components/ProfileSwitcher.js
  src/lib/components/ProfileSwitcherContainer.js
  src/lib/components/ProgressBar/_styles.scss
  src/lib/components/ProgressBar/index.js
Due: eslint, sass-lint -v -q"

Cleaning up elements a tad.
  .eslintrc.js
  _tsconfig.json
  karma.conf.js
  lib/README.md
  lib/deps/fsp.js
  lib/deps/spawn.js
  lib/index.js
  lib/templates.js
  package-lock.json
  package.json
  rollup.config.js
  src/lib/app.js
  src/lib/components/BaseElement/index.js
  src/lib/components/ProfileSwitcher/_styles.scss
  src/lib/components/ProfileSwitcher/index.js
  src/lib/components/ProfileSwitcherContainer/index.js
  src/lib/components/ProgressBar/_styles.scss
  src/lib/components/ProgressBar/index.js
  src/lib/components/ProgressBar/test.js
  src/lib/components/SparklineChart/_styles.scss
  src/lib/components/SparklineChart/index.js
  src/lib/components/_all.scss
  src/lib/fb.js
  src/lib/router.js
  src/lib/store.js
  src/lib/test/assert.js
  src/lib/test/index.js
  src/site/content/en/test/index.njk
  src/styles/all.scss
  src/styles/components/_all.scss
Due: eslint, sass-lint -v -q", remark -q

V2+dart sass (#1196)
  package-lock.json
  package.json
Due: none

basic Firestore use (#1198)
  src/lib/fb.js
  src/lib/store.js
Due: eslint

gauge demo (#1210)
  src/lib/app.js
  src/lib/components/LighthouseScoresAudits/_styles.scss
  src/lib/components/LighthouseScoresAudits/index.js
  src/lib/components/LighthouseScoresAudits/lighthouse.js
  src/lib/components/LighthouseScoresAudits/mapping.js
  src/lib/components/_all.scss
  src/site/content/en/measure/index.njk
Due: eslint, sass-lint -v -q"

demo JSON
  src/lib/components/LighthouseScoresAudits/demo.js
  src/lib/components/LighthouseScoresAudits/index.js
Due: eslint

gauge demo (#1210)
  src/lib/app.js
  src/lib/components/LighthouseGauge/_styles.scss
  src/lib/components/LighthouseGauge/index.js
  src/lib/components/_all.scss
  src/site/content/en/measure/index.njk
Due: eslint, sass-lint -v -q"

add global class to page (#1197)
  src/lib/app.js
Due: eslint

add web-url-chooser{,-container} to choose audit URL (#1202)
  src/lib/app.js
  src/lib/components/UrlChooser/_styles.scss
  src/lib/components/UrlChooser/index.js
  src/lib/components/UrlChooserContainer/index.js
  src/lib/components/_all.scss
  src/lib/fb.js
  src/lib/store.js
  src/site/content/en/measure/index.njk
Due: eslint, sass-lint -v -q"

style fix
  src/lib/app.js
Due: eslint

remove demo LHR data
  src/lib/components/LighthouseScoresAudits/demo.js
  src/lib/components/LighthouseScoresAudits/index.js
Due: eslint

review comments
  src/lib/components/LighthouseScoresAudits/_styles.scss
  src/lib/components/LighthouseScoresAudits/index.js
  src/lib/components/LighthouseScoresAudits/lighthouse.js
  src/lib/components/LighthouseScoresAudits/mapping.js
Due: eslint, sass-lint -v -q"

sparkline size fixes
  src/lib/components/SparklineChart/_styles.scss
  src/lib/components/SparklineChart/index.js
  src/site/content/en/measure/index.njk
Due: eslint, sass-lint -v -q"

Sparkline fixes
  src/lib/components/SparklineChart/_styles.scss
  src/lib/components/SparklineChart/index.js
  src/lib/components/SparklineChart/medians.js
  src/site/content/en/measure/index.njk
Due: eslint, sass-lint -v -q"

Add style fixes.
  src/lib/components/UrlChooser/_styles.scss
Due: sass-lint -v -q"

cleanup arrow key behavior
  src/lib/components/SparklineChart/index.js
Due: eslint

feedback
  src/lib/components/SparklineChart/_styles.scss
  src/lib/components/SparklineChart/index.js
Due: eslint, sass-lint -v -q"

remove unused medians js
  src/lib/components/SparklineChart/medians.js
Due: eslint

attributed TODO
  src/lib/components/SparklineChart/index.js
Due: eslint

attempt to make Travis happy (#1256)
  package.json
  src/lib/components/LighthouseScoresContainer/index.js
Due: eslint

Wires up controller for v2 (#1255)
  src/lib/actions.js
  src/lib/app.js
  src/lib/components/LighthouseScoresAudits/index.js
  src/lib/components/LighthouseScoresContainer/index.js
  src/lib/components/LighthouseScoresMeta/_styles.scss
  src/lib/components/LighthouseScoresMeta/index.js
  src/lib/components/LighthouseScoresStats/index.js
  src/lib/components/SparklineChart/index.js
  src/lib/components/UrlChooser/index.js
  src/lib/components/UrlChooserContainer/index.js
  src/lib/components/_all.scss
  src/lib/fb.js
  src/lib/lighthouse-service.js
  src/lib/store.js
  src/site/content/en/measure/index.njk
Due: eslint, sass-lint -v -q"

lighthouse-scores-stats element (#1217)
  src/lib/app.js
  src/lib/components/LighthouseScoresAudits/index.js
  src/lib/components/LighthouseScoresContainer/index.js
  src/lib/components/LighthouseScoresMetrics/_styles.scss
  src/lib/components/LighthouseScoresMetrics/index.js
  src/lib/components/LighthouseScoresStats/_styles.scss
  src/lib/components/LighthouseScoresStats/index.js
  src/lib/components/_all.scss
  src/lib/lighthouse/index.js
  src/lib/lighthouse/mapping.js
  src/site/content/en/measure/index.njk
Due: eslint, sass-lint -v -q"

fix naming of Medians (#1310)
  src/lib/components/SparklineChart/index.js
Due: eslint

move state subscription to connected/disconnected (#1311)
  src/lib/components/ProfileSwitcherContainer/index.js
  src/lib/components/UrlChooserContainer/index.js
Due: eslint

Migrate web-codelab element. (#1383)
  src/lib/app.js
  src/lib/components/Codelab/_styles.scss
  src/lib/components/Codelab/index.js
  src/lib/components/_all.scss
  src/site/_drafts/_template-codelab/index.md
  src/site/_includes/codelab.njk
  src/styles/pages/_codelab.scss
Due: eslint, sass-lint -v -q", remark -q

Add tag overrides. (#1419)
  src/site/content/en/accessible/index.njk
  src/site/content/en/angular/index.njk
  src/site/content/en/discoverable/index.njk
  src/site/content/en/fast/index.njk
  src/site/content/en/handbook/handbook.11tydata.js
  src/site/content/en/installable/index.njk
  src/site/content/en/lighthouse-accessibility/index.njk
  src/site/content/en/lighthouse-best-practices/index.njk
  src/site/content/en/lighthouse-performance/index.njk
  src/site/content/en/lighthouse-pwa/index.njk
  src/site/content/en/lighthouse-seo/index.njk
  src/site/content/en/react/index.njk
  src/site/content/en/reliable/index.njk
  src/site/content/en/secure/index.njk
Due: eslint

watch scss for changes (#1425)
  package.json
Due: none

Improve build time. (#1443)
  package.json
  rollup.config.js
  src/lib/app.js
Due: eslint

add node-sass, make optional (#1447)
  package-lock.json
  package.json
  sass.sh
Due: none

fix invalid var name for signed out case (#1444)
  src/lib/actions.js
Due: eslint

Responsive side nav (#1465)
  package-lock.json
  package.json
  rollup.config.js
  src/lib/actions.js
  src/lib/app.js
  src/lib/components/Header/_styles.scss
  src/lib/components/Header/index.js
  src/lib/components/SideNav/_styles.scss
  src/lib/components/SideNav/index.js
  src/lib/components/_all.scss
  src/lib/store.js
  src/site/_includes/layout.njk
  src/styles/components/_actions.scss
  src/styles/generic/_all.scss
  src/styles/generic/_main.scss
  src/styles/generic/_shared.scss
Due: eslint, sass-lint -v -q"

Generate Algolia-compatible index, index all at once (#1499)
  .eleventy.js
  package-lock.json
  package.json
  release.js
  src/site/_collections/algolia-posts.js
  src/site/content/en/algolia.njk
Due: eslint

basic Analytics updates (#1496)
  src/lib/analytics.js
  src/lib/app.js
  src/lib/router.js
  src/site/_includes/layout.njk
Due: eslint

Add w-footer. (#1541)
  sass.sh
  src/site/_includes/layout.njk
  src/site/_includes/partials/footer.njk
  src/site/content/en/images/lockup-color.png
  src/styles/components/_all.scss
  src/styles/components/_footer.scss
  src/styles/generic/_main.scss
Due: sass-lint -v -q"

V2 snackbar (#1552)
  src/lib/actions.js
  src/lib/app.js
  src/lib/components/Snackbar/_styles.scss
  src/lib/components/Snackbar/index.js
  src/lib/components/SnackbarContainer/_styles.scss
  src/lib/components/SnackbarContainer/index.js
  src/lib/components/_all.scss
  src/lib/store.js
  src/site/_includes/layout.njk
  src/styles/components/_buttons.scss
Due: eslint, sass-lint -v -q"

add compile-css script which runs autoprefixer (#1549)
  compile-css.js
  package-lock.json
  package.json
  sass.sh
Due: eslint

add custom Firebase loader (#1548)
  package-lock.json
  package.json
  src/lib/fb.js
  src/lib/firestore-loader.js
  src/site/_includes/layout.njk
Due: eslint

include the webcomponents polyfill (#1547)
  gulpfile.js
  package-lock.json
  package.json
  rollup.config.js
  src/lib/bootstrap-config.js
  src/lib/bootstrap.js
  src/site/_includes/layout.njk
Due: eslint

add manifest (#1585)
  gulpfile.js
  src/images/icon-128x128.png
  src/images/icon-144x144.png
  src/images/icon-152x152.png
  src/images/icon-192x192.png
  src/images/icon-384x384.png
  src/images/icon-512x512.png
  src/images/icon-72x72.png
  src/images/icon-96x96.png
  src/misc/manifest.webmanifest
  src/site/_includes/layout.njk
Due: eslint

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
