Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

fix indentation
  src/site/content/en/secure/clean-and-maintain-your-site/index.md
Due: remark -q

Add kbalasub to author's file. (#7442)
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
Due: none

Rearrange devDeps and deps
  .cloudbuild/deploy.yaml
  .cloudbuild/version-check.yaml
  package-lock.json
  package.json
Due: none

Add double quotes to rel=preconnect occurrences
  src/site/content/en/lighthouse-performance/uses-rel-preconnect/index.md
Due: remark -q

fixing indentation issues
  src/site/content/en/secure/clean-and-maintain-your-site/index.md
  src/site/content/en/secure/hacked-with-malware/index.md
  src/site/content/en/secure/request-a-review/index.md
Due: remark -q

Remove Duplicate Self-Assessment
  src/site/content/ko/accessible/labels-and-text-alternatives/index.md
Due: remark -q

Update Compat component to filter against stable browsers
  src/site/_includes/components/BrowserCompat.js
Due: eslint

Migrating the guide to hacked sites from WebFu (#7443)
  src/site/_data/i18n/paths/secure.yml
  src/site/_data/paths/secure.json
  src/site/content/en/secure/assess-spam-damage/index.md
  src/site/content/en/secure/build-a-support-team/index.md
  src/site/content/en/secure/clean-and-maintain-your-site/index.md
  src/site/content/en/secure/faq-for-hacked-sites/index.md
  src/site/content/en/secure/fixing-the-cloaked-keywords-hack/index.md
  src/site/content/en/secure/fixing-the-gibberish-hack/index.md
  src/site/content/en/secure/fixing-the-japanese-keyword-hack/index.md
  src/site/content/en/secure/glossary-for-hacked-sites/index.md
  src/site/content/en/secure/hacked-with-malware/index.md
  src/site/content/en/secure/hacked/index.md
  src/site/content/en/secure/how-do-i-know-if-my-site-was-hacked/index.md
  src/site/content/en/secure/identify-the-vulnerability/index.md
  src/site/content/en/secure/quarantine-your-site/index.md
  src/site/content/en/secure/request-a-review/index.md
  src/site/content/en/secure/top-ways-sites-get-hacked-by-spammers/index.md
  src/site/content/en/secure/use-search-console/index.md
Due: remark -q

fix incorrect image
  src/site/content/en/blog/interop-2022/index.md
Due: remark -q

Add double quotes to rel=preconnect occurrences (#7446)
  src/site/content/en/lighthouse-performance/uses-rel-preconnect/index.md
Due: remark -q

fix incorrect image (#7456)
  src/site/content/en/blog/interop-2022/index.md
Due: remark -q

WebFundamentals Descritption to Web.dev
  src/site/_data/i18n/authors.yml
Due: none

MigratingAuthors (#7429)
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
Due: none

Batch1
  src/site/content/en/blog/enabling-https-on-your-servers/index.md
  src/site/content/en/blog/indexeddb-best-practices/index.md
  src/site/content/en/blog/registering-a-custom-protocol-handler/index.md
  src/site/content/en/blog/the-amazing-powers-of-css/index.md
  src/site/content/en/blog/what-s-the-CSS-scope-pseudo-class-for/index.md
Due: remark -q

Batch2
  src/site/content/en/blog/command-click-to-add-multiple-cursors-in-the-sources-panel/index.md
  src/site/content/en/blog/introduction-to-fetch/index.md
  src/site/content/en/blog/loading-wasm/index.md
  src/site/content/en/blog/webauthn-credential-management/index.md
  src/site/content/en/blog/webcomponents-org/index.md
Due: remark -q

Batch3
  src/site/content/en/blog/a11y-for-teams/index.md
  src/site/content/en/blog/embind/index.md
  src/site/content/en/blog/wasm-av1/index.md
  src/site/content/en/blog/wasm-threads/index.md
  src/site/content/en/blog/web-performance-made-easy/index.md
Due: remark -q

WIP
  src/site/_transforms/minify-html.js
Due: eslint

add utm_source to security link
  src/site/content/en/lighthouse-best-practices/no-vulnerable-libraries/index.md
Due: remark -q

Filter against 'current' or 'retired' browser releases
  src/site/_includes/components/BrowserCompat.js
Due: eslint

translation: add pt-BR translation to learn css inheritance
  src/site/content/pt/learn/css/inheritance/conclusion.assess.yml
  src/site/content/pt/learn/css/inheritance/index.md
Due: remark -q

Updates the language in the aside in the responiveness metric doc.
  src/site/content/en/blog/responsiveness/index.md
Due: remark -q

Tweaks language a bit more with suggestions from @philipwalton and @powdercloud.
  src/site/content/en/blog/responsiveness/index.md
Due: remark -q

Cleanup styles and arrows
  src/site/content/de/blog/samesite-cookies-explained/index.md
  src/site/content/en/blog/samesite-cookies-explained/index.md
  src/site/content/es/blog/samesite-cookies-explained/index.md
  src/site/content/fr/blog/samesite-cookies-explained/index.md
  src/site/content/ja/blog/samesite-cookies-explained/index.md
  src/site/content/ko/blog/samesite-cookies-explained/index.md
  src/site/content/pt/blog/samesite-cookies-explained/index.md
  src/site/content/ru/blog/samesite-cookies-explained/index.md
  src/site/content/zh/blog/samesite-cookies-explained/index.md
Due: remark -q

Minor language tweak.
  src/site/content/en/blog/responsiveness/index.md
Due: remark -q

Fix errors in the SO translation
  src/site/_data/i18n/stackoverflow.yml
Due: none

Cleanup styles and arrows (#7464)
  src/site/content/de/blog/samesite-cookies-explained/index.md
  src/site/content/en/blog/samesite-cookies-explained/index.md
  src/site/content/es/blog/samesite-cookies-explained/index.md
  src/site/content/fr/blog/samesite-cookies-explained/index.md
  src/site/content/ja/blog/samesite-cookies-explained/index.md
  src/site/content/ko/blog/samesite-cookies-explained/index.md
  src/site/content/pt/blog/samesite-cookies-explained/index.md
  src/site/content/ru/blog/samesite-cookies-explained/index.md
  src/site/content/zh/blog/samesite-cookies-explained/index.md
Due: remark -q

Updates the language in the aside in the responiveness metric doc. (#7463)
  src/site/content/en/blog/responsiveness/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/command-click-to-add-multiple-cursors-in-the-sources-panel/index.md
  src/site/content/en/blog/introduction-to-fetch/index.md
  src/site/content/en/blog/loading-wasm/index.md
  src/site/content/en/blog/webauthn-credential-management/index.md
  src/site/content/en/blog/webcomponents-org/index.md
Due: remark -q

Code Review Feedback
  src/site/content/en/blog/a11y-for-teams/index.md
  src/site/content/en/blog/embind/index.md
  src/site/content/en/blog/wasm-av1/index.md
Due: remark -q

Update assessment sams as original
  src/site/content/ko/accessible/labels-and-text-alternatives/index.md
Due: remark -q

Roll back scriptlist
  firebase-config.js
  src/site/_includes/partials/script-loader.njk
Due: eslint

Batch1 (#7457)
  src/site/content/en/blog/enabling-https-on-your-servers/index.md
  src/site/content/en/blog/indexeddb-best-practices/index.md
  src/site/content/en/blog/registering-a-custom-protocol-handler/index.md
  src/site/content/en/blog/the-amazing-powers-of-css/index.md
  src/site/content/en/blog/what-s-the-CSS-scope-pseudo-class-for/index.md
Due: remark -q

add noindex
  src/site/_includes/partials/head.njk
  src/site/_includes/partials/script-loader.njk
  src/site/content/en/patterns/example-set/example-pattern/demo.md
  src/site/content/en/patterns/example-set/example-pattern/index.md
  src/site/content/en/patterns/example-set/full-html-demo/demo.md
  src/site/content/en/patterns/example-set/full-html-demo/index.md
  src/site/content/en/patterns/example-set/graph/demo.md
  src/site/content/en/patterns/example-set/graph/index.md
  src/site/content/en/patterns/example-set/image-demo/demo.md
  src/site/content/en/patterns/example-set/image-demo/index.md
  src/site/content/en/patterns/example-set/index.md
Due: remark -q

Delete index.md
  src/site/content/en/blog/command-click-to-add-multiple-cursors-in-the-sources-panel/index.md
Due: remark -q

Batch4
  src/site/content/en/blog/dom-order-matters/index.md
  src/site/content/en/blog/emscripten-npm/index.md
  src/site/content/en/blog/focus/index.md
  src/site/content/en/blog/how-to-review/index.md
  src/site/content/en/blog/using-tabindex/index.md
Due: remark -q

update package-lock
  package-lock.json
Due: none

Updated Priority Hints article for Chrome 101 shipping
  src/site/content/en/fast/priority-hints/index.md
Due: remark -q

Added newline
  src/site/content/en/fast/priority-hints/index.md
Due: remark -q

Batch5
  src/site/content/en/blog/aria-labels-and-relationships/index.md
  src/site/content/en/blog/hiding-and-updating-content/index.md
  src/site/content/en/blog/navigating-content/index.md
  src/site/content/en/blog/semantics-aria/index.md
  src/site/content/en/blog/semantics-builtin/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
