Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Fix tabs overflow behavior
  src/lib/components/Tabs/_styles.scss
  src/lib/components/Tabs/index.js
  src/lib/utils/check-overflow.js
Due: eslint, sass-lint -v -q"

Finish removing AssessmentHint
  src/site/_includes/components/AssessmentHint.js
Due: eslint

Begin shift from shortcodes to json
  .eleventy.js
  src/lib/app.js
  src/lib/components/Assessment/_styles.scss
  src/lib/components/Assessment/index.js
  src/lib/components/AssessmentQuestion/_styles.scss
  src/lib/components/AssessmentQuestion/index.js
  src/site/_includes/components/AssessmentCallout.js
  src/site/_includes/components/AssessmentQuestion.js
  src/site/_includes/components/AssessmentResponse.js
  src/site/_includes/components/Option.js
  src/site/_includes/components/ResponseMultipleChoice.js
  src/site/_includes/components/Tab.js
  src/site/_includes/components/Tabs.js
  src/site/_includes/partials/self-assessment-question.njk
  src/site/_includes/partials/self-assessment.njk
Due: eslint, sass-lint -v -q"

Add height param
  src/lib/components/Assessment/_styles.scss
  src/lib/components/Assessment/index.js
  src/site/_includes/partials/self-assessment.njk
Due: eslint, sass-lint -v -q"

Update existing TAC sets
  src/site/content/en/accessible/control-focus-with-tabindex/control-focus-with-tabindex.11tydata.js
  src/site/content/en/accessible/control-focus-with-tabindex/index.md
  src/site/content/en/accessible/labels-and-text-alternatives/index.md
  src/site/content/en/accessible/labels-and-text-alternatives/labels-and-text-alternatives.11tydata.js
  src/site/content/en/accessible/use-semantic-html/index.md
  src/site/content/en/accessible/use-semantic-html/use-semantic-html.11tydata.js
  src/site/content/en/secure/same-origin-policy/index.md
  src/site/content/en/secure/same-origin-policy/same-origin-policy.11tydata.js
Due: eslint, remark -q

Add support for singleton items
  src/lib/components/Assessment/_styles.scss
  src/lib/components/Assessment/index.js
  src/lib/components/AssessmentQuestion/_styles.scss
  src/lib/components/Tabs/_styles.scss
  src/site/_includes/partials/self-assessment.njk
  src/styles/components/_callouts.scss
Due: eslint, sass-lint -v -q"

Improve code semantics
  src/lib/components/Assessment/_styles.scss
  src/lib/components/Assessment/index.js
  src/site/_includes/partials/self-assessment.njk
  src/site/content/en/accessible/control-focus-with-tabindex/control-focus-with-tabindex.11tydata.js
  src/site/content/en/accessible/labels-and-text-alternatives/labels-and-text-alternatives.11tydata.js
  src/site/content/en/accessible/use-semantic-html/use-semantic-html.11tydata.js
  src/site/content/en/secure/same-origin-policy/same-origin-policy.11tydata.js
Due: eslint, sass-lint -v -q"

Create BaseResponseElement
  src/lib/components/BaseResponseElement/_styles.scss
  src/lib/components/BaseResponseElement/index.js
  src/lib/components/ResponseMultipleChoice/_styles.scss
  src/lib/components/ResponseMultipleChoice/index.js
  src/lib/components/ResponseThinkAndCheck/index.js
  src/lib/components/SelectGroup/_styles.scss
  src/lib/components/SelectGroup/index.js
  src/site/_includes/components/AssessmentResponse.js
  src/site/_includes/partials/self-assessment-question.njk
Due: eslint, sass-lint -v -q"

Fix Check btn initial state bug
  src/lib/components/AssessmentQuestion/index.js
Due: eslint

First drafts of sample set and doc
  src/site/content/en/handbook/self-assessment-components/index.md
  src/site/content/en/handbook/self-assessment-components/self-assessment-components.11tydata.js
Due: eslint, remark -q

Support blocks in stimulus and rationale
  .eleventy.js
  src/site/_includes/components/Block.js
  src/site/_includes/partials/self-assessment-question.njk
  src/site/content/en/accessible/control-focus-with-tabindex/control-focus-with-tabindex.11tydata.js
  src/site/content/en/accessible/labels-and-text-alternatives/labels-and-text-alternatives.11tydata.js
  src/site/content/en/accessible/use-semantic-html/use-semantic-html.11tydata.js
  src/site/content/en/handbook/self-assessment-components/self-assessment-components.11tydata.js
  src/site/content/en/secure/same-origin-policy/same-origin-policy.11tydata.js
Due: eslint

Fix rationale content styling
  src/lib/components/BaseResponseElement/_styles.scss
Due: sass-lint -v -q"

Add custom scrollbars to code blocks
  src/styles/generic/_code.scss
Due: sass-lint -v -q"

Support composite questions
  src/site/_includes/content/self-assessment.njk
  src/site/_includes/partials/self-assessment-question.njk
  src/site/_includes/partials/self-assessment.njk
  src/site/content/en/accessible/control-focus-with-tabindex/index.md
  src/site/content/en/accessible/labels-and-text-alternatives/index.md
  src/site/content/en/accessible/use-semantic-html/index.md
  src/site/content/en/handbook/self-assessment-components/index.md
  src/site/content/en/handbook/self-assessment-components/self-assessment-components.11tydata.js
  src/site/content/en/handbook/self-assessment-components/webby.png
  src/site/content/en/secure/same-origin-policy/index.md
Due: eslint, remark -q

Improve Tabs error handling
  src/lib/components/Tabs/index.js
Due: eslint

Improve documentation
  src/site/_drafts/_template-self-assessment/_template-self-assessment.11tydata.js
  src/site/_drafts/_template-self-assessment/bigbird.jpg
  src/site/_drafts/_template-self-assessment/cookiemonster.jpg
  src/site/_drafts/_template-self-assessment/elmo.jpg
  src/site/_drafts/_template-self-assessment/ernie.jpg
  src/site/_drafts/_template-self-assessment/grover.jpg
  src/site/_drafts/_template-self-assessment/index.md
  src/site/_drafts/_template-self-assessment/webby.png
  src/site/content/en/handbook/self-assessment-components/index.md
Due: eslint, remark -q

Simplify components
  src/lib/components/Assessment/index.js
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/ResponseThinkAndCheck/index.js
  src/lib/components/Tabs/index.js
  src/site/_includes/components/AssessmentResponse.js
Due: eslint

Refactor tooltip scss
  src/styles/components/_tooltips.scss
Due: sass-lint -v -q"

Add tooltip to CopyCode
  src/lib/components/CopyCode/index.js
Due: eslint

Allow users to deselect mc options
  src/lib/components/ResponseMultipleChoice/index.js
Due: eslint

Tidy Tabs js
  src/lib/components/Tabs/index.js
Due: eslint

Support multiple assessments per post
  src/site/_drafts/_template-self-assessment/index.md
  src/site/_includes/content/self-assessment.njk
  src/site/content/en/handbook/self-assessment-components/index.md
  src/site/content/en/handbook/self-assessment-components/self-assessment-components.11tydata.js
Due: eslint, remark -q

Multi-assessment cleanup
  src/site/_includes/content/self-assessment.njk
Due: none

Add alternative rendering strategy
  .eleventy.js
  src/lib/components/Assessment/index.js
  src/lib/components/BaseModalElement/_styles.scss
  src/site/_filters/md-block.js
  src/site/_includes/components/Assessment.js
  src/site/content/en/handbook/self-assessment-components/index.md
  src/site/content/en/handbook/self-assessment-components/self-assessment-2.assess.js
  src/site/content/en/handbook/self-assessment-components/self-assessment-components.11tydata.js
  src/site/content/en/handbook/self-assessment-components/self-assessment.assess.js
Due: eslint, sass-lint -v -q", remark -q

Add accessible name to SideNav close btn
  src/lib/components/SideNav/index.js
Due: eslint

Fix tab label bug
  src/lib/components/Tabs/index.js
Due: eslint

Fix stimulus bug in Assessment include
  src/site/_includes/content/self-assessment.njk
Due: none

Fix typo in markdown-block filter
  src/site/_filters/md-block.js
Due: eslint

Fix tooltip z-index bug
  src/styles/components/_tooltips.scss
Due: sass-lint -v -q"

Fix CopyCode accessible name
  src/lib/components/CopyCode/index.js
Due: eslint

Prevent Material icons from being spoken
  src/styles/components/_buttons.scss
Due: sass-lint -v -q"

Make Assessment component modal
  src/lib/components/Assessment/_styles.scss
  src/lib/components/Assessment/index.js
  src/lib/components/BaseModalElement/index.js
  src/lib/components/Tabs/_styles.scss
  src/lib/components/Tabs/index.js
  src/lib/utils/check-overflow.js
  src/lib/utils/handle-overflow.js
  src/site/_includes/components/Assessment.js
Due: eslint, sass-lint -v -q"

Adjust Assessment viewport width listening
  src/lib/components/Assessment/index.js
  src/styles/tools/_breakpoints.scss
Due: eslint, sass-lint -v -q"

Move Assessment CSS class to template
  src/lib/components/Assessment/index.js
  src/site/_includes/components/Assessment.js
  src/site/_includes/content/self-assessment.njk
Due: eslint

Remove old rendering approach
  .eleventy.js
  src/site/_drafts/_template-self-assessment/index.md
  src/site/_drafts/_template-self-assessment/self-assessment.assess.js
  src/site/_includes/components/Assessment.js
  src/site/_includes/components/AssessmentResponse.js
  src/site/_includes/components/Block.js
  src/site/_includes/content/self-assessment.njk
  src/site/content/en/accessible/control-focus-with-tabindex/index.md
  src/site/content/en/accessible/control-focus-with-tabindex/self-assessment.assess.js
  src/site/content/en/accessible/labels-and-text-alternatives/index.md
  src/site/content/en/accessible/labels-and-text-alternatives/self-assessment.assess.js
  src/site/content/en/accessible/use-semantic-html/index.md
  src/site/content/en/accessible/use-semantic-html/self-assessment.assess.js
  src/site/content/en/handbook/self-assessment-components/index.md
  src/site/content/en/handbook/self-assessment-components/self-assessment-components.11tydata.js
  src/site/content/en/secure/same-origin-policy/index.md
  src/site/content/en/secure/same-origin-policy/self-assessment.assess.js
Due: eslint, remark -q

Refactor Tabs component
  src/lib/components/Assessment/index.js
  src/lib/components/Tabs/index.js
Due: eslint

Improve tab reusability
  src/lib/components/Assessment/index.js
  src/lib/components/Tabs/_styles.scss
  src/lib/components/Tabs/index.js
  src/site/_includes/components/Assessment.js
Due: eslint, sass-lint -v -q"

Remove Assessment FOUC
  src/lib/components/Assessment/_styles.scss
  src/lib/components/Assessment/index.js
  src/site/_includes/components/Assessment.js
Due: eslint, sass-lint -v -q"

Fix Assessment rendering bug
  src/site/_includes/components/Assessment.js
Due: eslint

Start response validation
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/BaseResponseElement/index.js
  src/lib/components/ResponseThinkAndCheck/index.js
  src/lib/components/Tabs/index.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
