Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

grammar update (#9689)
  src/site/content/en/learn/html/document-structure/index.md
Due: remark -q

remove to-do and manual toc (#9690)
  src/site/content/ja/blog/responsive-web-design-basics/index.md
Due: remark -q

Version bump (#9695)
  package-lock.json
  package.json
Due: none

Add closing "`" (#9693)
  src/site/content/ja/blog/coop-coep/index.md
Due: remark -q

Re-enable DevRel ribbon with auto-hide on scroll and new position (#9632)
  src/lib/components/DevRelRibbon/index.js
  src/lib/components/base.js
  src/scss/blocks/_devrel-ribbon.scss
  src/scss/blocks/_ribbon.scss
  src/scss/next.scss
  src/site/_data/i18n/common.yml
  src/site/_includes/base.njk
  src/site/_includes/core.njk
  src/site/_includes/partials/devrel-ribbon.njk
Due: eslint, sass-lint -v -q"

Update src/site/content/ru/metrics/lcp/index.md
  src/site/content/ru/metrics/lcp/index.md
Due: remark -q

[RU] FID: fix multiple typos (#9516)
  src/site/content/ru/metrics/fid/index.md
Due: remark -q

Update src/site/_data/i18n/header.yml
  src/site/_data/i18n/header.yml
Due: none

Non-CLA submissions (#9691)
  src/site/_data/i18n/header.yml
  src/site/content/en/blog/web-platform-11-2022/index.md
  src/site/content/en/learn/html/attributes/index.md
  src/site/content/ru/blog/trusted-types/index.md
  src/site/content/ru/metrics/lcp/index.md
Due: remark -q

Fix broken link
  src/site/content/en/secure/how-do-i-know-if-my-site-was-hacked/index.md
Due: remark -q

Improve learn images CMS/WordPress section (#9661)
  src/site/content/en/learn/images/cms/index.md
Due: remark -q

Fix broken link (#9698)
  src/site/content/en/secure/how-do-i-know-if-my-site-was-hacked/index.md
Due: remark -q

chore(typo): Add missing space
  src/site/content/en/learn/css/functions/index.md
Due: remark -q

fix: remove unused Nunjucks files
  .eleventy.js
  src/site/_includes/components/Breadcrumbs.js
  src/site/_includes/components/Hero.js
  src/site/_includes/default.njk
  src/site/_includes/macros/patterns-card.njk
  src/site/_includes/partials/course-cards-next.njk
  src/site/_includes/partials/course-cards.njk
  src/site/_includes/partials/navigation-drawer-default.njk
  src/site/_includes/sandbox/article.njk
  src/site/_includes/sandbox/container.njk
  src/site/_includes/sandbox/layout.njk
  src/styles/components/_all.scss
  src/styles/components/_breadcrumbs.scss
  src/styles/components/_images.scss
Due: eslint, sass-lint -v -q"

fix: clean up old design system footer
  src/site/_includes/course.njk
  src/site/_includes/default-next.njk
  src/site/_includes/design-system.njk
  src/site/_includes/partials/footer.njk
  src/site/_includes/partials/site-footer.njk
  src/site/content/en/chrometober-2022/index.njk
Due: none

fix: clean up unused header-default
  src/site/_includes/default.njk
  src/site/_includes/partials/header-default.njk
  src/styles/components/_all.scss
  src/styles/components/_header-default.scss
Due: sass-lint -v -q"

fix: clean up old design system layout template
  src/site/_includes/about-next.njk
  src/site/_includes/codelab.njk
  src/site/_includes/collection.njk
  src/site/_includes/default-next.njk
  src/site/_includes/default.njk
  src/site/_includes/explore.njk
  src/site/_includes/handbook.njk
  src/site/_includes/homepage-next.njk
  src/site/_includes/item-page.njk
  src/site/_includes/landing-page.njk
  src/site/_includes/learn-page.njk
  src/site/_includes/newsletter.njk
  src/site/_includes/pattern-page.njk
  src/site/_includes/pattern-set.njk
  src/site/_includes/post.njk
  src/site/_includes/show.njk
  src/site/_includes/spaces.njk
  src/site/_includes/text.njk
  src/site/content/en/design-system/prototype.njk
  src/site/content/en/measure/index.njk
  src/site/content/en/newsletter/index.njk
  src/site/content/en/offline.md
  src/site/content/en/podcasts/index.njk
  src/site/content/es/offline.md
  src/site/content/ja/offline.md
  src/site/content/ko/offline.md
  src/site/content/pl/offline.md
  src/site/content/pt/offline.md
  src/site/content/ru/offline.md
  src/site/content/zh/offline.md
Due: remark -q

fix: rename from footer to site-footer (consistency with the site-header)
  src/site/_includes/course.njk
  src/site/_includes/default.njk
  src/site/_includes/design-system.njk
  src/site/_includes/partials/site-footer.njk
  src/site/content/en/chrometober-2022/index.njk
Due: none

🚸 Ajsut spacing & clickable range
  src/scss/next.scss
Due: sass-lint -v -q"

non-cla
  src/site/content/en/blog/hid-examples/index.md
Due: remark -q

add not
  src/site/content/en/web-dev-basics-one/fetch-api-error-handling/index.md
Due: remark -q

chore(typo): Add missing space (#9716)
  src/site/content/en/learn/css/functions/index.md
Due: remark -q

Match x descriptor explanation with code snippet (#9671)
  src/site/content/en/learn/images/descriptive/index.md
Due: remark -q

Fix a broken format in the Japanese CLS metrics article (#9491)
  src/site/content/ja/metrics/cls/index.md
Due: remark -q

add redirect
  redirects.yaml
Due: none

fixing a typo in spanish
  src/site/_data/i18n/header.yml
Due: none

fixing a typo in spanish (#9725)
  src/site/_data/i18n/header.yml
Due: none

Migrate HID examples page (#9723)
  redirects.yaml
  src/site/content/en/blog/hid-examples/index.md
Due: remark -q

add not (#9724)
  src/site/content/en/web-dev-basics-one/fetch-api-error-handling/index.md
Due: remark -q

Fix the wrong name of entities
  src/site/content/en/learn/html/text-basics/index.md
Due: remark -q

Fix the wrong name of entities (#9726)
  src/site/content/en/learn/html/text-basics/index.md
Due: remark -q

replace pseudo-class with pseudo-element
  src/site/content/en/learn/html/dialog/dialog.assess.yml
Due: none

Update date
  src/site/content/en/blog/media-session/index.md
Due: remark -q

Add presenting slides actions to media session article (#9210)
  src/site/content/en/blog/media-session/index.md
Due: remark -q

Media Session API: Fix code example
  src/site/content/en/blog/media-session/index.md
Due: remark -q

Media Session API: Fix code example (#9728)
  src/site/content/en/blog/media-session/index.md
Due: remark -q

Make it installable codelab: Add aside to tell the reader to use a standalone tab
  src/site/content/en/progressive-web-apps/codelab-make-installable/index.md
Due: remark -q

Update responsive images guidance
  src/site/content/en/blog/preload-responsive-images/index.md
  src/site/content/en/learn/design/responsive-images/index.md
Due: remark -q

Linting
  src/site/content/en/blog/preload-responsive-images/index.md
  src/site/content/en/learn/design/responsive-images/index.md
Due: remark -q
