Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

dedup scroll handler (#1813)
  src/lib/utils/router.js
Due: eslint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: remark -q

Update installable-manifest post
  src/site/content/en/lighthouse-pwa/installable-manifest/index.md
Due: remark -q

Add CoC to project.
  CODE_OF_CONDUCT.md
Due: remark -q

Add remarkignore.
  .remarkignore
Due: none

Update illustration and fix page date.
  src/site/content/en/images/collections/pwa.svg
  src/site/content/en/learn/learn.11tydata.js
  src/site/content/en/progressive-web-apps/index.njk
Due: eslint

Collection for PWAs (#1817)
  src/site/content/en/images/collections/pwa.svg
  src/site/content/en/learn/learn.11tydata.js
  src/site/content/en/progressive-web-apps/index.njk
  src/site/content/en/progressive-web-apps/progressive-web-apps.11tydata.js
Due: eslint

integrate feedback
  src/site/content/en/blog/badging-api/index.md
Due: remark -q

Add new web share article.
  src/site/content/en/blog/share-like-a-native/index.md
  src/site/content/en/blog/share-like-a-native/santa-phone.png
  src/site/content/en/blog/share-like-a-native/wst-send.png
Due: remark -q

travis: adjust git depth (#1812)
  .travis.yml
Due: none

Add new web share target article.
  src/site/content/en/blog/receive-shared-data/index.md
  src/site/content/en/blog/receive-shared-data/wst-receive.png
  src/site/content/en/blog/receive-shared-data/wst-send.png
Due: remark -q

Fix quotes.
  src/site/content/en/blog/receive-shared-data/index.md
Due: remark -q

New periodic background sync article.
  src/site/content/en/blog/richer-offline-w-periodic-background-sync/hero.jpg
  src/site/content/en/blog/richer-offline-w-periodic-background-sync/index.md
Due: remark -q

Add code of conduct. (#1820)
  .remarkignore
  CODE_OF_CONDUCT.md
Due: remark -q

/resource-summary/ (#1816)
  src/site/content/en/lighthouse-performance/resource-summary/index.md
Due: remark -q

Update codeowners.
  .github/CODEOWNERS
Due: none

Update codeowners. (#1822)
  .github/CODEOWNERS
Due: none

Hide a js file in content/
  src/site/content/en/accessible/control-focus-with-tabindex/foo.js
Due: eslint

Hide a change in package-lock.json
  package-lock.json
Due: none

Add more file types to codeowners.
  .github/CODEOWNERS
Due: none

Add more file types to codeowners. (#1825)
  .github/CODEOWNERS
Due: none

Move w-blockquote styles to a generic blockquote el style. Fixes #1650
  src/site/content/en/handbook/markup-media/index.md
  src/styles/components/_blockquote.scss
  src/styles/generic/_all.scss
  src/styles/generic/_blockquote.scss
  src/styles/settings/_type.scss
  src/styles/tools/_mixins.scss
Due: sass-lint -v -q", remark -q

Remove w-blockquote class from .md files
  src/site/_drafts/_template-post/index.md
  src/site/_drafts/intrinsic-layout-overview/index.md
  src/site/content/en/blog/image-support-for-async-clipboard/index.md
  src/site/content/en/blog/opensooq-case-study/index.md
  src/site/content/en/blog/truebil-lite/index.md
  src/site/content/en/fast/why-speed-matters/index.md
  src/site/content/en/handbook/sandbox/blockquote/index.njk
  src/site/content/en/handbook/web-dev-components/index.md
  src/styles/components/_all.scss
  src/styles/components/_blockquote.scss
  src/styles/generic/_blockquote.scss
Due: sass-lint -v -q", remark -q

Remove bold
  src/site/content/en/blog/airshift-perf-optimization/index.md
Due: remark -q

Rephrase
  src/site/content/en/blog/airshift-perf-optimization/index.md
Due: remark -q

Formatting
  src/site/content/en/blog/airshift-perf-optimization/index.md
Due: remark -q

More descriptive
  src/site/content/en/blog/airshift-perf-optimization/index.md
Due: remark -q

Link text
  src/site/content/en/blog/airshift-perf-optimization/index.md
Due: remark -q

Focus on guidance, not features
  src/site/content/en/blog/airshift-perf-optimization/index.md
Due: remark -q

Link to web.dev article instead
  src/site/content/en/blog/airshift-perf-optimization/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
