Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Update src/site/content/en/blog/asyncify/index.md
  src/site/content/en/blog/asyncify/index.md
Due: remark -q

Fix review comment
  src/site/content/en/blog/asyncify/index.md
Due: remark -q

Fix few more instances of we/our
  src/site/content/en/blog/asyncify/index.md
Due: remark -q

Rewrap at 100
  src/site/content/en/blog/asyncify/index.md
Due: remark -q

Reword intro
  src/site/content/en/blog/asyncify/index.md
Due: remark -q

Minor improvement to the C example
  src/site/content/en/blog/asyncify/index.md
Due: remark -q

Use lowercase attribute value (#5047)
  src/site/content/en/lighthouse-seo/meta-description/index.md
Due: remark -q

feat(updated): sort posts by updated and show updated date, fixes #2283 (#5040)
  src/site/_collections/authors.js
  src/site/_collections/tags.js
  src/site/_data/i18n/common.yml
  src/site/_includes/codelab.njk
  src/site/_includes/components/AuthorsDate.js
  src/site/_includes/components/BaseCard.js
  src/site/_includes/partials/post.njk
  src/site/_utils/sort-by-updated.js
  src/styles/components/_author.scss
  types/eleventy/collection-item.d.ts
Due: eslint, sass-lint -v -q"

refactor(blog): revert some sizes and add missed classes and style attributes
  src/site/content/en/blog/adaptive-loading-cds-2019/index.md
  src/site/content/en/blog/ar-hit-test/index.md
  src/site/content/en/blog/color-scheme/index.md
  src/site/content/en/blog/contact-picker/index.md
  src/site/content/en/blog/css-clipping/index.md
  src/site/content/en/blog/css-marker-pseudo-element/index.md
  src/site/content/en/blog/detached-window-memory-leaks/index.md
  src/site/content/en/blog/device-pixel-content-box/index.md
  src/site/content/en/blog/file-system-access/index.md
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/index.md
  src/site/content/en/blog/get-installed-related-apps/index.md
  src/site/content/en/blog/how-mercadolibre-optimized-web-vitals/index.md
  src/site/content/en/blog/lighthouse-evolution-cds-2019/index.md
  src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/overloaded-server/index.md
  src/site/content/en/blog/payment-and-address-form-best-practices/index.md
  src/site/content/en/blog/perception-toolkit/index.md
  src/site/content/en/blog/periodic-background-sync/index.md
  src/site/content/en/blog/persistent-storage/index.md
  src/site/content/en/blog/prefers-reduced-motion/index.md
  src/site/content/en/blog/profiling-web-audio-apps-in-chrome/index.md
  src/site/content/en/blog/progressively-enhance-your-pwa/index.md
  src/site/content/en/blog/proxx-announce/index.md
  src/site/content/en/blog/read-files/index.md
  src/site/content/en/blog/reporting-observer/index.md
  src/site/content/en/blog/samesite-cookie-recipes/index.md
  src/site/content/en/blog/samesite-cookies-explained/index.md
  src/site/content/en/blog/test-post/index.md
  src/site/content/en/blog/text-fragments/index.md
  src/site/content/en/blog/use-srcset-to-automatically-choose-the-right-image/index.md
  src/site/content/en/blog/web-bundles/index.md
Due: remark -q

Rev eleventy to 0.11.1
  package-lock.json
  package.json
Due: none

Fix incorrect link
  src/site/content/en/blog/bfcache/index.md
Due: remark -q

main package lock
  package-lock.json
Due: none

refactor(blog): upload videos and update video shortcode
  src/site/_includes/components/Img.js
  src/site/_includes/components/Video.js
  src/site/content/en/blog/contact-picker/index.md
  src/site/content/en/blog/load-faster-like-proxx/index.md
  src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/optimize-cls/index.md
  src/site/content/en/blog/optimize-lcp/index.md
  src/site/content/en/blog/payment-and-address-form-best-practices/index.md
  src/site/content/en/blog/prefers-color-scheme/index.md
  src/site/content/en/blog/prefers-reduced-motion/index.md
  types/site/_includes/components/Img.d.ts
  types/site/_includes/components/Video.d.ts
Due: eslint, remark -q

comment
  src/site/_filters/minify-js.js
  src/site/_includes/partials/head.njk
Due: eslint

reporting destination
  firebase-config.js
Due: eslint

Fix incorrect link (#5049)
  src/site/content/en/blog/bfcache/index.md
Due: remark -q

fix(Video): fix some video shortcodes posters being set as src
  src/site/content/en/blog/contact-picker/index.md
  src/site/content/en/blog/load-faster-like-proxx/index.md
  src/site/content/en/blog/optimize-cls/index.md
Due: remark -q

feat(blog): upload some other videos
  src/site/content/en/blog/houdini-how/angled-demo.mp4
  src/site/content/en/blog/houdini-how/index.md
  src/site/content/en/blog/idle-detection/devtools.mp4
  src/site/content/en/blog/idle-detection/index.md
  src/site/content/en/blog/maskable-icon/fugu-mask.mp4
  src/site/content/en/blog/maskable-icon/fugu-mask.webm
  src/site/content/en/blog/maskable-icon/index.md
Due: remark -q

fix(optimize-cls): add missing videos, fixes #5050
  src/site/content/en/blog/optimize-cls/index.md
Due: remark -q

fix(optimize-cls): add missing videos, fixes #5050 (#5051)
  src/site/content/en/blog/optimize-cls/index.md
Due: remark -q

sorted courses
  src/site/_data/courses/a/meta.yml
  src/site/_data/courses/b/meta.yml
  src/site/_data/courses/foo/meta.yml
  src/site/_data/helpers.js
  src/site/content/en/learn/index.njk
  src/styles/components/_layouts.scss
Due: eslint, sass-lint -v -q"

Incorporate timer story to why-coop-coep
  src/site/content/en/blog/why-coop-coep/index.md
Due: remark -q

Fix typos
  src/site/content/en/blog/why-coop-coep/index.md
Due: remark -q

Adding link to explainer about computation opt-out
  src/site/content/en/blog/floc/index.md
Due: remark -q

Updated information about exclusion/inclusion from FLoC calculation (#5039)
  src/site/content/en/blog/floc/index.md
Due: remark -q

More content
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

Make linter happy
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

Linter
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

Add additonal CLS info to carousel article
  src/site/content/en/blog/carousel-best-practices/index.md
Due: remark -q

Break lines at 100 chars
  src/site/content/en/blog/carousel-best-practices/index.md
Due: remark -q

Switch course title to svg. Remove gradient-text stuff
  src/site/_data/courses/a/meta.yml
  src/site/_data/courses/b/meta.yml
  src/site/_data/courses/css/meta.yml
  src/site/_data/courses/foo/meta.yml
  src/site/_data/i18n/courses.yml
  src/site/_includes/icons/learn-css.svg
  src/site/_includes/partials/course-gradient-title.njk
  src/site/_includes/partials/header-course.njk
  src/site/_includes/partials/navigation-drawer-course.njk
  src/site/content/en/learn/index.njk
  src/styles/components/_all.scss
  src/styles/components/_drawer-course.scss
  src/styles/components/_gradient-text.scss
  src/styles/components/_header-course.scss
Due: sass-lint -v -q"

Add lower level svg macro
  src/images/courses/css/background.svg
  src/images/courses/css/logo.svg
  src/site/_data/courses/css/meta.yml
  src/site/_data/helpers.js
  src/site/_includes/macros/icon.njk
  src/site/_includes/partials/header-course.njk
  src/site/_includes/partials/navigation-drawer-course.njk
Due: eslint

sort out cover and background
  src/images/courses/css/background.svg
  src/site/_data/courses/a/meta.yml
  src/site/_data/courses/b/meta.yml
  src/site/_data/courses/css/meta.yml
  src/site/_data/courses/foo/meta.yml
  src/site/_includes/partials/header-course.njk
  src/site/_includes/partials/navigation-drawer-course.njk
  src/site/content/en/learn/index.njk
  src/styles/components/_all.scss
  src/styles/components/_drawer-course.scss
  src/styles/components/_header-course.scss
Due: sass-lint -v -q"

grid kinda sorta works
  src/site/content/en/learn/index.njk
  src/styles/components/_all.scss
  src/styles/components/_course-card.scss
  src/styles/components/_learn-section.scss
Due: sass-lint -v -q"

Update nginx-sxg-module to latest versions
  src/site/content/en/blog/how-to-set-up-signed-http-exchanges/index.md
Due: remark -q

layout is working
  src/site/_data/courses/a/meta.yml
  src/site/_data/courses/foo/meta.yml
  src/site/content/en/learn/index.njk
  src/styles/components/_card.scss
  src/styles/components/_course-card.scss
  src/styles/components/_layouts.scss
Due: sass-lint -v -q"

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
