Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

s/we/Google/
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

s/We/Google/
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Add link text
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

s/we/Chrome/
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Sanity check Notification Triggers article. (#1995)
  src/site/content/en/blog/notification-triggers/index.md
Due: remark -q

Capabilities status blog post (#2172)
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Create case study template
  src/site/_drafts/_template-case-study/index.md
Due: remark -q

Add criteria link
  src/site/_drafts/_template-case-study/index.md
Due: remark -q

Use HTML comments
  src/site/_drafts/_template-case-study/index.md
Due: remark -q

Add case study template (#2198)
  src/site/_drafts/_template-case-study/index.md
Due: remark -q

Remove unneccessary favicons, add Apple specific ones (#2197)
  src/images/android-chrome-192x192.png
  src/images/android-chrome-512x512.png
  src/images/apple-touch-icon.png
  src/images/favicon-16x16.png
  src/images/favicon-32x32.png
  src/images/favicon.ico
  src/images/favicon@2x.png
  src/images/icon-128x128.png
  src/images/icon-144x144.png
  src/images/icon-152x152.png
  src/images/icon-192x192.png
  src/images/icon-384x384.png
  src/images/icon-512x512.png
  src/images/icon-72x72.png
  src/images/icon-96x96.png
  src/images/safari-pinned-tab.svg
  src/images/touchicon-180.png
  src/misc/manifest.webmanifest
  src/site/_includes/layout.njk
Due: none

Publish PWA section
  src/site/content/en/_redirects.yaml
  src/site/content/en/en.11tydata.js
  src/site/content/en/installable/discover-installable/hero.png
  src/site/content/en/installable/discover-installable/index.md
  src/site/content/en/installable/discover-installable/lighthouse.png
  src/site/content/en/installable/index.njk
  src/site/content/en/installable/installable.11tydata.js
  src/site/content/en/learn/learn.11tydata.js
  src/site/content/en/progressive-web-apps/add-manifest/index.md
  src/site/content/en/progressive-web-apps/codelab-make-installable/index.md
  src/site/content/en/progressive-web-apps/customize-install/index.md
  src/site/content/en/progressive-web-apps/index.njk
  src/site/content/en/progressive-web-apps/install-criteria/index.md
  src/site/content/en/progressive-web-apps/progressive-web-apps.11tydata.js
  src/site/content/en/progressive-web-apps/promote-install/index.md
  src/site/content/en/progressive-web-apps/pwa-checklist/index.md
  src/site/content/en/progressive-web-apps/what-are-pwas/index.md
Due: eslint, remark -q

Fix a few items.
  src/site/content/en/blog/ar-hit-test/index.md
Due: remark -q

Fix extra js suffix.
  .github/actions/lint-front-matter/linters/added-files.js
  .github/actions/lint-front-matter/linters/all-files.js
  .github/actions/lint-front-matter/linters/modified-files.js
  .github/actions/lint-front-matter/main.js
Due: eslint

refactor: move code and remove `tabindex`
  src/site/_collections/paginated-posts-by-author.js
  src/site/_collections/paginated-posts-by-tag.js
  src/site/_includes/components/Author.js
  src/site/_includes/components/PostCard.js
Due: eslint

refactor(setdefault): rename `mapValue` to `setdefault`
  src/site/_collections/paginated-posts-by-author.js
  src/site/_collections/paginated-posts-by-tag.js
  src/site/_utils/setdefault.js
Due: eslint

Fix CopyCode accessible name
  src/lib/components/CopyCode/index.js
Due: eslint

Prevent Material icons from being spoken
  src/styles/components/_buttons.scss
Due: sass-lint -v -q"

Make Assessment component modal
  src/lib/components/Assessment/_styles.scss
  src/lib/components/Assessment/index.js
  src/lib/components/BaseModalElement/index.js
  src/lib/components/Tabs/_styles.scss
  src/lib/components/Tabs/index.js
  src/lib/utils/check-overflow.js
  src/lib/utils/handle-overflow.js
  src/site/_includes/components/Assessment.js
Due: eslint, sass-lint -v -q"

feat(authors): add pages for each authors posts (#2153)
  .eleventy.js
  src/site/_collections/paginated-posts-by-author.js
  src/site/_data/contributors.js
  src/site/_data/contributors.json
  src/site/_filters/expand-contributors.js
  src/site/_includes/components/Author.js
  src/site/_includes/components/AuthorInfo.js
  src/site/_includes/components/PostCard.js
  src/site/_includes/partials/post.njk
  src/site/_utils/setdefault.js
  src/site/content/en/authors/index.njk
  src/styles/components/_author.scss
Due: eslint, sass-lint -v -q"

Adjust Assessment viewport width listening
  src/lib/components/Assessment/index.js
  src/styles/tools/_breakpoints.scss
Due: eslint, sass-lint -v -q"

remove tag:post
  src/site/content/en/progressive-web-apps/add-manifest/index.md
  src/site/content/en/progressive-web-apps/customize-install/index.md
  src/site/content/en/progressive-web-apps/install-criteria/index.md
  src/site/content/en/progressive-web-apps/promote-install/index.md
  src/site/content/en/progressive-web-apps/pwa-checklist/index.md
  src/site/content/en/progressive-web-apps/what-are-pwas/index.md
Due: remark -q

remove draft
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Add hero image
  src/site/content/en/blog/wakelock/index.md
Due: remark -q

Add hero image file
  hero.jpg
Due: none

feat: add tags to certain posts
  src/site/content/en/blog/earth-webassembly/index.md
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/index.md
  src/site/content/en/blog/google-search-sw/index.md
  src/site/content/en/blog/opensooq-case-study/index.md
  src/site/content/en/blog/shopping-for-speed-on-ebay/index.md
  src/site/content/en/blog/truebil-lite/index.md
Due: remark -q

Delete hero.jpg
  hero.jpg
Due: none

Add hero image file
  src/site/content/en/blog/wakelock/hero.jpg
Due: none

Move definitions to the end of the file
  src/site/content/en/blog/wakelock/index.md
Due: remark -q

feat: add tags to certain posts (#2203)
  src/site/content/en/blog/earth-webassembly/index.md
  src/site/content/en/blog/five-ways-airshift-improved-their-react-app/index.md
  src/site/content/en/blog/google-search-sw/index.md
  src/site/content/en/blog/opensooq-case-study/index.md
  src/site/content/en/blog/shopping-for-speed-on-ebay/index.md
  src/site/content/en/blog/truebil-lite/index.md
Due: remark -q

Add hero image to wake lock article (#2202)
  src/site/content/en/blog/wakelock/hero.jpg
  src/site/content/en/blog/wakelock/index.md
Due: remark -q

Move Assessment CSS class to template
  src/lib/components/Assessment/index.js
  src/site/_includes/components/Assessment.js
  src/site/_includes/content/self-assessment.njk
Due: eslint

Remove UI cruft on mobile.
  src/site/_data/site.js
  src/styles/components/_banner.scss
  src/styles/components/_images.scss
Due: eslint, sass-lint -v -q"

Remove UI cruft on mobile. (#2205)
  src/site/_data/site.js
  src/styles/components/_banner.scss
  src/styles/components/_images.scss
Due: eslint, sass-lint -v -q"

Add MDN banner.
  src/site/_data/site.js
  src/site/_includes/codelab.njk
  src/site/_includes/partials/banner.njk
  src/site/_includes/partials/post.njk
  src/site/_includes/path.njk
  src/site/content/en/about/index.njk
  src/site/content/en/authors/index.njk
  src/site/content/en/blog/index.njk
  src/site/content/en/learn/index.njk
  src/site/content/en/measure/index.njk
  src/site/content/en/tags/index.njk
Due: eslint

update author
  src/site/_data/contributors.js
  src/site/content/en/blog/snap-after-layout/index.md
Due: eslint, remark -q

Remove old rendering approach
  .eleventy.js
  src/site/_drafts/_template-self-assessment/index.md
  src/site/_drafts/_template-self-assessment/self-assessment.assess.js
  src/site/_includes/components/Assessment.js
  src/site/_includes/components/AssessmentResponse.js
  src/site/_includes/components/Block.js
  src/site/_includes/content/self-assessment.njk
  src/site/content/en/accessible/control-focus-with-tabindex/index.md
  src/site/content/en/accessible/control-focus-with-tabindex/self-assessment.assess.js
  src/site/content/en/accessible/labels-and-text-alternatives/index.md
  src/site/content/en/accessible/labels-and-text-alternatives/self-assessment.assess.js
  src/site/content/en/accessible/use-semantic-html/index.md
  src/site/content/en/accessible/use-semantic-html/self-assessment.assess.js
  src/site/content/en/handbook/self-assessment-components/index.md
  src/site/content/en/handbook/self-assessment-components/self-assessment-components.11tydata.js
  src/site/content/en/secure/same-origin-policy/index.md
  src/site/content/en/secure/same-origin-policy/self-assessment.assess.js
Due: eslint, remark -q

draft v1
  src/site/_data/contributors.js
  src/site/content/en/blog/snap-after-layout/index.md
Due: eslint, remark -q

Refactor Tabs component
  src/lib/components/Assessment/index.js
  src/lib/components/Tabs/index.js
Due: eslint

Snap after layout blog post
  src/site/content/en/blog/snap-after-layout/css-scroll-snap-example.png
  src/site/content/en/blog/snap-after-layout/index.md
  src/site/content/en/blog/snap-after-layout/resizing-breaks-snap-positions.mp4
  src/site/content/en/blog/snap-after-layout/resizing-breaks-snap-positions.webm
  src/site/content/en/blog/snap-after-layout/scroll-snap-bottom.mp4
  src/site/content/en/blog/snap-after-layout/scroll-snap-bottom.webm
  src/site/content/en/blog/snap-after-layout/snap-positions-lost.mp4
  src/site/content/en/blog/snap-after-layout/snap-positions-lost.webm
  src/site/content/en/blog/snap-after-layout/snap-positions-preserved.mp4
  src/site/content/en/blog/snap-after-layout/snap-positions-preserved.webm
  src/site/content/en/images/authors/alsan.jpg
  src/site/content/en/images/authors/alsan@2x.jpg
  src/site/content/en/images/authors/yigu.jpg
  src/site/content/en/images/authors/yigu@2x.jpg
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
