Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

refactor: update changes based on new blog
  src/site/_includes/authors-index.njk
  src/site/_includes/landing-page.njk
  src/site/_includes/macros/author-card.njk
  src/site/_includes/macros/shows-card.njk
  src/site/_includes/macros/tag-card.njk
  src/site/_includes/macros/tag-pills.njk
  src/site/_includes/pagination-next.njk
  src/site/_includes/shows-index.njk
  src/site/_includes/tags-index.njk
Due: none

refactor(newsletter): use new design system for newsletter
  src/site/content/en/newsletter/index.njk
Due: none

refactor(tags): restyle tags pages for new design system
  src/site/_includes/authors-index.njk
  src/site/_includes/macros/author-card.njk
  src/site/_includes/macros/shows-card.njk
  src/site/_includes/macros/tag-card.njk
  src/site/_includes/pagination-next.njk
  src/site/_includes/shows-index.njk
  src/site/_includes/tags-index.njk
Due: none

refactor: refactor individual pages
  src/scss/utilities/_avatar.scss
  src/site/_includes/authors-individual.njk
  src/site/_includes/homepage-next.njk
  src/site/_includes/landing-page.njk
  src/site/_includes/macros/author-card.njk
  src/site/_includes/macros/post-card.njk
  src/site/_includes/partials/paged-next.njk
  src/site/_includes/shows-individual.njk
  src/site/_includes/tags-individual.njk
Due: sass-lint -v -q"

refactor(cards): merge i18n and post card by using arguments for all fields
  src/site/_includes/i18n-index.njk
  src/site/_includes/macros/i18n-card.njk
  src/site/_includes/macros/post-card.njk
  src/site/_includes/partials/paged-next.njk
Due: none

refactor(postCard): use object rather than individual args for macro args
  src/site/_includes/index-page.njk
  src/site/_includes/macros/post-card.njk
  src/site/_includes/partials/paged-next.njk
Due: none

refactor: renamed `njk` files with no content to `md`
  src/site/content/en/authors/index.md
  src/site/content/en/authors/individual.md
  src/site/content/en/shows/index.md
  src/site/content/en/shows/individual.md
  src/site/content/en/tags/index.md
  src/site/content/en/tags/individual.md
  src/site/content/es/authors/index.md
  src/site/content/es/authors/individual.md
  src/site/content/es/tags/index.md
  src/site/content/es/tags/individual.md
Due: remark -q

refactor(cards): update authors, shows, and tags to use the same card
  src/site/_includes/authors-index.njk
  src/site/_includes/macros/author-card.njk
  src/site/_includes/macros/i18n-card.njk
  src/site/_includes/macros/show-card.njk
  src/site/_includes/macros/shows-card.njk
  src/site/_includes/macros/tag-card.njk
  src/site/_includes/shows-index.njk
  src/site/_includes/tags-index.njk
Due: none

refactor(index): have authors, shows, and tags index pages use same base layout
  src/site/_includes/authors-index.njk
  src/site/_includes/i18n-index.njk
  src/site/_includes/macros/i18n-card.njk
  src/site/_includes/tags-index.njk
  src/site/content/en/authors/index.njk
  src/site/content/en/shows/index.njk
  src/site/content/en/tags/index.njk
  src/site/content/es/authors/index.njk
  src/site/content/es/tags/index.njk
Due: none

refactor: rename `i18n` templates
  src/site/_includes/index-page.njk
  src/site/_includes/item-page.njk
  src/site/content/en/authors/index.njk
  src/site/content/en/authors/individual.njk
  src/site/content/en/shows/index.njk
  src/site/content/en/shows/individual.njk
  src/site/content/en/tags/index.njk
  src/site/content/en/tags/individual.njk
  src/site/content/es/authors/index.njk
  src/site/content/es/authors/individual.njk
  src/site/content/es/tags/index.njk
  src/site/content/es/tags/individual.njk
Due: none

chore: delete unused templates
  src/site/_includes/partials/paged.njk
Due: none

refactor: ch-ch-ch-ch-changes
  src/scss/utilities/_avatar.scss
  src/site/_includes/authors-index.njk
  src/site/_includes/authors-individual.njk
  src/site/_includes/landing-page.njk
  src/site/_includes/macros/author-card.njk
  src/site/_includes/macros/post-card.njk
  src/site/_includes/macros/show-card.njk
  src/site/_includes/macros/shows-card.njk
  src/site/_includes/macros/tag-card.njk
  src/site/_includes/macros/tag-pills.njk
  src/site/_includes/shows-index.njk
  src/site/_includes/shows-individual.njk
  src/site/_includes/tags-index.njk
  src/site/_includes/tags-individual.njk
  src/site/content/en/newsletter/index.njk
Due: sass-lint -v -q"

refactor(individual): have authors, shows, and tags individual pages use same base layout
  src/site/_includes/i18n-individual.njk
  src/site/_includes/shows-individual.njk
  src/site/_includes/tags-individual.njk
  src/site/content/en/authors/individual.njk
  src/site/content/en/shows/individual.njk
  src/site/content/en/tags/individual.njk
  src/site/content/es/authors/individual.njk
  src/site/content/es/tags/individual.njk
Due: none

docs(tag-pills): update param docs
  src/site/_includes/macros/tag-pills.njk
Due: none

docs(AuthorsDate): add typing for argument
  src/site/_includes/components/AuthorsDate.js
Due: eslint

fix(postCard): use `alt` argument for image alt
  src/site/_includes/macros/post-card.njk
Due: none

fix: fix spacing of cards on paginated pages
  src/site/_includes/authors-index.njk
  src/site/_includes/authors-individual.njk
  src/site/_includes/shows-index.njk
  src/site/_includes/shows-individual.njk
  src/site/_includes/tags-index.njk
  src/site/_includes/tags-individual.njk
  src/site/content/en/newsletter/index.njk
Due: none

refactor(postCard): rename `param.isDraft` to `param.draft` and `param.isAuthor` is removed in favor of `imageType`
  src/site/_includes/index-page.njk
  src/site/_includes/item-page.njk
  src/site/_includes/macros/post-card.njk
  src/site/_includes/partials/paged-next.njk
  src/site/content/en/authors/index.md
  src/site/content/en/authors/individual.md
  src/site/content/es/authors/index.md
  src/site/content/es/authors/individual.md
Due: remark -q

feat(subscribe): use new subscribe fab
  src/site/_includes/index-page.njk
  src/site/_includes/item-page.njk
Due: none

docs(paged-next): document use of `title` for `alt`
  src/site/_includes/partials/paged-next.njk
Due: none

Fix typo.
  src/site/content/en/learn/pwa/foundations/index.md
Due: remark -q

Formatting fixes
  src/site/content/en/learn/pwa/foundations/index.md
Due: remark -q

Add Firefox to list of browsers supporting AVIF (#6710)
  src/site/content/en/lighthouse-performance/uses-webp-images/index.md
Due: remark -q

Fix typo. (#6713)
  src/site/content/en/learn/pwa/foundations/index.md
Due: remark -q

Correct formatting
  src/site/content/en/learn/pwa/foundations/index.md
Due: remark -q

refactor(pagination): refactor paginated pages to new design system, fixes #6650, fixes #6651, fixes #6652 (#6659)
  src/scss/utilities/_avatar.scss
  src/site/_includes/authors-index.njk
  src/site/_includes/authors-individual.njk
  src/site/_includes/components/AuthorsDate.js
  src/site/_includes/homepage-next.njk
  src/site/_includes/index-page.njk
  src/site/_includes/item-page.njk
  src/site/_includes/landing-page.njk
  src/site/_includes/macros/author-card.njk
  src/site/_includes/macros/post-card.njk
  src/site/_includes/macros/show-card.njk
  src/site/_includes/macros/shows-card.njk
  src/site/_includes/macros/tag-card.njk
  src/site/_includes/macros/tag-pills.njk
  src/site/_includes/partials/paged-next.njk
  src/site/_includes/partials/paged.njk
  src/site/_includes/shows-index.njk
  src/site/_includes/shows-individual.njk
  src/site/_includes/tags-index.njk
  src/site/_includes/tags-individual.njk
  src/site/content/en/authors/index.md
  src/site/content/en/authors/individual.md
  src/site/content/en/newsletter/index.njk
  src/site/content/en/shows/index.md
  src/site/content/en/shows/individual.md
  src/site/content/en/tags/index.md
  src/site/content/en/tags/individual.md
  src/site/content/es/authors/index.md
  src/site/content/es/authors/index.njk
  src/site/content/es/authors/individual.md
  src/site/content/es/tags/index.md
  src/site/content/es/tags/individual.md
Due: eslint, sass-lint -v -q", remark -q

Fix image styling
  src/site/content/en/learn/design/internationalization/index.md
  src/site/content/en/learn/design/intro/index.md
  src/site/content/en/learn/design/micro-layouts/index.md
Due: remark -q

simulate a mobile device for measure tool
  src/lib/psi-service.js
Due: eslint

simulate a mobile device for measure tool (#6716)
  src/lib/psi-service.js
Due: eslint

Fix broken link to spec draft
  src/site/content/en/blog/compute-pressure/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/embed-best-practices/index.md
Due: remark -q

Adding in one additional step to the README
  README.md
Due: remark -q

Update src/site/content/en/blog/mailru-cwv/index.md
  src/site/content/en/blog/mailru-cwv/index.md
Due: remark -q
