Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Update connection setup diagram
  src/site/content/en/fast/content-delivery-networks/cdn5.png
  src/site/content/en/fast/content-delivery-networks/index.md
Due: remark -q

Updated to final Google Doc draft content, added images
  src/site/content/en/blog/origin-trials/index.md
  src/site/content/en/blog/third-party-origin-trials/hero.jpg
  src/site/content/en/blog/third-party-origin-trials/index.md
  src/site/content/en/blog/third-party-origin-trials/thumbnail.jpg
Due: remark -q

Added image file
  src/site/content/en/blog/third-party-origin-trials/with-and-without.png
Due: none

Add vanity url for scale on web case studies
  src/site/content/_redirects.yaml
Due: none

Add vanity url for scale on web case studies (#3985)
  src/site/content/_redirects.yaml
Due: none

HTTP/3-related changes to CDN article (#3984)
  src/site/content/en/fast/content-delivery-networks/cdn5.png
  src/site/content/en/fast/content-delivery-networks/index.md
Due: remark -q

Fixed layout glitches
  src/site/content/en/blog/origin-trials/index.md
  src/site/content/en/blog/third-party-origin-trials/index.md
Due: remark -q

Updated to fix link glitch
  src/site/content/en/blog/third-party-origin-trials/index.md
Due: remark -q

Optimised images
  src/site/content/en/blog/third-party-origin-trials/hero.jpg
  src/site/content/en/blog/third-party-origin-trials/thumbnail.jpg
  src/site/content/en/blog/third-party-origin-trials/with-and-without.png
Due: none

Tweaked progress and trials links
  src/site/content/en/blog/third-party-origin-trials/index.md
Due: remark -q

Address #3983
  src/site/content/en/blog/disallow-synchronous-xhr/index.md
Due: remark -q

Update src/site/content/en/blog/origin-trials/index.md
  src/site/content/en/blog/origin-trials/index.md
Due: remark -q

Make code blocks larger on small screens (#3976)
  src/styles/generic/_code.scss
Due: sass-lint -v -q"

Apply suggestions from code review
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

adding second article
  src/site/_data/paths/animations.json
  src/site/content/en/animations/animations-guide/css-triggers.jpg
  src/site/content/en/animations/animations-guide/fps-meter.jpg
  src/site/content/en/animations/animations-guide/index.md
  src/site/content/en/animations/animations-guide/paint-flashing.jpg
  src/site/content/en/animations/animations-overview/index.md
Due: remark -q

linter
  src/site/content/en/animations/animations-guide/index.md
Due: remark -q

Updated date
  src/site/content/en/blog/camera-pan-tilt-zoom/index.md
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Fix LCP fast threshold in LH doc
  src/site/content/en/lighthouse-performance/lighthouse-largest-contentful-paint/index.md
Due: remark -q

Changed 'we' to 'Chrome'
  src/site/content/en/blog/origin-trials/index.md
Due: remark -q

Fix LCP fast threshold in LH doc (#3989)
  src/site/content/en/lighthouse-performance/lighthouse-largest-contentful-paint/index.md
Due: remark -q

Update src/site/content/en/blog/file-system-access/index.md
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Reformat
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

[File System Access article] Native File System → File System Access (#3967)
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/reliable/offline-cookbook/index.md
Due: remark -q

Update src/site/content/en/reliable/offline-cookbook/index.md
  src/site/content/en/reliable/offline-cookbook/index.md
Due: remark -q

Added post: What are third-party origin trials? (#3986)
  src/site/content/en/blog/origin-trials/index.md
  src/site/content/en/blog/third-party-origin-trials/hero.jpg
  src/site/content/en/blog/third-party-origin-trials/index.md
  src/site/content/en/blog/third-party-origin-trials/thumbnail.jpg
  src/site/content/en/blog/third-party-origin-trials/with-and-without.png
Due: remark -q

Add user gesture req.
  src/site/content/en/blog/idle-detection/index.md
Due: remark -q

Add a guard in the example with a message passing
  src/site/content/en/blog/detached-window-memory-leaks/index.md
Due: remark -q

Add Camera PTZ article (#3947)
  src/site/content/en/blog/camera-pan-tilt-zoom/camera-ptz-user-prompt.jpg
  src/site/content/en/blog/camera-pan-tilt-zoom/hero.jpg
  src/site/content/en/blog/camera-pan-tilt-zoom/index.md
  src/site/content/en/blog/camera-pan-tilt-zoom/media-internals-page.jpg
  src/site/content/en/blog/camera-pan-tilt-zoom/thumbnail.jpg
  src/site/content/en/blog/fugu-status/index.md
Due: remark -q

Tag devices related articles
  src/site/_data/tagsData.json
  src/site/content/_redirects.yaml
  src/site/content/en/blog/hid-examples/index.md
  src/site/content/en/blog/hid/index.md
  src/site/content/en/blog/nfc/index.md
  src/site/content/en/blog/serial/index.md
Due: remark -q

add gitlocalize yaml
  .gitlocalize.yml
Due: none

add gitlocalize yaml (#4002)
  .gitlocalize.yml
Due: none

Migrate offline cookbook (#3971)
  src/site/_data/paths/reliable.json
  src/site/content/en/reliable/offline-cookbook/cm-on-activate.png
  src/site/content/en/reliable/offline-cookbook/cm-on-bg-sync.png
  src/site/content/en/reliable/offline-cookbook/cm-on-install-dep.png
  src/site/content/en/reliable/offline-cookbook/cm-on-install-not.png
  src/site/content/en/reliable/offline-cookbook/cm-on-network-response.png
  src/site/content/en/reliable/offline-cookbook/cm-on-push.png
  src/site/content/en/reliable/offline-cookbook/cm-on-user-interaction.png
  src/site/content/en/reliable/offline-cookbook/cm-stale-while-revalidate.png
  src/site/content/en/reliable/offline-cookbook/index.md
  src/site/content/en/reliable/offline-cookbook/ss-cache-and-network-race.png
  src/site/content/en/reliable/offline-cookbook/ss-cache-only.png
  src/site/content/en/reliable/offline-cookbook/ss-cache-then-network.png
  src/site/content/en/reliable/offline-cookbook/ss-falling-back-to-network.png
  src/site/content/en/reliable/offline-cookbook/ss-generic-fallback.png
  src/site/content/en/reliable/offline-cookbook/ss-network-falling-back-to-cache.png
  src/site/content/en/reliable/offline-cookbook/ss-network-only.png
  src/site/content/en/reliable/offline-cookbook/ss-sw-side-templating.png
Due: remark -q
