Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Edited codelab for CDS (#4228)
  src/site/content/en/blog/codelab-sign-in-form-best-practices/index.md
Due: remark -q

Add Mariko as author
  src/site/content/en/blog/squoosh-v2/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/squoosh-v2/index.md
Due: remark -q

add author image
  src/images/authors/sorenbalko.jpg
  src/images/authors/sorenbalko@2x.jpg
Due: none

Add Clipchamp case study (#4336)
  src/images/authors/sorenbalko.jpg
  src/images/authors/sorenbalko@2x.jpg
  src/site/_data/authorsData.json
  src/site/content/en/blog/clipchamp/hero.jpg
  src/site/content/en/blog/clipchamp/index.md
  src/site/content/en/blog/clipchamp/installs.png
  src/site/content/en/blog/clipchamp/performance.png
  src/site/content/en/blog/clipchamp/thumbnail.jpg
Due: remark -q

Window to worker communication series (#4340)
  src/images/authors/andrewguan.jpg
  src/images/authors/andrewguan2x.jpg
  src/site/_data/authorsData.json
  src/site/_data/paths/reliable.json
  src/site/content/en/reliable/broadcast-updates-guide/broadcast-updates-diagram.png
  src/site/content/en/reliable/broadcast-updates-guide/index.md
  src/site/content/en/reliable/broadcast-updates-guide/squoosh-screenshot.png
  src/site/content/en/reliable/broadcast-updates-guide/tinder-screenshot.png
  src/site/content/en/reliable/imperative-caching-guide/1-800-flowers-logo.png
  src/site/content/en/reliable/imperative-caching-guide/1-800-flowers-prefetching.png
  src/site/content/en/reliable/imperative-caching-guide/imperative-caching-diagram-1.png
  src/site/content/en/reliable/imperative-caching-guide/index.md
  src/site/content/en/reliable/two-way-communication-guide/broadcast-channel.png
  src/site/content/en/reliable/two-way-communication-guide/client-api.png
  src/site/content/en/reliable/two-way-communication-guide/communication-apis.png
  src/site/content/en/reliable/two-way-communication-guide/google-search-background-sync.png
  src/site/content/en/reliable/two-way-communication-guide/index.md
  src/site/content/en/reliable/two-way-communication-guide/message-channel.png
  src/site/content/en/reliable/two-way-communication-guide/podcast-pwa.png
  src/site/content/en/reliable/two-way-communication-guide/two-way-communication-diagram.png
  src/site/content/en/reliable/two-way-communication-guide/workbox-window-diagram.png
  src/site/content/en/reliable/workers-overview/comlink-workbox.png
  src/site/content/en/reliable/workers-overview/hero.jpeg
  src/site/content/en/reliable/workers-overview/index.md
  src/site/content/en/reliable/workers-overview/podcast-pwa.png
  src/site/content/en/reliable/workers-overview/proxx.png
  src/site/content/en/reliable/workers-overview/window-service-worker.png
  src/site/content/en/reliable/workers-overview/window-web-worker.png
  src/site/content/en/reliable/workers-overview/window-worker.png
Due: remark -q

Add AutoWebPerf guide
  src/site/content/en/blog/autowebperf/index.md
Due: remark -q

fix code block
  src/site/content/en/blog/autowebperf/index.md
Due: remark -q

Edits
  src/site/content/en/blog/autowebperf/architecture.png
  src/site/content/en/blog/autowebperf/data-studio.png
  src/site/content/en/blog/autowebperf/index.md
Due: remark -q

Fix the JSON
  src/site/content/en/blog/autowebperf/index.md
Due: remark -q

Push Notifications article and codelabs: minor fixes (#4346)
  src/site/content/en/blog/push-notifications-client-codelab/index.md
  src/site/content/en/blog/push-notifications-overview/index.md
  src/site/content/en/blog/push-notifications-server-codelab/index.md
Due: remark -q

Add AutoWebPerf intro (#4351)
  src/site/content/en/blog/autowebperf/architecture.png
  src/site/content/en/blog/autowebperf/data-studio.png
  src/site/content/en/blog/autowebperf/index.md
Due: remark -q

Fixed gotcha gotchas
  src/site/content/en/blog/codelab-address-form-best-practices/index.md
Due: remark -q

Sms otp form (#4331)
  src/site/content/en/blog/sms-otp-form/hero.jpg
  src/site/content/en/blog/sms-otp-form/index.md
Due: remark -q

Added article: how to use https
  src/site/content/en/blog/how-to-use-local-https/index.md
  src/site/content/en/blog/how-to-use-local-https/mkcert.jpg
  src/site/content/en/blog/how-to-use-local-https/selfSigned.jpg
  src/site/content/en/blog/how-to-use-local-https/warnings.jpg
  src/site/content/en/blog/when-to-use-local-https/hosts.jpg
Due: remark -q

fix: added language
  src/site/content/en/blog/how-to-use-local-https/index.md
Due: remark -q

Added article: when to use local https
  src/site/content/en/blog/when-to-use-local-https/index.md
  src/site/content/en/blog/when-to-use-local-https/when-to-use-local-https.jpg
Due: remark -q

listed new articles under /secure
  src/site/_data/paths/secure.json
Due: none

added hero images
  src/site/content/en/blog/how-to-use-local-https/hero.jpg
  src/site/content/en/blog/when-to-use-local-https/hero.jpg
Due: none

added image credits
  src/site/content/en/blog/how-to-use-local-https/index.md
  src/site/content/en/blog/when-to-use-local-https/index.md
Due: remark -q

fixed image link
  src/site/content/en/blog/when-to-use-local-https/index.md
Due: remark -q

Uncommented codelab YAML
  src/site/content/en/blog/sign-up-form-best-practices/index.md
Due: remark -q

Bump the publish date.
  src/site/content/en/blog/sms-otp-form/index.md
Due: remark -q

Commented out unpublished video
  src/site/content/en/blog/sign-up-form-best-practices/index.md
Due: remark -q

added more credits
  src/site/content/en/blog/how-to-use-local-https/index.md
  src/site/content/en/blog/when-to-use-local-https/index.md
Due: remark -q

feat(search): add highlighting
  src/lib/components/Search/index.js
Due: eslint

add attributesToRetrieve
  src/lib/components/Search/index.js
Due: eslint

unsafe html
  src/lib/components/Search/index.js
Due: eslint

squoosh-v2 blog post (#4341)
  src/site/content/en/blog/squoosh-v2/hero.jpg
  src/site/content/en/blog/squoosh-v2/index.md
  src/site/content/en/blog/squoosh-v2/thumb.jpg
Due: remark -q

Add CDS live banner.
  src/site/_data/site.js
Due: eslint

Bump the publish date. (#4354)
  src/site/content/en/blog/sms-otp-form/index.md
Due: remark -q

Uncommented codelab link
  src/site/content/en/blog/sign-up-form-best-practices/index.md
Due: remark -q

cds in-page banner
  src/site/_includes/homepage.njk
Due: none

Updated dates in YAML
  src/site/content/en/blog/codelab-sign-up-form-best-practices/index.md
Due: remark -q

Updated dates in YAML
  src/site/content/en/blog/sign-up-form-best-practices/index.md
Due: remark -q

Codelab for review: Sign up form best practices (#4320)
  src/site/content/en/blog/codelab-sign-up-form-best-practices/index.md
Due: remark -q

Ready for review: Sign-up form best practices (#4288)
  src/site/content/en/blog/sign-up-form-best-practices/images/federated-login.jpg
  src/site/content/en/blog/sign-up-form-best-practices/images/gmail-account-switching.jpg
  src/site/content/en/blog/sign-up-form-best-practices/images/gmail-activity.jpg
  src/site/content/en/blog/sign-up-form-best-practices/images/gmail-sign-up-create-account.jpg
  src/site/content/en/blog/sign-up-form-best-practices/images/hero.jpg
  src/site/content/en/blog/sign-up-form-best-practices/images/obvious-sign-in.jpg
  src/site/content/en/blog/sign-up-form-best-practices/images/thumbnail.jpg
  src/site/content/en/blog/sign-up-form-best-practices/index.md
Due: remark -q

Updated YAML
  src/site/content/en/blog/payment-and-address-form-best-practices/index.md
Due: remark -q

Updated YAML and improved one link
  src/site/content/en/blog/codelab-address-form-best-practices/index.md
  src/site/content/en/blog/codelab-payment-form-best-practices/index.md
Due: remark -q

Ready for review: Payment and address form best practices (#4280)
  src/site/content/en/blog/payment-and-address-form-best-practices/images/browserstack.jpg
  src/site/content/en/blog/payment-and-address-form-best-practices/images/credit-card-number-multiple-inputs.jpg
  src/site/content/en/blog/payment-and-address-form-best-practices/images/custom-element-date-glitch.jpg
  src/site/content/en/blog/payment-and-address-form-best-practices/images/enterkeyhint.png
  src/site/content/en/blog/payment-and-address-form-best-practices/images/free-stickers.jpg
  src/site/content/en/blog/payment-and-address-form-best-practices/images/hero.jpg
  src/site/content/en/blog/payment-and-address-form-best-practices/images/input-type.jpg
  src/site/content/en/blog/payment-and-address-form-best-practices/images/invalid-email.png
  src/site/content/en/blog/payment-and-address-form-best-practices/images/john-lewis.png
  src/site/content/en/blog/payment-and-address-form-best-practices/images/remove-distractions.png
  src/site/content/en/blog/payment-and-address-form-best-practices/images/returning-user.png
  src/site/content/en/blog/payment-and-address-form-best-practices/images/review-order.png
  src/site/content/en/blog/payment-and-address-form-best-practices/images/shopping-cart-abandonment.png
  src/site/content/en/blog/payment-and-address-form-best-practices/images/thumbnail.jpg
  src/site/content/en/blog/payment-and-address-form-best-practices/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
