Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

adds gui challenge meta and playlist id (#5890)
  src/site/_data/i18n/shows.yml
  src/site/_data/showsData.json
Due: none

refacor(firebase): migrate to v9 of firebase library, fixes #5884 (#5889)
  package-lock.json
  package.json
  src/lib/fb.js
  src/lib/utils/firebase-loader.js
  test/unit/src/lib/index.js
  test/unit/src/lib/utils/firebase-loader.js
Due: eslint

Update src/site/content/en/blog/aurora-resource-inlining/index.md
  src/site/content/en/blog/aurora-resource-inlining/index.md
Due: remark -q

fixes #5622
  src/site/content/en/blog/2021-scroll-survey-report/index.md
Due: remark -q

updates pdf url to web.dev cdn hosting
  src/site/content/en/blog/2021-scroll-survey-report/index.md
Due: remark -q

Updated Link in footer
  src/site/_includes/partials/footer.njk
Due: none

Fix typo in code example
  src/site/content/en/blog/building-a-breadcrumbs-component/index.md
Due: remark -q

chore(dependencies): update infra dependency
  package-lock.json
  package.json
  src/site/_includes/components/Img.js
  src/site/_includes/components/Video.js
Due: eslint

chore(dependencies): update infra dependency (#5895)
  package-lock.json
  package.json
  src/site/_includes/components/Img.js
  src/site/_includes/components/Video.js
Due: eslint

Clarify permissions
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/async-clipboard/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/prefers-color-scheme/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/user-preference-media-features-headers/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Add sidebar composition
  src/scss/compositions/_sidebar.scss
  src/scss/next.scss
  src/site/content/en/design-system/css-compositions.njk
  src/site/content/en/design-system/temp-styleguide.njk
Due: sass-lint -v -q"

Tweak sidebar
  src/scss/_config.scss
  src/scss/compositions/_sidebar.scss
Due: sass-lint -v -q"

Add switcher
  src/scss/compositions/_switcher.scss
  src/scss/next.scss
  src/site/content/en/design-system/css-compositions.njk
  src/site/content/en/design-system/temp-styleguide.njk
Due: sass-lint -v -q"

Add missing switcher docs
  src/scss/compositions/_switcher.scss
Due: sass-lint -v -q"

Add auto grid
  src/scss/compositions/_auto-grid.scss
  src/scss/next.scss
  src/site/content/en/design-system/css-compositions.njk
  src/site/content/en/design-system/temp-styleguide.njk
Due: sass-lint -v -q"

Add cluster
  src/scss/compositions/_cluster.scss
  src/scss/next.scss
  src/site/content/en/design-system/css-compositions.njk
  src/site/content/en/design-system/temp-styleguide.njk
Due: sass-lint -v -q"

Apply suggestions from code review
  src/site/content/en/blog/2021-scroll-survey-report/index.md
Due: remark -q

Add sxg-rs to the list of available tools
  src/site/content/en/fast/signed-exchanges/index.md
Due: remark -q

Add subhead
  src/site/content/en/blog/tag-best-practices/index.md
Due: remark -q

Add hero image
  src/site/content/en/blog/tag-best-practices/index.md
Due: remark -q

Remove extra character
  src/site/content/en/blog/tag-best-practices/index.md
Due: remark -q

Add tag best practices article (#5874)
  src/site/_data/paths/learn-web-vitals.json
  src/site/content/en/blog/tag-best-practices/index.md
Due: remark -q

Change `master` to `main`
  src/site/content/en/fast/signed-exchanges/index.md
Due: remark -q

Update lazy-load CMS post with updated guidance around LCP.
  src/site/content/en/blog/browser-level-lazy-loading-for-cmss/index.md
Due: remark -q

Update src/site/_includes/partials/footer.njk
  src/site/_includes/partials/footer.njk
Due: none

Updated Link in footer (#5893)
  src/site/_includes/partials/footer.njk
Due: none

Update lazy-load CMS post with updated guidance around LCP. (#5899)
  src/site/content/en/blog/browser-level-lazy-loading-for-cmss/index.md
Due: remark -q

Clarify permissions (#5896)
  src/site/content/en/blog/file-handling/index.md
Due: remark -q

Fix typo in code example (#5894)
  src/site/content/en/blog/building-a-breadcrumbs-component/index.md
Due: remark -q

Adding head and body tags in examples. (#5886)
  src/site/content/en/blog/aurora-resource-inlining/index.md
Due: remark -q

Remove OT info
  src/site/content/en/blog/local-fonts/index.md
Due: remark -q

URL
  src/site/content/en/blog/2021-scroll-survey-report/index.md
Due: remark -q

Update src/site/content/en/blog/2021-scroll-survey-report/index.md
  src/site/content/en/blog/2021-scroll-survey-report/index.md
Due: remark -q

Update feature detect
  src/site/content/en/blog/fetch-upload-streaming/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
