Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Add i18n filter for templates (#4852)
  .eleventy.js
  package-lock.json
  package.json
  src/site/_data/i18n/footer.yml
  src/site/_filters/i18n.js
  src/site/_includes/partials/footer.njk
Due: eslint

Add StackOverflow tag
  src/site/content/en/blog/web-share/index.md
Due: remark -q

Strict CSP article for web.dev (#4326)
  src/site/content/en/blog/strict-csp/csp-violations.jpg
  src/site/content/en/blog/strict-csp/csp.jpg
  src/site/content/en/blog/strict-csp/hash-based-refactoring.jpg
  src/site/content/en/blog/strict-csp/index.md
  src/site/content/en/blog/strict-csp/nonce-based-refactoring.jpg
  src/site/content/en/blog/strict-csp/strict-vs-allowlist.jpg
  src/site/content/en/blog/strict-csp/strict_csp.jpg
Due: remark -q

Add support for line highlighting in Glitchwq
  src/site/_includes/components/Glitch.js
Due: eslint

Add more translation strings
  src/site/_data/i18n/header.yml
  src/site/_data/i18n/post.yml
  src/site/_data/i18n/subscribe.yml
  src/site/_data/i18n/toc.yml
  src/site/_includes/partials/header.njk
  src/site/_includes/partials/post.njk
  src/site/_includes/partials/side-nav.njk
  src/site/_includes/partials/subscribe-action.njk
  src/site/_includes/partials/subscribe.njk
  src/site/_includes/partials/toc-inner.njk
  src/site/_includes/partials/toc-side.njk
Due: none

Adjusted dimensions for banner image.
  src/site/content/en/blog/strict-csp/csp.jpg
Due: none

Update name for Penny
  src/site/_data/authorsData.json
  src/site/content/en/blog/multi-origin-pwas/index.md
Due: remark -q

capitalization fix for last name
  src/site/_data/authorsData.json
Due: none

Update case study guidelines
  src/site/content/en/handbook/case-study-guidelines/index.md
Due: remark -q

Fix linter issues.
  src/site/content/en/blog/strict-csp/index.md
Due: remark -q

progress up to checkbox
  src/site/content/en/blog/building-a-settings-component/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/wix/index.md
Due: remark -q

Add the Wix case study (#4841)
  src/site/_data/authorsData.json
  src/site/content/en/blog/wix/index.md
Due: remark -q

Bump the date on the Wix case study
  src/site/content/en/blog/wix/index.md
Due: remark -q

completes the draft
  src/site/content/en/blog/building-a-settings-component/index.md
Due: remark -q

Removing instruction that is causing duplicated instructions
  src/site/content/en/reliable/codelab-service-workers/index.md
Due: remark -q

Update index.md
  src/site/content/en/reliable/codelab-service-workers/index.md
Due: remark -q

Update 'uses-http2' article to be more accurate
  src/site/content/en/lighthouse-best-practices/uses-http2/index.md
Due: remark -q

Add 'Debugging layout shifts' post
  src/site/content/en/fast/debugging-layout-shifts/index.md
Due: remark -q

Sw codelab typo (#4868)
  src/site/content/en/reliable/codelab-service-workers/index.md
Due: remark -q

Update src/site/content/en/lighthouse-best-practices/uses-http2/index.md
  src/site/content/en/lighthouse-best-practices/uses-http2/index.md
Due: remark -q

Added aside warning about different uploaders
  src/site/content/en/handbook/markup-media/index.md
Due: remark -q

Tweaked chrome-gcs-uploader.web.app URL
  src/site/content/en/handbook/markup-media/index.md
Due: remark -q

Added aside warning about different uploaders (#4871)
  src/site/content/en/handbook/markup-media/index.md
Due: remark -q

Simplify Aside and use i18n filter on it
  src/site/_data/i18n/common.yml
  src/site/_filters/i18n.js
  src/site/_includes/components/Aside.js
  types/eleventy/page.d.ts
Due: eslint

lint
  src/site/_includes/components/Aside.js
Due: eslint

Add i18n to Compare component
  src/site/_data/i18n/common.yml
  src/site/_includes/components/Compare.js
Due: eslint

Simplify CompareCaption component
  src/site/_includes/components/CompareCaption.js
Due: eslint

lint
  src/site/_includes/components/CompareCaption.js
Due: eslint

Remove exclamation mark from .yml file
  src/site/_data/i18n/common.yml
  src/site/_includes/components/Aside.js
Due: eslint

Replace hero image with Uploader url
  src/site/content/en/blog/strict-csp/csp.jpg
  src/site/content/en/blog/strict-csp/index.md
Due: remark -q

Fix markdown error, etc.
  src/site/content/en/fast/debugging-layout-shifts/index.md
Due: remark -q

lint
  src/site/_includes/components/PathCard.js
Due: eslint

Add note
  src/site/_filters/i18n.js
Due: eslint

Simplify Aside and use i18n filter on it (#4872)
  src/site/_data/i18n/common.yml
  src/site/_filters/i18n.js
  src/site/_includes/components/Aside.js
  types/eleventy/page.d.ts
Due: eslint

format
  src/site/_data/i18n/paths/fast.yml
Due: none

Add screenshot CSS styles to images
  src/site/content/en/fast/debugging-layout-shifts/index.md
Due: remark -q

Fix unit formatting
  src/site/content/en/fast/debugging-layout-shifts/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
