Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Update measure-psi markup and icons
  src/images/icons/info.svg
  src/lib/components/LighthouseViewer/_styles.scss
  src/lib/components/UrlChooser/_styles.scss
  src/lib/components/UrlChooser/index.js
  src/site/content/en/measure-psi/index.njk
Due: eslint, sass-lint -v -q"

lint
  src/lib/components/UrlChooser/index.js
Due: eslint

make lint happy
  src/site/_data/i18n/tags.yml
Due: none

another try
  src/site/_data/i18n/tags.yml
  src/site/content/en/blog/fetch-upload-streaming/index.md
Due: remark -q

Integration css tweaks (#6439)
  src/scss/blocks/_prose.scss
  src/scss/next.scss
  src/scss/utilities/_wrapper.scss
  src/site/_includes/default-next.njk
  src/site/content/en/blog/fetch-upload-streaming/index.md
  src/site/content/en/design-system/css-utilities.md
Due: sass-lint -v -q", remark -q

patch with updated history stack ux enhancement
  src/site/content/en/blog/building-a-sidenav-component/index.md
Due: remark -q

Update src/site/content/en/blog/building-a-sidenav-component/index.md
  src/site/content/en/blog/building-a-sidenav-component/index.md
Due: remark -q

GUI Challenge - Sidenav patch (#6441)
  src/site/content/en/blog/building-a-sidenav-component/index.md
Due: remark -q

refactor(tags): use `fromEnteries` for generating tag object
  src/site/_collections/tags.js
Due: eslint

feat(tags): dynamically create tags from chrome releases, fixes #6350 (#6436)
  .github/actions/lint-tags/action.yml
  .github/actions/lint-tags/index.js
  .github/workflows/lint-workflow.yml
  src/site/_collections/tags.js
  src/site/_data/i18n/tags.yml
  src/site/_includes/macros/tag-card.njk
  src/site/_includes/macros/tag-chips.njk
  src/site/content/en/authors/individual.njk
  src/site/content/en/blog/appcache-removal/index.md
  src/site/content/en/blog/content-indexing-api/index.md
  src/site/content/en/blog/css-props-and-vals/index.md
  src/site/content/en/blog/fetch-upload-streaming/index.md
  src/site/content/en/blog/periodic-background-sync/index.md
  src/site/content/en/blog/samesite-cookie-recipes/index.md
  src/site/content/en/blog/samesite-cookies-explained/index.md
  src/site/content/en/blog/sanitizer/index.md
  src/site/content/en/blog/web-animations/index.md
  src/site/content/en/shows/individual.njk
  src/site/content/en/tags/feed.njk
  src/site/content/en/tags/individual.njk
  src/site/content/es/authors/individual.njk
  src/site/content/es/blog/samesite-cookies-explained/index.md
  src/site/content/es/tags/individual.njk
  src/site/content/ja/blog/samesite-cookies-explained/index.md
  src/site/content/ko/blog/samesite-cookies-explained/index.md
  src/site/content/pt/blog/samesite-cookies-explained/index.md
  src/site/content/ru/blog/samesite-cookies-explained/index.md
  src/site/content/zh/blog/samesite-cookies-explained/index.md
  types/site/_collections/tags.d.ts
  types/site/_collections/virtual-collection.d.ts
Due: eslint, remark -q

feat(learncss/overflow): add overflow article
  src/site/content/en/learn/css/overflow/index.md
Due: remark -q

fix! remove en-US in links
  src/site/content/en/learn/css/overflow/index.md
Due: remark -q

fix! id capitalization and codepens
  src/site/content/en/learn/css/overflow/index.md
Due: remark -q

fix! sneaky `'
  src/site/content/en/learn/css/overflow/index.md
Due: remark -q

fix! definition list spacing
  src/site/content/en/learn/css/overflow/index.md
Due: remark -q

Remove call to deprecated createBufferMapped
  src/site/content/en/blog/gpu-compute/index.md
Due: remark -q

[minor] Update first image in post
  src/site/content/en/blog/embed-best-practices/index.md
Due: remark -q

[minor] Update first image in post (#6448)
  src/site/content/en/blog/embed-best-practices/index.md
Due: remark -q

Updates to handbook quick start (#6382)
  src/site/_data/paths/handbook.json
  src/site/content/en/handbook/quick-start/index.md
  src/site/content/en/handbook/writing-blog-posts/index.md
Due: remark -q

Update styles
  src/lib/components/LighthouseViewer/_styles.scss
  src/site/content/en/measure-psi/index.njk
Due: sass-lint -v -q"

Update date
  src/site/content/en/blog/gpu-compute/index.md
Due: remark -q

Remove storage foundation references
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

Remove storage foundation references (#6450)
  src/site/content/en/blog/file-system-access/index.md
Due: remark -q

update styles
  src/lib/components/LighthouseViewer/_styles.scss
Due: sass-lint -v -q"

Remove control signal prose and update links
  src/site/content/en/blog/mediastreamtrack-insertable-media-processing/index.md
Due: remark -q

Remove call to deprecated createBufferMapped (#6446)
  src/site/content/en/blog/gpu-compute/index.md
Due: remark -q

Remove link to devwebfeed.appspot.com
  src/site/_includes/partials/site-footer.njk
Due: none

Remove link to devwebfeed.appspot.com
  src/site/_includes/partials/footer.njk
Due: none

fix! Apply suggestions from code review
  src/site/content/en/learn/css/overflow/index.md
Due: remark -q

fix! consistent - in scroller names
  src/site/content/en/learn/css/overflow/index.md
Due: remark -q

fix! locale in link
  src/site/content/en/learn/css/overflow/index.md
Due: remark -q

Minor tweaks
  src/site/content/en/learn/forms/auto/index.md
  src/site/content/en/learn/forms/form-element/index.md
  src/site/content/en/learn/forms/form-fields/form-fields.assess.yml
  src/site/content/en/learn/forms/form-fields/index.md
  src/site/content/en/learn/forms/form/form.assess.yml
  src/site/content/en/learn/forms/form/index.md
  src/site/content/en/learn/forms/testing/index.md
  src/site/content/en/learn/forms/validation/index.md
Due: remark -q

feat(footer): remove links to devwebfeed, fixes #6449
  src/site/_includes/partials/footer.njk
  src/site/_includes/partials/site-footer.njk
Due: none

refactor course11tydata, noindex if draft (#6425)
  src/site/_utils/course-11tydata.js
  src/site/content/en/learn/css/css.11tydata.js
  src/site/content/en/learn/forms/forms.11tydata.js
Due: eslint

Remove links to devwebfeed.appspot.com , fixes #6449 (#6452)
  src/site/_includes/partials/footer.njk
  src/site/_includes/partials/site-footer.njk
Due: none

Initial commit of produced priority hints doc.
  src/site/content/en/fast/priority-hints/index.md
Due: remark -q

Fixed buggy stuff.
  src/site/content/en/fast/priority-hints/index.md
Due: remark -q

Fixes a stray curly quote.
  src/site/content/en/fast/priority-hints/index.md
Due: remark -q

update sanitizer explainer to github published version
  src/site/content/en/blog/sanitizer/index.md
Due: remark -q

Remove control signal prose and update links (#6451)
  src/site/content/en/blog/mediastreamtrack-insertable-media-processing/index.md
Due: remark -q
