Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Fixes #3109. Redirect 404ing LH learn more link.
  src/site/content/_redirects.yaml
Due: none

Fixes #3109. Redirect 404ing LH learn more link. (#3124)
  src/site/content/_redirects.yaml
Due: none

Update "What to expect" language.
  src/site/content/en/live/index.njk
Due: none

Update "What to expect" language. (#3125)
  src/site/content/en/live/index.njk
Due: none

Fix inconsistency in manifest file name
  src/site/content/en/progressive-web-apps/add-manifest/index.md
Due: remark -q

feat(subscribe-analytics): add tracking for clicking subscribe/newsletter buttons, fixes #3106
  src/site/_includes/partials/subscribe-action.njk
  src/site/content/en/live/index.njk
Due: none

Added links to checklist
  src/site/content/en/blog/signin-form-best-practice/index.md
Due: remark -q

Update LanguageSelect el
  src/lib/actions.js
  src/lib/components/LanguageSelect/index.js
  src/lib/utils/language.js
Due: eslint

Add Kayce and Meggin as authors.
  src/site/_data/contributors.js
  src/site/content/en/fast/measure-performance-with-the-rail-model/index.md
Due: eslint, remark -q

Renamed to sign-in-form-best-practice
  src/site/content/en/blog/signin-form-best-practice/amazon-signin-mobile.png
  src/site/content/en/blog/signin-form-best-practice/amazon-signin.png
  src/site/content/en/blog/signin-form-best-practice/autofocus.png
  src/site/content/en/blog/signin-form-best-practice/chrome-signin-desktop.png
  src/site/content/en/blog/signin-form-best-practice/firefox-password-manager.png
  src/site/content/en/blog/signin-form-best-practice/hero.jpg
  src/site/content/en/blog/signin-form-best-practice/index.md
  src/site/content/en/blog/signin-form-best-practice/invalid-email.png
  src/site/content/en/blog/signin-form-best-practice/iphone-keyboard.png
  src/site/content/en/blog/signin-form-best-practice/keyboard-not-ok.png
  src/site/content/en/blog/signin-form-best-practice/keyboard-ok.png
  src/site/content/en/blog/signin-form-best-practice/label-position.png
  src/site/content/en/blog/signin-form-best-practice/missing-field-firefox-android.png
  src/site/content/en/blog/signin-form-best-practice/safari-password-suggest.png
  src/site/content/en/blog/signin-form-best-practice/safari-password-suggestion.png
  src/site/content/en/blog/signin-form-best-practice/safari-signin-desktop.png
  src/site/content/en/blog/signin-form-best-practice/show-password-google.png
  src/site/content/en/blog/signin-form-best-practice/show-password.png
  src/site/content/en/blog/signin-form-best-practice/styled-signin-form.png
  src/site/content/en/blog/signin-form-best-practice/thumbnail.jpg
  src/site/content/en/blog/signin-form-best-practice/unstyled-form-text.png
  src/site/content/en/blog/signin-form-best-practice/unstyled-form.png
Due: remark -q

Proactively fix Chrome Status URLs.
  src/site/content/en/blog/ar-hit-test/index.md
  src/site/content/en/blog/badging-api/index.md
  src/site/content/en/blog/contact-picker/index.md
  src/site/content/en/blog/get-installed-related-apps/index.md
  src/site/content/en/blog/image-support-for-async-clipboard/index.md
  src/site/content/en/blog/lighthouse-evolution-cds-2019/index.md
  src/site/content/en/blog/module-workers/index.md
  src/site/content/en/blog/monitor-total-page-memory-usage/index.md
  src/site/content/en/blog/nfc/index.md
  src/site/content/en/blog/shape-detection/index.md
  src/site/content/en/blog/wakelock/index.md
  src/site/content/en/blog/web-ar/index.md
  src/site/content/en/blog/web-payments-updates/index.md
  src/site/content/en/blog/web-share-target/index.md
  src/site/content/en/fast/adaptive-serving-based-on-network-quality/index.md
  src/site/content/en/fast/chrome-ux-report-data-studio-dashboard/index.md
  src/site/content/en/react/code-splitting-with-dynamic-imports-in-nextjs/index.md
Due: remark -q

Fix hypercorrections.
  src/site/content/en/blog/lighthouse-evolution-cds-2019/index.md
  src/site/content/en/blog/module-workers/index.md
  src/site/content/en/blog/monitor-total-page-memory-usage/index.md
  src/site/content/en/fast/chrome-ux-report-data-studio-dashboard/index.md
  src/site/content/en/react/code-splitting-with-dynamic-imports-in-nextjs/index.md
Due: remark -q

Proactively fix Chrome Status URLs. (#3133)
  src/site/content/en/blog/ar-hit-test/index.md
  src/site/content/en/blog/badging-api/index.md
  src/site/content/en/blog/contact-picker/index.md
  src/site/content/en/blog/get-installed-related-apps/index.md
  src/site/content/en/blog/image-support-for-async-clipboard/index.md
  src/site/content/en/blog/nfc/index.md
  src/site/content/en/blog/shape-detection/index.md
  src/site/content/en/blog/wakelock/index.md
  src/site/content/en/blog/web-ar/index.md
  src/site/content/en/blog/web-payments-updates/index.md
  src/site/content/en/blog/web-share-target/index.md
  src/site/content/en/fast/adaptive-serving-based-on-network-quality/index.md
Due: remark -q

Update src/site/content/en/blog/quictransport/index.md
  src/site/content/en/blog/quictransport/index.md
Due: remark -q

Review feedback.
  src/site/content/en/blog/quictransport/index.md
Due: remark -q

Edit content (#3095)
  src/site/content/en/blog/stories-component/index.md
Due: remark -q

Replace "must_revalidate" with "must-revalidate"
  src/site/content/en/lighthouse-performance/uses-long-cache-ttl/cache-control-header.png
Due: none

edits after merge
  src/site/content/en/blog/stories-component/carousel-of-carousels.png
  src/site/content/en/blog/stories-component/index.md
Due: remark -q

Replace "must_revalidate" with "must-revalidate" (#3134)
  src/site/content/en/lighthouse-performance/uses-long-cache-ttl/cache-control-header.png
Due: none

added glitch to be remixed
  src/site/content/en/blog/stories-component/index.md
Due: remark -q

proper tags
  src/site/content/en/blog/stories-component/index.md
Due: remark -q

Call toUpperCase on languageName
  src/lib/components/LanguageSelect/index.js
Due: eslint

Add a language switch element (#3056)
  package-lock.json
  package.json
  src/lib/actions.js
  src/lib/components/LanguageSelect/index.js
  src/lib/components/base.js
  src/lib/store.js
  src/lib/utils/language.js
  src/site/_includes/partials/footer.njk
  src/site/_includes/partials/subscribe.njk
  src/styles/components/_subscribe.scss
  src/styles/generic/_all.scss
  src/styles/generic/select
Due: eslint, sass-lint -v -q"

Simplify ArticleNavigation
  src/site/_includes/codelab.njk
  src/site/_includes/components/ArticleNavigation.js
  src/site/_includes/partials/post.njk
Due: eslint

android shadow nit fix
  src/site/content/en/blog/stories-component/hero.jpg
  src/site/content/en/blog/stories-component/thumb.jpg
Due: none

New sentence.
  src/site/content/en/blog/quictransport/index.md
Due: remark -q

Fix usage of Compare components
  src/site/content/en/lighthouse-seo/robots-txt/index.md
Due: remark -q

Link to Event Listener Breakpoints section
  src/site/content/en/lighthouse-best-practices/password-inputs-can-be-pasted-into/index.md
Due: remark -q

Update the call-to-action
  src/site/content/en/lighthouse-best-practices/no-vulnerable-libraries/index.md
Due: remark -q

Fix usage of Compare components (#3137)
  src/site/content/en/lighthouse-seo/robots-txt/index.md
Due: remark -q

Add verbatim messages from Chrome and Firefox Consoles
  src/site/content/en/lighthouse-best-practices/no-document-write/index.md
Due: remark -q

Rename section from "WebP browser support" to "Browser compatibility"
  src/site/content/en/lighthouse-performance/uses-webp-images/index.md
Due: remark -q

Add verbatim messages from Chrome and Firefox Consoles (#3138)
  src/site/content/en/lighthouse-best-practices/no-document-write/index.md
Due: remark -q

more edits and updates, added a video
  src/site/content/en/blog/codelab-stories-component/index.md
  src/site/content/en/blog/stories-component/index.md
Due: remark -q

Update the text compression guidance
  src/site/content/en/lighthouse-performance/uses-text-compression/index.md
Due: remark -q

Update the text compression guidance (#3139)
  src/site/content/en/lighthouse-performance/uses-text-compression/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
