Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

add stuck state to course-app-bar (#5294)
  src/site/_includes/course.njk
  src/styles/components/_app-bar.scss
Due: sass-lint -v -q"

Fix app bar squish and pagination colors.
  src/styles/components/_app-bar.scss
  src/styles/components/_course-pagination.scss
  src/styles/pages/_course.scss
Due: sass-lint -v -q"

Fix app bar squish and pagination colors. (#5296)
  src/styles/components/_app-bar.scss
  src/styles/components/_course-pagination.scss
  src/styles/pages/_course.scss
Due: sass-lint -v -q"

Second pass on PWA article
  src/site/content/en/media/pwa-with-offline-streaming/index.md
Due: remark -q

[content] adds preload optional fonts audit
  src/site/content/en/blog/optimize-vitals-lighthouse/index.md
Due: remark -q

[content] Minor note to link to Andy's guide
  src/site/content/en/blog/optimize-vitals-lighthouse/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/url-protocol-handler/index.md
Due: remark -q

Prettier
  src/site/content/en/blog/url-protocol-handler/index.md
Due: remark -q

Incorporate cross-origin iframe support in WebOTP
  src/site/content/en/blog/web-otp/index.md
Due: remark -q

Update src/site/content/en/learn/css/animations/animations.assess.yml
  src/site/content/en/learn/css/animations/animations.assess.yml
Due: none

Update src/site/content/en/learn/css/gradients/gradients.assess.yml
  src/site/content/en/learn/css/gradients/gradients.assess.yml
Due: none

Update src/site/content/en/learn/css/functions/functions.assess.yml
  src/site/content/en/learn/css/functions/functions.assess.yml
Due: none

Adds psuedo-classes assessments (#5233)
  src/site/content/en/learn/css/pseudo-classes/index.md
  src/site/content/en/learn/css/pseudo-classes/pseudo-classes.assess.yml
Due: remark -q

Adds animations assessments (#5290)
  src/site/content/en/learn/css/animations/animations.assess.yml
  src/site/content/en/learn/css/animations/index.md
Due: remark -q

Adds gradient assessments (#5288)
  src/site/content/en/learn/css/gradients/gradients.assess.yml
  src/site/content/en/learn/css/gradients/index.md
Due: remark -q

Update
  src/site/content/en/secure/security-headers-cheat-sheet/index.md
Due: remark -q

Document Safari's special way
  src/site/content/en/blog/async-clipboard/index.md
Due: remark -q

Update index.md
  src/site/content/en/blog/async-clipboard/index.md
Due: remark -q

Update
  src/site/content/en/blog/web-otp/index.md
Due: remark -q

Update src/site/content/en/blog/text-fragments/index.md
  src/site/content/en/blog/text-fragments/index.md
Due: remark -q

Start editing the article
  src/site/content/en/blog/excalidraw-and-fugu/index.md
Due: remark -q

Update SAB related articles on restriction delay (#5270)
  src/site/content/en/blog/coop-coep/index.md
  src/site/content/en/secure/cross-origin-isolation-guide/index.md
Due: remark -q

WIP
  src/site/content/en/blog/es-modules-in-sw/index.md
Due: remark -q

Fix link not working on focusout
  src/lib/components/Search/index.js
Due: eslint

WebTransport updates
  src/site/content/en/blog/webtransport/index.md
Due: remark -q

soft launch learn css
  redirects.yaml
  src/site/_data/courses/css/meta.yml
  src/site/_data/site.js
  src/site/_includes/partials/course-cards.njk
  src/site/content/en/learn/css/css.11tydata.js
Due: eslint

soft launch learn css (#5304)
  redirects.yaml
  src/site/_data/courses/css/meta.yml
  src/site/_data/site.js
  src/site/_includes/partials/course-cards.njk
  src/site/content/en/learn/css/css.11tydata.js
Due: eslint

disable translation banner (#5284)
  src/site/content/es/es.11tydata.js
Due: eslint

Remove CLS from the sign in element in /measure
  src/site/content/en/measure/index.njk
  src/styles/components/_page-header.scss
  src/styles/pages/_measure.scss
Due: sass-lint -v -q"

Address additional feedback (first round)
  src/site/content/en/blog/optimize-vitals-lighthouse/index.md
Due: remark -q

[feedback] Drop font preloading section
  src/site/content/en/blog/optimize-vitals-lighthouse/index.md
Due: remark -q

Add video conferencing actions to media session article (#5259)
  src/site/content/en/blog/media-session/index.md
Due: remark -q

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
