Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

final launch bits.
  src/site/_data/courses/html/toc.yml
  src/site/content/en/blog/learn-html-available/index.md
  src/site/content/en/learn/html/apis/index.md
  src/site/content/en/learn/html/audio-video/index.md
  src/site/content/en/learn/html/conclusion/index.md
  src/site/content/en/learn/html/details/index.md
  src/site/content/en/learn/html/dialog/index.md
  src/site/content/en/learn/html/focus/index.md
  src/site/content/en/learn/html/forms/index.md
  src/site/content/en/learn/html/inline-text/index.md
  src/site/content/en/learn/html/template/index.md
Due: remark -q

2 fact checks for TTFB advice (#9594)
  src/site/content/en/blog/optimize-ttfb/index.md
Due: remark -q

feat: add expandable tabs
  src/lib/components/Tabs/index.js
  src/scss/web-components/_web-tabs.scss
Due: eslint, sass-lint -v -q"

Fixes #9557
  src/site/content/en/fast/navigation-and-resource-timing/index.md
Due: remark -q

Fixes #9557 (#9625)
  src/site/content/en/fast/navigation-and-resource-timing/index.md
Due: remark -q

feat: add limit attribute on tabs
  src/lib/components/Tabs/index.js
  src/site/_includes/components/CodePattern.js
Due: eslint

lint: fix prettier lint errors
  src/lib/components/Tabs/index.js
  src/site/_includes/components/CodePattern.js
Due: eslint

Learn HTML (modules 12-20) (#9576)
  src/site/_data/courses/html/toc.yml
  src/site/content/en/blog/learn-html-available/index.md
  src/site/content/en/learn/html/apis/apis.assess.yml
  src/site/content/en/learn/html/apis/index.md
  src/site/content/en/learn/html/audio-video/audio-video.assess.yml
  src/site/content/en/learn/html/audio-video/index.md
  src/site/content/en/learn/html/conclusion/index.md
  src/site/content/en/learn/html/details/details.assess.yml
  src/site/content/en/learn/html/details/index.md
  src/site/content/en/learn/html/dialog/dialog.assess.yml
  src/site/content/en/learn/html/dialog/index.md
  src/site/content/en/learn/html/focus/focus.assess.yml
  src/site/content/en/learn/html/focus/index.md
  src/site/content/en/learn/html/forms/forms.assess.yml
  src/site/content/en/learn/html/forms/index.md
  src/site/content/en/learn/html/images/images.assess.yml
  src/site/content/en/learn/html/images/index.md
  src/site/content/en/learn/html/inline-text/index.md
  src/site/content/en/learn/html/inline-text/inline-text.assess.yml
  src/site/content/en/learn/html/template/index.md
  src/site/content/en/learn/html/template/template.assess.yml
Due: remark -q

Add flex-wrap for mobile
  src/site/content/en/learn/html/forms/index.md
Due: remark -q

Format/fix code samples in Learn HTML
  src/site/content/en/learn/html/apis/index.md
  src/site/content/en/learn/html/attributes/index.md
  src/site/content/en/learn/html/audio-video/index.md
  src/site/content/en/learn/html/details/index.md
  src/site/content/en/learn/html/dialog/index.md
  src/site/content/en/learn/html/document-structure/index.md
  src/site/content/en/learn/html/forms/index.md
  src/site/content/en/learn/html/headings-and-sections/index.md
  src/site/content/en/learn/html/images/index.md
  src/site/content/en/learn/html/inline-text/index.md
  src/site/content/en/learn/html/lists/index.md
  src/site/content/en/learn/html/metadata/index.md
  src/site/content/en/learn/html/navigation/index.md
  src/site/content/en/learn/html/overview/index.md
  src/site/content/en/learn/html/semantic-html/index.md
  src/site/content/en/learn/html/template/index.md
Due: remark -q

Update index.md
  src/site/content/en/learn/html/audio-video/index.md
Due: remark -q

Update index.md (#9629)
  src/site/content/en/learn/html/audio-video/index.md
Due: remark -q

Add flex-wrap for mobile (#9627)
  src/site/content/en/learn/html/forms/index.md
Due: remark -q

Fix label nesting
  src/site/content/en/learn/html/attributes/index.md
Due: remark -q

Correct scope and start URL docs
  src/site/content/en/progressive-web-apps/add-manifest/index.md
Due: remark -q

Just a tiny typo
  src/site/content/en/blog/pwa-install-addressbar/index.md
Due: remark -q

refactor: reenable dev rel ribbon and move to bottom left
  src/scss/blocks/_ribbon.scss
  src/scss/next.scss
  src/site/_data/i18n/common.yml
  src/site/_includes/base.njk
  src/site/_includes/core.njk
  src/site/_includes/partials/devrel-ribbon.njk
Due: sass-lint -v -q"

Fixed two typos
  src/site/content/en/learn/html/images/index.md
Due: remark -q

Apply suggestions from code review
  redirects.yaml
Due: none

dates, small fixes
  src/site/_data/courses/privacy/meta.yml
  src/site/_data/i18n/courses.yml
  src/site/content/en/blog/introducing-learn-privacy/index.md
  src/site/content/en/learn/privacy/best-practices/index.md
  src/site/content/en/learn/privacy/data/index.md
  src/site/content/en/learn/privacy/encryption/index.md
  src/site/content/en/learn/privacy/fingerprinting/index.md
  src/site/content/en/learn/privacy/third-parties/index.md
Due: remark -q

Add a note for Icons in Safari
  src/site/content/en/learn/pwa/web-app-manifest/index.md
Due: remark -q

Learn Privacy (#9457)
  src/images/courses/privacy/background.svg
  src/images/courses/privacy/card.svg
  src/images/courses/privacy/logo.svg
  src/site/_data/authorsData.json
  src/site/_data/courses/privacy/meta.yml
  src/site/_data/courses/privacy/toc.yml
  src/site/_data/i18n/authors.yml
  src/site/_data/i18n/courses.yml
  src/site/content/en/blog/introducing-learn-privacy/index.md
  src/site/content/en/learn/privacy/best-practices/index.md
  src/site/content/en/learn/privacy/data/index.md
  src/site/content/en/learn/privacy/encryption/index.md
  src/site/content/en/learn/privacy/fingerprinting/index.md
  src/site/content/en/learn/privacy/index.md
  src/site/content/en/learn/privacy/privacy.11tydata.js
  src/site/content/en/learn/privacy/third-parties/index.md
Due: eslint, remark -q

Update src/site/content/en/blog/url/index.md
  src/site/content/en/blog/url/index.md
Due: remark -q

Removed heading for 'anchor'
  src/site/content/en/blog/url/index.md
Due: remark -q

Removed separate heading for 'query string'
  src/site/content/en/blog/url/index.md
Due: remark -q

Chromium-only article migrations (#9601)
  redirects.yaml
  src/site/content/en/blog/declarative-shadow-dom/index.md
  src/site/content/en/blog/gpu-compute/index.md
  src/site/content/en/blog/web-bundles/index.md
  src/site/content/en/blog/webtransport/index.md
  src/site/content/en/identity/web-otp/index.md
  src/site/content/es/blog/declarative-shadow-dom/index.md
  src/site/content/es/identity/web-otp/index.md
  src/site/content/ja/blog/webtransport/index.md
  src/site/content/ko/blog/webtransport/index.md
  src/site/content/ko/identity/web-otp/index.md
  src/site/content/pt/blog/declarative-shadow-dom/index.md
  src/site/content/pt/identity/web-otp/index.md
  src/site/content/ru/blog/webtransport/index.md
  src/site/content/ru/identity/web-otp/index.md
  src/site/content/zh/blog/webtransport/index.md
  src/site/content/zh/identity/web-otp/index.md
Due: remark -q

Tweaked port and site
  src/site/content/en/blog/url/index.md
Due: remark -q

refactor: renamed unnecessary .njk templates to .md
  src/site/content/en/accessible/index.md
  src/site/content/en/angular/index.md
  src/site/content/en/animations/index.md
  src/site/content/en/devices/index.md
  src/site/content/en/discoverable/index.md
  src/site/content/en/fast/index.md
  src/site/content/en/handbook/index.md
  src/site/content/en/identity/index.md
  src/site/content/en/learn-core-web-vitals/index.md
  src/site/content/en/media/index.md
  src/site/content/en/metrics/index.md
  src/site/content/en/mini-apps/index.md
  src/site/content/en/notifications/index.md
  src/site/content/en/payments/index.md
  src/site/content/en/progressive-web-apps/index.md
  src/site/content/en/react/index.md
  src/site/content/en/reliable/index.md
  src/site/content/en/secure/index.md
  src/site/content/en/web-dev-basics-one/index.md
Due: remark -q

stlye: fixed icon size toc
  src/scss/pages/_collection.scss
Due: sass-lint -v -q"

fix links
  redirects.yaml
Due: none

fix links (#9638)
  redirects.yaml
Due: none

feat: stick ribbon to the right for bigger screens
  src/scss/blocks/_ribbon.scss
Due: sass-lint -v -q"

Widget for url-parts demo
  .eleventy.js
  src/scss/next.scss
  src/site/_includes/components/Widget.js
  src/site/content/en/blog/test-post/index.md
  src/site/content/en/blog/url/index.md
  src/site/content/en/patterns/example-set/image-demo/assets/sample.html
Due: eslint, sass-lint -v -q", remark -q

Widget for url-parts demo
  src/scss/blocks/_widget.scss
  src/site/content/en/demos/url-parts/index.html
  src/site/content/en/third_party/demos/url-parts/css/main.css
  src/site/content/en/third_party/demos/url-parts/js/main.js
  src/site/content/en/third_party/demos/url-parts/js/psl.js
  src/site/content/en/third_party/demos/url-parts/js/tld.js
Due: eslint, sass-lint -v -q"

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
