Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

smart quotes
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

Quick fix image
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

fig classes
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

add ot include.
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

Remove extra ampersand from query params
  src/site/content/en/blog/image-support-for-async-clipboard/index.md
Due: remark -q

Add Next.js intro
  src/site/content/en/fast/performance-as-a-default-with-nextjs/devtools.png
  src/site/content/en/fast/performance-as-a-default-with-nextjs/index.md
Due: remark -q

Fix lint errors
  src/site/content/en/fast/performance-as-a-default-with-nextjs/index.md
Due: remark -q

Specify code language
  src/site/content/en/fast/performance-as-a-default-with-nextjs/index.md
Due: remark -q

Move stuff and update ToC
  src/site/content/en/react/performance-as-a-default-with-nextjs/devtools.png
  src/site/content/en/react/performance-as-a-default-with-nextjs/index.md
  src/site/content/en/react/react.11tydata.js
Due: eslint, remark -q

Convert LH links to rel=noopener
  src/site/content/en/lighthouse-accessibility/aria-allowed-attr/index.md
  src/site/content/en/lighthouse-accessibility/aria-hidden-body/index.md
  src/site/content/en/lighthouse-accessibility/aria-hidden-focus/index.md
  src/site/content/en/lighthouse-accessibility/aria-input-field-name/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-children/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-parent/index.md
  src/site/content/en/lighthouse-accessibility/aria-roles/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr-value/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr/index.md
Due: remark -q

Update aria-required-attr post
  src/site/content/en/lighthouse-accessibility/aria-required-attr/index.md
Due: remark -q

feedback
  src/site/content/en/blog/wakelock/index.md
Due: remark -q

Update aria-required-children post
  src/site/content/en/lighthouse-accessibility/aria-required-children/index.md
Due: remark -q

Update ARIA role def links
  src/site/content/en/lighthouse-accessibility/aria-allowed-attr/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-attr/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-parent/index.md
  src/site/content/en/lighthouse-accessibility/aria-roles/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr-value/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr/index.md
Due: remark -q

Update aria-required-parent post
  src/site/_includes/content/lighthouse-accessibility/aria-child-parent.njk
  src/site/content/en/lighthouse-accessibility/aria-required-children/index.md
  src/site/content/en/lighthouse-accessibility/aria-required-parent/index.md
Due: remark -q

Update remaining ARIA posts
  src/site/content/en/lighthouse-accessibility/aria-roles/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr-value/index.md
  src/site/content/en/lighthouse-accessibility/aria-valid-attr/index.md
Due: remark -q

Add Markdown to post subheads
  src/site/_includes/partials/post.njk
Due: none

Add Markdown to post subheads (#1665)
  src/site/_includes/partials/post.njk
Due: none

Separate and expand the SameSite recipes
  src/site/content/en/blog/samesite-cookie-recipes/chrome-console-warning.png
  src/site/content/en/blog/samesite-cookie-recipes/cookie-hero.jpg
  src/site/content/en/blog/samesite-cookie-recipes/iframe.png
  src/site/content/en/blog/samesite-cookie-recipes/index.md
  src/site/content/en/blog/samesite-cookie-recipes/safe-navigation.png
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Correct formatting
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Explicit formatting options
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Mention Edge intent
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Remove devsite's CSS and fixup issues.
  src/lib/components/ProfileSwitcher/_styles.scss
  src/lib/components/UrlChooser/_styles.scss
  src/site/content/en/about/index.njk
  src/site/content/en/accessible/what-is-accessibility/index.md
  src/styles/all.scss
  src/styles/components/_buttons.scss
  src/styles/components/_grid.scss
  src/styles/devsite/_app.scss
  src/styles/devsite/_devsite_debug_info.scss
  src/styles/devsite/_devsite_heading.scss
  src/styles/devsite/_devsite_snackbar.scss
  src/styles/devsite/_devsite_tooltip.scss
  src/styles/devsite/_elements.scss
  src/styles/devsite/_vetos.scss
  src/styles/generic/_all.scss
  src/styles/generic/_buttons.scss
  src/styles/overrides/_all.scss
  src/styles/overrides/_hidden.scss
  src/styles/pages/_about.scss
Due: sass-lint -v -q", remark -q

Suggested edits
  src/site/_includes/content/origin-trial-register.njk
  src/site/_includes/content/origin-trials.njk
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

Don't let code in headings break.
  src/styles/generic/_code.scss
Due: sass-lint -v -q"

Don't let code in headings break. (#1668)
  src/styles/generic/_code.scss
Due: sass-lint -v -q"

Remove devsite's CSS and fixup issues. (#1667)
  src/lib/components/ProfileSwitcher/_styles.scss
  src/lib/components/UrlChooser/_styles.scss
  src/site/content/en/about/index.njk
  src/site/content/en/accessible/what-is-accessibility/index.md
  src/styles/all.scss
  src/styles/components/_buttons.scss
  src/styles/components/_grid.scss
  src/styles/devsite/_app.scss
  src/styles/devsite/_devsite_debug_info.scss
  src/styles/devsite/_devsite_heading.scss
  src/styles/devsite/_devsite_snackbar.scss
  src/styles/devsite/_devsite_tooltip.scss
  src/styles/devsite/_elements.scss
  src/styles/devsite/_vetos.scss
  src/styles/generic/_all.scss
  src/styles/generic/_buttons.scss
  src/styles/overrides/_all.scss
  src/styles/overrides/_hidden.scss
  src/styles/pages/_about.scss
Due: sass-lint -v -q", remark -q

Fix Aside formatting
  src/site/content/en/blog/samesite-cookie-recipes/index.md
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

Unsplice my comma
  src/site/content/en/blog/samesite-cookie-recipes/index.md
Due: remark -q

Aside formatting
  src/site/content/en/blog/samesite-cookie-recipes/index.md
  src/site/content/en/blog/samesite-cookies-explained/index.md
Due: remark -q

feedback
  src/site/content/en/blog/get-installed-related-apps/index.md
Due: remark -q

Clean up search templates.
  src/lib/components/Search/index.js
Due: eslint

Updates based on feedback. Add debounce helper.
  src/lib/components/Search/index.js
  src/lib/utils/debounce.js
Due: eslint

Add query caching.
  src/lib/components/Search/index.js
Due: eslint

Add Search component.
  index-algolia.js
  package-lock.json
  package.json
  src/lib/app.js
  src/lib/components/Header/_styles.scss
  src/lib/components/Header/index.js
  src/lib/components/ProfileSwitcher/_styles.scss
  src/lib/components/Search/_styles.scss
  src/lib/components/Search/index.js
  src/lib/components/_all.scss
  src/lib/store.js
  src/site/_collections/algolia-posts.js
  src/site/_includes/layout.njk
Due: eslint, sass-lint -v -q"

Tidy based on feedback.
  src/lib/components/Search/_styles.scss
  src/lib/components/Search/index.js
Due: eslint, sass-lint -v -q"

Add Search component. (#1633)
  index-algolia.js
  package-lock.json
  package.json
  src/lib/app.js
  src/lib/components/Header/_styles.scss
  src/lib/components/Header/index.js
  src/lib/components/ProfileSwitcher/_styles.scss
  src/lib/components/Search/_styles.scss
  src/lib/components/Search/index.js
  src/lib/components/_all.scss
  src/lib/store.js
  src/lib/utils/debounce.js
  src/site/_collections/algolia-posts.js
  src/site/_includes/layout.njk
Due: eslint, sass-lint -v -q"

Fix missed merge comment.
  src/lib/components/ProfileSwitcher/_styles.scss
Due: sass-lint -v -q"

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
