Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Fix headings.
  src/site/content/en/blog/reporting-observer/index.md
Due: remark -q

Add subtitle and description.
  src/site/content/en/blog/reporting-observer/index.md
Due: remark -q

Update src/lib/components/Feedback/_styles.scss
  src/lib/components/Feedback/_styles.scss
Due: sass-lint -v -q"

chore(ci): run lighthouse CI on master
  .github/workflows/lighthouse-ci-workflow.yml
Due: none

add comment about running on master
  .github/workflows/lighthouse-ci-workflow.yml
Due: none

chore(ci): run lighthouse CI on master (#2941)
  .github/workflows/lighthouse-ci-workflow.yml
Due: none

refactor: remove labels and fix style
  src/lib/components/Feedback/_styles.scss
  src/lib/components/Feedback/index.js
Due: eslint, sass-lint -v -q"

feat(feedback): add custom element to take feedback on posts, fixes #2386 (#2799)
  src/images/icons/check_box.svg
  src/images/icons/check_box_outline_blank.svg
  src/lib/analytics.js
  src/lib/components/Feedback/_styles.scss
  src/lib/components/Feedback/index.js
  src/lib/components/Subscribe/index.js
  src/lib/pages/default.js
  src/site/_includes/partials/post.njk
  src/styles/components/_details.scss
  src/styles/generic/_input.scss
  src/styles/settings/_colors.scss
Due: eslint, sass-lint -v -q"

web.dev/live misc (#2935)
  src/site/content/en/live/hero.png
  src/site/content/en/live/index.njk
Due: none

subscribe copy just for live page (#2933)
  src/site/_includes/partials/subscribe.njk
  src/site/content/en/live/index.njk
Due: none

Update src/site/_data/event.js
  src/site/_data/event.js
Due: eslint

web.dev/live data update (#2930)
  src/images/authors/crystallambert.jpg
  src/images/authors/crystallambert@2x.jpg
  src/images/authors/dalmaer.jpg
  src/images/authors/dalmaer@2x.jpg
  src/images/authors/nainar.jpg
  src/images/authors/nainar@2x.jpg
  src/images/authors/patrickkettner.jpg
  src/images/authors/patrickkettner@2x.jpg
  src/images/authors/syg.jpg
  src/images/authors/syg@2x.jpg
  src/site/_data/contributors.js
  src/site/_data/event.js
Due: eslint

Add the Responsive Web Design Basics guide (#2873)
  src/images/authors/rachelandrew.jpg
  src/images/authors/rachelandrew@2x.jpg
  src/site/_data/contributors.js
  src/site/content/en/blog/responsive-web-design-basics/devtools-large-2.png
  src/site/content/en/blog/responsive-web-design-basics/devtools-large.png
  src/site/content/en/blog/responsive-web-design-basics/devtools-small-2.png
  src/site/content/en/blog/responsive-web-design-basics/devtools-small.png
  src/site/content/en/blog/responsive-web-design-basics/fixed-width-layout.jpg
  src/site/content/en/blog/responsive-web-design-basics/index.md
  src/site/content/en/blog/responsive-web-design-basics/readability-narrow.jpg
  src/site/content/en/blog/responsive-web-design-basics/readability-wide.jpg
  src/site/content/en/blog/responsive-web-design-basics/resize.mp4
  src/site/content/en/blog/responsive-web-design-basics/resize.webm
  src/site/content/en/blog/responsive-web-design-basics/weather-1-2x.png
  src/site/content/en/blog/responsive-web-design-basics/weather-2-2x.png
  src/site/content/en/blog/responsive-web-design-basics/weather-3-2x.png
  src/site/content/en/blog/responsive-web-design-basics/weather-4-l-2x.png
  src/site/content/en/blog/responsive-web-design-basics/weather-4-r-2x.png
  src/site/content/en/blog/responsive-web-design-basics/with-vp-meta.png
  src/site/content/en/blog/responsive-web-design-basics/without-vp-meta.png
Due: eslint, remark -q

Delete the duplicate codelab
  src/site/content/en/blog/codelab-signup-form/index.md
Due: remark -q

started port, saving state
  src/site/content/en/blog/catalina-system-ui/hero-temp.png
  src/site/content/en/blog/catalina-system-ui/hero.jpg
  src/site/content/en/blog/catalina-system-ui/index.md
Due: remark -q

resolve fouc for live page
  src/lib/components/BaseElement/index.js
  src/lib/components/EventTime/_styles.scss
  src/lib/components/Tabs/_styles.scss
  src/lib/components/Tabs/index.js
  src/site/_includes/components/EventTable.js
  src/styles/all.scss
  src/styles/overrides/_all.scss
  src/styles/overrides/_unresolved.scss
Due: eslint, sass-lint -v -q"

comment and lint
  src/lib/components/EventTime/_styles.scss
  src/lib/components/Tabs/_styles.scss
  src/styles/overrides/_all.scss
Due: sass-lint -v -q"

Update codelab
  src/site/content/en/blog/codelab-signin-form/email-keyboard.jpg
  src/site/content/en/blog/codelab-signin-form/index.md
Due: remark -q

moar comment
  src/styles/overrides/_unresolved.scss
Due: sass-lint -v -q"

s/it's/its/
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

Consistent capitalization
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

Use colon for better flow
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

Capitalize first letter of each bullet point
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

American spelling per style guide
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

Uncapitalize service worker
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

Sentence flow
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

Align speed recommendations with Core Web Vitals
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

Uncapitalize internet per style guide
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

Use etc. per style guide
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

Break up into 2 sentences
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

Remove dash between best practices
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

Add comma
  src/site/content/en/progressive-web-apps/drive-business-success/index.md
Due: remark -q

Remove US English hardcoding
  src/site/content/en/blog/shape-detection/index.md
Due: remark -q

[Shape Detection article] Make compatibility clearer (#2923)
  src/site/content/en/blog/shape-detection/index.md
Due: remark -q

add to calendar of several types
  src/images/icons/calendar.svg
  src/site/content/en/live/index.njk
  src/styles/components/_buttons.scss
  src/styles/pages/_live.scss
Due: sass-lint -v -q"

lint
  src/styles/components/_buttons.scss
Due: sass-lint -v -q"

add share area to web.dev/live
  src/site/content/en/live/index.njk
  src/styles/pages/_live.scss
Due: sass-lint -v -q"

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
