Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

Change relative path to assets path for actions CTAs
  src/styles/components/_actions.scss
Due: sass-lint -v -q"

Add 'Debugging layout shifts' post (#4870)
  src/site/content/en/fast/debugging-layout-shifts/index.md
Due: remark -q

SignPosts should be translated
  src/site/_includes/components/SignPosts.js
Due: eslint

Make sure Asides and Compare widgets dont break markdown-it
  src/site/_includes/components/Aside.js
  src/site/_includes/components/Compare.js
Due: eslint

fix whitespace in comparecaption
  src/site/_includes/components/CompareCaption.js
Due: eslint

add prettier ignore
  src/site/_includes/components/Aside.js
  src/site/_includes/components/Compare.js
Due: eslint

Make sure Asides and Compare widgets dont break markdown-it (#4889)
  src/site/_includes/components/Aside.js
  src/site/_includes/components/Compare.js
  src/site/_includes/components/CompareCaption.js
Due: eslint

SignPosts should be translated (#4888)
  src/site/_includes/components/SignPosts.js
Due: eslint

Fix article title typo
  src/site/content/en/blog/preload-optional-fonts/index.md
Due: remark -q

Fix article title typo (#4894)
  src/site/content/en/blog/preload-optional-fonts/index.md
Due: remark -q

Fixing typo
  src/site/content/en/media/video-and-source-tags/index.md
Due: remark -q

Fixing typo (#4895)
  src/site/content/en/media/video-and-source-tags/index.md
Due: remark -q

Fix blog wrong typo
  src/site/content/en/blog/advancing-framework-ecosystem-cds-2019/index.md
  src/site/content/en/blog/app-shortcuts/index.md
  src/site/content/en/blog/backdrop-filter/index.md
  src/site/content/en/blog/cache-api-quick-guide/index.md
  src/site/content/en/blog/camera-pan-tilt-zoom/index.md
Due: remark -q

Various edits
  src/site/content/en/blog/strict-csp/index.md
Due: remark -q

Fix blog wrong typo (#4899)
  src/site/content/en/blog/advancing-framework-ecosystem-cds-2019/index.md
  src/site/content/en/blog/app-shortcuts/index.md
  src/site/content/en/blog/backdrop-filter/index.md
  src/site/content/en/blog/cache-api-quick-guide/index.md
  src/site/content/en/blog/camera-pan-tilt-zoom/index.md
Due: remark -q

Fix Axis Praxis movie in Variable Fonts article (#4746)
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q

Update Yahoo Japan case study
  src/site/content/en/blog/yahoo-japan-news/index.md
Due: remark -q

Add update date
  src/site/content/en/blog/yahoo-japan-news/index.md
Due: remark -q

Fix a relative link
  src/site/content/en/blog/yahoo-japan-news/index.md
Due: remark -q

Add code font
  src/site/content/en/blog/yahoo-japan-news/index.md
Due: remark -q

Add Simeon to authors file
  src/site/_data/authorsData.json
Due: none

Move images to GCP
  src/site/content/en/blog/strict-csp/index.md
Due: remark -q

Clarify that thresholds are inclusive
  src/site/content/en/metrics/cls/index.md
  src/site/content/en/metrics/fid/index.md
  src/site/content/en/metrics/lcp/index.md
Due: remark -q

Add another compare component
  src/site/content/en/blog/strict-csp/index.md
Due: remark -q

Remove obsolete image
  src/site/content/en/blog/strict-csp/index.md
Due: remark -q

Fix an absolute link
  src/site/content/en/blog/strict-csp/index.md
Due: remark -q

Delete strict-vs-allowlist.jpg
  src/site/content/en/blog/strict-csp/strict-vs-allowlist.jpg
Due: none

Delete csp-violations.jpg
  src/site/content/en/blog/strict-csp/csp-violations.jpg
Due: none

Edits
  src/site/content/en/blog/strict-csp/index.md
Due: remark -q

Delete hash-based-refactoring.jpg
  src/site/content/en/blog/strict-csp/hash-based-refactoring.jpg
Due: none

Clarify that thresholds are inclusive (#4902)
  src/site/content/en/metrics/cls/index.md
  src/site/content/en/metrics/fid/index.md
  src/site/content/en/metrics/lcp/index.md
Due: remark -q

Delete nonce-based-refactoring.jpg
  src/site/content/en/blog/strict-csp/nonce-based-refactoring.jpg
Due: none

Delete strict_csp.jpg
  src/site/content/en/blog/strict-csp/strict_csp.jpg
Due: none

Fix a couple of typos
  src/site/content/en/blog/strict-csp/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/building-a-settings-component/index.md
Due: remark -q

Fixed two typos.
  src/site/content/en/blog/strict-csp/index.md
Due: remark -q

adds mdn link and clarifies space distribution
  src/site/content/en/blog/building-a-settings-component/index.md
Due: remark -q

fix ambiguous we're reference
  src/site/content/en/blog/building-a-settings-component/index.md
Due: remark -q

Update src/site/content/en/blog/building-a-settings-component/index.md
  src/site/content/en/blog/building-a-settings-component/index.md
Due: remark -q
