Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

.lintstagedrc:

{
  "*.js": "eslint",
  "*.scss": sass-lint -v -q",
  "*.md": "remark -q"
}

new connect component card
  .eleventy.js
  src/site/_includes/components/ConnectCard.js
Due: eslint

use collection hooks and new component
  src/site/content/en/connect/index.11tydata.js
  src/site/content/en/connect/index.njk
Due: eslint

customizes subhead with actions
  src/site/_includes/components/ConnectCard.js
Due: eslint

prettier pass
  src/site/_includes/components/ConnectCard.js
  src/site/content/en/connect/index.11tydata.js
Due: eslint

pacifying linter, it's broke
  src/site/_includes/components/ConnectCard.js
Due: eslint

Apply suggestions from code review
  src/site/content/en/blog/yahoo-japan-news/index.md
Due: remark -q

Change the publishing date
  src/site/content/en/blog/yahoo-japan-news/index.md
Due: remark -q

Add Yahoo Japan News case study (#4774)
  src/site/content/en/blog/yahoo-japan-news/index.md
Due: remark -q

Reorder performance arguments
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q

Add instructions for using full variable fonts from Google Fonts
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q

Add more variable font performance hints
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q

Remove crossorigin attribute from Google Fonts preload
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q

Move benefits more to top
  src/site/content/en/blog/variable-fonts/index.md
Due: remark -q

Fix images
  src/site/_data/authorsData.json
  src/site/content/en/blog/wix-performance-infra-evolution/index.md
Due: remark -q

Add codepen shortcode
  src/site/_includes/components/Codepen.js
  src/site/content/en/learn/css/borders/index.md
  types/site/_includes/components/Codepen.d.ts
Due: eslint, remark -q

Remove local images
  src/images/authors/alonko.jpg
  src/images/authors/alonko@2x.jpg
  src/site/content/en/blog/wix-performance-infra-evolution/hero.jpg
  src/site/content/en/blog/wix-performance-infra-evolution/image2.jpg
  src/site/content/en/blog/wix-performance-infra-evolution/image3.jpg
  src/site/content/en/blog/wix-performance-infra-evolution/image4.jpg
  src/site/content/en/blog/wix-performance-infra-evolution/image5.jpg
  src/site/content/en/blog/wix-performance-infra-evolution/image6.jpg
  src/site/content/en/blog/wix-performance-infra-evolution/image7.jpg
  src/site/content/en/blog/wix-performance-infra-evolution/image8.jpg
  src/site/content/en/blog/wix-performance-infra-evolution/image9.jpg
Due: none

add eleventy
  .eleventy.js
  src/site/content/en/learn/css/borders/index.md
Due: eslint, remark -q

aligns content
  src/site/_includes/components/ConnectCard.js
Due: eslint

Correct code error (#4836)
  src/site/content/en/blog/javascript-this/index.md
Due: remark -q

Add Agrofy case study (#4772)
  src/site/content/en/blog/agrofy/index.md
Due: remark -q

Add i18n filter
  .eleventy.js
  package-lock.json
  package.json
  src/site/_data/i18n/footer.yml
  src/site/_filters/i18n.js
  src/site/_includes/partials/footer.njk
Due: eslint

Add i18n strings for footer
  src/site/_data/i18n/footer.yml
  src/site/_includes/partials/footer.njk
Due: none

lint
  src/site/_filters/i18n.js
Due: eslint

Copyedits
  src/site/content/en/blog/wix-performance-infra-evolution/index.md
Due: remark -q

Update year
  src/site/_filters/i18n.js
Due: eslint

Break lines at 100 characters
  src/site/content/en/blog/wix-performance-infra-evolution/index.md
Due: remark -q

Rename to web.dev/wix
  src/site/content/en/blog/wix/index.md
Due: remark -q

update copy
  src/site/content/en/blog/content-visibility/index.md
Due: remark -q

s/PSI/PageSpeed Insights/
  src/site/content/en/blog/wix/index.md
Due: remark -q

init
  src/site/content/en/blog/building-a-settings-component/index.md
  src/site/content/en/blog/building-a-settings-component/thumb.png
Due: remark -q

added update date
  src/site/content/en/blog/content-visibility/index.md
Due: remark -q

Update note on aria-hidden attribute
  src/site/content/en/blog/content-visibility/index.md
Due: remark -q

[Post Update] Content-visibility (#4837)
  src/site/content/en/blog/content-visibility/index.md
Due: remark -q

half way through
  src/site/content/en/blog/building-a-settings-component/index.md
Due: remark -q

pacify linter
  src/site/content/en/blog/building-a-settings-component/index.md
Due: remark -q

docs(gulp): add explainer to `default-locale` task
  gulpfile.js
Due: eslint

Add Vodafone case study
  src/site/content/en/blog/vodafone/index.md
Due: remark -q

Proposal to update information on lazy-loading
  src/site/content/en/fast/lazy-loading-video/index.md
Due: remark -q
