Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Update src/site/content/en/blog/mailru-cwv/index.md
  src/site/content/en/blog/mailru-cwv/index.md
Due: remark -q

Adding better description in alt attribute of figures.
  src/site/content/en/blog/mailru-cwv/index.md
Due: remark -q

Update mdn link
  src/site/content/en/blog/mailru-cwv/index.md
Due: remark -q

Add author data
  src/site/_data/i18n/authors.yml
Due: none

Update 404 page
  src/scss/next.scss
  src/site/_includes/404-next.njk
  src/site/_includes/partials/404.njk
  src/site/content/en/404.md
  src/site/content/es/404.md
  src/site/content/ja/404.md
  src/site/content/ko/404.md
  src/site/content/pl/404.md
  src/site/content/pt/404.md
  src/site/content/ru/404.md
  src/site/content/zh/404.md
Due: sass-lint -v -q", remark -q

Update yaml
  src/site/_data/i18n/authors.yml
Due: none

Update yaml author data
  src/site/_data/i18n/authors.yml
Due: none

Add temp desc
  src/site/_data/i18n/authors.yml
Due: none

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
