Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

chore(codeowners): change `contributors.js` to `authorsData.json` and add @jpmedley as codeowner
  .github/CODEOWNERS
Due: none

chore(codeowners): change `contributors.js` to `authorsData.json` and add @jpmedley as codeowner (#3499)
  .github/CODEOWNERS
Due: none

Small but important update to a payment article
  src/site/content/en/payments/life-of-a-payment-transaction/index.md
Due: remark -q

Add language routing to internal navigation in SPA
  locale-handler.js
  src/lib/actions.js
  src/lib/app.js
  src/lib/store.js
  src/lib/utils/language.js
  src/lib/utils/router.js
  src/site/_includes/layout.njk
  src/site/_includes/partials/post.njk
Due: eslint

lint
  src/lib/actions.js
Due: eslint

Temporarily add PL as a valid language
  src/lib/utils/language.js
Due: eslint

Add PageSpeed Insights
  src/site/content/en/handbook/word-list/index.md
Due: remark -q

chore: add more codeowners
  .github/CODEOWNERS
Due: none

chore: add more codeowners (#3505)
  .github/CODEOWNERS
Due: none

Make the title consistent with our handbook.
  src/site/content/en/blog/hands-on-portals/index.md
Due: remark -q

Small but important update to a payment article (#3501)
  src/site/content/en/payments/life-of-a-payment-transaction/index.md
Due: remark -q

Add content PR guidelines
  src/site/content/en/handbook/pull-requests/index.md
Due: remark -q

Add page to web.dev/handbook
  src/site/_data/paths/handbook.js
Due: eslint

Add content PR guidelines (#3508)
  src/site/_data/paths/handbook.js
  src/site/content/en/handbook/pull-requests/index.md
Due: eslint, remark -q

chore: convert learning paths to json. update codeowners.
  .github/CODEOWNERS
  src/site/_data/paths/accessible.js
  src/site/_data/paths/accessible.json
  src/site/_data/paths/angular.js
  src/site/_data/paths/angular.json
  src/site/_data/paths/discoverable.js
  src/site/_data/paths/discoverable.json
  src/site/_data/paths/fast.js
  src/site/_data/paths/fast.json
  src/site/_data/paths/handbook.json
  src/site/_data/paths/index.js
  src/site/_data/paths/lighthouse-accessibility.js
  src/site/_data/paths/lighthouse-accessibility.json
  src/site/_data/paths/lighthouse-best-practices.js
  src/site/_data/paths/lighthouse-best-practices.json
  src/site/_data/paths/lighthouse-performance.js
  src/site/_data/paths/lighthouse-performance.json
  src/site/_data/paths/lighthouse-pwa.js
  src/site/_data/paths/lighthouse-pwa.json
  src/site/_data/paths/lighthouse-seo.js
  src/site/_data/paths/lighthouse-seo.json
  src/site/_data/paths/metrics.js
  src/site/_data/paths/metrics.json
  src/site/_data/paths/notifications.js
  src/site/_data/paths/notifications.json
  src/site/_data/paths/payments.js
  src/site/_data/paths/payments.json
  src/site/_data/paths/progressive-web-apps.js
  src/site/_data/paths/progressive-web-apps.json
  src/site/_data/paths/react.js
  src/site/_data/paths/react.json
  src/site/_data/paths/reliable.js
  src/site/_data/paths/reliable.json
  src/site/_data/paths/secure.js
  src/site/_data/paths/secure.json
  src/site/_data/paths/vitals.js
  src/site/_data/paths/vitals.json
  src/site/content/en/handbook/sandbox/path-card/path-card.11tydata.js
Due: eslint

Rebase to resolve conflicts.
  src/site/_data/paths/handbook.json
Due: none

Rename content team.
  .github/CODEOWNERS
Due: none

Fix spacing.
  src/site/_data/paths/discoverable.json
  src/site/_data/paths/handbook.js
Due: eslint

First pass at WebHID stopgap article.
  src/site/content/en/blog/web-hid/index.md
Due: remark -q

Add hero image.
  src/site/content/en/blog/web-hid/game-controller.jpg
Due: none

chore: convert learning paths to json. update codeowners. (#3509)
  .github/CODEOWNERS
  src/site/_data/paths/accessible.js
  src/site/_data/paths/accessible.json
  src/site/_data/paths/angular.js
  src/site/_data/paths/angular.json
  src/site/_data/paths/discoverable.js
  src/site/_data/paths/discoverable.json
  src/site/_data/paths/fast.js
  src/site/_data/paths/fast.json
  src/site/_data/paths/handbook.js
  src/site/_data/paths/handbook.json
  src/site/_data/paths/index.js
  src/site/_data/paths/lighthouse-accessibility.js
  src/site/_data/paths/lighthouse-accessibility.json
  src/site/_data/paths/lighthouse-best-practices.js
  src/site/_data/paths/lighthouse-best-practices.json
  src/site/_data/paths/lighthouse-performance.js
  src/site/_data/paths/lighthouse-performance.json
  src/site/_data/paths/lighthouse-pwa.js
  src/site/_data/paths/lighthouse-pwa.json
  src/site/_data/paths/lighthouse-seo.js
  src/site/_data/paths/lighthouse-seo.json
  src/site/_data/paths/metrics.js
  src/site/_data/paths/metrics.json
  src/site/_data/paths/notifications.js
  src/site/_data/paths/notifications.json
  src/site/_data/paths/payments.js
  src/site/_data/paths/payments.json
  src/site/_data/paths/progressive-web-apps.js
  src/site/_data/paths/progressive-web-apps.json
  src/site/_data/paths/react.js
  src/site/_data/paths/react.json
  src/site/_data/paths/reliable.js
  src/site/_data/paths/reliable.json
  src/site/_data/paths/secure.js
  src/site/_data/paths/secure.json
  src/site/_data/paths/vitals.js
  src/site/_data/paths/vitals.json
  src/site/content/en/handbook/sandbox/path-card/path-card.11tydata.js
Due: eslint

Make the title consistent with our handbook. (#3507)
  src/site/content/en/blog/hands-on-portals/index.md
Due: remark -q

Fix typo
  src/site/content/en/blog/preload-responsive-images/index.md
Due: remark -q

Fix typo (#3510)
  src/site/content/en/blog/preload-responsive-images/index.md
Due: remark -q

temporarily add pl language
  src/lib/utils/language.js
Due: eslint

Sync LanguageSelect with current language of the doc rather than user preferred language
  src/lib/components/LanguageSelect/index.js
  src/lib/store.js
Due: eslint

Fix js entryPoint urls
  src/lib/actions.js
  src/lib/loader.js
  src/lib/urls.js
Due: eslint

Update comment
  src/lib/utils/router.js
Due: eslint

wip searchbox fixes.
  src/lib/components/Search/_styles.scss
  src/lib/components/Search/index.js
Due: eslint, sass-lint -v -q"

Add bpj@ and msdikla@ as contributers
  src/images/authors/bpj.jpg
  src/images/authors/bpj@2x.jpg
  src/images/authors/msdikla.jpg
  src/images/authors/msdikla@2x.jpg
  src/site/_data/authorsData.json
Due: none

Add Relating Site Speed and Business Metrics article
  src/site/content/en/blog/speed-to-business/hero.jpg
  src/site/content/en/blog/speed-to-business/index.md
  src/site/content/en/blog/speed-to-business/test-client-side.jpg
  src/site/content/en/blog/speed-to-business/test-server-side.jpg
Due: remark -q

Update src/site/content/en/blog/speed-to-business/index.md
  src/site/content/en/blog/speed-to-business/index.md
Due: remark -q

Update the URL to web.dev/site-speed-and-business-metrics
  src/site/content/en/blog/site-speed-and-business-metrics/hero.jpg
  src/site/content/en/blog/site-speed-and-business-metrics/index.md
  src/site/content/en/blog/site-speed-and-business-metrics/test-client-side.jpg
  src/site/content/en/blog/site-speed-and-business-metrics/test-server-side.jpg
Due: remark -q

Change hero image
  src/site/content/en/blog/site-speed-and-business-metrics/hero.jpg
Due: none

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
