Repository GoogleChrome/web.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sass-lint -v -q", remark -q

Make w-stats extend the new stats component (#6877)
  src/component-library/stats/stats.json
  src/scss/blocks/_prose.scss
  src/scss/blocks/_stats.scss
  src/scss/next.scss
Due: sass-lint -v -q"

Table styles reverted to old style (#6874)
  src/component-library/tables/variants/misc-content-examples/misc-content-examples.json
  src/component-library/tables/variants/misc-content-examples/misc-content-examples.njk
  src/scss/blocks/_table-wrapper.scss
  src/scss/next.scss
  src/scss/pages/_design-system.scss
  src/scss/utilities/_scrollbar.scss
Due: sass-lint -v -q"

Clean out :link selectors and remove from global CSS
  src/scss/blocks/_site-footer.scss
  src/scss/next.scss
  src/scss/pages/_about.scss
Due: sass-lint -v -q"

Clean out :link selectors and remove from global CSS (#6878)
  src/scss/blocks/_site-footer.scss
  src/scss/next.scss
  src/scss/pages/_about.scss
Due: sass-lint -v -q"

Update index.md (#6789)
  src/site/content/en/handbook/word-list/index.md
Due: remark -q

Handbook updates (#6867)
  src/site/content/en/handbook/web-dev-components/index.md
Due: remark -q

LearnCSS: Text & Typography (#6749)
  src/site/content/en/learn/css/typography/index.md
  src/site/content/en/learn/css/typography/typography.assess.yml
Due: remark -q

Add Typography to Learn CSS TOC
  src/site/_data/courses/css/toc.yml
Due: none

Add Typography to Learn CSS TOC (#6879)
  src/site/_data/courses/css/toc.yml
Due: none

Rewriting sentences based on feedback
  src/site/content/en/learn/pwa/app-design/index.md
  src/site/content/en/learn/pwa/assets-and-data/index.md
Due: remark -q

Add WebGPU Best Practices resource
  src/site/content/en/blog/gpu/index.md
Due: remark -q

Change from review
  redirects.yaml
Due: none

Added redirects for Attribution Reporting (#6834)
  redirects.yaml
  src/site/_data/paths/secure.json
  src/site/content/en/blog/conversion-measurement/index.md
  src/site/content/en/blog/using-conversion-measurement/index.md
Due: remark -q

Add WebGPU Best Practices resource (#6880)
  src/site/content/en/blog/gpu/index.md
Due: remark -q

Update src/site/content/en/learn/pwa/app-design/index.md
  src/site/content/en/learn/pwa/app-design/index.md
Due: remark -q

Add callout pattern
  src/component-library/callout/callout.json
  src/component-library/callout/callout.md
  src/component-library/callout/callout.njk
  src/scss/blocks/_callout.scss
  src/scss/next.scss
Due: sass-lint -v -q", remark -q

Apply callout in codelab callout component
  src/scss/blocks/_callout.scss
  src/site/_includes/components/CodelabsCallout.js
Due: eslint, sass-lint -v -q"

Update some origin trial data
  src/site/content/en/blog/compute-pressure/index.md
  src/site/content/en/blog/handwriting-recognition/index.md
  src/site/content/en/blog/monitor-total-page-memory-usage/index.md
  src/site/content/en/blog/storage-foundation/index.md
  src/site/content/en/blog/window-controls-overlay/index.md
Due: remark -q

Wide card index added for wider card layouts
  src/scss/compositions/_wide-card-index.scss
  src/scss/next.scss
Due: sass-lint -v -q"

Podcasts layout
  src/site/content/en/podcasts/index.njk
Due: none

Clean up learn with new wide card composition
  src/scss/pages/_learn.scss
  src/site/content/en/learn/index.njk
Due: sass-lint -v -q"

Podcasts layout tweaks
  src/site/content/en/podcasts/index.njk
Due: none

Shows detail page
  src/site/_includes/show.njk
Due: none

Rollout the design system on offline pages
  src/site/_includes/partials/offline.njk
  src/site/content/en/offline.md
  src/site/content/es/offline.md
  src/site/content/ja/offline.md
  src/site/content/ko/offline.md
  src/site/content/pl/offline.md
  src/site/content/pt/offline.md
  src/site/content/ru/offline.md
  src/site/content/zh/offline.md
Due: remark -q

updating ajara's photo
  src/site/_data/authorsData.json
Due: none

updating ajara's photo (#6887)
  src/site/_data/authorsData.json
Due: none

Rollout the design system on offline pages (#6886)
  src/site/_includes/partials/offline.njk
  src/site/content/en/offline.md
  src/site/content/es/offline.md
  src/site/content/ja/offline.md
  src/site/content/ko/offline.md
  src/site/content/pl/offline.md
  src/site/content/pt/offline.md
  src/site/content/ru/offline.md
  src/site/content/zh/offline.md
Due: remark -q

typo correction
  src/site/content/en/lighthouse-performance/mainthread-work-breakdown/index.md
Due: remark -q

Apply suggestions from code review
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Update Update
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Defer Reporting API content to the new article (#6862)
  src/site/content/en/blog/coop-coep/index.md
Due: remark -q

Take down banner
  src/site/_data/site.js
Due: eslint

Take down banner (#6894)
  src/site/_data/site.js
Due: eslint

Terra dark mode case study
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/terra-dark-mode/index.md
Due: remark -q

attribute changed selected to checked
  src/site/content/en/learn/forms/form-fields/index.md
Due: remark -q

Adding the next five modules
  src/site/content/en/learn/design/icons/index.md
  src/site/content/en/learn/design/picture-element/index.md
  src/site/content/en/learn/design/responsive-images/index.md
  src/site/content/en/learn/design/theming/index.md
  src/site/content/en/learn/design/typography/index.md
Due: remark -q

remove MDN locale.
  src/site/content/en/learn/design/responsive-images/index.md
Due: remark -q

Add Maurizio Paradisi author data for GEDI Case Study
  src/site/_data/i18n/authors.yml
Due: none

Add Maurizio Paradisi author image
  src/site/_data/authorsData.json
Due: none

Adding Linkedin profile
  src/site/_data/authorsData.json
Due: none

Path conditions:
  eslint: any of: *.js
  sass-lint -v -q": any of: *.scss
  remark -q: any of: *.md
